{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% use 'HopitalNumeriqueInterventionBundle:Admin/Grid:config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts') }}
{% endblock %}

{% block title %}{{parent()}} - Interventions{% endblock %}

{% block h1Title %}
    Les interventions
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_intervention_admin_demande_nouveau')}}" class="btn btn-default" title="Créer une intervention"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
    {% block grid_filters %}{% endblock grid_filters%}
{% endblock %}
