{% extends 'HopitalNumeriqueInterventionBundle:Admin/Demande:edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-intervention-demande-admin-nouveau.js"
        'bundles/hopitalnumeriqueintervention/js/InterventionDemande/Admin/FormulaireCreation.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block h1Title %}Créer une intervention{% endblock %}

{% block body %}
    
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" id="intervention_demande_panel">
                {{ form_start(interventionDemandeFormulaireNouveau, { attr:{ id:'form_intervention_demande_nouveau', class:'form-horizontal toValidate', novalidate:'novalidate' }}) }}
                    {% form_theme interventionDemandeFormulaireNouveau 'HopitalNumeriqueInterventionBundle:Form:defaut.html.twig' %}

                    {{ form_javascript(interventionDemandeFormulaireNouveau) }}

                    {{ form_row(interventionDemandeFormulaireNouveau.interventionInitiateur) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.ambassadeur) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.interventionType) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.region) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.email) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.telephone) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.etablissements) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.objets) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.connaissances) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.connaissancesSI) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.objetsAutres) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.description) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.difficulteDescription) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.champLibre) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.rdvInformations) }}
                    {{ form_row(interventionDemandeFormulaireNouveau.cmsiCommentaire) }}

                {{ form_end(interventionDemandeFormulaireNouveau) }}
            </div>
        </div>
    </div>

{% endblock %}
