{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block grid_column_cell %}{%- spaceless %}
    {% if column.filterable and column.searchOnClick %}
        {% set sourceValue = sourceValue is defined ? sourceValue : row.field(column.id) %}
        <a href="?{{ grid.hash }}[{{ column.id }}][from]={{ sourceValue | url_encode() }}" class="searchOnClick">{{ value }}</a>
    {% elseif column.safe is sameas(false) %}
        {{ value|raw }}
    {% else %}
        {{ value|raw }}
    {% endif %}
{% endspaceless -%}{% endblock grid_column_cell %}
