{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Gestion des habilitations
{% endblock %}

{#         'bundles/nodevotools/ScrollTable/scrollTable.js'#}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/nodevo-acl-acl-index.js"
        'bundles/nodevoacl/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/nodevo-acl-acl-index.css" filter="cssrewrite"
        'bundles/nodevoacl/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="col-md-12" id="acls" >
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Groupes initiaux</h4>
            </div>
            
            {# on crée une variable write : si l'user connecté à accès en écriture à la gestion des habilitations, il peut modifier les droits des autres #}
            {% if app.user|checkAuthorization( path('nodevo_acl_modify') ) %}{% set write = true %}{% else %}{% set write = false %}{% endif %}

            <div class="panel-body" >
                <div id="groupes-initiaux">
                    <table class="nodevo-acls">
	                    <tr>
	                        <td id="firstTd-initiaux">
	                        </td>
	                        <td>
	                            <div id="divHeader-initiaux" style="overflow:hidden;width:775px;">
	                                <table>
	                                    <tr>
				                            {% for role in roles.initiaux %}
	                                            <td style="min-width:110px; text-align:center;">
					                                <div class="tableHeader"><strong>{{role.name}}</strong></div>
	                                            </td>
				                            {% endfor %}
							            </tr>
							        </table>
							    </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td valign="top">
	                            <div id="firstcol-initiaux" style="overflow: hidden;height:520px">
	                                <table class="table-striped" style="width:250px; cellspacing:0; cellpadding:0;border:1px;" >
                                        {% for ressource in ressources %}
                                            <tr>
                                               <td class="tableFirstCol-initiaux" style="height:65px"><span><strong>{{ressource.nom}}</strong></span></td>
                                            </tr>
                                        {% endfor %}
	                                </table>
	                            </div>
	                        </td>
	                        <td valign="top">
	                            <div id="table_div-initiaux" style="overflow: scroll;width:790px;height:535px;position:relative" onscroll="fnScrollInitiaux()" >
	                                <table class="table-striped" cellspacing="0" cellpadding="0" >
                                        {% for ressource in ressources %}
                                            {# Pour la premiere ligne du tableau, on ajoute l'id firstTr, sinon un tr classique #}
	                                        {% if 1 == loop.index %}
				                               <tr id='firstTr-initiaux' style="width:790px">
			                                {% else %}
			                                    <tr style="width:790px">
	                                        {% endif %}
                                            {% for role in roles.initiaux %}
		                                        <td style="align:center;height:65px; min-width:110px; text-align:center;">
		                                            <div class="btn-group">
		                                                {% if ressource.type == 1 %}
			                                                {% if acls[ressource.id][role.id]['read'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Lecture" data-type="1" data-ressource="{{ressource.id}}" data-role="{{role.id}}" >
			                                                    <i class="fa fa-eye"></i>
			                                                </div>
			                                                
			                                                {% if acls[ressource.id][role.id]['write'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Ecriture" data-type="2" data-ressource="{{ressource.id}}" data-role="{{role.id}}" >
			                                                    <i class="fa fa-edit"></i>
			                                                </div>
		                                                {% else %}
			                                                {% if acls[ressource.id][role.id]['write'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Accès" data-type="2" data-ressource="{{ ressource.id }}" data-role="{{ role.id }}">
			                                                    <i class="fa fa-edit"></i>
			                                                </div>
		                                                {% endif %}
		                                            </div>
		                                        </td>
			                                {% endfor %}
			                                </tr>
                                        {% endfor %}
				                     </table>
				                 </div>
	                        </td>
	                    </tr>
	                </table>
                </div>
            </div>
        </div>

        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Autres groupes</h4>
            </div>

            <div class="panel-body" >
                <div id="groupes-non-initiaux">
                    <table class="nodevo-acls">
	                    <tr style="height:65px;">
	                        <td id="firstTd-non-initiaux">
	                        </td>
	                        <td>
	                            <div id="divHeader-non-initiaux" style="overflow:hidden;width:775px;">
	                                <table>
	                                    <tr>
				                            {% for role in roles.nonInitiaux %}
	                                            <td style="min-width:110px; text-align:center;">
					                                <div class="tableHeader"><strong>{{role.name}}</strong></div>
	                                            </td>
				                            {% endfor %}
							            </tr>
							        </table>
							    </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td valign="top">
	                            <div id="firstcol-non-initiaux" style="overflow: hidden;height:520px">
	                                <table class="table-striped" style="width:250px; cellspacing:0; cellpadding:0" >
                                        {% for ressource in ressources %}
                                            <tr>
                                               <td class="tableFirstCol-non-initiaux" style="height:65px"><span><strong>{{ressource.nom}}</strong></span></td>
                                            </tr>
                                        {% endfor %}
	                                </table>
	                            </div>
	                        </td>
	                        <td valign="top">
	                            <div id="table_div-non-initiaux" style="overflow: scroll;width:790px;height:535px;position:relative" onscroll="fnScrollNonInitiaux()" >
	                                <table class="table-striped" cellspacing="0" cellpadding="0" >
                                        {% for ressource in ressources %}
                                            {# Pour la premiere ligne du tableau, on ajoute l'id firstTr, sinon un tr classique #}
	                                        {% if 1 == loop.index %}
				                               <tr id='firstTr-non-initiaux' style="width:790px">
			                                {% else %}
			                                    <tr style="width:790px">
	                                        {% endif %}
                                            {% for role in roles.nonInitiaux %}
		                                        <td style="height:65px; min-width:110px; max-width:110px;text-align:center">
		                                            <div class="btn-group">
		                                                {% if ressource.type == 1 %}
			                                                {% if acls[ressource.id][role.id]['read'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Lecture" data-type="1" data-ressource="{{ressource.id}}" data-role="{{role.id}}" >
			                                                    <i class="fa fa-eye"></i>
			                                                </div>
			                                                
			                                                {% if acls[ressource.id][role.id]['write'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Ecriture" data-type="2" data-ressource="{{ressource.id}}" data-role="{{role.id}}" >
			                                                    <i class="fa fa-edit"></i>
			                                                </div>
		                                                {% else %}
			                                                {% if acls[ressource.id][role.id]['write'] == 1 %}{% set statut = 'btn-success' %}{% else %}{% set statut = 'btn-default' %}{% endif %}
			                                                <div class="btn {{statut}} {% if role.id == 1 or not write %}disabled{% endif %}" title="Accès" data-type="2" data-ressource="{{ ressource.id }}" data-role="{{ role.id }}">
			                                                    <i class="fa fa-edit"></i>
			                                                </div>
		                                                {% endif %}
		                                            </div>
		                                        </td>
			                                {% endfor %}
			                                </tr>
                                        {% endfor %}
				                     </table>
				                 </div>
	                        </td>
	                    </tr>
	                </table>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="acl-url" value="{{path('nodevo_acl_modify')}}" />
{% endblock %}