{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block h1Title %}
    Gestion des Facture
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_paiement_config') }}" title="Configuration des règles de remboursement"><i class="fa fa-cogs"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}
