<meta charset="utf-8">
<style type="text/css">
    @page{
        margin: 1cm 0.5cm;
        size: A4 landscape;
    }
    /*table tr td{font-size: 11px;}*/
</style>
<table width="1100px" style="margin:0 auto; border:1px solid #e3e3e3; padding-bottom:15px;" >
    {# Titre #}
    <tr align="center" style="font-size:14px;border:1px solid #e3e3e3;">
        <td style="width:100px;">
            <img src="{{app.request.getSchemeAndHttpHost()}}{{asset('bundles/hopitalnumeriquecore/img/anap.jpg')}}" alt="ANAP" id="logoAnap" class="pull-left" />
        </td>
        <td style="width:1000px;">
            <strong>Attestation de contribution à la production "{{activiteExpert.titre}}"</strong>
        </td>
    </tr>
    {# Libelle #}
    <tr style="font-size:13px;border:1px solid #e3e3e3;height:50px">
        <td colspan="2">
            <strong>Le forfait de cette production est de {{activiteExpert.nbVacationParExpert}} jour(s).</strong><br />
            Ce forfait ne sera réglé que si la production est validée à l'unanimité lors d'un collège des experts
        </td>
    </tr>
    {# Ligne du module #}
    <tr style="border:1px solid #e3e3e3;font-size:13px;">
        <td colspan="2">
            <strong>
                Production validée au collège du  ..................................................................
            </strong>
        </td>
    </tr>
</table>
{# Ligne de séparation #}
<div style="background: #5d5d5d;height:20px; width:1100px"></div>
<table width="1100px" style="margin:0 auto; border-collapse:collapse;">
    <thead>
        <tr class="grid-row-titles">
            <th style="font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="40px" width="20%"><strong>Expert HN</strong></th>
            <th style="font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="40px" width="20%"><strong>Date des GT à l'Anap et des journées en "chambre"</strong></th>
            <th style="width:72px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="40px" width="20%"><strong>Nbr de jour en GT</strong></th>
            <th style="width:70px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="40px" width="20%"><strong>Nbr de jour travaillés en "chambre"</strong></th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for idExpert,expert in experts if idExpert in expertsById|keys %}
            {% for date,infos in expert %}
                <tr>
                    {% if loop.first %}
                        <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;" rowspan="{{expert|length}}">
                            {{expertsById[idExpert]}}
                        </td>
                    {% endif %}
                    <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;" height="20px">
                        {{date}}
                    </td>
                    <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;">
                        {% if infos['fictive'] == 'false' %}
                            {{infos['nbVacations']}}
                            {% set total = total + infos['nbVacations'] %}
                        {% endif %}
                    </td>
                    <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;">
                        {% if infos['fictive'] == 'true' %}
                            {{infos['nbVacations']}}
                            {% set total = total + infos['nbVacations'] %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;" height="40px">
                
            </td>
            <td style="border:1px solid #e3e3e3;font-size:15px;text-align:center;">
                <span style="font-size:15px;"><strong>TOTAL</strong></span>
            </td>
            <td style="border:1px solid #e3e3e3;font-size:15px;text-align:center;" colspan="2">
                <strong>{{total}}</strong>
            </td>
        </tr> 
    </tbody>
</table>
<table width="1100px" style="margin:60px auto 0; border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;" height="60px" width="20%">
                <strong>Visa du chef de projet</strong>
            </td>
            <td style="border:1px solid #e3e3e3;font-size:10px;vertical-align:top;text-align:left;" width="20%">
                <strong>Nom Prénom :</strong>
            </td>
            <td style="border:1px solid #e3e3e3;font-size:10px;vertical-align:top;text-align:left;" width="20%">
                <strong>Date :</strong>
            </td>
            <td style="border:1px solid #e3e3e3;font-size:10px;vertical-align:top;text-align:left;" width="30%">
                "Bon pour service fait suite à validation de la Commission" :
            </td>
        </tr> 
    </tbody>
</table>
