{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{% block title %}{{ parent() }} - Recherche avancée{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-recherche-search-index.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquerecherche/css/referencement.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{%- endblock %}

{% block javascripts -%}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-recherche-search-index.js"
        'bundles/hopitalnumeriquedomaine/js/Domaine.js'
        'bundles/hopitalnumeriquerecherche/js/Referencement.js'
        'bundles/hopitalnumeriquerecherche/js/Referencement/Domaine.js'
        'bundles/hopitalnumeriquerecherche/js/Referencement/Filtre.js'
        'bundles/hopitalnumeriquerecherche/js/Referencement/Result.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            Hn_DomaineBundle_Domaine.CURRENT_DOMAINE_ID = {{ domaineCurrent.id }};
            Hn_DomaineBundle_Domaine.setDomaines({{ domaines|json_encode|raw }});
            Hn_RechercheBundle_Referencement.setReferenceIds({{ choosenReferenceIds|json_encode|raw }});
            Hn_RechercheBundle_Referencement.initReferenceFilters();
        });
    </script>
{%- endblock %}

{% block body -%}
    <div class="recherche-referencement">
        <div class="row">
            <div class="col-md-4">

                {% import _self as mySelf %}
                <nav class="references-bloc">
                    <ul>
                        {%- for referenceProperties in referencesTree -%}
                            {{ mySelf.buildTreePart(referenceProperties) }}
                        {%- endfor -%}
                    </ul>
                </nav>

                {% macro buildTreePart(referencesTreePart) -%}
                    {% import _self as mySelf %}
                    <li data-reference="{{ referencesTreePart.reference.id }}" data-chosen="false" data-domaines="{{ referencesTreePart.reference.domainesId|join(',') }}">
                        <a class="reference">
                            <span class="add"><i class="fa fa-plus-circle"></i></span>
                            {%- if referencesTreePart.enfants|length > 0 -%}
                                <span class="toggle"><i class="fa fa-chevron-right"></i></span>
                            {%- endif -%}
                            {{ referencesTreePart.reference.libelle }}
                        </a>

                        {%- if referencesTreePart.enfants|length > 0 -%}
                            <ul>
                                {%- for referenceEnfantTree in referencesTreePart.enfants -%}
                                    {{ mySelf.buildTreePart(referenceEnfantTree) }}
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    </li>
                {%- endmacro %}

            </div>
            <div class="col-md-8">

                <div class="filtres-bloc">
                    <h1>Ma recherche <span id="results-count"></span></h1>
                    <div id="filtres-actions">
                        <button class="btn btn-xs btn-success" onclick="Hn_RechercheBundle_Referencement.saveFilters();">Enregistrer</button>
                        <button class="btn btn-xs btn-danger" onclick="Hn_RechercheBundle_Referencement.removeFilters();">Réinitialiser</button>
                    </div>
                    <div id="filtres-info">
                        <p>Ici seront placés les critères de recherche que vous aurez sélectionnés dans le menu à gauche. Pour voir le détail d'un critère, cliquer le critère ou le chevron. Pour sélectionner un critère, cliquer le signe + ou double-cliquer le critère.</p>
                        <p>La recherche textuelle fonctionne sur les titres, les résumés et les synthèses des productions.</p>
                        <p>Les résultats peuvent être filtrés par types de production (méthode, autodiagnostic, retour d'expériences, etc.)</p>
                    </div>
                    <nav class="references">
                        <ul></ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>

                <div class="results-bloc">
                    {%- for groupId, groupTitle in { 'points-durs':'Points durs', 'productions':'Productions' } -%}
                        <div class="results-group-bloc" id="results-{{ groupId }}-bloc">
                            <h2><span class="title">{{ groupTitle }}</span> (<span id="results-{{ groupId }}-count"></span> résultats)</h2>
                            <div id="results-{{ groupId }}"></div>
                            <div class="buttons">
                                <button type="button" disabled id="results-{{ groupId }}-less-button" class="btn btn-xs btn-danger" onclick="Hn_RechercheBundle_Referencement.displayLessResults('{{ groupId }}');"><em class="fa fa-angle-double-up"></em> &nbsp; Moins de résultats</button>
                                <button type="button" disabled id="results-{{ groupId }}-more-button" class="btn btn-xs btn-primary" onclick="Hn_RechercheBundle_Referencement.displayMoreResults('{{ groupId }}');"><em class="fa fa-angle-double-down"></em> &nbsp; Plus de résultats</button>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>

                <div id="results-domaines">
                    <p>D'autres résultats de recherche pour ces critères existent sur les thèmes suivants :</p>
                    <ul></ul>
                </div>

            </div>
        </div>
    </div>
{%- endblock %}
