<div class="category">{{ category|raw }}</div>
<h3 class="title">
    <a href="{{ url }}">
        {%- if pertinenceNiveau is defined -%}
            <em class="pertinence-niveau-{{ pertinenceNiveau }}"></em>
        {%- endif %}
        {{ title|raw }}
        {%- if subtitle is not null -%}
            <span class="subtitle"><em class="fa fa-share fa-flip-vertical"></em> {{ subtitle }}</span>
        {%- endif -%}
    </a>
</h3>
{%- if description is not null -%}
    <p>{{ description }}</p>
{%- endif -%}
