<div class="category">{{ category|raw }}</div>
<h3>
    <a href="{{ url }}">
        <em class="pertinence-niveau-{{ pertinenceNiveau }}"></em>
        {{- title -}}
        {%- if subtitle is not null -%}
            <span class="subtitle"><em class="fa fa-share fa-flip-vertical"></em> {{ subtitle }}</span>
        {%- endif -%}
    </a>
</h3>
{%- if description is not null -%}
    <p>{{ description }}</p>
{%- endif -%}
