<div class="category">
    {{ category|raw }}

    {% if objetId is defined and objetId is not null %}
        <a href="{{ path('hopital_numerique_publication_synthese', {'id': objetId}) }}" class="synthesis fancybox.iframe">
            Synthèse
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    {% endif %}

    {% if source is defined and source is not null %}
        <span class="text-muted">({{ source }})</span>
    {% endif %}
</div>
<h3 class="title">
    {% if showCog is defined and showCog == true and type is defined and id is defined %}
        <a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':type, 'entityId':id, 'redirect':'false' })}}" class="open-popin-referencement pull-left" style="margin-right: 5px;" title="Référencer cette publication"><i class="fa fa-cog"></i></a>
    {% endif %}
    <a href="{{ url }}">
        {%- if pertinenceNiveau is defined -%}
            <span class="pertinence-niveau-{{ pertinenceNiveau }}"></span>
        {%- endif %}
        {{ title|raw }}
        {%- if subtitle is not null -%}
            <br /><span class="subtitle"><em class="fa fa-share fa-flip-vertical"></em> {{ subtitle }}</span>
        {%- endif -%}
    </a>

    {% if cartItemType is defined and cartItemType is not null and app.user and id is defined %}
        {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {
            objectType: cartItemType,
            objectId: id,
            flatStyle: true,
            btnSize: 'btn-xs',
            cssClass: 'fancybox-ajax'
        }) }}
    {% endif %}
</h3>
{%- if description is not null and (hideTopicDescription is not defined or hideTopicDescription != true) -%}
    <p>{{ description }}</p>
{%- endif -%}
