<div class="category">
    {{ category|raw }}
    {% if source is defined and source is not null %}
        <span class="text-muted">({{ source }})</span>
    {% endif %}
</div>
<h3 class="title">
    {% if showCog is defined and showCog == true and type is defined and id is defined %}
        <a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':type, 'entityId':id, 'redirect':'false' })}}" class="open-popin-referencement fancybox.ajax pull-left" style="margin-right: 5px;" title="Référencer cette publication"><i class="fa fa-cog"></i></a>
    {% endif %}
    <a href="{{ url }}">
        {%- if pertinenceNiveau is defined -%}
            <em class="pertinence-niveau-{{ pertinenceNiveau }}"></em>
        {%- endif %}
        {{ title|raw }}
        {%- if subtitle is not null -%}
            <span class="subtitle"><em class="fa fa-share fa-flip-vertical"></em> {{ subtitle }}</span>
        {%- endif -%}
    </a>
</h3>
{%- if description is not null and (hideTopicDescription is not defined or hideTopicDescription != true) -%}
    <p>{{ description }}</p>
{%- endif -%}
