{% set step = step|default('fill') %}
{% set routes = {
    "entry": noLayout ? "hopitalnumerique_autodiag_entry_edit_no_layout" : "hopitalnumerique_autodiag_entry_edit",
    "restitution": noLayout ? "hopitalnumerique_autodiag_restitution_index_no_layout" : "hopitalnumerique_autodiag_restitution_index",
    "validation": noLayout ? "hopitalnumerique_autodiag_validation_index_no_layout" : "hopitalnumerique_autodiag_validation_index",
    "share" : noLayout ? "hopitalnumerique_autodiag_share_index_no_layout" : "hopitalnumerique_autodiag_share_index"
} %}

<div id="autodiag-path" data-step="{{ step }}">
    <ul>
        <li class="{{ step == "fill" ? 'active' : '' }}">
            {% if entry is not defined or entry is null or synthesis.validatedAt is not null %}
                <span class="disabled">
                    {{ "ad.autodiag.path.fill"|trans }}
                </span>
            {% else %}
                <a href="{% if entry is not null and entry.id is not null %}{{ path(routes.entry, {"entry": entry.id}) }}{% else %}#{% endif %}">
                    {{ "ad.autodiag.path.fill"|trans }}
                </a>
            {% endif %}
        </li>
        <li class="restitution {{ step == "restitution" ? 'active' : '' }}">
            {% if synthesis.id is not null %}
                <a href="{{ path(routes.restitution, {"synthesis": synthesis.id}) }}"
                        {% if entry is not null and entry.id is not null %}
                            data-demand="{{ path("hopitalnumerique_autodiag_entry_restitution_validation_demand", {"entry": entry.id, "target": "restitution", "noLayout": noLayout}) }}"
                        {% endif %}
                >
                    {{ "ad.autodiag.path.results"|trans }}
                </a>
            {% else %}
                <span class="disabled">
                    {{ "ad.autodiag.path.results"|trans }}
                </span>
            {% endif %}

        </li>
        <li class="validation {{ step == "validation" ? 'active' : '' }}">
            {% if synthesis.id is not null and synthesis.entries|length < 2 %}
                <a href="{{ path(routes.validation, {"synthesis": synthesis.id}) }}"
                    {% if entry is not null and entry.id is not null %}
                        data-demand="{{ path("hopitalnumerique_autodiag_entry_restitution_validation_demand", {"entry": entry.id, "target": "validation", "noLayout": noLayout}) }}"
                    {% endif %}
                >
                    {% if entry.validatedAt is null %}{{ "ad.autodiag.path.validate"|trans }}{% else %}{{ 'ad.autodiag.path.unvalidate'|trans }}{% endif %}
                </a>
            {% else %}
                <span class="disabled">
                    {{ "ad.autodiag.path.unvalidate"|trans }}
                </span>
            {% endif %}
        </li>
        <li class="share {{ step == "share" ? 'active' : '' }}">
            {% if synthesis.validatedAt is not null %}
                <a href="{{ path(routes.share, {"synthesis": synthesis.id}) }}">
                    {{ "ad.autodiag.path.share"|trans }}
                </a>
            {% else %}
                <span class="disabled" title="{{ 'ad.autodiag.path.disabled_share'|trans }}">
                    {{ "ad.autodiag.path.share"|trans }}
                </span>
            {% endif %}

        </li>
    </ul>
</div>

<script>
    var autodiagNavigation = new AutodiagNavigation($('#autodiag-path'), {
        partialResultsAuthorized: {{ autodiag.partialResultsAuthorized ? 'true' : 'false' }}
    });
</script>
