<ul class="nav nav-tabs">
    {# First Tab : available for add mode #}
    {% if route == 'hopitalnumerique_autodiag_outil_add' or route == 'hopitalnumerique_autodiag_outil_edit' %}
        <li class="active">
            <a href="#">Informations générales</a>
        </li>
    {% elseif outil.id %}
        <li>
            <a href="{{path('hopitalnumerique_autodiag_outil_edit', {'id':outil.id})}}">Informations générales</a>
        </li>
    {% endif %}
    
    {# All other tabs : not available in add mode #}
    {% if outil.id %}
        {% if route == 'hopitalnumerique_import_index' or route == 'hopitalnumerique_import_read_save' %}
            <li class="active">
                <a href="#">Import Excel</a>
            </li>
        {% else %}
            <li>
                <a href="{{path('hopitalnumerique_import_index',{'id':outil.id})}}">Import Excel</a>
            </li>
        {% endif %}  

        {% if route == 'hopitalnumerique_autodiag_categorie' or route == 'hopitalnumerique_autodiag_categorie_add' or route == 'hopitalnumerique_autodiag_categorie_edit' %}
            <li class="active">
                <a href="#">Gestion des catégories</a>
            </li>
        {% else %}
            <li>
                <a href="{{path('hopitalnumerique_autodiag_categorie',{'id':outil.id})}}">Gestion des catégories</a>
            </li>
        {% endif %}

        {% if route == 'hopitalnumerique_autodiag_chapitre' or route == 'hopitalnumerique_autodiag_liste' %}
            <li class="active">
                <a href="#">Gestion des chapitres / questions</a>
            </li>
        {% else %}
            <li>
                <a href="{{path('hopitalnumerique_autodiag_chapitre',{'id':outil.id})}}">Gestion des chapitres / questions</a>
            </li>
        {% endif %}

        {% if route == 'hopitalnumerique_autodiag_resultat' or route == 'hopitalnumerique_autodiag_resultat_detail' %}
            <li class="active">
                <a href="#">Consultation des résultats</a>
            </li>
        {% else %}
            <li>
                <a href="{{path('hopitalnumerique_autodiag_resultat',{'id':outil.id})}}">Consultation des résultats</a>
            </li>
        {% endif %}        
    {% endif %}
</ul>