{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Utilisateurs{% endblock %}

{% block h1Title %}
    {% if user.id > 0 %}
        Editer un utilisateur
    {% else %}
        Ajouter un utilisateur
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-user-edit.js"
        "@jquery_maskedinput_js"
        'bundles/hopitalnumeriqueuser/js/User/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_user_homepage')}}" class="btn btn-default" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="sauvegardeFormulaire();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');sauvegardeFormulaire();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if user.id and not user.lock %}
        <div onclick='deleteWithConfirm("{{path('hopital_numerique_user_delete', {'id':user.id})}}" );' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div id="form_edit_user" class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="{{path('hopital_numerique_user_edit', {'id':user.id})}}">Caractérisation</a>
                        </li>
                        {% if user.id is not null and (options.expert or options.ambassadeur)  %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_contractualisation', {'id':user.id})}}">Contractualisation</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.expert or options.expert_form) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_expert_edit', {'id':user.id})}}">Candidature expert</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.ambassadeur or options.ambassadeur_form) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_edit', {'id':user.id})}}">Candidature ambassadeur</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and options.ambassadeur %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_objets', {'id':user.id})}}">Productions maîtrisées</a>
                            </li>
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_domainesFonctionnels', {'id':user.id})}}">Connaissances métiers</a>
                            </li>
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_connaissancesSI', {'id':user.id})}}">Connaissances SI</a>
                            </li>
                        {% endif %}

                        {% if user.id is not null %}
                            <li>
                                <a href="{{path('hopital_numerique_user_resultats', {'id':user.id})}}">Autodiagnostic</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel-body" >
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {# Input hidden permettant de stocker la route pour le refresh du département en ajax #}
                    <input type="hidden" id="departement-url" value="{{path('hopital_numerique_user_departements')}}" />
                    <input type="hidden" id="etablissement-url" value="{{path('hopital_numerique_user_etablissements')}}" />
                    
                    {# Formulaire : #}
                    {{ form_row(form.civilite) }}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.pseudonymeForum) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.telephoneDirect) }}
                    {{ form_row(form.telephonePortable) }}
                    {{ form_row(form.contactAutre) }}

                    {{ form_row(form.region) }}
                    {%- if form.rattachementRegions is defined -%}
                        {{ form_row(form.rattachementRegions) }}
                    {%- endif -%}
                    {{ form_row(form.departement) }} 
                    {{ form_row(form.profilEtablissementSante) }}

                    {% if not (is_granted('ROLE_ADMINISTRATEUR_DE_DOMAINE_106') and (app.user.id == user.id)) %}
                        {{ form_row(form.roles) }}
                        {{ form_row(form.domaines) }}
                    {% endif %}

                    {% if user.id != 1 %}
                        {{ form_row(form.etat) }}
                    {% else %}
                        <div class="hide">
                            {{ form_row(form.etat) }}
                        </div>
                    {% endif %}

                    {{ form_row(form.inscritCommunautePratique, {'attr' : {'class' : 'checkbox'}}) }}

                    {# Gestion de l'upload #}
                    <div class="form-group">
                        {{ form_label(form.file) }}
                        <div class="col-md-6">
                            {% if user.getAbsolutePath() is not null %}
                                {% set visibility = 'none' %}
                            {% else %}
                                {% set visibility = 'block' %}
                            {% endif %}
                            <div class="inputUpload" style="display:{{visibility}}">
                                {{ form_widget(form.file) }}
                            </div>

                            {% if user.getAbsolutePath() is not null %}
                                <img class="uploadedFile" src="/{{ user.getWebPath() }}" alt="Photo de profil" height="132px">
                                <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" ><i class="fa fa-trash-o"></i></div>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <div class="help-block error_file">
                                {{ form_errors(form.file) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.biographie) }}
                    {{ form_row(form.remarque) }}
                    {{ form_row(form.raisonDesinscription) }}
                    
                    {# Zones des volets #}
                    <div class="col-md-7 col-md-offset-2">
                        <div class="panel-group panel-info" id="accordion">
                            {# Zone établissement de santé #}
                            <div class="panel panel-default gray" id="etablissement_sante">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" id="etablissement_sante_collapse">
                                    <div class="panel-heading panel-default"><h4>Vous êtes un établissement de santé</h4></div>
                                </a>
                                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_row(form.statutEtablissementSante) }}
                                        {{ form_row(form.etablissementRattachementSante) }}
                                        {{ form_row(form.autreStructureRattachementSante) }}
                                        {{ form_row(form.typeActivite) }}
                                        {{ form_row(form.fonctionDansEtablissementSanteReferencement) }}
                                        {{ form_row(form.fonctionDansEtablissementSante) }}
                                    </div>
                                </div>
                            </div>
                            {# Zone autre qu'un établissement de santé #}
                            <div class="panel panel-default gray" id="autre_etablissement_sante">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" id="autre_etablissement_sante_collapse">
                                    <div class="panel-heading"><h4>Vous êtes une structure autre qu'un établissement de santé</h4></div>
                                </a>
                                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        {{ form_row(form.nomStructure) }}
                                        {{ form_row(form.fonctionStructure) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
