{% if logs %}
    <div class="panel panel-default gray">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHistorique" class="collapsed" id="historique_collapse">
            <div class="panel-heading"><h4>Historique Fiche</h4></div>
        </a>
        <div id="collapseHistorique" class="collapse" style="height: 0px;">
            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="100px">Type</th>
                                <th width="130px">Date</th>
                                <th width="200px">Utilisateur</th>
                                <th width="180px">Champ</th>
                                <th>Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                                {% set nbRows = log.data|length %}
                                {% for key,data in log.data %}
                                    <tr>
                                        {% if loop.first %}
                                            <td rowspan="{{nbRows}}">{% if log.action == 'update' %}Mise à jour{% else %}Création{% endif %}</td>
                                            <td rowspan="{{nbRows}}">{{log.loggedAt|date('d/m/Y H:i')}}</td>
                                            <td rowspan="{{nbRows}}">{{log.username|title}}</td>
                                        {% endif %}
                                        <td>{{key}}</td>
                                        <td>{{data|formateHistoryValueUser(key)}}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="panel panel-default gray">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseHistoriqueDivers" class="collapsed" id="historique_collapse">
        <div class="panel-heading"><h4>Historique Divers</h4></div>
    </a>
    <div id="collapseHistoriqueDivers" class="collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="col-md-12">
                {% if logsSynthesis is not empty %}
                    <h5>Autodiagnostics</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px">Type</th>
                            <th width="130px">Date</th>
                            <th width="200px">Nom Autodiagnostic</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for logSynthesis in logsSynthesis if logSynthesis is not empty %}
                            <tr>
                                <td>{{ logSynthesis.action|getFrenchAction }}</td>
                                <td>{{logSynthesis.loggedAt|date('d/m/Y H:i')}}</td>
                                <td>{{ logSynthesis.data is not null ? logSynthesis.data.name : '' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if logsModule is not empty %}
                    <h5>Formation</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px">Type</th>
                            <th width="130px">Date</th>
                            <th width="200px">Nom Formation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for logModule in logsModule if logModule is not empty %}
                            <tr>
                                <td>{{ logModule.action|getFrenchAction }}</td>
                                <td>{{logModule.loggedAt|date('d/m/Y H:i')}}</td>
                                <td>{{ logModule.data.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if logsIntervention is not empty %}
                    <h5>Intervention</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px">Type</th>
                            <th width="130px">Date</th>
                            <th width="200px">Nom de l'ambassadeur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for logIntervention in logsIntervention if logIntervention is not empty %}
                            <tr>
                                <td>{{ logIntervention.action|getFrenchAction }}</td>
                                <td>{{ logIntervention.loggedAt|date('d/m/Y H:i')}}</td>
                                <td>{{ logIntervention.data.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if logsFacturation is not empty %}
                    <h5>Facturation</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px">Type</th>
                            <th width="130px">Date</th>
                            <th width="200px">ID de la facture</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for logFacturation in logsFacturation if logFacturation is not empty %}
                            <tr>
                                <td>{{ logFacturation.action|getFrenchAction }}</td>
                                <td>{{ logFacturation.loggedAt|date('d/m/Y H:i')}}</td>
                                <td>{{ logFacturation.objectId }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if logsQuestionnaire is not empty %}
                    <h5>Questionnaire</h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px">Type</th>
                            <th width="130px">Date</th>
                            <th width="200px">Nom du questionnaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for logQuestionnaire in logsQuestionnaire if logQuestionnaire is not empty %}
                            <tr>
                                <td>{{ logQuestionnaire.action|getFrenchAction }}</td>
                                <td>{{ logQuestionnaire.loggedAt|date('d/m/Y H:i')}}</td>
                                <td>{{ logQuestionnaire.data.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

