{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/admin-show-user.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueuser/css/history.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/admin-user-show.js"
        'bundles/hopitalnumeriqueuser/js/history.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{parent()}} - Utilisateurs{% endblock %}

{% block h1Title %}
    Fiche de l'utilisateur {{user.username|capitalize}}
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_user_homepage')}}" class="btn btn-default" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Fiche de l'utilisateur</h4>
            </div>

            <div class="panel-body" >
                <div class="row">
                    <div class="panel panel-default gray">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseUser" class="collapsed" id="questionnaire_expert_collapse">
                            <div class="panel-heading"><h4>Informations de caractérisation</h4></div>
                        </a>
                        <div id="collapseUser" class="collapse" style="height: 0px;"> 
                            <div class="panel-body">            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div><strong>Nom</strong></div>
                                        <div>{{user.lastname}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Prénom</strong></div>
                                        <div>{{user.firstname}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Adresse e-mail</strong></div>
                                        <div>{{user.email}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Pseudonyme pour le forum</strong></div>
                                        <div>{{user.pseudonym}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Téléphone fixe</strong></div>
                                        <div>{{user.phoneNumber}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Téléphone portable</strong></div>
                                        <div>{{user.cellPhoneNumber}}</div>
                                    </div>                    
                                    <div class="form-group">
                                        <div><strong>Autres contacts</strong></div>
                                        <div>{{user.otherContact}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Profil</strong></div>
                                        {% if user.profileType is defined and user.profileType is not null  %}
                                            {{user.profileType.libelle}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Rôle</strong></div>
                                        {% if user.jobType is defined and user.jobType is not null  %}
                                            {{user.jobType.libelle}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Libellé rôle</strong></div>
                                        {{user.jobLabel}}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Présentation</strong></div>
                                        {{user.presentation}}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Logiciels maîtrisés</strong></div>
                                        {{ user.computerSkillsString }}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Centre d'intérêt</strong></div>
                                        {{ user.hobbiesString }}
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Région</strong></div>
                                        <div>
                                            {% if user.region is defined and user.region is not null %}
                                                {{user.region.libelle}}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Département</strong></div>
                                        <div>
                                            {% if user.county is defined and user.county is not null %}
                                                {{user.county.libelle}}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div><strong>Groupe associé</strong></div>
                                        {% for role in roles %}
                                            <div>{{ role.name }}</div>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group">
                                        <div><strong>Compte activé</strong></div>
                                        <div>{{ user.getEnabledToString }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div><strong>État</strong></div>
                                        <div>
                                            {% if user.etat is defined and user.etat is not null  %}
                                                {{user.etat.libelle}}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Remarque pour la gestion</strong></div>
                                        <div>{{user.remarque}}</div>
                                    </div>
                                    <div class="form-group">
                                        <div><strong>Raison de désinscription</strong></div>
                                        <div>{{user.raisonDesinscription}}</div>
                                    </div>
                                </div>
                                {# Zones des volets #}
                                <div class="col-md-6">
                                    <div class="panel-group panel-info" id="accordion">
                                        {% if user.organization is defined and user.organization is not null or user.organizationLabel is not null %}
                                            <div><h4>Structure</h4></div>
                                        {% endif %}
                                        {% if user.organization is defined and user.organization is not null  %}
                                            <div class="form-group">
                                                <div><strong>Structure de rattachement</strong></div>
                                                <div>
                                                    {{user.organization.nom}} -
                                                    {{user.organization.finess}} -
                                                    {{user.organization.ville}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div><strong>Activités</strong></div>
                                                <div>
                                                    {{ user.activitiesString }}
                                                </div>
                                            </div>
                                        {% elseif user.organizationLabel is not null %}
                                            <div class="form-group">
                                                <div><strong>Type de structure</strong></div>
                                                <div>
                                                    {% if user.organizationType is defined and user.organizationType is not null  %}
                                                        {{user.organizationType.libelle}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div><strong>Nom de la structure</strong></div>
                                                <div>{{user.organizationLabel}}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if user.getAbsolutePath() is not null %}                    
                                    <div class="form-group">
                                        <div><strong>Photo de profil</strong></div>
                                        <img class="uploadedFile" src="/{{ user.getWebPath() }}" alt="Photo de profil" width="92px" height="132px">
                                    </div> 
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class='row'>
                    {# Include des Contractualisation #}
                    {{ render(controller("HopitalNumeriqueUserBundle:Contractualisation:liste", {'idUser':user.id} )) }}
                </div>
                
                <div class='row'>
                    {# Include des données des objets #}
                    {{ render(controller("HopitalNumeriqueUserBundle:Ambassadeur:listeObjets", {'idUser':user.id} )) }}
                </div>
                
                <div class='row'>
                    {# Include des données d'expert #}
                    {{ render(controller("HopitalNumeriqueUserBundle:Expert:show", {'idUser':user.id} )) }}
                </div>
                
                <div class='row'>
                    {# Include des données d'ambassadeur #}
                    {{ render(controller("HopitalNumeriqueUserBundle:Ambassadeur:show", {'idUser':user.id} )) }}
                </div>
                
                <div class="row">
                    {# Include des données domaines fonctionnels #}
                    {{ render(controller("HopitalNumeriqueUserBundle:Ambassadeur:listeDomaines", {'idUser':user.id} )) }}
                </div>

                <div class="row">
                    {# Include des données Paiements #}
                    {{ render(controller("HopitalNumeriquePaiementBundle:Facture:total", {'id':user.id} )) }}
                </div>

                <div class="row">
                    {# Include de l'historique #}
                    {{ render(controller("HopitalNumeriqueUserBundle:User:historique", {'id':user.id} )) }}
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
