{% trans_default_domain 'cdp_discussion' %}

{% for message in messages if message.files.count %}
    {% for file in message.files %}
        {% spaceless %}
            <div class="file">
                <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion_message_file', {message: message.id, file: file.id}) }}" class="download" target="_blank">
                    <i class="fa fa-download"></i>
                </a>

                {% set scrollTo = scrollTo is defined ? scrollTo : true %}

                {% if scrollTo %}
                    <a href="#" class="filename" data-message-id="{{ message.id }}">{{ file.clientName }}</a>
                {% else %}
                    <span class="filename">{{ file.clientName }}</span>
                {% endif %}

                <span class="author">
                    {{ 'discussion.discussion.files.author'|trans({'%author%': message.user.prenomNom, '%date%': message.createdAt|date('d/m/Y')}) }}
                </span>

                {% if app.user and discussion.isNewMessage(app.user, message) %}
                    <span class="is-new">{{ 'discussion.message.item.is_new'|trans }}</span>
                {% endif %}
            </div>
        {% endspaceless %}
    {% endfor %}
{% endfor %}