{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Contact{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/nodevo-contact-layout.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueaccount/css/layout.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/nodevo-contact-layout.js"
        'bundles/nodevocontact/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="panel-body" >
	    {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
	    {{ form(form) }}
	</div>
{% endblock %}