{%- spaceless -%}
    {%- if preview.getBody -%}
    <h4>
        {{- 'post.preview' |trans({}, ForumBundle.translation ) -}}
    </h4>

        <div class="col-md-12">
            <article class="row panel panel-default clearfix" {%- if post.id %} id="{{- post.getBody |slice(0,24) -}}"{%- endif -%}>

                <header class="panel-heading">
                    <h3 class="panel-title">
                        {%- if post.getCreatedBy -%}
                            {{- 'post.posted-by' |trans({}, ForumBundle.translation ) |raw -}}
                            {% if post.getCreatedBy.getPseudonymeForum() is defined and post.getCreatedBy.getPseudonymeForum() is not null %}
                                {{- post.getCreatedBy.getPseudonymeForum() -}}
                            {% else %}
                                {{- post.getCreatedBy.getNomPrenom() -}}
                            {% endif %}

                            &nbsp;&#183;&nbsp;

                        {%- endif -%}

                        <span class="timestamper" title="{{- post.getCreatedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
                            {{- post.getCreatedDate |date(ccdn_forum_forum.item_post.created_datetime_format) -}}
                        </span>
                    </h3>
                </header>

                <div class="panel-body">
                    {%- include 'CCDNForumForumBundle:User:Post/Partial/item_post_body.html.twig' with {'post': preview } -%}
                </div>

            </article>
        </div>
    {%- endif -%}
{%- endspaceless -%}
