{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - {% if contenu is defined %}{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}{% else %}{{objet.titre}}{% endif %}{% endblock %}
{% block metadesc %}{{meta['desc']}}{% endblock %}
{% block metakeywords %}{{meta['keywords']|join(', ')}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-publication-publication-articles.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        'bundles/hopitalnumeriquepublication/css/style.css'
        'bundles/nodevotools/css/wysiwyg.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="stylesheet" href="{{ asset('bundles/hopitalnumeriquepublication/css/style-print.css') }}" type="text/css" media="print" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-publication-publication-articles.js"
        "@fancybox_js" 
        'bundles/hopitalnumeriquepublication/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="articles">
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% set root = knp_menu_get('menu-main-front') %}
        {% set parent = null %}

        {% for item in root %}
            {% if currentPath == item.uri %}
                {% set parent = item.name %}
            {% endif %}

            {% for child in item.children %}
                {% if currentPath == child.uri %}
                    {% set parent = item.name %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if parent is not null %}
            <div class="col-md-3">
                <p class="titre">Hôpital <br />Numérique</p>
                {% set menu = root[parent] %}
                {{ knp_menu_render(menu, {'currentClass': 'active','breadcrumb' : 'no', 'ancestorClass':'active','template':'HopitalNumeriqueCoreBundle::menu.html.twig'}) }}
                {{ render(controller("HopitalNumeriquePublicationBundle:Actualite:actualites")) }}
            </div>
        {% endif %}

        <div class="col-md-{% if parent is null %}12{% else %}9{% endif %}">
            {% if types != 'Article' %}
                <div class="col-md-12">
                    <h4 class="gris" >{{types}}</h4>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="btn btn-sm btn-default pull-right btnprint" onclick="print();"><i class="fa fa-print"></i></div>
                <h1 class="violet">{{objet.titre}}</h1>
            </div>

            <div class="col-md-12">
                <div class="dateModif">le {% if objet.dateModification is not null %}{{objet.dateModification|date('d/m/Y')}}{% else %}{{objet.dateCreation|date('d/m/Y')}}{% endif %}</div>
            </div>

            <div class="col-md-12">
                {{objet.resume|parsePublication(objet.glossaires)|raw}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}