{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - {% if contenu is defined %}{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}{% else %}{{objet.titre}}{% endif %}{% endblock %}
{% block metadesc %}{{meta['desc']}}{% endblock %}
{% block metakeywords %}{{meta['keywords']|join(', ')}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-publication-publication-objet.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        "@validationEngine_css"
        'bundles/nodevotools/js/plugins/rateIt/rateit.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriquepublication/css/style.css'
        'bundles/nodevotools/css/wysiwyg.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="stylesheet" href="{{ asset('bundles/hopitalnumeriquepublication/css/style-print.css') }}" type="text/css" media="print" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-publication-publication-objet.js"
        "@fancybox_js" 
        "@validationEngine_js"
        'bundles/nodevotools/js/plugins/rateIt/jquery.rateit.min.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquepublication/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    {% if objet.isInfraDoc %}
        <div id="sommaire" class="closed">
            <div class="content" style="display:none">
                {% if objet.synthese is not null %}
                    <a class="resume downloadLink synthese fancybox.iframe" style="width:90px;text-align:left" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                {% endif %}
                <h3 class="violet">Sommaire</h3>
                <ul>
                    {% for one in contenus %}
                        {{ mySelf.buildTree(one, objet) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="publication" class="with-sommaire">
    {% else %}
        <div id="publication">
    {% endif %}
        <div class="col-md-10">
            <h4 class="gris" >{{types}}</h4>
        </div>
        <div class="col-md-2">
            <div class="btn btn-sm btn-default print btnprint" onclick="print();"><i class="fa fa-print"></i></div>
            <a class="btn btn-sm btn-default back btnBack" href="{{path('hopital_numerique_recherche_homepage')}}"><i class="fa fa-reply"></i></a>
        </div>
        {# Cas Contenu #}
        {% if contenu is defined %}
            <div class="col-md-12">
                <a class="objetLink rose" href="{{path('hopital_numerique_publication_publication_objet', {'id':objet.id,'alias':objet.alias})}}">{{objet.titre}}</a>
                <h1 class="violet">{{prefix ~ ' ' ~ contenu.titre}}</h1>
                <div class="mobile">
                    <a class="label label-success pull-left" href="javascript:$('#sommaire').click();">Sommaire</a>
                    {% if app.user %}
                        <a class="label label-ambassadeur pull-right" href="javascript:$('#ambassadeurs').click();">Ambassadeurs</a>
                        <a class="label label-requete pull-right" href="javascript:$('#mesrequetes').click();">Mes requetes</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" /> 
            <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
            <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">
            {% if objet.notes %}
                {# Ajout la moyenne de l'objet #}
                <div class="col-md-12">
                    <div id="bloc-notation-moyenne-objet">
                        <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                        <div class="bloc-star pull-left">
                            <div class="rateit" id="note-moyenne-etoile" data-rateit-max="5" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="pull-left" id="info-note-moyenne"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                {{contenu.contenu|parsePublication(contenu.glossaires)|raw}}
            </div>
        {# Cas Objet #}
        {% else %}
            <div class="col-md-12">
                <h1 class="violet">{{objet.titre}}</h1>
                <div class="mobile" style="margin-bottom:20px;">
                    <div class="clearfix"></div>
                    <a class="label label-success pull-left" style="cursor:pointer" onclick="javascript:$('#sommaire').click();">Sommaire</a>
                    {% if app.user %}
                        <a class="label label-ambassadeur pull-right" style="cursor:pointer" onclick="javascript:$('#ambassadeurs').click();">Ambassadeurs</a>
                        <a class="label label-requete pull-right" style="cursor:pointer" onclick="javascript:$('#mesrequetes').click();">Mes requetes</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
            <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">
            {% if objet.notes %}
                {# Ajout la moyenne de l'objet #}
                <div class="col-md-12">
                    <div id="bloc-notation-moyenne-objet">
                        <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                        <div class="bloc-star pull-left">
                            <div class="rateit" id="note-moyenne-etoile" data-rateit-max="5" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="pull-left" id="info-note-moyenne"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                {{objet.resume|parsePublication(objet.glossaires)|raw}}
            </div>
        {% endif %}

        {# Téléchargement fichier + synthèse #}
        {% if objet.getAbsolutePath(1) is not null or objet.getAbsolutePath(2) is not null or objet.synthese is not null %}
            <div class="col-md-4">
                <div class="wrapper">
                    {% if objet.getAbsolutePath(1) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(1)}}" target="_blank" onclick="ga('send', 'event', 'Traking', 'Téléchargement', '{{objet.getWebPath(1)}}');"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(1)|upper}} )</a><i class="pull-left fa fa-download violet"></i>
                    {% endif %}

                    <div class="clearfix"></div>
                    {% if objet.getAbsolutePath(2) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(2)}}" target="_blank" onclick="ga('send', 'event', 'Traking', 'Téléchargement', '{{objet.getWebPath(2)}}');"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(2)|upper}} )</a><i class="pull-left fa fa-download violet"></i>
                    {% endif %}
                    
                    <div class="clearfix"></div>
                    {% if objet.synthese is not null %}
                        <a class="downloadLink readmore synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {% if app.user and objet.notes %}
            <div id="bloc-notation-objet" class="col-md-5">
                <div class="wrapper">
                    <input type="hidden" id="note-sauvegarde-url" value="{{path('hopital_numerique_publication_note_add' ) }}">
                    <input type="hidden" id="note-delete-url" value="{{path('hopital_numerique_publication_note_delete' ) }}">
                    <input type="hidden" id="note-valeur" style="display: none;" value="0">
                    <div class="pull-left" style="line-height:19px;font-size: 13px;font-family:Arial">Cette réponse vous paraît-elle utile ?</div>
                    <div class="rateit pull-left" id="note-etoile" data-rateit-step="1" data-rateit-value="{% if note is not null %}{{note.note}}{% else %}0{% endif %}" data-rateit-max="5"></div>
                    <div class="clearfix"></div>
                </div>
                <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" />
            </div>
        {% endif %}
        
        {# Productions fortement liées #}
        {% if productions|length > 0 %}
            <div class="col-md-12" id="productions" >
                <h2 class="open">Productions associées</h2>
                <div class="wrapper-results">
                    <div class="background-rose"></div>
                    <div class="results">
                        {% for one in productions %}
                            <div class="row" >
                                <div class="col-md-10">
                                    <h5>{{one.type}}</h5>
                                </div>
                                <div class="col-md-2">
                                    {% if one.synthese is not null %}
                                        <a class="synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':one.id})}}">synthèse</a>
                                    {% endif %}
                                </div>

                                <div class="col-md-12">
                                    <h4>
                                        {% if one.updated %}
                                            <span class="label label-success">MaJ</span>
                                        {% elseif one.new %}
                                            <span class="label label-danger">Nouveau</span>
                                        {% endif %}

                                        {% if one.objet %}
                                            <a href="{{path('hopital_numerique_publication_publication_objet', {'id':one.id, 'alias': one.alias})}}">{{one.titre}}</a>
                                        {% else %}
                                            <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':one.id, 'alias': one.alias, 'idc':one.idc, 'aliasc': one.aliasc})}}">{{one.titre}}</a>
                                        {% endif %}
                                    </h4>
                                </div>
                                
                                <div class="col-md-12">
                                    <p>{{ one.resume }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        {# Gestion des commantaires #}
        {% if objet.commentaires %}
            {# Cas Contenu #}
            {% if contenu is defined %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : contenu, 'isContenu' : true } %}
            {# Cas objet #}
            {% else %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : objet, 'isContenu' : false } %}
            {% endif %}
        {% endif %}

        {# Autres résultats de recherche - "Résultats annexes à cette publication" #}
        {% if contenu is not defined %}
            {% set contenu = false %}
        {% endif %}
        <div class="col-md-12" id="autresResultats" >
            <h2 class="open">Résultats annexes à cette publication</h2>
            <div class="mysep background-rose"></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="points-durs" class="top" >
                        <h3>Points durs</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucun point dur trouvé -', 'point-dur') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="production" class="top" >
                        <h3>Productions</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucune production trouvée -', 'production') }}
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="ressources" class="bottom background-rose" >
                        <h3>Ressources externes</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucune ressource externe trouvée -', 'ressource') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="forum" class="bottom background-violet" >
                        <h3>Forum</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucun fil de discussion du forum trouvé -', 'forum') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    {% if app.user and app.user|checkAuthorization( path('hopital_numerique_registre_homepage') ) %}
        <div id="ambassadeurs" class="closed">
            <div class="content" style="display:none">
                <h3 class="violet">Les ambassadeurs</h3>
                {% for ambassadeur in ambassadeurs %}
                    <div class="ambassadeur">
                        <p class="nom">{{ambassadeur.prenom|title ~ ' ' ~ ambassadeur.nom|title}}</p>
                        <p class="etab">
                            {% if ambassadeur.etablissementRattachementSante %}
                                {{ambassadeur.etablissementRattachementSante.nom}}
                            {% else %}
                                {{ambassadeur.autreStructureRattachementSante}}
                            {% endif %}
                        </p>
                        <p class="fonction">
                            {% if ambassadeur.fonctionDansEtablissementSante %}
                                {{ambassadeur.fonctionDansEtablissementSante}}
                            {% else %}
                                {{ambassadeur.fonctionStructure}}
                            {% endif %}
                        </p>
                        <a class="btn background-violet" href="{{path('hopital_numerique_intervention_demande_nouveau_avec_objet',{'ambassadeur':ambassadeur.id, 'prod':objet.id})}}">Solliciter cet ambassadeur</a>
                    </div>
                {% else %}
                    <div class="ambassadeur">
                        - Aucun ambassadeur référencé sur cette production -
                    </div>
                {% endfor %}
                <a href="{{ path('hopital_numerique_registre_homepage') }}" class="readmore"><i class="common-sprite common-sprite-arrow"></i>Accès à l'annuaire des ambassadeurs</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro buildTree(one, objet) %}
    {% import _self as mySelf %}
    <li>
        {% if one.hasContent %}
            <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':objet.id,'alias':objet.alias,'idc':one.id,'aliasc':one.alias})}}" >{{one.order ~ ' ' ~ one.titre}} </a>
        {% else %}
            <p>{{one.order ~ ' ' ~ one.titre}}</p>
        {% endif %}
        {% if one.childs %}
            <ul>
                {% for child in one.childs %}
                    {{ mySelf.buildTree(child, objet) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro buildCarousel(objet, objets, contenu, emptyMessage, key) %}
    <div id="{{key}}-slides" class="results carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% set count = 1 %}

            {% for item in objets if item['categ'] == key %}
                {% if count <= 10 %}
                    <div class="item" data-pos="{{count}}" >
                        {% if key != 'forum' %}
                            <h4>
                                {% if key != 'ressource' %}
                                    {% if item['updated'] %}
                                        <span class="label label-success">MaJ</span>
                                    {% elseif item['new'] %}
                                        <span class="label label-danger">Nouveau</span>
                                    {% endif %}
                                {% else %}
                                    {% if item['updated'] %}
                                        <span class="label btn-default btn-xs" style="color:#333">MaJ</span>
                                    {% elseif item['new'] %}
                                        <span class="label btn-default btn-xs" style="color:#333">Nouveau</span>
                                    {% endif %}
                                {% endif %}

                                {% if item['objet'] is not null %}
                                    <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':item['objet'],'alias':item['aliasO'],'idc':item['id'],'aliasc':item['aliasC']})}}" >
                                {% else %}
                                    <a href="{{path('hopital_numerique_publication_publication_objet', {'id':item['id'],'alias':item['alias']})}}" >
                                {% endif %}
                                    {{item['titre']}}{% if item['objet'] is not null %}<small> - Extrait d'une production</small>{% endif %}
                                </a>
                            </h4>

                            <p>{{ item['resume']|trim }}</p>
                        {% else %}
                            <h4>
                                <a href="{{path('ccdn_forum_user_topic_show', {'topicId':item['id']})}}">{{item['titre']}}</a>
                            </h4>
                        {% endif %}
                    </div>
                {% endif %}

                {% set count = count + 1 %}
            {% else %}
                <div class="item active">
                    <h4></h4>
                    <p class="noresult"> {{emptyMessage}} </p>
                </div>
            {% endfor %}
        </div>

        {% if count > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for i in 1..count - 1 %}
                    <li data-target="#{{key}}-slides" data-slide-to="{{i-1}}" class="pos-{{i}}" ></li>
                {% endfor %}
            </ol>

            <!-- Controls -->
            <a class="left carousel-control" href="#{{key}}-slides" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left violet"></span>
            </a>
            <a class="right carousel-control" href="#{{key}}-slides" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right violet"></span>
            </a>
        {% endif %}
    </div>
{% endmacro %}
