{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - {% if contenu is defined %}{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}{% else %}{{objet.titre}}{% endif %}{% endblock %}
{% block metadesc %}{{meta['desc']}}{% endblock %}
{% block metakeywords %}{{meta['keywords']|join(', ')}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-publication-publication-objet.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        "@validationEngine_css"
        'bundles/nodevotools/js/plugins/rateIt/rateit.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriquepublication/css/style.css'
        'bundles/nodevotools/css/wysiwyg.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="stylesheet" href="{{ asset('bundles/hopitalnumeriquepublication/css/style-print.css') }}" type="text/css" media="print" />
    <style type="text/css">#publication a[href]:after {content: none !important; font-size: 12px; display: none;}</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-publication-publication-objet.js"
        "@fancybox_js" 
        "@validationEngine_js"
        'bundles/nodevotools/js/plugins/rateIt/jquery.rateit.min.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquepublication/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
    function printPreView(reportCategory,reportType,transactionType,searchOption,customerRokaID,utilityCompany,fromDate,toDate,telcoName,bank){

var request = "selectedMenu="+reportCategory+"&loginStatus=success&criteria="+searchOption+"&customer="+customerRokaID+"&from="+fromDate+"&to="+toDate+"&nspTypes="+utilityCompany+"&trxTypes="+transactionType+"&options="+reportType+"&telcoTypes="+telcoName+"&bankTypes="+bank+"&printable=yes";


window.open ("report/showReport.action?"+request,null,"location=no,menubar=0,resizable=1,scrollbars=1,width=600,height=700");
}
</script>
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    {% if objet.isInfraDoc %}
        <div id="sommaire" class="closed">
            <div class="content" style="display:none">
                {% if objet.synthese is not null %}
                    <a class="resume downloadLink synthese fancybox.iframe" style="width:90px;text-align:left" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                {% endif %}
                <h3 class="violet">Sommaire</h3>
                <ul>
                    {% for one in contenus %}
                        {{ mySelf.buildTree(one, objet) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="publication" class="with-sommaire">
    {% else %}
        <div id="publication">
    {% endif %}
        <div class="col-md-10">
            <h4 class="gris" >{{types}}</h4>
        </div>
        <div class="col-md-2">
            <div class="btn btn-sm btn-default print btnprint" onclick="print();"><i class="fa fa-print"></i></div>
            <a href="{{path('hopitalnumerique_objet_objet_feed_rss')}}" class="pull-right btn btn-sm btn-default btnrss"><i class="fa fa-rss"></i></a>
            <a class="btn btn-sm btn-default back btnBack" href="{{path('hopital_numerique_recherche_homepage')}}"><i class="fa fa-reply"></i></a>
        </div>
        {# Cas Contenu #}
        {% if contenu is defined %}
            <div class="col-md-12">
                <h1 class="violet"><a href="{{path('hopital_numerique_publication_publication_objet', {'id':objet.id,'alias':objet.alias})}}">{{objet.titre}}</a></h1>
                {% if breadCrumbsArray is defined and breadCrumbsArray is not null %}
                    <div class="titre-infradoc violet" style="margin-top: -15px;margin-bottom:5px;padding-top:5px;">
                        {% for breadcrumb in breadCrumbsArray %}
                            <i class="fa fa-share fa-flip-vertical" style="margin-right:5px;height:13px"></i><a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':breadcrumb.contenu.id, 'alias':objet.alias, 'aliasc':breadcrumb.contenu.alias})}}" style="color:#672F9E">{{breadcrumb.label}}</a>{% if loop.index != breadCrumbsArray|length %} <span style="margin-right:5px; margin-left:5px;" > > </span> {% endif %}
                        {% endfor %}
                    </div>
                    <div class="titre-infradoc-pdf violet" style="margin-top: -15px;margin-bottom:5px;padding-top:5px;">
                        {% for breadcrumb in breadCrumbsArray %}
                            <i class="fa fa-share fa-flip-vertical" style="margin-right:5px;height:13px;"></i><a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':breadcrumb.contenu.id, 'alias':objet.alias, 'aliasc':breadcrumb.contenu.alias})}}" style="color:#672F9E;">{{breadcrumb.label}}</a>{% if loop.index != breadCrumbsArray|length %} <span style="margin-right:5px; margin-left:5px;" > > </span> {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="clearfix"></div>
                <div class="mobile">
                    {% if objet.isInfraDoc %}
                        <a class="label label-success pull-left" href="javascript:$('#sommaire').click();">Sommaire</a>
                    {% endif %}
                    {% if app.user %}
                        <a class="label label-ambassadeur pull-right" href="javascript:$('#ambassadeurs').click();">Ambassadeurs</a>
                        <a class="label label-requete pull-right" href="javascript:$('#mesrequetes').click();">Mes requetes</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" /> 
            <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
            <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">
            {% if objet.notes %}
                {# Ajout la moyenne de l'objet #}
                <div class="col-md-12">
                    <div id="bloc-notation-moyenne-objet pull-left">
                        <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                        <div class="bloc-star pull-left">
                            <div class="rateit" id="note-moyenne-etoile" data-rateit-max="5" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="pull-left" id="info-note-moyenne"></div>
                    </div>
            {% else %}
                <div class="col-md-12">
            {% endif %}
            {% if ActivateRsxSociaux and objet.btnSociaux %}
                    <div class="reseaux-sociaux pull-right">
                        <div class="tweet pull-left">
                            {% set currentPath = app.request.getUri %}
                            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{currentPath|bitly}}" data-text="{{objet.titre}}" data-hashtags="HNUM" >Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <div class="scoopt-it pull-left">
                            <a href="http://www.scoop.it" class="scoopit-button" scit-position="none" {#scit-url="{{currentPath|tinyUrl}}"#} >Scoop.it</a>
                            <script type="text/javascript" src="http://www.scoop.it/button/scit.js"></script>
                        </div>
                        <div class="linkedin pull-left">
                            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                            <script type="IN/Share"></script>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            {% else %}
                </div>
                <div class="clearfix"></div>
            {% endif %}
            <div class="col-md-12" id="publication-resume">
                {{contenu.contenu|parsePublication(contenu.glossaires)|raw}}
            </div>
        {# Cas Objet #}
        {% else %}
            <div class="col-md-12">
                <h1 class="violet">{{objet.titre}}</h1>
                <div class="mobile" style="margin-bottom:20px;">
                    <div class="clearfix"></div>
                    {% if objet.isInfraDoc %}
                        <a class="label label-success pull-left" style="cursor:pointer" onclick="javascript:$('#sommaire').click();">Sommaire</a>
                    {% endif %}
                    {% if app.user %}
                        <a class="label label-ambassadeur pull-right" style="cursor:pointer" onclick="javascript:$('#ambassadeurs').click();">Ambassadeurs</a>
                        <a class="label label-requete pull-right" style="cursor:pointer" onclick="javascript:$('#mesrequetes').click();">Mes requetes</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
            <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">

            {# Affichage particulier pour le point-dur #}
            {% if types == "Point dur" %}
                <div class="row">
                    <div class="col-md-6">
                        {% if objet.notes %}
                            {# Ajout la moyenne de l'objet #}
                            <div class="col-md-12">
                                <div id="bloc-notation-moyenne-objet pull-left">
                                    <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                                    <div class="bloc-star pull-left">
                                        <div class="rateit" id="note-moyenne-etoile" data-rateit-max="5" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    </div>
                                    <div class="pull-left" id="info-note-moyenne"></div>
                                </div>
                        {% else %}
                            <div class="col-md-12">
                        {% endif %}
                        {% if ActivateRsxSociaux and objet.btnSociaux %}
                                <div class="reseaux-sociaux pull-right">
                                    <div class="tweet pull-left">
                                        {% set currentPath = app.request.getUri %}
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{currentPath|bitly}}" data-text="{{objet.titre}}" data-hashtags="HNUM" >Tweet</a>
                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </div>
                                    <div class="scoopt-it pull-left">
                                        <a href="http://www.scoop.it" class="scoopit-button" scit-position="none" {#scit-url="{{currentPath|tinyUrl}}"#} >Scoop.it</a>
                                        <script type="text/javascript" src="http://www.scoop.it/button/scit.js"></script>
                                    </div>
                                    <div class="linkedin pull-left">
                                        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                                        <script type="IN/Share"></script>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        {% else %}
                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                        <div class="col-md-12" id="publication-resume">
                            {{objet.resume|parsePublication(objet.glossaires)|raw}}
                        </div>

                        <div id="bloc-notation-objet" class="col-md-10 pull-right">
                            <div class="wrapper">
                                <input type="hidden" id="note-sauvegarde-url" value="{{path('hopital_numerique_publication_note_add' ) }}">
                                <input type="hidden" id="note-delete-url" value="{{path('hopital_numerique_publication_note_delete' ) }}">
                                <input type="hidden" id="note-valeur" style="display: none;" value="0">
                                <div class="pull-left" style="line-height:19px;font-size: 13px;">Cette réponse vous paraît-elle utile ?</div>
                                <div class="rateit pull-left" id="note-etoile" data-rateit-step="1" data-rateit-value="{% if note is not null %}{{note.note}}{% else %}0{% endif %}" data-rateit-max="5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12" id="productionsPointDur" >
                            <h2 class="noCollapse">Productions associées</h2>
                            <div class="wrapper-results">
                                <div class="background-rose"></div>
                                <div class="results">
                                    {% for one in productions %}
                                        <div class="row" >
                                            <div class="col-md-10">
                                                <h5 style="font-size:13px;">{{one.type}}</h5>
                                            </div>
                                            <div class="col-md-2">
                                                {% if one.synthese is not null %}
                                                    <a class="synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':one.id})}}">synthèse</a>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-12">
                                                <h4 style="font-size:14px;margin:0px 0 5px 0">
                                                    {% if one.updated %}
                                                        <span class="label label-success" style="line-height: 1.1;vertical-align: top;">MaJ</span>
                                                    {% elseif one.new %}
                                                        <span class="label label-danger" style="line-height: 1.1;vertical-align: top;">Nouveau</span>
                                                    {% endif %}

                                                    {% if one.objet %}
                                                        <a href="{{path('hopital_numerique_publication_publication_objet', {'id':one.id, 'alias': one.alias})}}">{{one.titre}}</a>
                                                    {% else %}
                                                        <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':one.id, 'alias': one.alias, 'idc':one.idc, 'aliasc': one.aliasc})}}">{{objetsOrder[one.id]['parent'].titre}}</a><br />
                                                        <i style="font-size:15px;margin-right: 5px" class="fa fa-share fa-flip-vertical"></i><span class="gris" style="font-size:16px;">{{one.titre}}</span>
                                                    {% endif %}

                                                    </a>
                                                </h4>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <p>{{ one.resume|parsePublication|raw }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if objet.notes %}
                    {# Ajout la moyenne de l'objet #}
                    <div class="col-md-12">
                        <div id="bloc-notation-moyenne-objet pull-left">
                            <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                            <div class="bloc-star pull-left">
                                <div class="rateit" id="note-moyenne-etoile" data-rateit-max="5" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            </div>
                            <div class="pull-left" id="info-note-moyenne"></div>
                        </div>
                {% else %}
                    <div class="col-md-12">
                {% endif %}
                {% if ActivateRsxSociaux and objet.btnSociaux %}
                        <div class="reseaux-sociaux pull-right">
                            <div class="tweet pull-left">
                                {% set currentPath = app.request.getUri %}
                                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{currentPath|bitly}}" data-text="{{objet.titre}}" data-hashtags="HNUM" >Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                            <div class="scoopt-it pull-left">
                                <a href="http://www.scoop.it" class="scoopit-button" scit-position="none" {#scit-url="{{currentPath|tinyUrl}}"#} >Scoop.it</a>
                                <script type="text/javascript" src="http://www.scoop.it/button/scit.js"></script>
                            </div>
                            <div class="linkedin pull-left">
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                                <script type="IN/Share"></script>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% else %}
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
                <div class="col-md-12" id="publication-resume">
                    {{objet.resume|parsePublication(objet.glossaires)|raw}}
                </div>
            {% endif %}
        {% endif %}

        {# Téléchargement fichier + synthèse #}
        {% if objet.getAbsolutePath(1) is not null or objet.getAbsolutePath(2) is not null or objet.synthese is not null %}
            <div class="col-md-4">
                <div class="wrapper">
                    {% if objet.getAbsolutePath(1) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(1)}}" target="_blank" onclick="ga('send', 'event', 'Traking', 'Téléchargement', '{{objet.getWebPath(1)}}');"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(1)|upper}} ) <i class="fa fa-download violet"></i></a>
                    {% endif %}

                    <div class="clearfix"></div>
                    {% if objet.getAbsolutePath(2) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(2)}}" target="_blank" onclick="ga('send', 'event', 'Traking', 'Téléchargement', '{{objet.getWebPath(2)}}');"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(2)|upper}} )<i class="fa fa-download violet"></i></a>
                    {% endif %}
                    
                    <div class="clearfix"></div>
                    {% if objet.synthese is not null %}
                        <a class="downloadLink readmore synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {% if (app.user and objet.notes) and types != "Point dur" %}

            <div id="bloc-notation-objet" class="col-md-5">
                <div class="wrapper">
                    <input type="hidden" id="note-sauvegarde-url" value="{{path('hopital_numerique_publication_note_add' ) }}">
                    <input type="hidden" id="note-delete-url" value="{{path('hopital_numerique_publication_note_delete' ) }}">
                    <input type="hidden" id="note-valeur" style="display: none;" value="0">
                    <div class="pull-left" style="line-height:19px;font-size: 13px;">Cette réponse vous paraît-elle utile ?</div>
                    <div class="rateit pull-left" id="note-etoile" data-rateit-step="1" data-rateit-value="{% if note is not null %}{{note.note}}{% else %}0{% endif %}" data-rateit-max="5"></div>
                    <div class="clearfix"></div>
                </div>
                <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" />
            </div>
        {% endif %}

        <div class="clearfix"></div>

        {% if contenu is defined %}
            <div id="precedent-suivant" style="margin-top:10px">                
                <div class="col-md-5">
                    {% if precedent is defined and precedent is not null %}
                        <a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':precedent.id, 'alias':objet.alias, 'aliasc':precedent.alias})}}" class="btn btn-default"><i class="fa fa-arrow-left" style="margin-right:10px;"></i>{{ precedentOrder ~ '. ' ~ precedent.titre|truncate(40, true, '...')}}</a>
                         <div class="clearfix"></div>
                        {% endif %}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    {% if suivant is defined and suivant is not null %}
                        <a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':suivant.id, 'alias':objet.alias, 'aliasc':suivant.alias})}}" class="btn btn-default">{{suivantOrder ~ '. ' ~ suivant.titre|truncate(40, true, '...')}}<i class="fa fa-arrow-right" style="margin-left:10px;"></i></a>
                         <div class="clearfix"></div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {# Productions fortement liées #}
        {% if productions|length > 0 and types != "Point dur" %}
            <div class="col-md-12" id="productions" >
                <h2 class="open">Productions associées</h2>
                <div class="wrapper-results">
                    <div class="background-rose"></div>
                    <div class="results">
                        {% for one in productions %}
                            <div class="row" >
                                <div class="col-md-10">
                                    <h5>{{one.type}}</h5>
                                </div>
                                <div class="col-md-2">
                                    {% if one.synthese is not null %}
                                        <a class="synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':one.id})}}">synthèse</a>
                                    {% endif %}
                                </div>

                                <div class="col-md-12">
                                    <h4>
                                        {% if one.updated %}
                                            <span class="label label-success">MaJ</span>
                                        {% elseif one.new %}
                                            <span class="label label-danger">Nouveau</span>
                                        {% endif %}

                                        {% if one.objet %}
                                            <a href="{{path('hopital_numerique_publication_publication_objet', {'id':one.id, 'alias': one.alias})}}">{{one.titre}}</a>
                                        {% else %}
                                            <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':one.id, 'alias': one.alias, 'idc':one.idc, 'aliasc': one.aliasc})}}">{{one.titre}}</a>
                                        {% endif %}
                                    </h4>
                                </div>
                                
                                <div class="col-md-12">
                                    <p>{{ one.resume }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if contenu is defined %}
            {% if contenu.objet.dateParution or ( contenu.objet.fichierModifiable and contenu.objet.fichierModifiable.sourceDocument ) %}
            <div class="col-md-12" id="date-source">
            {% if contenu.objet.dateParution %}
                Date de parution : {{contenu.objet.dateParution}}<br/>
            {% endif %}
            {% if contenu.objet.fichierModifiable and contenu.objet.fichierModifiable.sourceDocument %}
                Source du document : {{contenu.objet.fichierModifiable.sourceDocument}}
            {% endif %}
            </div>
            {% endif %}
        {% else %}
            {% if objet.dateParution or ( objet.fichierModifiable and objet.fichierModifiable.sourceDocument ) %}
            <div class="col-md-12" id="date-source">
            {% if objet.dateParution %}
                Date de parution : {{objet.dateParution}}<br/>
            {% endif %}
            {% if objet.fichierModifiable and objet.fichierModifiable.sourceDocument %}
                Source du document : {{objet.fichierModifiable.sourceDocument}}
            {% endif %}
            </div>
            {% endif %}
        {% endif %}

        {# Autres résultats de recherche - "Résultats annexes à cette publication" #}
        {% if contenu is not defined %}
            {% set contenu = false %}
        {% endif %}
        <div class="col-md-12" id="autresResultats" >
            <h2 class="open">Résultats annexes à cette publication<span class="h2-arrow"></span></h2>
            <div class="mysep background-rose"></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="points-durs" class="top" >
                        <h3>Points durs</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucun point dur trouvé -', 'point-dur', objetsOrder) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="production" class="top" >
                        <h3>Productions</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucune production trouvée -', 'production', objetsOrder) }}
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="ressources" class="bottom background-rose" >
                        <h3>Ressources externes</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucune ressource externe trouvée -', 'ressource', objetsOrder) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="forum" class="bottom background-violet" >
                        <h3>Forum</h3>
                        {{ mySelf.buildCarousel(objet, objets, contenu, '- Aucun fil de discussion du forum trouvé -', 'forum', objetsOrder) }}
                    </div>
                </div>
            </div>
        </div>

        {# Gestion des commantaires #}
        {% if objet.commentaires %}
            {# Cas Contenu #}
            {% if contenu is defined %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : contenu, 'isContenu' : true } %}
            {# Cas objet #}
            {% else %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : objet, 'isContenu' : false } %}
            {% endif %}
        {% endif %}

        <div class="clearfix"></div>
    </div>

    {% if app.user and app.user|checkAuthorization( path('hopital_numerique_registre_homepage') ) %}
        <div id="ambassadeurs" class="closed">
            <div class="content" style="display:none">
                <h3 class="violet">Les ambassadeurs</h3>
                {% for ambassadeur in ambassadeurs %}
                    <div class="ambassadeur">
                        <p class="nom">{{ambassadeur.prenom|title ~ ' ' ~ ambassadeur.nom|title}}</p>
                        <p class="etab">
                            {% if ambassadeur.etablissementRattachementSante %}
                                {{ambassadeur.etablissementRattachementSante.nom}}
                            {% else %}
                                {{ambassadeur.autreStructureRattachementSante}}
                            {% endif %}
                        </p>
                        <p class="fonction">
                            {% if ambassadeur.fonctionDansEtablissementSante %}
                                {{ambassadeur.fonctionDansEtablissementSante}}
                            {% else %}
                                {{ambassadeur.fonctionStructure}}
                            {% endif %}
                        </p>
                        <a class="btn background-violet" href="{{path('hopital_numerique_intervention_demande_nouveau_avec_objet',{'ambassadeur':ambassadeur.id, 'prod':objet.id})}}">Solliciter cet ambassadeur</a>
                    </div>
                {% else %}
                    <div class="ambassadeur">
                        - Aucun ambassadeur référencé sur cette production -
                    </div>
                {% endfor %}
                <a href="{{ path('hopital_numerique_registre_homepage') }}" class="readmore"><i class="common-sprite common-sprite-arrow"></i>Accès à l'annuaire des ambassadeurs</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro buildTree(one, objet) %}
    {% import _self as mySelf %}
    <li>
        {% if one.hasContent %}
            <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':objet.id,'alias':objet.alias,'idc':one.id,'aliasc':one.alias})}}" >{{one.order ~ ' ' ~ one.titre}} </a>
        {% else %}
            <p>{{one.order ~ ' ' ~ one.titre}}</p>
        {% endif %}
        {% if one.childs %}
            <ul>
                {% for child in one.childs %}
                    {{ mySelf.buildTree(child, objet) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro buildCarousel(objet, objets, contenu, emptyMessage, key, objetsOrder) %}
    <div id="{{key}}-slides" class="results carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% set count = 1 %}

            {% for item in objets if item['categ'] == key %}
                {% if count <= 10 %}
                    <div class="item" data-pos="{{count}}" >
                        {% if key != 'forum' %}
                            <h4>
                                {% if key != 'ressource' %}
                                    {% if item['updated'] %}
                                        <span class="label label-success">MaJ</span>
                                    {% elseif item['new'] %}
                                        <span class="label label-danger">Nouveau</span>
                                    {% endif %}
                                {% else %}
                                    {% if item['updated'] %}
                                        <span class="label btn-default btn-xs" style="color:#333">MaJ</span>
                                    {% elseif item['new'] %}
                                        <span class="label btn-default btn-xs" style="color:#333">Nouveau</span>
                                    {% endif %}
                                {% endif %}

                                {% if item['objet'] is not null %}
                                    <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':item['objet'],'alias':item['aliasO'],'idc':item['id'],'aliasc':item['aliasC']})}}" >
                                {% else %}
                                    <a href="{{path('hopital_numerique_publication_publication_objet', {'id':item['id'],'alias':item['alias']})}}" >
                                {% endif %}
                                    {% if objetsOrder[item['id']]['parent'] is defined and objetsOrder[item['id']]['parent'] is not null  and item['objet'] is not null %}
                                        <style type="text/css">
                                            #autresResultats .top .results p{height: 70px;}
                                        </style>
                                        {{objetsOrder[item['id']]['parent'].getTitre()}}<br />
                                        <i class="fa fa-share fa-flip-vertical"></i><span style="font-size:13px;" class="gris"> {{objetsOrder[item['id']]['prefixe']}} {{item['titre']}}</span>
                                    {% else %}
                                        <style type="text/css">
                                            #autresResultats .top .results p{height: 85px;}
                                        </style>
                                        {{item['titre']}}
                                    {% endif %}
                                </a>
                            </h4>

                            <p>{{ item['resume']|trim }}</p>
                        {% else %}
                            <h4>
                                <a href="{{path('ccdn_forum_user_topic_show', {'topicId':item['id']})}}">{{item['titre']}}</a>
                            </h4>
                        {% endif %}
                    </div>
                {% endif %}

                {% set count = count + 1 %}
            {% else %}
                <div class="item active">
                    <h4></h4>
                    <p class="noresult"> {{emptyMessage}} </p>
                </div>
            {% endfor %}
        </div>

        {% if count > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for i in 1..count - 1 %}
                    <li data-target="#{{key}}-slides" data-slide-to="{{i-1}}" class="pos-{{i}}" ></li>
                {% endfor %}
            </ol>

            <!-- Controls -->
            <a class="left carousel-control" href="#{{key}}-slides" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left violet"></span>
            </a>
            <a class="right carousel-control" href="#{{key}}-slides" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right violet"></span>
            </a>
        {% endif %}
    </div>
{% endmacro %}
