{% extends (is_pdf ? 'HopitalNumeriqueCoreBundle::pdf.html.twig' : 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig') %}

{# Référencement #}
{% block title %}{{parent()}} - {% if contenu is defined %}{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}{% else %}{{objet.titre}}{% endif %}{% endblock %}
{% block metadesc %}{{meta['desc']}}{% endblock %}
{% block metakeywords %}{{meta['keywords']|join(', ')}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-publication-publication-objet.css" filter="cssrewrite, ?yui_css"
    'bundles/nodevotools/js/plugins/rateIt/rateit.css'
    'bundles/hopitalnumeriquepublication/css/style.css'
    'bundles/nodevotools/css/wysiwyg.css'
    'bundles/hopitalnumeriquereference/css/referencement-popin.css'
    '@jquery_toggles_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/hopitalnumeriquepublication/css/style-print.css') }}" type="text/css" media="print" />
    <style type="text/css">#publication a[href]:after {content: none !important; font-size: 12px; display: none;}</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-publication-publication-objet.js"
    'bundles/nodevotools/js/plugins/rateIt/jquery.rateit.min.js'
    'bundles/hopitalnumeriquepublication/js/script.js'
    'bundles/hopitalnumeriquereference/js/Referencement/Popin.js'
    '@jquery_toggles_js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% set canVote = (app.user is not null or note is null) %}

    {% import _self as mySelf %}

    <div id="publication">
        <div class="hidden-pdf">
            <div class="col-md-8">
                <a class="btn btn-sm btn-default" href="{{path('hopital_numerique_recherche_homepage')}}" title="Retour à ma recherche"><i class="fa fa-reply"></i></a>
                <a class="btn btn-sm btn-default" href="{{path('hopital_numerique_recherche_homepage_requete_generator')}}" title="Nouvelle recherche"><i class="fa fa-search"></i></a>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <span>{{ 'subscribe'|trans }}</span>
                    {% spaceless %}
                        <div
                            class="toggle toggle-success"
                            data-path="{{ path('hopitalnumerique_objet_subscribe', {
                                'object': objet.id,
                                'content': contenu is defined ? contenu.id : null
                            }) }}"
                            data-active="{% if subscribed is not null %}true{% else %}false{% endif %}"
                        ></div>
                    {% endspaceless %}
                    {% if contenu is defined %}
                        {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {objectType: 'contenu', objectId: contenu.id}) }}
                    {% else %}
                        {% if not objet.article %}
                            {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {objectType: 'objet', objectId: objet.id}) }}
                        {% endif %}
                    {% endif %}
                    {% if showCog is defined and showCog == true %}
                        <a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':(contenu is defined ? '2' :'1'), 'entityId':(contenu is defined ? contenu.id : objet.id), 'redirect': 'false' })}}" class="open-popin-referencement fancybox.ajax btn btn-sm btn-default" title="Référencer cette publication"><i class="fa fa-cog"></i></a>
                    {% endif %}
                    <a class="btn btn-sm btn-default" href="{{ path('hopital_numerique_publication_publication_pdf', { 'entityType':(contenu is defined ? '2' :'1'), 'entityId':(contenu is defined ? contenu.id : objet.id) }) }}" title="Imprimer cette page"><i class="fa fa-print"></i></a>
                    {% if objet.getAbsolutePath(1) is not null -%}
                        <a class="btn btn-sm btn-default" href="{{path('hopital_numerique_publication_front_export', {'id':objet.id, 'type': '1'})}}" target="_blank" onclick="ga('send', 'event', 'Traking', 'Téléchargement', '{{path('hopital_numerique_publication_front_export', {'id':objet.id, 'type': '1'})}}');" title="Télécharger la production complète ( PDF )"><i class="fa fa-download"></i></a>
                    {%- endif %}
                    <a class="btn btn-sm btn-default fancybox fancybox.ajax" href="{{ path('nodevo_mail_recommandation_popin') }}" title="Recommander à un ami"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>

        {% if is_pdf %}
            <div class="col-md-12">
                <div class="page-url">
                    {{ absolute_url(path('hopital_numerique_publication_publication_objet', {
                        "id": objet.id,
                        "alias": objet.alias
                    })) }}
                </div>
            </div>
        {% endif %}

        <div class="col-md-12">
            <h4 class="gris" >
                {{types}}{% if objet.source is not null and objet.source != '' %} <span class="text-muted">({{objet.source}})</span>{% endif %}
                {% if objet.communautePratiqueGroupe is not null %}
                    - <a class="gris cdp-group" href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em>Contenu élaboré dans le cadre du groupe "{{ objet.communautePratiqueGroupe.titre }}" de la communauté de pratique</em></a>
                {% endif %}
            </h4>
        </div>

        {# Cas Contenu #}
        {% if contenu is defined %}
            <div id="current-content-id" data-current-id="{{ contenu.id }}"></div>
            <div class="col-md-12">
                <h1 class="violet"><a href="{{path('hopital_numerique_publication_publication_objet', {'id':objet.id,'alias':objet.alias})}}">{{objet.titre}}</a></h1>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/sommaire.html.twig' %}

                {% if is_pdf == false %}
                    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/column_right.html.twig' %}
                {% endif %}

                <div>
                    {% if breadCrumbsArray is defined and breadCrumbsArray is not null %}
                        <div class="titre-infradoc violet" style="margin-top: -10px;margin-bottom:5px;padding-top:5px;">
                            {% for breadcrumb in breadCrumbsArray %}
                                <i class="fa fa-share fa-flip-vertical" style="margin-right:5px;margin-left:{{breadcrumb.label|alignBreadcrumbs}}px;height:13px"></i><a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':breadcrumb.contenu.id, 'alias':objet.alias, 'aliasc':breadcrumb.contenu.alias})}}" style="color:#672F9E;{% if not loop.first %}font-size:16px;{% endif %}{% if loop.index > 2 %}font-size:14px;{% endif %}">{{breadcrumb.label}}</a>{% if loop.index != breadCrumbsArray|length %} <span style="margin-right:5px; margin-left:5px;"></span><br /> {% endif %}
                            {% endfor %}
                        </div>
                        <div class="titre-infradoc-pdf violet" style="margin-top: -10px;margin-bottom:5px;padding-top:5px;">
                            {% for breadcrumb in breadCrumbsArray %}
                                <i class="fa fa-share fa-flip-vertical" style="margin-right:5px;margin-left:{{breadcrumb.label|alignBreadcrumbs}}px;height:13px;"></i><a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':breadcrumb.contenu.id, 'alias':objet.alias, 'aliasc':breadcrumb.contenu.alias})}}" style="color:#672F9E;">{{breadcrumb.label}}</a>{% if loop.index != breadCrumbsArray|length %} <span style="margin-right:5px; margin-left:5px;" ></span><br /> {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="mobile hidden-pdf">
                        {% if objet.isInfraDoc %}
                            <a class="label label-success pull-left" href="#" onclick="$('#sommaire').click();">Sommaire</a>
                        {% endif %}
                        {% if app.user %}
                            <a class="label label-ambassadeur pull-right" href="#" onclick="$('#ambassadeurs').click();">Ambassadeurs</a>
                            <a class="label label-requete pull-right" href="#" onclick="$('#mesrequetes').click();">Mes requetes</a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>

                    <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" />
                    <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
                    <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">

                    {% if is_pdf == false %}
                        <div>
                            {% if objet.notes %}
                                {# Ajout la moyenne de l'objet #}
                                <div id="bloc-notation-moyenne-objet" class="hidden-pdf">
                                    <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                                    <div class="bloc-star">
                                        <div class="rateit" id="note-moyenne-etoile"></div>
                                    </div>
                                    <div id="info-note-moyenne"></div>
                                </div>
                            {% endif %}

                            <div class="nb-views hidden-pdf">&nbsp;{{ contenu.nbVue }} vues</div>

                            {% if ActivateRsxSociaux and objet.btnSociaux %}
                                <div class="reseaux-sociaux pull-right hidden-pdf">
                                    <div class="tweet pull-left">
                                        {% set currentPath = app.request.getUri %}
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{currentPath|bitly}}" data-text="{{objet.titre}}" data-hashtags="HNUM" >Tweet</a>
                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </div>
                                    <div class="scoopt-it pull-left">
                                        <a href="http://www.scoop.it" class="scoopit-button" scit-position="none" {#scit-url="{{currentPath|tinyUrl}}"#} >Scoop.it</a>
                                        <script type="text/javascript" src="http://www.scoop.it/button/scit.js"></script>
                                    </div>
                                    <div class="linkedin pull-left">
                                        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                                        <script type="IN/Share"></script>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div id="publication-resume">
                        {{contenu.contenu|parsePublication|glossaire_add(contenu)|raw}}
                    </div>

                    {%- if contenu.children|length > 0 -%}
                        <div class="sous-chapitres-container">
                            <h3 class="title">Sous-chapitres :</h3>
                            {{ _self.sousChapitres(contenu) }}
                        </div>
                    {%- endif -%}
                </div>

                {% if is_pdf %}
                    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/column_right.html.twig' %}
                {% endif %}
            </div>

            {# Cas Objet #}
        {% else %}
            <div class="col-md-12">
                <h1 class="violet">{{objet.titre}}</h1>
                <div class="mobile hidden-pdf" style="margin-bottom:20px;">
                    <div class="clearfix"></div>
                    {% if objet.isInfraDoc %}
                        <a class="label label-success pull-left" style="cursor:pointer" onclick="$('#sommaire').click();">Sommaire</a>
                    {% endif %}
                    {% if app.user %}
                        <a class="label label-ambassadeur pull-right" style="cursor:pointer" onclick="$('#ambassadeurs').click();">Ambassadeurs</a>
                        <a class="label label-requete pull-right" style="cursor:pointer" onclick="$('#mesrequetes').click();">Mes requetes</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/sommaire.html.twig' %}

                {% if is_pdf == false %}
                    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/column_right.html.twig' %}
                {% endif %}

                <input type="hidden" id="objetId" style="display: none;" value="{% if contenu is defined %}{{contenu.id}}{% else %}{{objet.id}}{% endif %}">
                <input type="hidden" id="notesAutorisees" style="display: none;" value="{{objet.notes}}">

                {% if is_pdf == false %}
                    <div>
                        {# Affichage particulier pour le point-dur #}
                        {% if objet.notes %}
                            {# Ajout la moyenne de l'objet #}
                            <div id="bloc-notation-moyenne-objet" class="hidden-pdf">
                                <input type="hidden" id="note-moyenne-url" value="{{path('hopital_numerique_publication_note_moyenne_objet' ) }}">
                                <div class="bloc-star">
                                    <div class="" id="note-moyenne-etoile" data-rateit-readonly="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'false' : 'true' }}" data-url="{{ path('hopital_numerique_publication_note_add_comment') }}" data-title="{{ 'popin.comment.title'|trans }}" data-error="{{ 'popin.comment.error'|trans }}" ></div>
                                </div>
                                <div id="info-note-moyenne"></div>
                            </div>
                        {% endif %}

                        <div class="nb-views hidden-pdf">&nbsp;{{ objet.nbVue }} vues</div>

                        {% if ActivateRsxSociaux and objet.btnSociaux %}
                            <div class="reseaux-sociaux pull-right hidden-pdf">
                                <div class="tweet pull-left">
                                    {% set currentPath = app.request.getUri %}
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{currentPath|bitly}}" data-text="{{objet.titre}}" data-hashtags="HNUM" >Tweet</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                </div>
                                <div class="scoopt-it pull-left">
                                    <a href="http://www.scoop.it" class="scoopit-button" scit-position="none" {#scit-url="{{currentPath|tinyUrl}}"#} >Scoop.it</a>
                                    <script type="text/javascript" src="http://www.scoop.it/button/scit.js"></script>
                                </div>
                                <div class="linkedin pull-left">
                                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                                    <script type="IN/Share"></script>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div id="publication-resume">
                    {{objet.resume|parsePublication|glossaire_add(objet)|raw}}
                </div>

                {% if is_pdf %}
                    {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/column_right.html.twig' %}
                {% endif %}
            </div>
        {% endif %}

        {# Téléchargement fichier + synthèse #}
        {% if objet.getAbsolutePath(1) is not null or objet.getAbsolutePath(2) is not null or objet.synthese is not null %}
            <div class="download-prod-bloc col-md-6 hidden-pdf">
                <div class="wrapper">
                    {% if objet.getAbsolutePath(1) is not null %}
                        <a class="pull-left downloadLink" href="{{path('hopital_numerique_publication_front_export', {'id':objet.id, 'type': '1'})}}"> <i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(1)|upper}} ) <i class="fa fa-download violet"></i></a>
                    {% endif %}

                    <div class="clearfix"></div>
                    {% if objet.getAbsolutePath(2) is not null %}
                        <a class="pull-left downloadLink" href="{{path('hopital_numerique_publication_front_export', {'id':objet.id, 'type': '2'})}}"> <i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète ( {{objet.getTypeMime(2)|upper}} )<i class="fa fa-download violet"></i></a>
                    {% endif %}

                    <div class="clearfix"></div>
                    {% if objet.synthese is not null %}
                        <a class="downloadLink readmore synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {# Si l'utilisateur n'est pas connecté et qu'il a déjà voté #}
        {% if objet.notes and canVote %}
            <div id="bloc-notation-objet" class="col-md-6 hidden-pdf">
                <div class="wrapper">
                    <input type="hidden" id="note-sauvegarde-url" value="{{path('hopital_numerique_publication_note_add' ) }}">
                    <input type="hidden" id="note-delete-url" value="{{path('hopital_numerique_publication_note_delete' ) }}">
                    <input type="hidden" id="note-valeur" style="display: none;" value="0">
                    <div class="pull-left" style="line-height:19px;font-size: 13px;">Cette réponse vous paraît-elle utile ?</div>
                    <div class="rateit pull-left" id="note-etoile" data-rateit-step="1" data-rateit-value="{% if note is not null %}{{ note }}{% else %}0{% endif %}" data-rateit-max="5"></div>
                    <div class="message-notation text-center"></div>
                    <div class="clearfix"></div>
                </div>
                <input type="hidden" id="isContenu" name="isContenu" value="{{contenu is defined }}" />
            </div>
        {% endif %}

        <div class="clearfix"></div>

        {% if contenu is defined %}
            <div id="precedent-suivant" style="margin-top:10px" class="hidden-pdf">
                <div class="col-md-5">
                    {% if precedent is defined and precedent is not null %}
                        <a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':precedent.id, 'alias':objet.alias, 'aliasc':precedent.alias})}}" class="btn btn-default"><i class="fa fa-arrow-left" style="margin-right:10px;"></i>{{ precedentOrder ~ '. ' ~ precedent.titre|truncate(40, true, '...')}}</a>
                        <div class="clearfix"></div>
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    {% if suivant is defined and suivant is not null %}
                        <a href="{{path('hopital_numerique_publication_publication_contenu',{'id':objet.id, 'idc':suivant.id, 'alias':objet.alias, 'aliasc':suivant.alias})}}" class="btn btn-default">{{suivantOrder ~ '. ' ~ suivant.titre|truncate(40, true, '...')}}<i class="fa fa-arrow-right" style="margin-left:10px;"></i></a>
                        <div class="clearfix"></div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if contenu is defined %}
            {% if contenu.dateCreation or contenu.dateModification or ( contenu.objet.fichierModifiable and contenu.objet.fichierModifiable.sourceDocument ) %}
                <div class="col-md-12" id="date-source">
                    {% if contenu.dateCreation %}
                        {{ 'object.release_date'|trans({'%date%': contenu.dateCreation|date('d/m/Y')}) }}<br/>
                    {% endif %}
                    {% if contenu.dateModification %}
                        <a class="fancybox fancybox.ajax" href="{{ path('hopital_numerique_publication_popin_object_updates', {'object': contenu.objet.id}) }}" style="cursor: pointer;" data-toggle="tooltip" title="{{ 'object.update_details'|trans }}">{{ 'object.last_update'|trans({'%date%': contenu.dateModification|date('d/m/Y')}) }}</a><br/>
                    {% endif %}
                    {% if contenu.objet.fichierModifiable and contenu.objet.fichierModifiable.sourceDocument %}
                        Source du document : {{contenu.objet.fichierModifiable.sourceDocument}}
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            {% if objet.releaseDate or objet.dateModification or ( objet.fichierModifiable and objet.fichierModifiable.sourceDocument ) %}
                <div class="col-md-12" id="date-source">
                    {% if objet.releaseDate %}
                        {{ 'object.release_date'|trans({'%date%': objet.releaseDate|date('d/m/Y')}) }}<br/>
                    {% endif %}
                    {% if objet.dateModification %}
                        <a class="fancybox fancybox.ajax" href="{{ path('hopital_numerique_publication_popin_object_updates', {'object': objet.id}) }}" style="cursor: pointer; color: #333;" data-toggle="tooltip" title="{{ 'object.update_details'|trans }}">{{ 'object.last_update'|trans({'%date%': objet.dateModification|date('d/m/Y')}) }}</a><br/>
                    {% endif %}
                    {% if objet.fichierModifiable and objet.fichierModifiable.sourceDocument %}
                        Source du document : {{objet.fichierModifiable.sourceDocument}}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}

        {# Gestion des commantaires #}
        {% if objet.commentaires %}
            {# Cas Contenu #}
            {% if contenu is defined and contenu is not sameas(false) %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : contenu, 'isContenu' : true } %}
                {# Cas objet #}
            {% else %}
                {# Include la liste des commentaires #}
                {% include 'HopitalNumeriquePublicationBundle:Publication:Partials/liste_commentaires.html.twig' with { 'objet' : objet, 'isContenu' : false } %}
            {% endif %}
        {% endif %}

        <div class="clearfix"></div>
    </div>
{% endblock %}

{% macro sousChapitres(contenu) %}
    <ul>
        {%- for contenuChild in contenu.children -%}
            <li>
                {%- if contenuChild.hasContenu -%}
                    <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':contenuChild.objet.id,'alias':contenuChild.objet.alias,'idc':contenuChild.id,'aliasc':contenuChild.alias})}}">
                        {{ contenuChild.prefix }} {{ contenuChild }}
                    </a>
                {% else %}
                    {{ contenuChild.prefix }} {{ contenuChild }}
                {%- endif -%}

                {%- if contenuChild.children|length > 0 -%}
                    {{ _self.sousChapitres(contenuChild) }}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
{% endmacro %}

{% macro buildCarousel(objet, objets, contenu, emptyMessage, key, objetsOrder) %}
    <div id="{{key}}-slides" class="results carousel slide" data-ride="carousel" >
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% set count = 1 %}

            {% for item in objets if item['categ'] == key %}
                {% if count <= 10 %}
                    <div class="item" data-pos="{{count}}" >
                        {% if key != 'forum' %}
                            <h4>
                                <a href="{% if item['objet'] is not null %}{{ path('hopital_numerique_publication_publication_contenu', {'id':item['objet'],'alias':item['aliasO'],'idc':item['id'],'aliasc':item['aliasC']}) }}{% else %}{{ path('hopital_numerique_publication_publication_objet', {'id':item['id'],'alias':item['alias']}) }}{% endif %}">
                                {% if objetsOrder[item['id']]['parent'] is defined and objetsOrder[item['id']]['parent'] is not null  and item['objet'] is not null %}
                                    <style type="text/css">
                                        #autresResultats .top .results p { height: 70px; }
                                    </style>
                                    {{objetsOrder[item['id']]['parent'].getTitre()}}<br />
                                    <i class="fa fa-share fa-flip-vertical"></i><span style="font-size:13px;" class="gris"> {{objetsOrder[item['id']]['prefixe']}} {{item['titre']}}</span>
                                {% else %}
                                    <style type="text/css">
                                        #autresResultats .top .results p{ height: 85px; }
                                    </style>
                                    {{item['titre']}}
                                {% endif %}
                                </a>
                            </h4>

                            <p>{{ item['resume']|trim }}</p>
                        {% else %}
                            <h4>
                                <a href="{{path('ccdn_forum_user_topic_show', {'topicId':item['id']})}}">{{item['titre']}}</a>
                            </h4>
                        {% endif %}
                    </div>
                {% endif %}

                {% set count = count + 1 %}
            {% else %}
                <div class="item active">
                    <h4></h4>
                    <p class="noresult"> {{emptyMessage}} </p>
                </div>
            {% endfor %}
        </div>

        {% if count > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for i in 1..count - 1 %}
                    <li data-target="#{{key}}-slides" data-slide-to="{{i-1}}" class="pos-{{i}}" ></li>
                {% endfor %}
            </ol>

            <!-- Controls -->
            <a class="left carousel-control" href="#{{key}}-slides" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left violet"></span>
            </a>
            <a class="right carousel-control" href="#{{key}}-slides" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right violet"></span>
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% block helpBlock %}
    {{ contextualNavigationHelpBlock(contenu is defined ? contenu : objet) }}
{% endblock %}
