{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{# Template Stuff #}
{% block h1Title %}
    Liste des établissements
{% endblock %}

{% block toolbarButton %}
    {% if app.user|checkAuthorization( path('hopitalnumerique_etablissement_add') ) %}
        <a href="{{path('hopitalnumerique_etablissement_add')}}" class="btn btn-default" title="Ajouter un établissement"><i class="fa fa-plus"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
    {# Cache les lignes de filtres dans le grid #}
    {% block grid_filters %}{% endblock grid_filters%}
{% endblock %}