<div class="panel-body">
    {% form_theme form 'HopitalNumeriqueObjetBundle::formContenu.html.twig' %}
    {{ form_start(form) }}
        
        <div class="form-group">
            <div class="col-md-1">
                <label class="control-label">Titre <span style="color:red;font-size:10px" title="Ce champ est requis">*</span></label>
            </div>
            <div class="col-md-5 titre-contenu">
                {{ form_widget(form.titre) }}
            </div>
            <div class="col-md-1">
                <label class="control-label">Alias</label>
            </div>
            <div class="col-md-5 alias-contenu">
                {{ form_widget(form.alias) }}
            </div>
            <div class="col-md-5 col-md-offset-1 errorTitre">
                <div class="help-block"><p class="text-danger"></p></div>
            </div>
            <div class="col-md-5 col-md-offset-1 errorAlias">
                <div class="help-block"><p class="text-danger"></p></div>
            </div>
        </div>
        
        {{ form_row(form.contenu) }}

        <div class="form-group">
            <label class="col-md-11" >Notifier la mise à jour ?</label>
            <div class="col-md-1">
                <div class="pull-right toggle toggle-success"></div>
            </div>
            <div class="col-md-10 hide">
                {{ form_widget(form.modified) }}
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="btn-toolbar pull-right">
                    <div onclick="saveContenu();" class="btn-primary btn">Enregistrer</div>
                </div>
            </div>
        </div>
        <input type="hidden" id="contenu-id" value="{{contenu.id}}" />
        <input type="hidden" id="save-contenu-url" value="{{path('hopitalnumerique_objet_contenu_edit', {'id':contenu.id})}}" />
        <input type="hidden" id="delete-contenu-url" value="{{path('hopitalnumerique_objet_contenu_delete', {'id':contenu.id})}}" />
    {{ form_end(form) }} 
</div>

<script>
    $(document).ready(function() {
        $(".titre-contenu input").on('focus', function(){
            $(".alias-contenu input").val("");
        });

        //Toggle notif mise à jour
        $('.toggle').toggles( { on : false, text : { on : 'OUI', off : 'NON' } } ).on('toggle', function (e, active) {
            if (active) {
                $('#hopitalnumerique_objet_contenu_modified').val(1);
            } else {
                $('#hopitalnumerique_objet_contenu_modified').val(0);
            }
        });
        tinymce.PluginManager.load('table', '/bundles/nodevotools/js/tinymce/plugins/table/plugin.min.js');
        tinymce.PluginManager.load('code', '/bundles/nodevotools/js/tinymce/plugins/code/plugin.min.js');
        tinymce.PluginManager.load('pagebreak', '/bundles/nodevotools/js/tinymce/plugins/pagebreak/plugin.min.js');
        tinymce.PluginManager.load('importcss', '/bundles/nodevotools/js/tinymce/plugins/importcss/plugin.min.js');
        tinymce.PluginManager.load('image', '/bundles/nodevotools/js/tinymce/plugins/image/plugin.min.js');
        tinymce.PluginManager.load('link', '/bundles/nodevotools/js/tinymce/plugins/link/plugin.min.js');
        tinymce.PluginManager.load('media', '/bundles/nodevotools/js/tinymce/plugins/media/plugin.min.js');
        tinymce.PluginManager.load('textcolor', '/bundles/nodevotools/js/plugins/text-color/plugin.min.js');
        tinymce.PluginManager.load('publication', '/bundles/hopitalnumeriqueobjet/js/publication/plugin.min.js');
        tinymce.PluginManager.load('outil', '/bundles/hopitalnumeriqueautodiag/js/outil/plugin.min.js');
        tinymce.PluginManager.load('questionnaire', '/bundles/hopitalnumeriquequestionnaire/js/Back_gestion/plugin.min.js');
        tinymce.PluginManager.load('rechercheAidee', '/bundles/hopitalnumeriquerecherche/js/rechercheAidee/plugin.min.js');
        NodevoGestionnaireMediaBundle_MoxieManager.initTinyMce();
        
        tinyMCE.init({
            entity_encoding : "raw",
            selector        : "textarea",
            theme           : "modern",
            theme_url       : '/bundles/nodevotools/js/tinymce/themes/modern/theme.min.js',
            skin_url        : '/bundles/nodevotools/js/tinymce/skins/lightgray',
            plugins         : 'moxiemanager image table code textcolor pagebreak importcss link publication outil questionnaire rechercheAidee',
            height          : 210,
            menubar         : false,
            content_css     : '/bundles/nodevotools/css/wysiwyg.css',
            toolbar1        : "code | undo redo cut copy paste | pagebreak | link | publication | outil | questionnaire | rechercheAidee | insertfile image ",
            toolbar2        : "styleselect | bold italic underline strikethrough subscript superscript blockquote | forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table ",
            style_formats: [
                {title: 'Titres', items: [
                    {title: 'Titre 2', block: 'h2'},
                    {title: 'Titre 3', block: 'h3'},
                    {title: 'Titre 4', block: 'h4'},
                    {title: 'Titre 5', block: 'h5'},
                    {title: 'Titre 6', block: 'h6'}
                ]},
                {title: 'Blocs', items: [
                    {title: 'Paragraphe', block: 'p'}
                ]},
                {title: 'Tableaux', items: [
                    {title: 'Tableau simple', selector: 'table', classes: 'table table-striped table-bordered table-hover'}
                ]}
            ],
            importcss_append: true,
            importcss_groups: [
                {title: 'Styles personnalisés'}
            ],
            relative_urls:false
        });
    });
</script>
