{% extends 'HopitalNumeriqueAccountBundle:Formulaire:layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-expert-edit.css" filter="cssrewrite"
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/css/validationEngine.jquery.css'
        'bundles/hopitalnumeriqueuser/css/specificationUser.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-expert-editer.js"
        'bundles/hopitalnumeriqueuser/js/Expert/script.js'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/jquery.validationEngine.js'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/languages/jquery.validationEngine-fr.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block pageTitre %}Mon formulaire{% endblock %}

{% block chapoDescription %}
    <p>Tu vois, là-bas, les champs de blé ? Je ne mange pas de pain. Le blé pour moi est inutile. Les champs de blé ne me rappellent rien. Et ça, c'est triste ! Mais tu as des cheveux couleur d'or. Alors ce sera merveilleux quand tu m'auras apprivoisé ! Le blé, qui est doré, me fera souvenir de toi. Et j'aimerai le bruit du vent dans le blé...</p>
{% endblock %}

{% block contenu %}
    <div class="panel">
        blablabla
    	{# Include des données de contractualisation #}
        {{ render(controller("HopitalNumeriqueQuestionnaireBundle:Questionnaire:edit", {'user':user , 'questionnaire':questionnaire, 'routeRedirection' : routeRedirect, 'themeQuestionnaire' : themeQuestionnaire} )) }}
    
        <div class="col-md-10 col-md-offset-2">
            <input onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-success col-md-4 pull-right submit" value="ENVOYER MA CANDIDATURE" />
        </div>
    </div>
{% endblock %}