{% extends 'NodevoAdminBundle::form.html.twig' %}

{% block form_start %}
{% spaceless %}
    {% set attr = attr|default({'class': 'toValidate', 'novalidate':'novalidate'}) %}
    {{parent()}}
{% endspaceless %}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        {% if form.vars.block_prefixes.1 == 'checkbox' %}
            <div class ="form_vertical_row">
                <div class="form-group">                    
                    <div class="col-md-1">
                        {{ form_widget(form) }}
                    </div>
                    <div class="col-md-11">
                        {{ form_label(form) }}
                    </div>
                    <div class="col-md-12">                     
                        {% if form_errors(form) %}<div class="alert alert-danger col-md-12">{{ form_errors(form) }}</div>{% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>     
        {% else %}          
            <div class ="form_vertical_row">
                <div class="form-group">
                    <div class="col-md-12">
                        {{ form_label(form) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form) }}
                    </div>
                    <div class="col-md-12">
                        <div class="help-block">
                            {{ form_errors(form) }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-md-12 control-label') ~ ' required')|trim}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-md-12 control-label'))|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <span style="color:red;font-size:10px" title="Ce champ est requis">*</span>
            {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}