{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block title %}{{parent()}} - Faq{% endblock %}

{% block h1Title %}
    Gestion des éléments de la FAQ
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('nodevo_faq_faq_add') }}" title="Ajouter un élément dans la FAQ"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}
