{% extends 'HopitalNumeriqueAutodiagBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-front.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueautodiag/css/front.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-autodiag-entry.js"
        'bundles/hopitalnumeriqueautodiag/js/autodiagentry.js'
        'bundles/hopitalnumeriqueautodiag/js/AutodiagEntry/summary.js'
        'bundles/hopitalnumeriqueautodiag/js/AutodiagEntry/chapter.js'
        'bundles/hopitalnumeriqueautodiag/js/AutodiagEntry/attribute.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% if synthesisCreateForm is not null %}
        <div id="synthesisCreate" class="popin">
            {{ form_start(synthesisCreateForm) }}

            {{ form_widget(synthesisCreateForm) }}
            <input class="btn" type="submit" value="{{ "ad.synthesis.save"|trans }}" />

            {{ form_end(synthesisCreateForm) }}
        </div>
    {% endif %}

    <div id="autodiag-entry" class="row">
        <div class="col-md-3">
            {% if autodiag.instructions is not null %}
                <div id="instructions">
                    <a href="#instructions-container" class="fancybox btn btn-default">{{ "ad.autodiag.instructions"|trans }}</a>
                    <div id="instructions-container">
                        {% include '@HopitalNumeriqueAutodiag/AutodiagEntry/_instructions.html.twig' %}
                    </div>
                </div>
            {% endif %}

            {% include "@HopitalNumeriqueAutodiag/AutodiagEntry/_summary.html.twig" %}
        </div>
        <div class="col-md-9">

            <div class="autodiag-title">
                <h1>
                    {{ autodiag.title }}
                </h1>
            </div>
            <div class="synthesis-name">
                <h2>{{ entry.synthesis.name }}</h2>
            </div>

            <div class="desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet animi commodi explicabo facilis fuga incidunt itaque iure laborum, magnam maiores porro quam, quidem sed, sequi similique voluptatem voluptatibus voluptatum!
                </p>
            </div>

            <div class="chapters">
                {% for chapter in autodiag.chapters %}
                    {% include "@HopitalNumeriqueAutodiag/AutodiagEntry/_chapter.html.twig" with {'chapter': chapter} %}
                {% endfor %}

                <div class="navigation row">
                    <div class="col-md-6">
                        <button class="prev btn btn-default">
                            {{ "ad.navigation.prev"|trans }}
                        </button>
                    </div>

                    <div class="col-md-6 text-right">
                        <button class="next btn btn-default">
                            {{ "ad.navigation.next"|trans }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var entry = {{ entry.id ? entry.id : 'null' }};
        var autodiag = new AutodiagEntry($('#autodiag-entry'), entry);
    </script>

{% endblock %}
