<div class="autodiag-popin">
    <h3>{{ 'ad.front.restitution_demand.title'|trans }}</h3>
    <div class="mysep background-rose"></div>
    <p>
        {{ 'ad.front.restitution_demand.description'|transchoice(left) }}
        <br />
        {{ 'ad.front.restitution_demand.additionnal'|trans }}
    </p>
    <div>
        <a href="#" onclick="$.fancybox.close();">{{ 'ad.front.restitution_demand.back'|trans }}</a>
    </div>

    {% if autodiag.partialResultsAuthorized %}
        <div>
            <a href="{{ path("hopitalnumerique_autodiag_restitution_index", {"synthesis": synthesis.id}) }}">{{ 'ad.front.restitution_demand.continue'|trans }}</a>
        </div>
    {% endif %}
</div>
