{% trans_default_domain 'widget' %}
{% if data is not empty %}
    <div id="autodiagnostic-widget">
        <div class="widget-description">
            {{ 'Module_moncompte_services_autodiagnostics'|nodevoTexteDynamique(domaineCurrent.id)|raw|nl2br }}
        </div>

        <table class="widget-table account-table table default">
            <thead>
            <tr>
                <th>{{ 'autodiagnostic.table.autodiag'|trans }}</th>
                <th width="200">{{ 'autodiagnostic.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                {% set isPublished = item.autodiag.isPublished %}
                <tr class="parent-row">
                    <td>
                        {{ item.autodiag.title }}
                    </td>
                    <td class="actions-column">
                        {% if isPublished %}
                            <a href="{{ item.autodiag.actions.add }}" class="btn btn-sm btn-success" title="{{ 'autodiagnostic.action.new'|trans }}">
                                <i class="fa fa-plus"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% for synthesis in item.syntheses %}
                    <tr>
                        <td>
                            {% if synthesis.sharedMessage is not null %}
                                <i class="fa fa-share service-tooltip" data-toggle="tooltip" title="{{ synthesis.sharedMessage }}"></i>
                            {% endif %}
                            {% if item.autodiag.lastUpdate > synthesis.lastUpdate %}
                                <i class="fa fa-bullhorn service-tooltip" data-toggle="tooltip" title="{{ 'autodiagnostic.synthesis.updated'|trans }}"></i>
                            {% endif %}
                            {{ synthesis.lastUpdate|date('d/m/y') }}
                            -
                            {{ synthesis.completion }}%
                            -
                            {{ synthesis.isValid ? 'autodiagnostic.synthesis.state.valid'|trans : 'autodiagnostic.synthesis.state.invalid'|trans }}
                            -
                            <span class="inplace-edit-text" data-url="{{ path('hopitalnumerique_autodiag_synthesis_change_name', {'synthesis': synthesis.id}) }}" {% if synthesis.showUrl is not null %}data-field-link="{{ synthesis.showUrl }}" data-field-link-target="{{ not synthesis.sameDomain ? "_blank" }}"{% endif %}>{{ synthesis.name }}</span>
                        </td>
                        <td class="actions-column">
                            <div class="btn-group">
                                {% if synthesis.showUrl is not null %}
                                    <a href="{{ synthesis.showUrl }}" {{ not synthesis.sameDomain ? "target='_blank' " }}class="btn btn-sm btn-success" title="{{ 'autodiagnostic.action.show'|trans }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}
                                <a href="{{ synthesis.sendUrl }}" class="btn btn-sm btn-primary fancybox fancybox.ajax {{ synthesis.isValid == false ? 'disabled' }}" title="{{ 'autodiagnostic.action.send'|trans }}">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                {% if synthesis.isOwner %}
                                    {% if synthesis.isValid %}
                                        <a href="{{ synthesis.validationUrl }}" class="btn btn-sm btn-warning" title="{{ 'autodiagnostic.action.open'|trans }}">
                                            <i class="fa fa-unlock"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ synthesis.validationUrl }}" class="btn btn-sm btn-success {{ not synthesis.validationEnabled ? 'disabled' }}" title="{{ 'autodiagnostic.action.validate'|trans }}">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ synthesis.shareUrl }}" class="btn btn-sm btn-primary {{ synthesis.isValid == false ? 'disabled' }}" title="{{ 'autodiagnostic.action.share'|trans }}">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                {% if synthesis.isOwner %}
                                    <a href="{{ synthesis.deleteUrl }}" class="btn btn-sm btn-danger delete-synthesis-btn" title="{{ 'autodiagnostic.action.delete'|trans }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $('.inplace-edit-text').each(function() {
            new InplaceEditor($(this), $(this).data("url"), {'title': '{{ 'autodiagnostic.action.change_name'|trans }}'});
        });

        $('#autodiagnostic-widget').find('.delete-synthesis-btn').on('click', function () {
            return confirm('{{ 'autodiagnostic.delete.confirm'|trans }}');
        });
    </script>
{% else %}
    {{ 'autodiagnostic.not_found'|trans }}
{% endif %}
