{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% trans_default_domain 'cdp_discussion' %}

{% block title_communaute_pratique %}
    {{ 'discussion.new_discussion.text'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            new Discussion('addDiscussion');
        });
    </script>
{% endblock %}

{% block body_communaute_pratique %}

    <div id="new-discussion">
        {{ form_start(newDiscussionForm) }}
            {{ form_row(newDiscussionForm.title, {'attr': {'class': 'validate[required,maxSize[255]]'}}) }}
            {{ form_row(newDiscussionForm.content, {'attr': {'class': 'content validate[required]'}}) }}
            <input type="submit" class="btn btn-success" value="{{ 'discussion.new_discussion.form.submit.text'|trans|e }}">
        {{ form_end(newDiscussionForm) }}
    </div>

{% endblock %}
