{% trans_default_domain 'cdp_discussion' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            new Discussion();
        });
    </script>
{% endblock %}

{% if newDiscussionForm is not null %}
    <div id="new-discussion-modal" class="modal fade">
        {{ form_start(newDiscussionForm) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'discussion.new_discussion.text'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(newDiscussionForm.title, {'attr': {'class': 'validate[required]'}}) }}
                    {{ form_row(newDiscussionForm.content, {'attr': {'class': 'validate[required]'}}) }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="{{ 'discussion.new_discussion.form.submit.text'|trans|e }}">
                </div>
            </div>
        </div>
        {{ form_end(newDiscussionForm) }}
    </div>
{% endif %}

<div class="discussions">
    {% if newDiscussionForm is not null %}
        <div class="add">
            <a href="#" class="add-btn" data-toggle="modal" data-target="#new-discussion-modal">
                <i class="icon fa fa-plus-circle"></i>
                {{ 'discussion.new_discussion.text'|trans }}
            </a>
        </div>
    {% endif %}
    <div class="wrapper">
        <div class="list">
            {% for discussion in discussions %}
                {% set isStaredItem = discussion.hasHelpfulMessage or discussion.recommended %}
                <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion', {'discussion': discussion.id}) }}" class="item{{ discussion.id == currentDiscussion.id ? ' active'}}{{ isStaredItem ? ' stared' }}">

                    {% if app.user is not null and discussion.newMessageCount(app.user) > 0 %}
                        <span class="icon new-message-badge" title="{{ 'discussion.list.item.new_message_count'|transchoice(discussion.newMessageCount(app.user))|e }}">
                            {{ discussion.newMessageCount(app.user) }}
                        </span>
                    {% endif %}

                    {% if discussion.hasHelpfulMessage %}
                        <i class="icon fa fa-star"></i>
                    {% endif %}

                    {% if discussion.recommended %}
                        <i class="icon fa fa-thumbs-o-up"></i>
                    {% endif %}

                    <span class="title">
                        {{ discussion.title }}
                    </span>

                    <span class="infos">
                        {{ 'discussion.list.item.message_count'|transchoice(discussion.messages|length, {'%messageCount%': '<b>'~discussion.messages|length~'</b>'})|raw }} -
                        {{ 'discussion.list.item.last_message'|trans({'%date%': '<b>'~discussion.messages.first.createdAt|localizeddate('short', 'none')~'</b>', '%author%': '<b>'~discussion.messages.last.user.prenomNom~'</b>'})|raw }}<br />
                        {{ 'discussion.list.item.created_at'|trans({'%date%': '<b>'~discussion.createdAt|localizeddate('short', 'none')~'</b>'})|raw }}<br />
                    </span>
                </a>
            {% endfor %}
        </div>

        <div class="discussion">
            {% if currentDiscussion is not null %}
                {{ include('HopitalNumeriqueCommunautePratiqueBundle:front/discussion:discussion.html.twig', {'scope': 'public', 'discussion': currentDiscussion}) }}
            {% endif %}
        </div>
    </div>
</div>
