{% trans_default_domain 'cdp_discussion' %}

<h2 class="discussion-title">{{ discussion.title }}</h2>

<div class="messages">
    <h3 class="title">
        {{ 'discussion.message.title'|transchoice(discussion.messages.count) }}
        {% if app.user and discussion.newMessageCount(app.user) %}
            <span class="new-message">
                {{ 'discussion.message.new_message_count'|transchoice(discussion.newMessageCount(app.user), {'%highlight%': '<u>'~('discussion.message.new_message_highlight'|transchoice(discussion.newMessageCount(app.user)))~'</u>'})|raw }}
                <span class="new-message-badge">{{ discussion.newMessageCount(app.user) }}</span>
            </span>
        {% endif %}
    </h3>

    <div class="actions">
        <div class="actions-block">

        </div>

        <div class="actions-block">
            <select>
                <option></option>
                <option>Ajouter au panier</option>
            </select>
        </div>
    </div>

    {% for message in discussion.messages %}
        <div class="message">
            <div class="message-avatar">
                <div class="avatar" style="background-image: url('{{ message.user.avatarWebPath }}')"></div>
            </div>
            <div class="message-content">
                <div class="message-infos">
                    <div class="actions">
                        <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion_message_helpful', {'message': message.id}) }}" class="helpful{{ message.helpful ? ' active' }}">
                            <i class="fa fa-star-o inactive"></i>
                            <i class="fa fa-star active"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                        <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion_message_delete', {'message': message.id}) }}" onclick="return confirm('{{ 'discussion.message.actions.delete.confirm'|trans|e }}');">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    {{ 'discussion.message.item.infos'|trans({'%author%': '<b>'~message.user.prenomNom~'</b>', '%date%': message.createdAt|localizeddate('short', 'none')})|raw }}
                </div>
                <div class="message-body">
                    {{ message.content|raw }}
                </div>
            </div>
        </div>
    {% endfor %}

    {{ include('@HopitalNumeriqueCommunautePratique/front/discussion/reply.html.twig', {'form': answerDiscussionForm}) }}
</div>
