{% trans_default_domain 'cdp_discussion' %}

{% spaceless %}
    <div
        class="item-block"
        data-level="{{ level }}"
        data-global-position="{{ position }}"
    >
        <a
            href="{{ path('hopitalnumerique_communautepratique_discussions_discussion', {'discussion': discussion.id, 'group': group ? group.id : null}) }}"
            data-url="{{ scope == 'public' ? path('hopitalnumerique_communautepratique_discussions_public_desfult_discussion', {'discussion': discussion.id}) : path('hopitalnumerique_communautepratique_groupe_view_default_discussion', {'groupe': group.id, 'discussion': discussion.id}) }}"
            data-discussion-id="{{ discussion.id }}"
            class="item{{ hidden ? ' hidden' }}{{ currentDiscussion and discussion.id == currentDiscussion.id ? ' active'}}{{ isStaredItem ? ' stared' }}"
        >
            {% if app.user is not null and discussion.newMessageCount(app.user) > 0 %}
                <span class="icon new-message-badge" title="{{ 'discussion.list.item.new_message_count'|transchoice(discussion.newMessageCount(app.user))|e }}">
                    {{ discussion.newMessageCount(app.user) }}
                </span>
            {% endif %}

            {% if discussion.hasHelpfulMessage %}
                <i class="target-highlight icon fa fa-star"></i>
            {% endif %}

            {% if discussion.recommended %}
                <i class="icon fa fa-thumbs-o-up"></i>
            {% endif %}

            <span class="title">
                {{ discussion.title }}

                {% if app.user is not null and discussion.newDiscussion(app.user) > 0 %}
                    <span class="new-flag">NEW</span>
                {% endif %}
            </span>

            <span class="infos">
                {{ 'discussion.list.item.message_count'|transchoice(discussion.messages|length, {'%messageCount%': '<b>'~discussion.messages|length~'</b>'})|raw }} -
                {{ 'discussion.list.item.last_message'|trans({'%date%': '<b>'~discussion.messages.first.createdAt|date('d/m/Y')~'</b>', '%time%': '<b>'~discussion.messages.first.createdAt|date('H:i')~'</b>', '%author%': '<b>'~discussion.messages.last.user.prenomNom~'</b>'})|raw }}<br />
                {{ 'discussion.list.item.created_at'|trans({'%date%': '<b>'~discussion.createdAt|date('d/m/Y')~'</b>'})|raw }}<br />
            </span>
        </a>

        <div class="push children">
            {% if scope == 'group' %}
                {% for childrenKey, children in discussions if children.parent == discussion %}
                    {{ include('@HopitalNumeriqueCommunautePratique/front/discussion/discussion_title.html.twig', {position: childrenKey, discussion: children, level: level+1}) }}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endspaceless %}
