{% trans_default_domain 'cdp_discussion' %}

<div class="discussion-title">
    <h2>{{ discussion.title }}</h2>

    {% if discussion.groups|length %}
        <div class="group">
            {% set groupsLabel = [] %}
            {% for group in discussion.groups %}
                {% set groupsLabel = groupsLabel|merge(['<b>'~group.titre~'</b>']) %}
            {% endfor %}
            {{ 'discussion.public.discussion.from_group'|transchoice(groupsLabel|length, {'%groups%': groupsLabel|join(', ')})|raw }}
        </div>
    {% endif %}
</div>

<div class="messages">
    <h3 class="title">
        {{ 'discussion.message.title'|transchoice(discussion.messages.count) }}
        {% if app.user and discussion.newMessageCount(app.user) %}
            <span class="new-message">
                {{ 'discussion.message.new_message_count'|transchoice(discussion.newMessageCount(app.user), {'%highlight%': '<a href="#new-message">'~('discussion.message.new_message_highlight'|transchoice(discussion.newMessageCount(app.user)))~'</a>'})|raw }}
                <span class="new-message-badge">{{ discussion.newMessageCount(app.user) }}</span>
            </span>
        {% endif %}
    </h3>

    <div class="actions">
        <div class="actions-block">

        </div>

        <div class="actions-block">
            <select class="discussion-actions">
                <option></option>
                {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\DiscussionVoter::DOWNLOAD'), discussion) %}
                    <option value="{{ path('hopitalnumerique_communautepratique_discussions_download_discussion', {'discussion': discussion.id}) }}" data-action="goto">{{ 'discussion.discussion.actions.download.label'|trans }}</option>
                {% endif %}
                {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\DiscussionVoter::COPY_TO_GROUP'), discussion) %}
                    <option value="{{ path('hopitalnumerique_communautepratique_discussions_copy_discussion', {'discussion': discussion.id}) }}" data-action="modal">{{ 'discussion.discussion.actions.group_copy.label'|trans }}</option>
                {% endif %}
                <option value="{{ path('hopital_numerique_cart_add', {'objectType': 'cdp_discussion', 'objectId': discussion.id}) }}" data-action="goto">{{ 'discussion.discussion.actions.cart.label'|trans }}</option>
                <option value="" data-action="async">{{ 'discussion.discussion.actions.subscribtion.label'|trans }}</option>
                {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\DiscussionVoter::MARK_AS_RECOMMENDED'), discussion) %}
                    <option value="{{ path('hopitalnumerique_communautepratique_discussions_discussion_recommendation', {'discussion': discussion.id}) }}" data-action="goto">
                        {{ ('discussion.discussion.actions.up.label.'~(discussion.recommended ? 'up' : 'down'))|trans }}
                    </option>
                {% endif %}
            </select>
        </div>
    </div>

    {% set firstNewMessage = false %}
    {% for message in discussion.messages %}
        {% set isNewMessageId = false %}
        {% set isNewMessage = false %}
        {% if app.user and discussion.isNewMessage(app.user, message) %}
            {% if firstNewMessage == false%}
                {% set firstNewMessage = true %}
                {% set isNewMessageId = true %}
            {% endif %}

            {% set isNewMessage = true %}
        {% endif %}

        <div class="message"{{ isNewMessageId ? ' id="new-message"' }}>
            <div class="message-avatar">
                <div class="avatar" style="background-image: url('{{ message.user.avatarWebPath }}')"></div>
            </div>
            <div class="message-content">
                <div class="message-infos">
                    <div class="actions">
                        {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\MessageVoter::MARK_AS_HELPFUL'), message) %}
                            <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion_message_helpful', {'message': message.id}) }}" class="helpful{{ message.helpful ? ' active' }}">
                                <i class="fa fa-star-o inactive"></i>
                                <i class="fa fa-star active"></i>
                            </a>
                        {% endif %}

                        {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\MessageVoter::EDIT'), message) %}
                            <a href="{{ path('hopitalnumerique_communautepratique_discussions_edit_reply_discussion', {'discussion': discussion.id, 'message': message.id}) }}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        {% endif %}

                        {% if is_granted(constant('HopitalNumerique\\CommunautePratiqueBundle\\Security\\Discussion\\MessageVoter::DELETE'), message) %}
                            <a href="{{ path('hopitalnumerique_communautepratique_discussions_discussion_message_delete', {'message': message.id}) }}" onclick="return confirm('{{ 'discussion.message.actions.delete.confirm'|trans|e }}');">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% endif %}
                    </div>
                    {{ 'discussion.message.item.infos'|trans({'%author%': '<b data-toggle="tooltip" data-html="true" title="'~include('@HopitalNumeriqueCommunautePratique/front/discussion/author_tooltip.html.twig', {'user': message.user})|e~'">'~message.user.prenomNom~'</b>', '%date%': message.createdAt|localizeddate('short', 'none')})|raw }}

                    {% if message.user.communautePratiqueAnimateurGroupes.count > 0 %}
                        <span class="animator">
                            <i class="fa fa-bullhorn"></i>
                            {{ 'discussion.public.animator'|trans }}
                        </span>
                    {% endif %}

                    {% if isNewMessage %}
                        <span class="is-new">{{ 'discussion.message.item.is_new'|trans }}</span>
                    {% endif %}
                </div>
                <div class="message-body">
                    {{ message.content|raw }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if answerDiscussionForm is not null %}
        {{ include('@HopitalNumeriqueCommunautePratique/front/discussion/reply_form.html.twig', {'form': answerDiscussionForm}) }}
    {% endif %}
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="action-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
