{% trans_default_domain 'cdp_discussion' %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            new Discussion('{{ scope }}');
        });
    </script>
{% endblock %}

{% if newDiscussionForm is not null %}
    <div id="new-discussion-modal" class="modal fade">
        {{ form_start(newDiscussionForm) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'discussion.new_discussion.text'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(newDiscussionForm.title, {'attr': {'class': 'validate[required]'}}) }}
                    {{ form_row(newDiscussionForm.content, {'attr': {'class': 'validate[required]'}}) }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="{{ 'discussion.new_discussion.form.submit.text'|trans|e }}">
                </div>
            </div>
        </div>
        {{ form_end(newDiscussionForm) }}
    </div>
{% endif %}

<div class="discussions" data-base-url="{{ scope == 'public' ? path('hopitalnumerique_communautepratique_discussions_public') : path('hopitalnumerique_communautepratique_groupe_view', {'groupe': group.id})~'#discussion' }}">
    {% if newDiscussionForm is not null %}
        <div class="add">
            <a href="#" class="add-btn" data-toggle="modal" data-target="#new-discussion-modal">
                <i class="icon fa fa-plus-circle"></i>
                {{ 'discussion.new_discussion.text'|trans }}
            </a>
        </div>
    {% endif %}
    <div class="wrapper">
        {% set lazyLoadStep = 10 %}
        <div class="list" data-lazyload-step="{{ lazyLoadStep }}">
            {% set displayedItemsCount = 20 %}
            {% set currentDiscussionToShow = currentDiscussion is not null %}
            {% for discussion in discussions if scope == 'group' and discussion.parent == null %}
                {{ include('@HopitalNumeriqueCommunautePratique/front/discussion/discussion_title.html.twig') }}
            {% endfor %}

            <div class="load-more">
                <a href="#" class="btn btn-sm btn-default">{{ 'discussion.list.load_more'|trans }}</a>
            </div>
        </div>

        <div class="discussion">
            {% if currentDiscussion is not null %}
                {{ include('HopitalNumeriqueCommunautePratiqueBundle:front/discussion:discussion.html.twig', {'discussion': currentDiscussion}) }}
            {% endif %}
        </div>
    </div>
</div>
