{% trans_default_domain 'cdp_discussion' %}

<form method="post" action="{{ path('hopitalnumerique_communautepratique_move_message', {'id': message.id, 'group': group ? group.id : null}) }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            {{ 'discussion.discussion.actions.move_message.modal.title'|trans }}
        </h4>
    </div>
    <div class="modal-body">
        {% if discussions|length %}
            <select class="form-control" name="discussion" style="width: 100%;">
                {% for discussion in discussions %}
                    <option value="{{ discussion.id }}">{{ discussion.title }}</option>
                {% endfor %}
            </select>
        {% else %}
            <b>{{ 'discussion.discussion.actions.move_message.modal.empty'|trans }}</b>
        {% endif %}
    </div>
    {% if discussions|length %}
        <div class="modal-footer">
            <input type="submit" class="btn btn-success">
        </div>
    {% endif %}
</form>
