{% trans_default_domain 'cdp_discussion' %}

{% spaceless %}
    <a
        href="{{ path('hopitalnumerique_communautepratique_discussions_discussion', {'discussion': discussion.id, 'group': group ? group.id : null}) }}"
        data-url="{{ scope == 'public' ? path('hopitalnumerique_communautepratique_discussions_public_desfult_discussion', {'discussion': discussion.id}) : path('hopitalnumerique_communautepratique_groupe_view_default_discussion', {'groupe': group.id, 'discussion': discussion.id}) }}"
        data-discussion-id="{{ discussion.id }}"
        class="item item--presentation{{ currentDiscussion and discussion.id == currentDiscussion.id ? ' active'}}{{ isStaredItem ? ' stared' }}"
    >
        {% if app.user is not null and discussion.newMessageCount(app.user) > 0 %}
            <span class="icon new-message-badge" title="{{ 'discussion.list.item.new_message_count'|transchoice(discussion.newMessageCount(app.user))|e }}">
                {{ discussion.newMessageCount(app.user) }}
            </span>
        {% endif %}

        {% if discussion.hasHelpfulMessage %}
            <i class="target-highlight icon fa fa-star"></i>
        {% endif %}

        {% if discussion.recommended %}
            <i class="icon fa fa-thumbs-o-up"></i>
        {% endif %}

        <span class="title">
            {{ discussion.title }}

            {% if app.user is not null and discussion.newDiscussion(app.user) > 0 %}
                <span class="new-flag">NEW</span>
            {% endif %}
        </span>

        <span class="infos">
            {{ 'discussion.list.presentation.message_infos'|transchoice(discussion.messages|length, {'%date%': discussion.messages.first.createdAt|date('d/m/Y')})|raw }}
        </span>
    </a>
{% endspaceless %}
