{% extends "@HopitalNumeriqueAutodiag/Autodiag/edit.html.twig" %}

{% block edit_content %}

    <div class="row">
        <div class="col-md-8">
            <div>
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}
                    {{ form_row(form.file) }}
                    <div class="form-group">
                            {{ form_label(form.notify_update) }}
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="toggle toggle-success" style="margin: 6px auto 0;"></div>
                                    <div class="hide">{{ form_widget(form.notify_update) }}</div>
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.update_reason) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            {{ form_errors(form.notify_update) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="repport">
                {% block repport %}{% endblock %}
            </div>
        </div>
        <div class="col-md-4 import-history">
            <h3>Historique des imports</h3>
            {% for change in history %}
                <div>
                    {% if change.notify %}
                        <i class="fa fa-volume-up" title="{{ 'ad.autodiag.import.notified_update'|trans }}" aria-hidden="true"></i>
                    {% endif %}
                    {{ 'ad.autodiag.history.last_modified'|trans({
                        '%date%': change.dateTime|date('d/m/Y'),
                        '%time%': change.dateTime|date('H\\hi'),
                        '%username%': change.username
                    }) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $('.toggle').toggles( { on : false, text : { on : 'OUI', off : 'NON' } } ).on('toggle', function (e, active) {
            if (active) {
                console.log('test 1');
            } else {
                console.log('test 2');
            }
        });
    </script>

{% endblock %}
