{% extends "@HopitalNumeriqueAutodiag/Autodiag/edit.html.twig" %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block grid_column_id_name_cell %}
    <span class="inplace-edit-text" data-url="{{path('hopitalnumerique_autodiag_synthesis_change_name', {'synthesis': {{ row.getField('id') }}})}}">{{ value }}</span>
{% endblock %}

{% block edit_content %}
    {{ grid(grid, _self) }}

    <script>
        $('.inplace-edit-text').each(function() {
            new InplaceEditor($(this), $(this).data("url"));
        });
    </script>
{% endblock %}
