{% extends "@HopitalNumeriqueAutodiag/Autodiag/edit.html.twig" %}

{% block edit_content %}


    {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
    {{ form_start(form) }}

    {{ form_row(form.autodiag.title) }}
    {{ form_row(form.autodiag.domaines, {"attr": {"class": "select2"}}) }}
    {{ form_row(form.autodiag.questionnaire) }}
    {{ form_row(form.autodiag.instructions, {"attr": {"class": "tinyMceBasic"}}) }}
    {{ form_row(form.autodiag.partialResultsAuthorized) }}

    {% for preset in form.presets %}
        <div class="preset">
            <div class="preset-title">
                {{ ("ad.autodiag.preset_value." ~ preset.vars.data.type)|trans }}
            </div>

            <div class="preset-childs">
                {% for child in preset %}
                    <div class="preset-child">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {{ form_row(form.autodiag.synthesisAuthorized) }}

    {{ form_row(form._token) }}
    {{ form_end(form) }}

{% endblock %}
