{% extends "@HopitalNumeriqueAutodiag/Autodiag/edit.html.twig" %}

{% block edit_content %}


    {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
    {{ form_start(form) }}

    <div>
        <h2>{{ "ad.autodiag.edit.generique"|trans }}</h2>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ 'object.notify_update'|trans }}</label>
            <div class="col-md-6" style="min-height:34px;">
                <div class="col-md-2" style="margin-top:5px; padding-left:0;">
                    <div class="toggle toggle-success"></div>
                </div>
                <div class="update-reason-container hide col-md-6">
                    {{ form_widget(form.reason) }}
                </div>
            </div>
            {{ form_widget(form.notify_update) }}
        </div>
        <div>
            {{ form_row(form.autodiag.published, {"attr": {"class": "checkbox"}}) }}
            {{ form_row(form.autodiag.title) }}
            {{ form_row(form.autodiag.domaines, {"attr": {"class": "select2"}}) }}
            {{ form_row(form.autodiag.questionnaire) }}
            {{ form_row(form.autodiag.instructions, {"attr": {"class": "tinyMceBasic"}}) }}
            {{ form_row(form.autodiag.partialResultsAuthorized) }}
        </div>
    </div>

    {% for preset in form.presets %}
        <div class="preset">
            <div class="preset-title">
                <h2>{{ ("ad.autodiag.preset_value." ~ preset.vars.data.type)|trans }}</h2>
            </div>

            <div class="preset-childs">
                {{ form_errors(preset) }}
                {% for child in preset %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div>
        <h2>{{ "ad.autodiag.edit.multiple_result_treatment"|trans }}</h2>
        <div>
            {{ form_row(form.autodiag.synthesisAuthorized) }}
            {{ form_row(form.autodiag.comparisonAuthorized) }}
        </div>
    </div>

    <p>
        <h2>{{ "ad.autodiag.edit.history"|trans }}</h2>
        <div>
            {% if updates %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="100px">Date</th>
                        <th width="130px">Utilisateur</th>
                        <th width="50px">Notification</th>
                        <th width="200px">Motif</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for update in updates %}
                        <tr>
                            <td>{{ update.dateTime|date('d/m/Y H:i') }}</td>
                            <td>{{ update.username }}</td>
                            <td>{{ update.notify ? "ad.autodiag.edit.yes"|trans : "ad.autodiag.edit.no"|trans }}</td>
                            <td>{{ update.reason }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </p>

    {{ form_row(form._token) }}
    {{ form_end(form) }}

{% endblock %}
