{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-paiement-facture-suivi.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriquepaiement/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-paiement-facture-suivi.js" 
        'bundles/hopitalnumeriquepaiement/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}Suivi des paiements{% endblock %}
{% block headerDesc %}
    <p>
        A tout moment, vous pouvez éditer un état de vos frais remboursables pour émission par votre établissement d'un facture à l'ANAP.
        Cet état prend en compte toutes vos interventions et participations aux sessions de montée en compétence, après leur évaluation.
        Si elles n'apparaissent pas ci-dessous, assurez-vous dans les pages <a href="{{path('hopitalnumerique_module_inscription_index_front')}}">Montée en compétence</a> et <a href="{{path('hopital_numerique_intervention_demande_liste')}}">Interventions professionnels du réseau</a> qu'elles ont bien été évaluées.
    </p>
    <p>
        Envoyez au moins 2 fois par an votre facture jointe à l'état des remboursements à :<br/>
        ANAP - Service comptable - 23 avenue d'Italie 75013 PARIS.
    </p>
{% endblock %}

{% block content %}
    {% include 'NewAccountBundle:profile/tabs:payments.html.twig' %}

    <div class="clearfix"></div>
{% endblock %}
