{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-paiement-facture-suivi.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriquepaiement/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-paiement-facture-suivi.js" 
        'bundles/hopitalnumeriquepaiement/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}Suivi des paiements{% endblock %}
{% block headerDesc %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="{{path('hopitalnumerique_paiement_front_save')}}" method="post">
            <div class="col-md-12">
                <table class="table paiements">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date de la demande</th>
                            <th>Référent</th>
                            <th>Établissement du référent</th>
                            <th>Type</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for data in datas %}
                            <tr>
                                <td align="center"><input type="checkbox" class="checkbox" name="rows[{{data.id}}]" checked="checked" value="{{data.total}}" /></td>
                                <td>{{data.date|date('d/m/Y')}}</td>
                                <td>{{data.referent}}</td>
                                <td>{{data.type}}</td>
                                <td>{{data.total}}€</td>
                            </tr>
                            {% set total = total + data.total %}
                        {% endfor %}
                        <tr>
                            <td colspan="4" align="right">Total Facture</td>
                            <td><span class="total">{{total}}</span>€</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-success submit" value="Générer ma facture" />
            </div>
        </form>
    </div>
{% endblock %}