{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-paiement-facture-suivi.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriquepaiement/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-paiement-facture-suivi.js" 
        'bundles/hopitalnumeriquepaiement/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}Suivi des paiements{% endblock %}
{% block headerDesc %}
    <p>
        A tout moment, vous pouvez éditer un état de vos frais remboursables pour émission par votre établissement d'un facture à l'ANAP.
        Cet état prend en compte toutes vos interventions et participations aux sessions de montée en compétence, après leur évaluation.
        Si elles n'apparaissent pas ci-dessous, assurez-vous dans les pages <a href="{{path('hopitalnumerique_module_inscription_index_front')}}">Modules thématiques</a> et <a href="{{path('hopital_numerique_intervention_demande_liste')}}">Interventions ambassadeurs</a> qu'elles ont bien été évaluées.
    </p>
    <p>
        Envoyez au moins 2 fois par an votre facture jointe à l'état des remboursements à :<br/>
        ANAP - Service comptable - 23 avenue d'Italie 75013 PARIS.
    </p>
{% endblock %}

{% block content %}
    <h2>Interventions / Modules thématiques</h2>
    <form action="{{path('hopitalnumerique_paiement_front_save')}}" method="post">
        <div class="col-md-12">
            <table class="table paiements">
                <thead>
                    <tr>
                        <th class="hide"></th>
                        <th>Date</th>
                        <th>Référent Intervention</th>
                        <th>Établissement du référent</th>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for data in datas if data.total.prix is not null %}
                        <tr>
                            <td class="hide" align="center hide"><input type="checkbox" class="checkbox" name="{{data.discr}}[{{data.id}}]" checked="checked" value="{{data.total.prix}}{% if data.total.hasSupplement is defined and data.total.hasSupplement is not null and data.total.hasSupplement %}_supp{% elseif data.total.hasSupplement is defined and data.total.hasSupplement is not null and not data.total.hasSupplement %}_noSupp{% endif %}" /></td>
                            <td>{{data.date|date('d/m/Y')}}</td>
                            <td>{{data.referent}}</td>
                            <td>{{data.etab}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.total.prix}}€</td>
                        </tr>
                        {% set total = total + data.total.prix %}
                    {% else %}
                        <tr>
                            <td colspan="5" align="center"> - Aucune intervention ou module disponible - </td>
                        </tr>
                    {% endfor %}
                    {% if total != 0 %}
                        <tr class="footer" >
                            <td colspan="4" align="right">Total Facture</td>
                            <td><span class="total">{{total}}</span>€</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if total != 0 and canGenererFacture %}
                <input type="submit" class="btn btn-success submit" value="Générer ma facture" />
            {% endif %}
        </div>
    </form>
    
    <h2>Factures</h2>
    <div class="col-md-12">
        <table class="table factures">
            <thead>
                <tr>
                    <th width="100px">N°</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Etat facture</th>
                    <th width="50px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>{{facture.user.id ~ facture.id}}</td>
                        <td>{{facture.dateCreation|date('d/m/Y')}}</td>
                        <td>{{facture.total}}
                        <td>
                            {% if facture.payee %}Payée{% else %}Non payée{% endif %}
                        </td>
                        <td><a href="{{path('hopitalnumerique_paiement_front_export', {'id':facture.id})}}">Exporter</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" align="center"> - Aucune facture disponible - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
{% endblock %}
