{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-paiement-facture-suivi.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriquepaiement/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-paiement-facture-suivi.js" 
        'bundles/hopitalnumeriquepaiement/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}Suivi des paiements{% endblock %}
{% block headerDesc %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}

{% block content %}
    <h2>Interventions / Modules thématiques</h2>
    <form action="{{path('hopitalnumerique_paiement_front_save')}}" method="post">
        <div class="col-md-12">
            <table class="table paiements">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Référent Intervention</th>
                        <th>Établissement du référent</th>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for data in datas %}
                        <tr>
                            <td align="center"><input type="checkbox" class="checkbox" name="{{data.discr}}[{{data.id}}]" checked="checked" value="{{data.total}}" /></td>
                            <td>{{data.date|date('d/m/Y')}}</td>
                            <td>{{data.referent}}</td>
                            <td>{{data.etab}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.total}}€</td>
                        </tr>
                        {% set total = total + data.total %}
                    {% else %}
                        <tr>
                            <td colspan="6" align="center"> - Aucune intervention ou module disponible - </td>
                        </tr>
                    {% endfor %}
                    {% if total != 0 %}
                        <tr class="footer" >
                            <td colspan="5" align="right">Total Facture</td>
                            <td><span class="total">{{total}}</span>€</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if total != 0 %}
                <input type="submit" class="btn btn-success submit" value="Générer ma facture" />
            {% endif %}
        </div>
    </form>
    
    <h2>Factures</h2>
    <div class="col-md-12">
        <table class="table factures">
            <thead>
                <tr>
                    <th width="100px">N°</th>
                    <th>Date</th>
                    <th>Etat facture</th>
                    <th width="50px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>{{facture.user.id ~ facture.id}}</td>
                        <td>{{facture.dateCreation|date('d/m/Y')}}</td>
                        <td>
                            {% if facture.payee %}Payée{% else %}Non payée{% endif %}
                        </td>
                        <td><a href="{{path('hopitalnumerique_paiement_front_export', {'id':facture.id})}}">Exporter</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" align="center"> - Aucune facture disponible - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
{% endblock %}