{% trans_default_domain 'guided_search' %}
<div class="pull-right toolbar guided-search-toolbar">
    {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {objectType: 'guided_search', objectId: guidedSearchReference.id, btnSize: ' '}) }}
    <a
        class="btn btn-default"
        href="{{ path('hopital_numerique_recherche_parcours_homepage_front', {'id': guidedSearchReference.recherchesParcoursGestion.id}) }}"
        title="{{ 'step.back.btn.title'|trans({'%parcours_guide%': labelReferenceId|getReferenceText('')}) }}"
    >
        <i class="fa fa-arrow-circle-left"></i>
    </a>

    {% if app.user %}
        <button
                class="btn btn-default"
                title="{{ 'step.share.btn.title'|trans }}"
                data-toggle="modal"
                data-target="#guided-search-share-modal"
        >
            <i class="fa fa-exchange"></i>
        </button>

        <div id="guided-search-share-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {{ form_start(shareForm, {attr: {action: path('hopital_numerique_guided_search_step_share', {guidedSearchStep: guidedSearchStep.id})}}) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'step.share.modal.title'|trans({'%parcours_guide%': labelReferenceId|getReferenceText('')}) }}</h4>
                    </div>
                    <div class="modal-body">

                        {% if guidedSearch.shares|length %}
                            {{ 'step.share.modal.already_shared.description'|trans }}
                            <ul>
                                {% if app.user.id != guidedSearch.owner.id %}
                                    <li>{{ guidedSearch.owner.prenomNom }}</li>
                                {% endif %}
                                {% for user in guidedSearch.shares if app.user.id != user.id %}
                                    <li>{{ user.prenomNom }}</li>
                                {% endfor %}
                            </ul>
                            <hr>
                        {% endif %}

                        {{ form_row(shareForm.email) }}
                        {{ form_row(shareForm.initialData) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">{{ 'step.share.modal.save.label'|trans }}</button>
                    </div>
                    {{ form_rest(shareForm) }}
                    {{ form_end(shareForm) }}
                </div>
            </div>
        </div>
    {% endif %}

    <a href="{{ path('hopital_numerique_guided_search_risk_synthesis', {'guidedSearch': guidedSearch.id}) }}" class="btn btn-success" title="{{ 'step.synthesis.tooltip'|trans }}">
        {{ 'step.synthesis.title'|trans }}
    </a>
</div>
