{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-intervention-admin-evaluation-nouveau.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueintervention/css/evaluation.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-intervention-admin-evaluation-nouveau.js"
        'bundles/hopitalnumeriquequestionnaire/js/script.js'
        'bundles/hopitalnumeriqueintervention/js/InterventionEvaluation.js'
        'bundles/hopitalnumeriqueintervention/js/InterventionEvaluation/FormulaireCreation.js'
        'bundles/hopitalnumeriqueintervention/js/InterventionEvaluation/Evenement.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% if interventionDemande.evaluationEtatEstAEvaluer %}
        <script type="text/javascript">
            var etablissements = new Array();
            {% for etablissement in etablissements %}etablissements.push("{{ etablissement.nom }}");{% endfor %}
            $(document).ready(function() {
                HopitalNumeriqueInterventionBundle_InterventionEvaluation.setAutresEtablissements(etablissements);
            });
        </script>
    {% endif %}
{% endblock %}

{% block h1Title %}Évaluation{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopital_numerique_intervention_admin_liste') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('#do').val('save');$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
{% endblock %}

{% block body %}
    {{ render(controller(
        "HopitalNumeriqueInterventionBundle:Admin/Form/Evaluation:form",
        {
            interventionDemande:interventionDemande,
            questionnaire:questionnaire,
            optionRenderForm:optionRenderForm
        }
    )) }}
{% endblock %}