{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.forum.admin.create.layout_template %}

{%- block title -%}
    {{- 'title.admin.manage-forums.create' |trans({}, ForumBundle.translation ) -}}
{%- endblock title -%}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-forum-admin-forum-create.js"
        'bundles/hopitalnumeriqueforum/js/Forum/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{% block information_page %}
    <div class="col-md-12">
        <h3 class="violet">Forum - Administration </h3>
    </div>
{% endblock information_page %}

{%- block body_content -%}
    {%- spaceless -%}

    <section class="clearfix">
        {%- form_theme form ccdn_forum_forum.forum.admin.create.form_theme -%}
        <form action="{{- path('ccdn_forum_admin_forum_create_process') -}}"
         method="post" {{ form_enctype(form) }} class="form-horizontal toValidate" novalidate>
            <fieldset>

                <div class="form-group">
                    <div id="titre-creation">
                        <h4>
                            {{- 'title.admin.manage-forums.create' |trans({}, ForumBundle.translation ) -}}
                        </h4>
                    </div>
                </div>

                {{- form_errors(form) -}}

                {{- form_row(form.name) -}}
                
                <div class="row">
                    <button type="button" class="btn btn-link" onclick="selectionnerAllRolesCreateForum();">
                        <span class="fa fa-check-square-o"></span> Sélectionner tout
                    </button>
                    <button type="button" class="btn btn-link" onclick="deselectionnerAllRolesCreateForum();">
                        <span class="fa fa-square-o"></span> Désélectionner tout
                    </button>
                </div>

                {{form_row(form.readAuthorisedRoles)}}

                {{- form_rest(form) -}}

                <div class="row form-buttons">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-success" value="
                                {{- 'form.button.save' |trans({}, ForumBundle.translation ) -}}
                            " name="submit[post]" id="submit[post]">

                            <a class="btn btn-default" href="{{- path('ccdn_forum_admin_forum_list') -}}">
                                {{- 'form.button.cancel' |trans({}, ForumBundle.translation ) -}}
                            </a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </section>

    {%- endspaceless -%}
{%- endblock body_content -%}