{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-resultat-detail.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriqueautodiag/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block h1Title %}
    Editer un outil d'autodiagnostic : Détail d'un résultat
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_outil') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    {# Include external file for tabs : avoid duplicate code #}
                    {% include 'HopitalNumeriqueAutodiagBundle::admin-tabs.html.twig' with { 'outil' : resultat.outil, 'route': app.request.attributes.get('_route') } %}
                </div>
            </div>

            <div class="panel-body">
                <div class="sous_options">
                    <div class="btn-toolbar">
                        <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_resultat', {'id':resultat.outil.id}) }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
                        {% if fileExist %}
                            <a href="{{path('hopitalnumerique_autodiag_resultat_pdf', {'id':resultat.id})}}" class="btn btn-default" title="Télécharger le PDF du résultat"><i class="fa fa-download"></i></a>
                        {% endif %}
                    </div>
                </div>

                <div id="resultat-detail" class="content">
                    {% import _self as mySelf %}
                    
                    {% if (resultat.outil.questionnairePrealable is not null) %}
                        <h2>Questionnaire préalable</h2>
                        {% for question in questionnairePrealableQuestions %}
                            {% if question.reponses|length > 0 %}
                                {% set reponse = question.reponses[0] %}
    
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="text-right">{{ question.libelle }}</p>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="pull-left">
                                            {% if reponse.reponse is not empty %}
                                                {{ reponse.reponse }}
                                            {% elseif reponse.reference is not null %}
                                                {{ reponse.reference.libelle }}
                                            {% elseif reponse.referenceMulitple|length > 0 %}
                                                {% for reference in reponse.referenceMulitple %}
                                                    <div>{{ reference.libelle }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <p>{{resultat.remarque}}</p>
                    {% for chapitre in chapitres %}
                        <div class="chapitre-{{chapitre.id}}">
                            <h2>{{chapitre.title}}</h2>
                            
                            <hr>

                            {% if chapitre.questionsBack|length > 0 %}
                                {{ mySelf.buildQuestion(chapitre.questionsBack) }}
                            {% endif %}
                            
                            {% if chapitre.childs|length > 0 %}
                                <div class="row sous-chapitre">
                                    {% for child in chapitre.childs %}
                                        <h3>{{child.title}}</h3>
                                        
                                        {{ mySelf.buildQuestion(child.questionsBack) }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro buildQuestion(questions) %}
    {% for question in questions %}
        <div class="row">
            <div class="col-md-4">
                <p class="text-right">
                    {{question.question}} : 
                </p>
            </div>
            
            <div class="col-md-8">
                {% set options = question.options %}
                <p class="pull-left">
                    {% if question.initialValue != -1 %}
                        <span>Non concerné</span><br />
                    {% else %}
                        <span><b>Non concerné</b></span><br />
                    {% endif %}
                    
                    {% for option in options %}
                        {% set tab = option|split(';') %}
                        {%- if tab|length > 1 -%}
                            {% if tab[0] == question.initialValue %}
                                <span><b>{{tab[1]|trim}}</b></span><br />
                            {% else %}
                                <span>{{tab[1]|trim}}</span><br />
                            {% endif %}
                        {%- endif -%}
                    {% endfor %}
                </p>
                {% if question.colored and question.initialValue != -1 %}
                    <div class="icon pull-left">
                        {% if question.min == question.initialValue %}
                            <i class="fa fa-frown-o fa-2x"></i>
                        {% elseif question.max == question.initialValue %}
                            <i class="fa fa-smile-o fa-2x"></i>
                        {% else %}
                            <i class="fa fa-meh-o fa-2x"></i>
                        {% endif %}
                    </div>
                {% endif %}
                <p class="text-muted">
                    <em>{{question.remarque}}</em>
                </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
