{% if report.links|length > 0 or report.images|length > 0 or report.footnotes|length > 0 or report.tableCount > 0 %}
    {% if report.links|length > 0 %}
        <span>Liens :</span>
        <ul>
            {% for link in report.links %}
                <li><strong>{{ link['href'] }}</strong> - <em>{{ link['text'] }}</em></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if report.images|length > 0 %}
        <span>Images :</span>
        <ul>
            {% for image in report.images %}
                <li><strong>{{ image['name'] }}</strong> - <em>{{ image['alt'] }}</em></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if report.footnotes|length > 0 %}
        <span>Notes de bas de page :</span>
        <ul>
            {% for footnote in report.footnotes %}
                <li>{{ footnote }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if report.tableCount > 0 %}
        <span>Nombre de tableaux :</span> {{ report.tableCount }}
    {% endif %}
{% else %}
    RAS
{% endif %}
