{##
 # Affiche un groupe.
 #
 # @param \HopitalNumerique\CommunautePratiqueBundle\Entity\Groupe groupe Groupe
 #}
{% macro display_groupe(groupe) %}
    <div class="groupe">
        <div class="row">
            <div class="col-sm-9">
                <h2>{{ groupe.titre }}</h2>
                <p>
                    {{ groupe.descriptionCourte }} <a class="fancybox fancybox.ajax" href="{{ path('hopitalnumerique_communautepratique_groupe_panelinformations', { 'groupe':groupe.id }) }}">En savoir plus</a>
                </p>
                <div class="progression hidden-xs">
                    <div class="dates">
                        <div class="gauche">{{ groupe.dateInscriptionOuverture|date('d/m/Y') }}</div>
                        <div class="milieu">{{ groupe.dateDemarrage|date('d/m/Y') }}</div>
                        <div class="droite">{{ groupe.dateFin|date('d/m/Y') }}</div>
                    </div>
                    <div class="barre" id="date-progression-barre-{{ groupe.id }}"><div class="contenu"></div></div>
                    <div class="legende">
                        <div class="gauche">Inscription</div>
                        <div class="milieu">Démarrage</div>
                        <div class="droite">Fermeture</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <p>
                    {% if date('now') >= groupe.dateDemarrage %}
                        Nombre de contributeurs : {{ groupe.users|length }}
                    {% else %}
                        Places restantes
                        <br><strong>{{ groupe.nombrePlacesRestantes }} sur {{ groupe.nombreParticipantsMaximum }}</strong>
                    {% endif %}
                </p>
                <div class="places-progression hidden-xs" id="places-progression-barre-{{ groupe.id }}"{% if date('now') >= groupe.dateDemarrage %} style="visibility: hidden;"{% endif %}><div class="contenu"></div></div>
                {% if date('now') >= groupe.dateDemarrage %} {# Groupes en cours #}
                    {% if (app.user.hasCommunautePratiqueGroupe(groupe)) %}
                        <a class="button" href="{{ path('hopitalnumerique_communautepratique_groupe_view', { groupe: groupe.id }) }}">Travailler dans ce groupe</a>
                    {% else %}
                        <a class="button" onclick="Contact_Popup.display({{ groupe.animateurEmailsJson }}, '{{ path(app.request.get('_route')) }}', 'Je souhaite participer au groupe {{ groupe.titre|replace({ '\'':'\\\'', '"':'' }) }}');">Groupe démarré contactez l'administrateur</a>
                    {% endif %}
                {% elseif (app.user.hasCommunautePratiqueGroupe(groupe)) %}
                    <span class="button inactive">Vous êtes inscrit</span>
                {% elseif groupe.users|length >= groupe.nombreParticipantsMaximum %}
                    <a class="button" onclick="Contact_Popup.display({{ groupe.animateurEmailsJson }}, '{{ path(app.request.get('_route')) }}', 'Je souhaite participer au groupe {{ groupe.titre|replace({ '\'':'\\\'', '"':'' }) }}');">Groupe complet contactez l'animateur</a>
                {% elseif date('now') < groupe.dateInscriptionOuverture %}
                    <a class="button">Inscription dans <span class="jours-restants"><span>{{ groupe.nombreJoursRestantsAvantInscriptionOuverture }}</span> jour{{ groupe.nombreJoursRestantsAvantInscriptionOuverture > 1 ? 's' : '' }}</span></a>
                {% else %}
                    <a class="button" href="{{ path('hopitalnumerique_communautepratique_groupe_inscrit', { 'groupe':groupe.id }) }}">Rejoindre ce groupe</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            CommunautePratique_Groupe_DateProgression.displayProgression({{ groupe.id }}, {{ groupe.dateInscriptionOuverture|date('U') }}, {{ groupe.dateDemarrage|date('U') }}, {{ groupe.dateFin|date('U') }});
            CommunautePratique_Groupe_PlaceProgression.displayProgression({{ groupe.id }}, {{ groupe.nombreParticipantsMaximum }}, {{ groupe.users|length }});
        });
    </script>
{% endmacro %}

{##
 # Affiche le lien de contact des animateurs du groupe.
 #
 # @param \HopitalNumerique\CommunautePratiqueBundle\Entity\Groupe groupe Groupe
 #}
{% macro display_action_contact_animateur(groupe) %}
    <div class="contact">
        <a onclick="Contact_Popup.display({{ groupe.animateurEmailsJson }}, '{{ path( app.request.get('_route'), app.request.get('_route_params') ) }}');">
            <em class="icon-help9"></em>
            Envoyer un message<br>à l'animateur du groupe
        </a>
    </div>
{% endmacro %}

{##
 # Affiche des boutons de liens en rapport avec le groupe.
 #
 # @param \HopitalNumerique\CommunautePratiqueBundle\Entity\Groupe groupe Groupe
 #}
{% macro display_groupe_sommaire(groupe) %}
    <div class="communaute-de-pratiques-sommaire">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('hopitalnumerique_communautepratique_document_listbygroupe', { 'groupe':groupe.id }) }}"><em class="icon icon-documents7"></em> Mes documents pour ce groupe</a>
            </div>
            <div class="col-md-4">
                <a><em class="icon icon-social20"></em> Fiches des membres du groupe</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('hopitalnumerique_communautepratique_accueil_index') }}"><em class="fa fa-arrow-left"></em> Retour à la communauté</a>
            </div>
        </div>
    </div>
{% endmacro %}

{##
 # Affiche un petit bloc d'un document.
 #
 # @param \HopitalNumerique\CommunautePratiqueBundle\Entity\Document document  Document
 # @param boolean                                                    canDelete Faux par défaut, si VRAI, affiche un bouton de suppression
 # @param \Symfony\Component\Form\FormView                           checkbox  (optionnel) Affiche la checkbox du document dans le formulaire
 #}
{% macro display_bloc_document(document, canDelete = false, checkbox = null) %}
    <div data-communaute-pratique-document-id="{{ document.id }}">
        <div class="communaute-de-pratiques-document">
            {% if canDelete %}
                <div class="delete"><a onclick="CommunautePratique_Document.delete({{ document.id }});"><em class="fa fa-trash-o"></em></a></div>
            {% endif %}
            {% if checkbox is not null %}
                <div class="checkbox">{{ form_widget(checkbox) }}</div>
            {% endif %}
            <div class="icone">
                {{ document.iconeHtml|raw }}
            </div>
            <div class="contenu">
                <div class="nom"><a href="{{ path('hopitalnumerique_communautepratique_document_download', { 'document':document.id }) }}"><span title="{{ document }}">{{ document|truncate(15) }}</span> <span class="size">{{ document.sizeLibelle }}</span></a></div>
                <div class="date">Déposé le <span>{{ document.dateCreation|date('d/m/Y') }}</span></div>
            </div>
        </div>
    </div>
{% endmacro %}
