{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Accueil{% endblock %}
{% block metadesc %}Page d'accueil{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-core-default-index.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquecore/css/homepage.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="homepage" >
        <div class="home-left col-md-5" >
            {% if article.image %}
                <img src="{{article.image}}" alt="Article Home" />
            {% endif %}
            <h1>{{article.titre}}</h1>
            <p>
                {{article.resume|raw}}
            </p>

            <h3 class="violet">Actualités</h3>
            <div class="actus">
                {% if actualites %}
                    {% for actu in actualites %}
                        <div class="actu">
                            <h6>{{actu.types}}</h6>
                            <h5><a href="{{path('hopital_numerique_publication_publication_article',{'id':actu.id, 'alias':actu.alias,'categorie':actu.categories})}}">{{actu.titre}}</a></h5>
                            <p>
                                {{actu.resume|parsePublication|raw}}
                            </p>
                        </div>
                    {% endfor %}
                    <a href="{{path('hopital_numerique_publication_actualite')}}" class="readmore"><i class="common-sprite common-sprite-arrow"></i> Voir toutes les actualités</a>
                {% else %}
                - Aucunes actualités - 
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-7 home-right" >
            <div class="row">
                <div class="rechercheAideExp col-md-4">
                    <a href="javascript:rechercheAideEtBesoin();">
                        <div class="common-sprite icone"></div>
                        <h3>Recherche aidée</h3>
                        <p>
                            Je décris mon besoin, Mon Hôpital Numérique trouve la solution !
                        </p>
                    </a>
                </div>
                <div class="recherche col-md-4">
                    <a href="{{path('hopital_numerique_recherche_homepage')}}">
                        <div class="common-sprite icone"></div>
                        <h3>Recherche avancée</h3>
                        <p>
                            Je choisis mes critères de recherche, je trouve les productions utiles à mon contexte.
                        </p>
                    </a>
                </div>
                <div class="rechercheEtapeProjet col-md-4">
                    <a href="javascript:alert('Bientôt disponible.');">
                        <div class="common-sprite icone"></div>
                        <h3>Parcours guidé</h3>
                        <p>
                            Etape par étape, j'identifie les risques à venir, et les solutions pour les maîtriser.
                        </p>
                    </a>
                </div>
                
            </div>
            
            <div class="row">
                <div class="creation-compte col-md-6">
                    <div>
                        <div class="common-sprite icone"></div>
                        {% if app.user %}
                            <h3>Mon tableau de bord</h3>
                            <p>
                                Je bénéficie de nombreux services : enregistrement de mon contexte, de mes auto-diagnostics, notification des mises à jour, sollicitation d'un ambassadeur, etc.
                            </p>
                            <div class="buttons-tdb">
                                <div class="buttons-centrer">
                                    <a href="{{path('hopital_numerique_user_informations_personnelles')}}" class="btn btn-default tdb">Accès au tableau de bord</a>
                                </div>
                            </div>
                        {% else %}
                            <h3>Mon compte</h3>
                            <p>
                                En créant mon compte, je bénéficie de nombreux services {#<a target="_blank" href="{{path('hopital_numerique_publication_publication_article',{'id':BonIdAMettreICI, 'alias':BonAliasAMettreICI,'categorie':BonneCategorieAMettreICI|lower})}}">Lien vers pourquoi créer un compte.</a>.#}                             
                            </p>
                            <div class="buttons">
                                <div class="buttons-centrer">
                                    <a href="{{path('account_login')}}" class="btn btn-default login">Connexion</a>
                                    <a href="{{path('hopital_numerique_user_inscription')}}" class="btn btn-default signup">Créer un compte</a>
                                </div>
                            </div>
                        {% endif %}
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="forum">
                        <div class="common-sprite icone"></div>
                        <h3>Forums</h3>
                        <p>
                            Je partage mes questions et mon expérience avec mes pairs.
                        </p>
                        {# Mode connecté (obligé de séparer les deux car app.user|checkAuthorization pète si pas connecté car app.user = null #}
                        {% if app.user is not null %}
                            {% if app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'Experts'})) 
                               and app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'Ambassadeurs'}))
                               and app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'CMSI'}))
                            %}
                                <div class="groupe-lien">
                                    <div class="pull-left">
                                    <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Public'}) -}}">
                                        > Public
                                    </a>
                                    <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Experts'}) -}}">
                                        > Experts
                                    </a>
                                    </div>
                                    <div class="pull-left">
                                    <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Ambassadeurs'}) -}}">
                                        > Ambassadeurs
                                    </a>
                                    <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'CMSI'}) -}}">
                                        > CMSI
                                    </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            {% else %}
                                <div class="groupe-lien">
                                    <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Public'}) -}}">
                                        > Forum public
                                    </a>
                                    {% if app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'Experts'})) %}
                                        <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Experts'}) -}}">
                                            > Forum des experts
                                        </a>
                                    {% endif %}
                                    {% if app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'Ambassadeurs'})) %}
                                        <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Ambassadeurs'}) -}}">
                                            > Forum des ambassadeurs
                                        </a>
                                    {% endif %}
                                    {% if app.user|checkAuthorization(path('ccdn_forum_user_category_index', {'forumName': 'CMSI'})) %}
                                        <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'CMSI'}) -}}">
                                            > Forum des CMSI
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {# Mode non-connecté #}
                        {% else %}
                            <div class="groupe-lien">
                                <a class="btn btn-link" href="{{- path('ccdn_forum_user_category_index', {'forumName': 'Public'}) -}}">
                                    > Forum public
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}
