{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Accueil{% endblock %}
{% block metadesc %}Page d'accueil{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-core-default-index.css" filter="cssrewrite"
        'bundles/hopitalnumeriquecore/css/homepage.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="homepage" >
        <div class="home-left col-md-5" >
            <img src="{{asset('bundles/hopitalnumeriquecore/img/article-home.jpg')}}" alt="Article Home" />
            <h4>{{article.titre}}</h4>
            {{article.resume|raw}}
            <a href="{{path('hopital_numerique_publication_publication_article',{'id':article.id, 'alias':article.alias, 'categorie':categorie})}}" class="readmore"><i class="common-sprite common-sprite-arrow"></i> En savoir plus</a>

            <h3 class="violet">Actualités</h3>
            <div class="actus">
                {% for actu in actualites %}
                    <div class="actu">
                        <h6>{{actu.types}}</h6>
                        <h5>{{actu.titre}}</h5>
                        <p>
                            {{actu.resume}}
                        </p>
                    </div>
                {% endfor %}
                <a href="{{path('hopital_numerique_publication_actualite')}}" class="readmore"><i class="common-sprite common-sprite-arrow"></i> Voir toutes les actualités</a>
            </div>
        </div>
        
        <div class="col-md-7 home-right" >
            <div class="row">
                <div class="recherche col-md-6">
                    <div class="background-rose">
                        <div class="common-sprite icone"></div>
                        <a href="{{path('hopital_numerique_recherche_homepage')}}">Recherche</a>
                        <p>
                            Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum.
                        </p>
                    </div>
                </div>
                <div class="forum col-md-6">
                    <div>
                        <div class="common-sprite icone"></div>
                        <a href="javascript:alert('Forum Hôpital Numérique bientôt disponible.');">Forum</a>
                        <p>
                            Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="creation-compte col-md-12">
                    <div>
                        <div class="col-md-3">
                            <div class="common-sprite icone"></div>
                        </div>
                        <div class="col-md-9">
                            {% if app.user %}
                                <p class="titre">Tableau de bord</p>
                                <p>
                                    Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis.
                                </p>
                                <p>
                                    Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi.
                                </p>

                                <div class="buttons pull-right">
                                    <a href="{{path('hopital_numerique_user_informations_personnelles')}}" class="btn btn-default pull-right">Accès au tableau de bord</a>
                                </div>
                            {% else %}
                                <p class="titre">Creation de compte</p>
                                <p>
                                    Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis.
                                </p>
                                <p>
                                    Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi.
                                </p>

                                <div class="buttons pull-right">
                                    <a href="{{path('account_login')}}" class="btn btn-default pull-right login">Connexion</a>
                                    <a href="{{path('hopital_numerique_user_inscription')}}" class="btn btn-default pull-right signup">Création de compte</a>
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}