{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - statistiques{% endblock %}

{% block h1Title %}
    Erreurs dans les URL
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-stats-show.js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquestat/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-stats-show.css" filter="cssrewrite, ?yui_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriquestat/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Erreurs dans les URL</h4>
            </div>

            <div class="panel-body" >
                
                <div class="row hide">
                    {# Points-dur #}
                    {{ render(controller("HopitalNumeriqueStatBundle:Pointdur:index")) }}
                </div>
                
                <div class="row hide">
                    {# Recherche par parcours #}
                    {{ render(controller("HopitalNumeriqueStatBundle:RechercheParcours:index")) }}
                </div>
                
                <div class="row hide">
                    {# Requete de recherche #}
                    {{ render(controller("HopitalNumeriqueStatBundle:ItemRequete:index")) }}
                </div>
                
                <div class="row hide">
                    {# Requetes fantomes #}
                    {{ render(controller("HopitalNumeriqueStatBundle:RequeteFantome:index")) }}
                </div>
                
                <div class="row">
                    {# Erreurs dans les urls #}
                    {{ render(controller("HopitalNumeriqueStatBundle:Erreurs:index")) }}
                </div>
                
                <div class="row">
                    {# Erreurs dans les urls #}
                    {{ render(controller("HopitalNumeriqueStatBundle:ErreursAutodiag:index")) }}
                </div>
                
                <div class="row hide">
                    {# Requetes des productions #}
                    {{ render(controller("HopitalNumeriqueStatBundle:ItemRequete:indexProduction")) }}
                </div>
                
                <div class="row hide">
                    {# Statistiques recherche aidée #}
                    {{ render(controller("HopitalNumeriqueStatBundle:StatClic:index")) }}
                </div>
                
                <div class="row hide">
                    {# Statistiques des forum #}
                    {{ render(controller("HopitalNumeriqueStatBundle:Forum:index")) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
