<h3 class="pull-left">{% if chapitre.code != '' %}{{chapitre.code ~ '. '}}{% endif %}{{chapitre.title}}</h3>
<div class="options pull-right">
    <a href="{{path('hopitalnumerique_autodiag_question_add', {'id':chapitre.id})}}" class="btn btn-success addQuestion fancybox.ajax"><i class="fa fa-plus"></i></a>
</div>
<div class="clearfix"></div>
<span class="designForBlank" style="{% if questions|length >= 1 %}display:none{% endif %}">Cliquez sur le bouton '+' pour ajouter une question.</span>
<div class="dd">
    <ol class="dd-list">
        {% for question in questions %}
            <li class="dd-item dd3-item" data-id="{{question.id}}" id="question-{{question.id}}" >
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">
                    <a href="{{path('hopitalnumerique_autodiag_question_edit',{'id':question.id})}}" class="fancy fancybox.ajax" title="{{question.texte}}">{% if question.code != '' %}{{question.code ~ '. '}}{% endif %}{{question.texte|truncate(50, '...')}}</a>
                    <p class="text-muted pull-right">
                        {% if question.ponderation %}Pond. : {{question.ponderation}}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
                        Note référencement : <span>{{question.note}}</span> / 400
                    </p>
                </div>
                <div class="dd3-actions">
                    <div onclick="deleteQuestion( {{question.id}}, '{{path('hopitalnumerique_autodiag_question_delete', {'id':question.id})}}' );" class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>
                    <a href="{{path('hopitalnumerique_autodiag_reference_question', {'id':question.id})}}" class="fancy pull-right dd3-cog fancybox.ajax"><i class="fa fa-cog"></i></a>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>

<input type="hidden" id="order-question-url" value="{{path('hopitalnumerique_autodiag_question_reorder',{'id':chapitre.id})}}" />

<script type="text/javascript" >
    $('#questions div.dd').nestable({'maxDepth':1,'group':0}).on('change', function() {
        var serializedDatas = $(this).nestable('serialize');

        $.ajax({
            url  : $('#order-question-url').val(),
            data : {
                datas : serializedDatas
            },
            type     : 'POST',
            dataType : 'json',
            success  : function( data ){
                //console.log( 'reorder executed' );
            }
        });
    });

    $(document).ready(function() {
        $('.addQuestion').fancybox({
            'padding'   : 0,
            'autoSize'  : false,
            'width'     : '80%',
            'height'    : '600px',
            'scrolling' : 'no',
            'modal'     : true
        });
    });
</script>