{% import _self as tools %}

<div class="processus">
    {% for data in result.items if data.score.value is not null %}
        <div class="processus-wrapper">
            <div class="processus-item">
                <div class="processus-line head" data-value="{{ data.score.value }}">{{ data.label }}</div>
                {% for child in data.childrens %}
                    {% if child.score.value is not null %}
                        <div class="processus-line {{- tools.cssClass(child.score.value, child.colorationInversed) -}}">{{ child.label }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <span>{{ 'ad.restitution.not_concerned'|trans }}</span>
    {% endfor %}
</div>

{% macro cssClass(value, inversed) %}
    {% spaceless %}
        {% if value < (100/3) %}
            {{ inversed ? "high" : "low" }}
        {% elseif value < (2 * 100 / 3) %}
            middle
        {% else %}
            {{ inversed ? "low" : "high" }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
