{% set scoreHeadLabel = result.items.0 is defined ? result.items.0.score.label : "Score" %}

<div class="item-inner">
    <div class="tableau">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre de réponses</th>
                    <th>{{ scoreHeadLabel }}</th>
                    {% if compare is defined %}
                        <th>{{ compare.reference.name }}</th>
                        <th>Variation</th>
                    {% endif %}
                    {% for code, reference in result.references %}
                        <th>{{ reference }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in result.items %}
                    <tr class="root">
                        <td class="container-label">{{ data.label|glossaire_add(synthesis.autodiag)|raw }}</td>
                        <td>{{ data.numberOfAnswers }}/{{ data.numberOfQuestions }}</td>
                        <td>{{ data.score.value is not null ? data.score.value : '-' }}/100</td>
                        {% if data.score.reference is defined %}
                            <td>{{ data.score.reference.value is not null ? data.score.reference.value : '-' }}/100</td>
                            <td>{{ data.score.variation > 0 ? '+' ~ data.score.variation : data.score.variation }}%</td>
                        {% endif %}

                        {% for code, reference in result.references %}
                            <td>
                                {% if data.references[code] is defined %}
                                    {{ data.references[code].value }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% for children in data.childrens %}
                        <tr class="children">
                            <td class="container-label">{{ children.label|glossaire_add(synthesis.autodiag)|raw }}</td>
                            <td>{{ children.numberOfAnswers }}/{{ children.numberOfQuestions }}</td>
                            <td>{{ children.score.value is not null ? children.score.value : '-' }}/100</td>
                            {% if children.score.reference is defined %}
                                <td>{{ children.score.reference.value is not null ? children.score.reference.value : '-' }}/100</td>
                                <td>{{ children.score.variation > 0 ? '+' ~ children.score.variation : children.score.variation }}%</td>
                            {% endif %}

                            {% for code, reference in result.references %}
                                <td>
                                    {% if children.references[code] is defined %}
                                        {{ children.references[code].value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
