{% block file_row %}
    <div class="form_vertical_row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="{{ id }}">{{ label|raw }} {% if required == 'true' %}<span style="color:red;font-size:10px;font-family: 'Open Sans', sans-serif;" title="Ce champ est requis"> *</span>{% endif %}</label>
            </div>
            <div class="col-md-12">
                {% spaceless %}
                    {% if (data is not null or data is not empty) and (data.lib is not null and data.lib is not empty) %}
                        <a id="downloadFile{{ id }}" href="{{path('hopitalnumerique_reponse_download', {'reponse':data.id})}}">{{ data.lib }}</a>
                        <input id={{ id }} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                        <script>$('#{{ id }}').addClass('inputFile{{ id }}') ;$('.inputFile{{ id }}').hide();</script>
                        <div class="deleteUploadedFile{{ id }} btn btn-danger btn-xs pull-right" onclick="$('.deleteUploadedFile{{ id }}, #downloadFile{{ id }}').hide(); $('.inputFile{{ id }}').show(); $('#{{ id }}-remove').prop('checked', true)">
                            <i class="fa fa-trash-o"></i>
                        </div>
                    {% else %}
                    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                    {% endif %}
                {% endspaceless %}
            </div>
        </div>
    </div>
{% endblock file_row %}