{% extends 'NodevoAdminBundle::form.html.twig' %}

{% block file_widget %}
    {% spaceless %}
	    {% if data is not null or data is not empty %}
			<a id="downloadFile{{ id }}" href="{{path('hopitalnumerique_reponse_download', {'reponse':data.id})}}">{{ data.lib }}</a>
			<input id={{ id }} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
			<script>$('#{{ id }}').addClass('inputFile{{ id }}') ;$('.inputFile{{ id }}').hide();</script>
			<div class="deleteUploadedFile{{ id }} btn btn-danger btn-xs pull-right" >
                <i class="fa fa-trash-o" onclick="$('.deleteUploadedFile{{ id }}, #downloadFile{{ id }}').hide(); $('.inputFile{{ id }}').show();"></i>
            </div>
        {% else %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
    {% endspaceless %}
{% endblock file_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="col-md-{{ (12 / form|length)|number_format }}">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
