{% extends 'NodevoAdminBundle::form.html.twig' %}

{% block file_widget %}
    {% spaceless %}
	    {% if data is not null or data is not empty %}
			<a id="downloadFile{{ id }}" href="{{path('hopitalnumerique_reponse_download', {'reponse':data.id})}}">{{ data.lib }}</a>
			<input id={{ id }} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
			<script>$('#{{ id }}').addClass('inputFile{{ id }}') ;$('.inputFile{{ id }}').hide();</script>
			<div class="deleteUploadedFile{{ id }} btn btn-danger btn-xs pull-right" >
                <i class="fa fa-trash-o" onclick="$('.deleteUploadedFile{{ id }}, #downloadFile{{ id }}').hide(); $('.inputFile{{ id }}').show();"></i>
            </div>
        {% else %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
    {% endspaceless %}
{% endblock file_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {% if loop.index is divisible by(6) or loop.index == 1 %}<div class="row">{% endif %}
        {% if loop.index == 1 and empty_value is none%}
            <div class="col-md-2"></div>
        {% endif %}
        <div class="col-md-2">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
        {% if loop.index % 6 == 5 or loop.index == 5  %}</div>{% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block radio_widget %}
{% spaceless %}
    <input type="radio" {% if required %}class="validate[required]"{% endif %} {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio_widget %}