<div class="row">
    <div class="col-md-12">
        {{ 'Module_moncompte_competences_presentation'|nodevoTexteDynamique(domaineCurrent.id)|raw }}
        {{ form_row(form.presentation, { 'attr': {'class': 'completion' }}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <label style="vertical-align: bottom">{{ 'account.user.knowledge'|trans }}</label>
            <a href="{{ path('hopitalnumerique_reference_referencement_popin_user') }}" class="open-popin-referencement fancybox.ajax"><i class="fa fa-cog" style="font-size: 30px;"></i></a>
        </p>
    </div>
</div>

<hr>

<div class="row spacer">
    <div class="col-md-12">
        {{ 'Module_moncompte_competences_joindre_cdp'|nodevoTexteDynamique(domaineCurrent.id)|raw }}
        <div class="form_vertical_row">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">{{ 'account.cdp.join'|trans }}</label>
                </div>
            </div>
        </div>
        {% if missingInformation|length > 0 %}
            <p><a href="#" class="btn btn-primary disabled">{{ 'account.cdp.access'|trans }}</a></p>
            <p class="spacer">
                <label>{{ 'account.cdp.missingInformation'|trans }}</label>
            </p>
            {% for tabName, tabInformation in missingInformation %}
                {% if tabInformation|length > 0 %}
                    <p><a href="#tab{{ loop.index }}" data-toggle-custom>{{ tabName }}</a></p>
                    <ul>
                        {% for information in tabInformation %}
                            <li>{{ information }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>
                <a href="{{ path('hopitalnumerique_communautepratique_inscription') }}" class="btn btn-success">
                    {{ 'account.cdp.access'|trans }}
                </a>
            </p>
        {% endif %}
    </div>
</div>

<hr>

<div class="row spacer">
    <div class="col-md-12">
        {{ 'Module_moncompte_competences'|nodevoTexteDynamique(domaineCurrent.id)|raw|nl2br }}
    </div>
</div>

{% if domaineCurrent.id == 1 %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.computerSkills, { 'attr': {'class': 'select2' }}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a onclick="Contact_Popup.display({ '{{ domaineCurrent.adresseMailContact }}':'ANAP' }, '{{ path( app.request.get('_route'), app.request.get('_route_params') ) }}', 'Mon compte, ajout de logiciel');">
                    {{ 'account.user.missingComputerSkills'|trans }}
                </a>
            </p>
        </div>
    </div>
{% endif %}

<hr>

<div class="row">
    <div class="col-md-12">
        {{ 'Module_moncompte_competences_hobbies'|nodevoTexteDynamique(domaineCurrent.id)|raw }}

        <div class="form_vertical_row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="user_account_hobbies" class="control-label">
                        {{ 'account.user.hobbies'|trans }}
                    </label>
                </div>
            </div>
        </div>
        <ul class="row list-unstyled" id="reference_hobbies_form" data-prototype="{{ form_widget(form.hobbies.vars.prototype.label, {'attr': {'class': 'validate[required] hobby-input'}})|e }}">
            {% for hobby in form.hobbies %}
                <li class="col-md-12">
                    <div class="hobby-item">
                        {% if hobby.label.vars.errors|length > 0 %}
                            {{ form_widget(hobby.label) }}
                            {{ form_errors(hobby.label) }}
                        {% else %}
                            <div class="hide">{{ form_widget(hobby) }}</div>
                            {{ hobby.vars.data.label }}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="col-md-12"><button class="btn btn-success add-hobby" type="button">{{ 'account.user.hobby.add'|trans }}</button></div>
    </div>
</div>
