{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mail envoyé{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-resetting-checkEmail.css" filter="cssrewrite"
        'bundles/hopitalnumeriqueaccount/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="login">
        <h3>Mail envoyé !</h3>
        <form action="{{ path("fos_user_resetting_send_email") }}" class="form-horizontal fos_user_resetting_request" method="post" >
            <div class="background-violet"></div>
            <p class="text-center" >
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
            <div class="clearfix"></div>

            <a class="btn btn-success pull-right submit" href="{{path('hopital_numerique_homepage')}}">Retour à l'accueil</a>
        </form>
    </div>
{% endblock %}