{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Module{% endblock %}
{% block metadesc %}Modules et sessions{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-module-front-module-index.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        'bundles/hopitalnumeriquemodule/css/Front/module/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-module-front-module-index.js"
        "@fancybox_js"
        'bundles/hopitalnumeriquemodule/js/Front/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}
    <div id="module">
        {# En-tête #}
        <div class="col-md-12">
            <h3 class="violet">Module <a href="{{path('hopital_numerique_user_informations_personnelles')}}" class="pull-right">Tableau de bord</a> </h3>
        </div> 
        
        {# Listes des modules #}
        <div class="col-md-2">
            {% block menu_modules %}
                {# Render de la vue de récupérations des différentes modules #}
            {% endblock menu_modules %}
        </div>

        <div class="content col-md-10 no_padding">
            {% block content %}
                <div class="module">
                    
                    {% block chapo %}
                        <div class="col-md-12">
                            <div class="chapo">
                                <h1 class="violet">Module</h1>
                                <div class="description"><p>{% block chapo_description %}{% endblock chapo_description %}</p></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    {% endblock %}
                    
                    {% block contenu %}
                        <div class="col-md-12">
                            <div class="panel">
                                aaaa 
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    {% endblock contenu %}
                    
                </div>
            {% endblock content %}

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock body %}
