{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-account-default-index.js"
        '@jquery_gridster_js'
        "bundles/hopitalnumeriqueaccount/js/script.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-default-index.css" filter="cssrewrite, ?yui_css"
        '@jquery_gridster_css'
        'bundles/hopitalnumeriqueaccount/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block headerTitle %}Tableau de bord{% endblock %}
{% block headerDesc %}
    <p>Composez votre tableau de bord personnalisé en déplaçant les blocs pour composer une vue synthétique de votre activité sur la plateforme.</p>
{% endblock %}

{% block content %}
    <div class="gridster">
        <ul class="list-unstyled">
            <li data-row="{{userConf['messages']['row']}}" data-col="{{userConf['messages']['col']}}" data-sizex="1" data-sizey="1" data-id="messages" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-comment"></i>Messages de l'ANAP</h3>
                        <div class="options">
                            <i class="fa fa-arrows"></i>
                        </div>
                    </div>

                    <div class="panel-body">
                        {% for message in messages %}
                            <div class="message">
                                <p class="titre">{{message.title}}</p>
                                <p>{{message.content|nl2br}}</p>
                            </div>
                        {% else %}
                            <ol>
                                <li>- Aucun message -</li>
                            </ol>
                        {% endfor %}
                    </div>
                </div>
            </li>

            {% if app.user|checkAuthorization(path('hopital_numerique_requete_homepage'))  %}
                <li data-row="{{userConf['requetes']['row']}}" data-col="{{userConf['requetes']['col']}}" data-sizex="1" data-sizey="1" data-id="requetes" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{path('hopital_numerique_requete_homepage')}}"><i class="fa fa-search"></i>Nouveautés dans mes requêtes</a></h3>
                            <div class="options">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>

                        <div class="panel-body">
                            {% if requetes %}
                                <h4>Nouveautées et mises à jour</h4>
                            {% endif %}
                            <ol>
                                {% for requete in requetes %}
                                    <li>- <a href="{{path('hopital_numerique_recherche_homepage_requete',{ id : requete.id } ) }}">{{requete.nom|capitalize}}</a></li>
                                {% else %}
                                    <li>- Aucune nouveauté -</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
            {% endif %}

            {% if app.user|checkAuthorization(path('hopitalnumerique_module_inscription_index_front'))  %}
                <li data-row="{{userConf['modules']['row']}}" data-col="{{userConf['modules']['col']}}" data-sizex="1" data-sizey="1" data-id="modules" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{path('hopitalnumerique_module_inscription_index_front')}}"><i class="fa fa-adjust"></i>Mes modules</a></h3>
                            <div class="options">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>

                        <div class="panel-body">
                            <h4>Sessions à évaluer</h4>
                            <ol>
                                {% for session in sessions if session['refEtatEvaluationId'] == 28 %}
                                    <li>
                                        - <a href="{{path('hopitalnumerique_module_evaluation_form_front', {'id': session['id']})}}" title="Session du {{session['dateSession']|date('d/m/Y')}}">{{ session['titre'] }}</a>
                                        <a href="{{path('hopitalnumerique_module_inscription_attestation_front', {'id': session['moduleId']})}}"><i class="fa fa-file"></i></a>
                                    </li>
                                {% else %}
                                    <li>- Aucune session à évaluer -</li>
                                {% endfor %}
                            </ol>
                            <h4>Sessions à venir</h4>
                            <ol>
                                {% for session in sessions if session['refEtatParticipationId'] == 410 %}
                                    <li>- <a href="{{path('hopitalnumerique_module_module_show_front', {'id':session['moduleId']})}}" title="Session du {{session['dateSession']|date('d/m/Y')}}">{{ session['titre'] }}</a></li>
                                {% else %}
                                    <li>- Aucune session à venir -</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
                <li data-row="{{userConf['formateur']['row']}}" data-col="{{userConf['formateur']['col']}}" data-sizex="1" data-sizey="1" data-id="formateur" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{path('hopitalnumerique_module_inscription_index_front')}}"><i class="fa fa-users"></i>Mes modules en tant que formateur</a></h3>
                            <div class="options">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>

                        <div class="panel-body">
                            <h4>Sessions à venir</h4>
                            <ol>
                                {% for session in sessionsFormateur['after'] %}
                                    <li>- <a href="{{path('hopitalnumerique_module_inscription_index_front')}}" title="Session du {{session.dateSession|date('d/m/Y')}}" >{{ session.module.titre }}</a> ( {{session.inscriptions|length}} inscrit(s) )</li>
                                {% else %}
                                    <li>- Aucune session à venir -</li>
                                {% endfor %}
                            </ol>
                            <h4>Sessions précédentes</h4>
                            <ol>
                                {% for session in sessionsFormateur['before'] %}
                                    <li>- <a href="{{path('hopitalnumerique_module_inscription_index_front')}}" title="Session du {{session.dateSession|date('d/m/Y')}}" >{{ session.module.titre }}</a> <a href="{{path('hopitalnumerique_module_session_evaluation_front', {'id' : session.id})}}"><i class="fa fa-file"></i></a></li>
                                {% else %}
                                    <li>- Aucune session précédente -</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
            {% endif %}

            {% if app.user|checkAuthorization(path('hopital_numerique_intervention_demande_liste'))  %}
                <li data-row="{{userConf['intervention']['row']}}" data-col="{{userConf['intervention']['col']}}" data-sizex="1" data-sizey="1" data-id="intervention" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{path('hopital_numerique_intervention_demande_liste')}}"><i class="fa fa-list-alt"></i>Mes demandes interventions</a></h3>
                            <div class="options">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>

                        <div class="panel-body">
                            <ol>
                                {% if role == 'CMSI' or role == 'AMBASSADEUR' %}
                                    {% set nbOuvertes = 0 %}
                                    {% set nbInitiales = 0 %}
                                    {% set nbAcceptees = 0 %}
                                    {% set nbAmbassadeurs = 0 %}

                                    {% for intervention in interventions %}
                                        {% if intervention.evaluationEtat and intervention.evaluationEtat.id == 28 %}{% set nbOuvertes = nbOuvertes + 1 %}{% endif %}
                                        {% if intervention.interventionEtat.id == 14 %}{% set nbInitiales = nbInitiales + 1 %}{% endif %}
                                        {% if intervention.interventionEtat.id == 17 or intervention.interventionEtat.id == 18 or intervention.interventionEtat.id == 19 %}{% set nbAcceptees = nbAcceptees + 1 %}{% endif %}
                                        {% if intervention.interventionEtat.id == 21 %}{% set nbAmbassadeurs = nbAmbassadeurs + 1 %}{% endif %}
                                    {% endfor %}

                                    {% if role == 'CMSI' %}
                                        <li>Nb interventions ouvertes non évaluée : {{nbOuvertes}}</li>
                                        <li>Nb interventions initiales : {{nbInitiales}}</li>
                                        <li>Nb interventions accepté par le CMSI : {{nbAcceptees}}</li>
                                    {% else %}
                                        <li>Nb interventions ouvertes non évaluée : {{nbOuvertes}}</li>
                                        <li>Nb interventions acceptées par le CMSI : {{nbAcceptees}}</li>
                                        <li>Nb interventions acceptées par l'ambassadeur : {{nbAmbassadeurs}}</li>
                                    {% endif %}
                                {% else %}
                                    {% for intervention in interventions if intervention.interventionEtat.id != 22 and intervention.interventionEtat.id != 23 and intervention.interventionEtat.id != 26 %}
                                        <li>- <a href="{{path('hopital_numerique_intervention_demande_voir', {'id' : intervention.id})}}">Le {{intervention.dateCreation|date('d/m/Y')}} : {{intervention.interventionEtat.libelle}}</a></li>
                                    {% else %}
                                        <li>- Aucune demande en cours -</li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        </div>
                    </div>
                </li>                
            {% endif %}

            {% if factures > 0 %}
                <li data-row="{{userConf['factures']['row']}}" data-col="{{userConf['factures']['col']}}" data-sizex="1" data-sizey="1" data-id="factures" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{path('hopitalnumerique_paiement_front')}}"><i class="fa fa-credit-card"></i>Mes factures</a></h3>
                            <div class="options">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>

                        <div class="panel-body">
                            <h4>Vous pouvez envoyer une facture à l'ANAP</h4>
                            <p class="text-center">{{factures}} facture(s) émises, non payées</p>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>

    <input type="hidden" id="account-reorder-url" value="{{path('hopital_numerique_account_homepage_reorder')}}" />
{% endblock %}
