{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-account-default-index.js"
        '@jquery_gridster_js'
        "bundles/hopitalnumeriqueaccount/js/script.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-default-index.css" filter="cssrewrite, ?yui_css"
        '@jquery_gridster_css'
        'bundles/hopitalnumeriqueaccount/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block headerTitle %}Tableau de bord{% endblock %}
{% block headerDesc %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}

{% block content %}
    <div class="gridster">
        <ul class="list-unstyled">
            <li data-row="{{userConf['messages']['row']}}" data-col="{{userConf['messages']['col']}}" data-sizex="1" data-sizey="1" data-id="messages" >
                <div class="scroll">
                    {% for message in messages %}
                        <p class="titre">{{message.title}}</p>
                        <p>{{message.content|nl2br}}</p>
                    {% else %}
                        - Aucun message -
                    {% endfor %}
                </div>
            </li>
            <li data-row="{{userConf['requetes']['row']}}" data-col="{{userConf['requetes']['col']}}" data-sizex="1" data-sizey="1" data-id="requetes" >
                <div class="scroll">
                    {% for requete in requetes %}
                        <a href="{{path('hopital_numerique_recherche_homepage_requete',{ id : requete.id } ) }}">{{requete.nom|capitalize}}</a><br />
                    {% else %}
                        - Aucune requête -
                    {% endfor %}
                </div>
            </li>
            <li data-row="{{userConf['modules']['row']}}" data-col="{{userConf['modules']['col']}}" data-sizex="1" data-sizey="1" data-id="modules" >
                <div class="scroll">
                    
                </div>
            </li>
        </ul>
    </div>

    <input type="hidden" id="account-reorder-url" value="{{path('hopital_numerique_account_homepage_reorder')}}" />

    <style>
        .gridster ul li{background-color: red; color: #FFF; font-size: 35px}
        .gridster ul li .scroll{overflow: hidden; overflow-y:auto; height: 200px}
    </style>

{% endblock %}