{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Publication{% endblock %}

{% block h1Title %}
    {% if objet.id %}
        Editer une publication
    {% else %}
        Ajouter une publication <div class="toggleType toggle-success"></div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-objet-objet-edit.css" filter="cssrewrite, ?yui_css" 
        "@select2_css" 
        "@fancybox_css"
        "@validationEngine_css"
        "@jquery_toggles_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueuser/js/nSelect/style.css'
        'bundles/nodevoadmin/css/jquery.nestable.css'
        'bundles/hopitalnumeriqueobjet/css/style.css'
        'bundles/nodevoadmin/css/toggles.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-objet-objet-edit.js"
        "@nestable_js"
        "@fancybox_js" 
        "@validationEngine_js"
        "@json_js"
        "@jquery_toggles_js"
        "@select2_js"
        "@tinymce_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueuser/js/nSelect/nSelect.min.js'
        'bundles/hopitalnumeriqueobjet/js/script.js'
        'bundles/nodevogestionnairemedia/js/moxiemanager/js/moxman.loader.min.js'
        'bundles/nodevogestionnairemedia/js/MoxieManager.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        NodevoGestionnaireMediaBundle_MoxieManager.PARAMETRES_GLOBAUX_URL = '{{ url('nodevo_gestionnaire_media_moxiemanager_json_parametres') }}';
        NodevoGestionnaireMediaBundle_MoxieManager.initParametresGlobaux();
    </script>
{% endblock %}

{% block toolbarButton %}
    {% if objet.id %}
        {%- if is_granted('ROLE_SUPER_ADMIN') -%}
            <a class="btn btn-primary" href="{{ path('hopitalnumerique_objet_administration_fichierModifiable', {'id': objet.id}) }}" title="Page d'administration" style="margin-right:30px"><i class="fa fa-cogs"></i></a>
        {%- endif -%}
        <a class="btn btn-default" href="{{ path('hopitalnumerique_objet_objet_cancel', { 'id': objet.id }) }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
        <a class="btn btn-default" href="{{ path('hopital_numerique_publication_publication_objet', { 'id': objet.id }) }}" target="_blank" title="Prévisualiser"><i class="fa fa-eye"></i></a>
    {% else %}
        <a class="btn btn-default" href="{{ path('hopitalnumerique_objet_objet') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% endif %}
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if objet.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_objet_objet_delete', { 'id': objet.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li {% if not infra %}class="active"{% endif %}><a href="#objet" data-toggle="tab">Publication</a></li>
                        {% if objet.id and not objet.isArticle() %}
                            <li class="{% if infra %}active{% endif %}"><a href="#infra" data-toggle="tab">Infra-documentaire</a></li>
                            <li><a href="#productions" data-toggle="tab">Productions liées</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                {% form_theme form 'HopitalNumeriqueObjetBundle::formObjet.html.twig' %}
                
                {{ form_start(form) }}
                    {{ form_javascript(form) }}

                    <div class="tab-content">
                        <div class="tab-pane {% if not infra %}active{% endif %}" id="objet">
                            <div class="col-md-4">
                                {{ form_row(form.titre) }}
                                {{ form_row(form.alias) }}

                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}">
                                    {{ form_label(form.domaines) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.domaines) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.domaines) }}
                                        </div>
                                    </div>
                                </div>
                                
                                {{ form_row(form.etat) }}
                                {{ form_row(form.cibleDiffusion) }}
                                {{ form_row(form.roles) }}
                                {{ form_row(form.source) }}
                                <div class="form-group">
                                    {{ form_label(form.types) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.types) }}
                                    </div>
                                    <div class="col-md-9 col-md-offset-3">
                                        <div class="help-block">
                                            {{ form_errors(form.types) }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}" style="margin-bottom:0">
                                    {{ form_label(form.file) }}
                                    <div class="col-md-9">
                                        {% if objet.getAbsolutePath(1) is not null %}{% set visibility = 'none' %}{% else %}{% set visibility = 'block' %}{% endif %}
                                        <div class="inputUpload" style="display:{{visibility}}">
                                            {{ form_widget(form.file) }}    
                                        </div>

                                        {% if objet.getAbsolutePath(1) is not null %}
                                            <a class="uploadedFile pull-left" href="/{{objet.getWebPath(1)}}" target="_blank">{{objet.path}}</a>
                                            <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" data-path="hopitalnumerique_objet_objet_path" ><i class="fa fa-trash-o"></i></div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="help-block">
                                                {{ form_errors(form.file) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}" style="margin-bottom:0">
                                    {{ form_label(form.file2) }}
                                    <div class="col-md-9">
                                        {% if objet.getAbsolutePath(2) is not null %}{% set visibility = 'none' %}{% else %}{% set visibility = 'block' %}{% endif %}
                                        <div class="inputUpload" style="display:{{visibility}}">
                                            {{ form_widget(form.file2) }}    
                                        </div>

                                        {% if objet.getAbsolutePath(2) is not null %}
                                            <a class="uploadedFile pull-left" href="/{{objet.getWebPath(2)}}" target="_blank">{{objet.path2}}</a>
                                            <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" data-path="hopitalnumerique_objet_objet_path2" ><i class="fa fa-trash-o"></i></div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="help-block">
                                                {{ form_errors(form.file2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="vignetteBlock form-group {% if not objet.isArticle() %}hide{% endif %}">
                                    {{ form_label(form.vignette) }}
                                    <div class="col-md-9">
                                        <div class="input-group" >
                                            {{ form_widget(form.vignette) }}
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-info" onclick="moxman.browse({fields: 'hopitalnumerique_objet_objet_vignette', no_host: true});">Parcourir</button>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-md-offset-3">
                                        <div class="help-block">
                                            {{ form_errors(form.vignette) }}
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group {% if objet.isArticle() %}hide{% endif %}">
                                    {{ form_label(form.ambassadeurs) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.ambassadeurs) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.ambassadeurs) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group {% if objet.isArticle() == false %}hide{% endif %}">
                                    {{ form_label(form.alaune) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.alaune) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.publicationPlusConsulte) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.publicationPlusConsulte) }}
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    {{ form_label(form.btnSociaux) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.btnSociaux) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.btnSociaux) }}
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    {{ form_label(form.commentaires) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.commentaires) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.commentaires) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.notes) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.notes) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.notes) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.dateParution) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.dateParution) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.dateParution) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.dateCreation) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.dateCreation) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.dateCreation) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.dateDebutPublication) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.dateDebutPublication) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.dateDebutPublication) }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    {{ form_label(form.dateFinPublication) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.dateFinPublication) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.dateFinPublication) }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    {{ form_label(form.dateModification) }}
                                    <div class="col-md-5">
                                        {{ form_widget(form.dateModification) }}
                                    </div>
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="help-block">
                                            {{ form_errors(form.dateModification) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group {% if not objet.id or (objet.id and objet.isArticle()) %}hide{% endif %}">
                                    <label class="col-md-11" >Notifier la mise à jour ?</label>
                                    <div class="col-md-1">
                                        <div class="pull-right toggle toggle-success"></div>
                                    </div>
                                    <div class="col-md-10 hide">
                                        {{ form_widget(form.modified) }}
                                    </div>
                                </div>
                                <div class="form-group {% if not objet.id or (objet.id and objet.isArticle()) %}hide{% endif %}">
                                    <label class="col-md-2" for="hopitalnumerique_objet_objet_references">Références</label>
                                    <div class="col-md-10">
                                        <a href="{{path('hopitalnumerique_objet_reference_objet_own', {'id':objet.id})}}" class="manageReferences btn btn-xs btn-primary fancybox.ajax pull-right"><i class="fa fa-eye"></i></a>
                                        <a href="{{path('hopitalnumerique_objet_reference_objet', {'id':objet.id})}}" class="manageReferences edit btn btn-xs btn-primary fancybox.ajax pull-right"><i class="fa fa-cog"></i></a>
                                        <p class="text-muted text-right pull-right">Note référencement : <span class="nbRefs">{{note|number_format(2,',')}}</span> / 400</p>
                                    </div>
                                    <div class="col-md-10 hide">
                                        {{ form_widget(form.references) }}
                                    </div>
                                    <div class="col-md-12">
                                        <div class="help-block">
                                            {{ form_errors(form.references) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="hopitalnumerique_objet_objet_resume">{% if objet.isArticle() %}Texte de l'article{% else %}Résumé{% endif %} <span style="color:red;font-size:10px" title="Ce champ est requis">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(form.resume) }}
                                    </div>
                                    <div class="col-md-12">
                                        <div class="help-block">
                                            {{ form_errors(form.resume) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group blocSynthese {% if objet.isArticle() %}hide{% endif %}">
                                    <div class="col-md-12">
                                        <label for="hopitalnumerique_objet_objet_synthese">Synthèse</label>
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(form.synthese) }}
                                    </div>
                                    <div class="col-md-12">
                                        <div class="help-block">
                                            {{ form_errors(form.synthese) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if objet.id %}
                            <div class="tab-pane {% if infra %}active{% endif %}" id="infra">
                                <div class="btn btn-primary addContenu" title="Ajouter un contenu"><i class="fa fa-plus"></i></div>
                                <a class="btn btn-success reloadContenu" title="Recharger le sommaire" href="{{path('hopitalnumerique_objet_objet_edit',{'id':objet.id,'infra':1})}}" ><i class="fa fa-refresh"></i></a>
                                <a class="btn btn-warning uploadSommaire fancybox.ajax" style="{% if contenus|length >= 1 %}display:none{% endif %}" title="Uploader un sommaire en CSV" href="{{path('hopitalnumerique_objet_contenu_upload')}}" ><i class="fa fa-upload"></i></a>

                                <fieldset>
                                    <legend>Sommaire</legend>

                                    <p class="designForBlank" style="{% if contenus|length >= 1 %}display:none{% endif %}">Cliquez sur le bouton '+' pour ajouter un élément dans votre sommaire.</p>
                                    <div class="dd" id="sommaire">
                                        <ol class="dd-list">
                                            {% import _self as mySelf %}
                                            {% for contenu in contenus %}
                                                {{ mySelf.buildTree(contenu) }}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </fieldset>

                                <div class="well well-lg" id="edition-infradox">
                                    <span class="selectionInfradoc">Vous devez sélectionner un élément avant de pouvoir l'éditer.</span>
                                    <div class="results">
                                    </div>
                                    <input type="hidden" class="infradoc" value="0" />
                                </div>

                            </div>

                            <div class="tab-pane" id="productions">
                                <a href="{{path('hopitalnumerique_objet_objet_addLink', {'id':objet.id})}}" class="addProd fancy fancybox.ajax btn btn-default pull-right" title="Ajouter une production liée"><i class="fa fa-plus"></i></a>

                                {# Liste des prod maitrisées #}
                                <fieldset>
                                    <legend>Productions liées</legend>

                                    <p class="designForBlank" style="{% if productions|length >= 1 %}display:none{% endif %}">Cliquez sur le bouton '+' pour lier une production.</p>
                                    <div class="dd" id="productions-nestable">
                                        <ol class="dd-list">
                                            {% import _self as mySelf %}
                                            {% for production in productions %}
                                                {{ mySelf.buildProductionListe(production, objet.id) }}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </fieldset>
                            </div>
                        {% endif %}
                    </div>
                {{ form_end(form) }}
            </div>
            
            {% if objet.id %}
                <input type="hidden" id="add-contenu-url" value="{{path('hopitalnumerique_objet_contenu_add', {'id':objet.id})}}" />
                <input type="hidden" id="reorder-objet-url" value="{{path('hopitalnumerique_objet_contenu_reorder')}}" />
                <input type="hidden" id="reorder-prods-url" value="{{path('hopitalnumerique_objet_objet_reorder', {'id':objet.id})}}" />
                <input type="hidden" id="objet-id" value="{{objet.id}}" />
                <input type="hidden" id="save-references-objet-url" value="{{path('hopitalnumerique_objet_reference_objet_save',{'id':objet.id})}}" />
                <input type="hidden" id="parse-upload-url" value="{{path('hopitalnumerique_objet_contenu_uploadparse',{'id':objet.id})}}" />
                <input type="hidden" id="save-references-contenu-url" value="{{path('hopitalnumerique_objet_reference_contenu_save')}}" />
            {% endif %}
            <input type="hidden" id="toRef" value="{{toRef}}" />
            <input type="hidden" id="getObjets" value="{{path('hopitalnumerique_objet_objet_getObjets')}}" />
            <input type="hidden" id="getOutils" value="{{path('hopitalnumerique_autodiag_get_outils')}}" />
            <input type="hidden" id="getQuestionnaires" value="{{path('hopitalnumerique_questionnaire_get_questionnaires')}}" />
            <input type="hidden" id="objet-file-url" value="{{path('hopitalnumerique_objet_objet_isFileExist')}}" />
            <input type="hidden" id="objet-addobjet-url" value="{{path('hopitalnumerique_objet_objet_add')}}" />
            <input type="hidden" id="objet-addarticle-url" value="{{path('hopitalnumerique_objet_objet_add', {'type':2})}}" />
        </div>
    </div>
{% endblock %}

{% macro buildTree(contenu) %}
    <li class="dd-item dd3-item" data-id="{{contenu.id}}" id="contenu-{{contenu.id}}" >
        <div class="dd-handle dd3-handle"></div>
        <div class="dd3-content">
            <a data-url="{{path('hopitalnumerique_objet_contenu_form', {'id':contenu.id})}}" href="javascript:selectChapitre({{contenu.id}}, '{{path('hopitalnumerique_objet_contenu_form', {'id':contenu.id})}}')" title="{{contenu.titre}}">{{contenu.order ~ ' ' ~ contenu.titre|truncate(50)}}</a>
            <p class="text-muted pull-right">{{contenu.nbVue}} vues - Note réf. : <span>{{contenu.note|round(2)}}</span> / 400</p>
        </div>
        <div class="dd3-actions">
            <div onclick="deleteContenu( {{contenu.id}}, '{{path('hopitalnumerique_objet_contenu_delete', {'id':contenu.id})}}' );" class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>
            <a href="{{path('hopitalnumerique_objet_reference_contenu_own', {'id':contenu.id})}}" class="pull-right dd3-eye manageReferences fancybox.ajax"><i class="fa fa-eye"></i></a>
            <a href="{{path('hopitalnumerique_objet_reference_contenu', {'id':contenu.id})}}" class="pull-right dd3-cog manageReferences fancybox.ajax"><i class="fa fa-cog"></i></a>
        </div>
        
        {% if contenu.childs %}
            <ol class="dd-list">
                {% import _self as mySelf %}
                {% for child in contenu.childs %}
                    {{ mySelf.buildTree(child) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endmacro %}

{% macro buildProductionListe(production, objetId) %}
    <li class="dd-item dd3-item" data-id="{{production.brut}}" id="prod-{{production.id}}" >
        <div class="dd-handle dd3-handle"></div>
        <div class="dd3-content">
            {{production.titre}}
        </div>
        <div class="dd3-actions">
            <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_objet_objet_deleteLink', { 'pointDur':objetId, 'id': production.id, 'obj': production.isObjet }) }}");' class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>
        </div>
    </li>
{% endmacro %}



