{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block title %}{{parent()}} - Publication{% endblock %}

{% block h1Title %}
    Gestion des publications
{% endblock %}

{% block toolbarButton %}
    {% if app.user|checkAuthorization( path('hopitalnumerique_objet_objet_add') ) %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_objet_objet_add') }}" title="Ajouter une publication"><i class="fa fa-plus"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}