{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Publication{% endblock %}

{% block h1Title %}
    Fiche Objet
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_objet_objet') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if objet.id %}
        <a class="btn btn-default" href="{{ path('hopital_numerique_publication_publication_objet', { 'id': objet.id }) }}" target="_blank" title="Prévisualiser"><i class="fa fa-eye"></i></a>
        <a href="{{ path('hopitalnumerique_objet_objet_edit', { 'id': objet.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Titre : </strong>
                            {{ objet.titre }}
                        </p>
                        <p>
                            <strong>Alias : </strong>
                            {{ objet.alias }}
                        </p>
                        <p>
                            <strong>Etat : </strong>
                            {{ objet.etat.libelle }}
                        </p>
                        <p>
                            <strong>Accès interdit aux groupes : </strong>
                            {{ objet.roles|rearangeDatas('name') }}
                        </p>
                        
                        <p>
                            <strong>Types d'objet : </strong>
                            {{ objet.types|rearangeDatas('libelle') }}
                        </p>

                        {% if objet.getAbsolutePath(1) is not null %}
                            <p>
                                <strong>Fichier : </strong>
                                <a href="/{{objet.getWebPath(1)}}" target="_blank">{{objet.path}}</a>
                            </p>
                        {% endif %}
                        
                        <p>
                            <strong>Ambassadeurs concernés : </strong>
                            {{ objet.ambassadeurs|rearangeDatas('prenomNom') }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        {% if objet.commentaires %}
                            <p>
                                <strong>Les commentaires sont autorisés sur cet objet</strong>
                            </p>
                        {% endif %}
                        {% if objet.notes %}
                            <p>
                                <strong>Les notes sont autorisées sur cet objet</strong>
                            </p>
                        {% endif %}
                        {% if objet.lock %}
                            <p>
                                <strong>Cet objet est vérouillé</strong>
                            </p>
                        {% endif %}
                        

                        {% if objet.dateParution %}
                            <p>
                                <strong>Date de parution : </strong>
                                {{ objet.dateParution|date('d/m/Y') }}
                            </p>
                        {% endif %}
                        <p>
                            <strong>Date de création de l'objet : </strong>
                            {{ objet.dateCreation|date('d/m/Y') }}
                        </p>

                        {% if objet.dateDebutPublication %}
                            <p>
                                <strong>Date de début de la publication : </strong>
                                {{ objet.dateDebutPublication|date('d/m/Y') }}
                            </p>
                        {% endif %}
                        {% if objet.dateFinPublication %}
                            <p>
                                <strong>Date de fin de publication : </strong>
                                {{ objet.dateFinPublication|date('d/m/Y') }}
                            </p>
                        {% endif %}
                        {% if objet.dateModification %}
                            <p>
                                <strong>Date de dernière modification : </strong>
                                {{ objet.dateModification|date('d/m/Y') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <strong>Synthese : </strong><br />
                            <div class="well">
                                {{ objet.synthese|raw }}
                            </div>
                        </p>
                        <p>
                            <strong>Resume : </strong><br />
                            <div class="well">
                                {{ objet.resume|raw }}
                            </div>
                        </p>
                        <p>
                            <strong>Les outils d'autodiagnostics suivants sont susceptibles de remonter dans les résultats : </strong><br />
                            <div class="well">
                                <ul>
                                    {% for outil in outils %}
                                        <li>{{outil.title}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </p>
                        {% if logs %}
                            <p>
                                <strong>Historique : </strong><br />
                                <div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th width="100px">Type</th>
                                                <th width="130px">Date</th>
                                                <th width="200px">Utilisateur</th>
                                                <th width="180px">Champ</th>
                                                <th>Valeur</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for log in logs %}
                                                {% set nbRows = log.data|length %}
                                                {% for key,data in log.data %}
                                                    <tr>
                                                        {% if loop.first %}
                                                            <td rowspan="{{nbRows}}">{% if log.action == 'update' %}Mise à jour{% else %}Création{% endif %}</td>
                                                            <td rowspan="{{nbRows}}">{{log.loggedAt|date('d/m/Y H:i')}}</td>
                                                            <td rowspan="{{nbRows}}">{{log.username|title}}</td>
                                                        {% endif %}
                                                        <td>{{key}}</td>
                                                        <td>{{data|formateHistoryValue}}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
