{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-expert-activite.css" filter="cssrewrite, ?yui_css"
        "@select2_css"
        "@validationEngine_css"
        'bundles/hopitalnumeriqueexpert/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-expert-activite.js"
        "@validationEngine_js"
        "@select2_js"
        'bundles/hopitalnumeriqueexpert/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block h1Title %}
    {% if activiteexpert.id %}
        Editer une activité d'expert
    {% else %}
        Ajouter une activité d'expert
    {% endif %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_expert_expert_activite') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>

    
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Gestion date(s) fictive(s)</h4>
            </div>

            <div class="panel-body">
                {# En-tête : form #}
                <div class="row">
                {# Formulaire d'ajout d'une réponse #}
                    <div id="form_date_fictive" class="col-md-6">
                        <form id="hopitalnumerique_reponse" novalidate="novalidate" class="form-horizontal toValidate" action="" method="post" name="hopitalnumerique_reponse">
                            <div class="form-group">
                                <label class="col-sm-4 control-label required" for="libelle_reponse">
                                    Choisir une nouvelle date
                                    <span title="Ce champ est requis" style="color:red;font-size:10px">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" id="date_fictive" name="date_fictive" required="required" class="validate[required] form-control">
                                </div>
                                <input type="hidden" name="question" id="expBesoinId" value="id" />
                                <input type="hidden" name="autreQuestion" id="autreQuestion" value="true" />
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <div class="options pull-right">
                            <span class="designForBlank" style="margin-right:10px;">Cliquez sur le bouton '+' pour ajouter une date fictive.</span>
                            <div onclick="addDateFictive('{{path('hopitalnumerique_expert_expert_ajout_date_fictive', {'id':activiteexpert.id})}}' );" class="btn btn-success addReponse"><i class="fa fa-plus"></i></div>
                        </div>
                    </div>
                </div>

                {# Liste des dates #}
                <div class="row">
                    <div id="dates-fictives">
                        {{ render(controller("HopitalNumeriqueExpertBundle:DateFictive:list", {'id':activiteexpert.id} )) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
