{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block h1Title %}
    Gestion des activtés d'expert
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_expert_expert_activite_add') }}" title="Ajouter une activité d'expert"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}

