{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche d'activité d'expert
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_expert_expert_activite') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if activiteexpert.id %}
        <a href="{{ path('hopitalnumerique_expert_expert_activite_edit', { 'id': activiteexpert.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Id : </strong>
                    {{ activiteexpert.id }}
                </p>
                <p>
                    <strong>Titre : </strong>
                    {{ activiteexpert.titre }}
                </p>
                <p>
                    <strong>Datedebut : </strong>
                    {{ activiteexpert.dateDebut }}
                </p>
                <p>
                    <strong>Datefin : </strong>
                    {{ activiteexpert.dateFin }}
                </p>
                <p>
                    <strong>Nbvacationparexpert : </strong>
                    {{ activiteexpert.nbVacationParExpert }}
                </p>
                <p>
                    <strong>Etatvalidation : </strong>
                    {{ activiteexpert.etatValidation }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
