{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% trans_default_domain 'cdpNews' %}

{% block title_communaute_pratique %}Actualités de la communauté{% endblock %}

{% block communaute_pratique_actions %}
    {{ selectedDomainSelector() }}
    {{ parent() }}
    {{ communaute_pratique.display_action_contact_invitation() }}
{% endblock %}

{% block body_communaute_pratique %}

    <div class="news">
        <div class="blocks">

            <a href="{{ path('hopitalnumerique_communautepratique_discussions_public') }}" class="block">
                <h2 class="block-title">{{ 'news.brick.chat_room.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.chat_room.topic_count'|transchoice(publicDiscussionCount) }}</li>
                    <li>{{ 'news.brick.chat_room.message_count'|transchoice(publicMessageCount) }}</li>
                </ul>
            </a>

            <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}" class="block">
                <h2 class="block-title">{{ 'news.brick.help_groups.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.help_groups.group_count'|transchoice(runningGroupCount) }}</li>
                    <li>{{ 'news.brick.help_groups.contributor_count'|transchoice(contributorsCount) }}</li>
                    <li>{{ 'news.brick.help_groups.message_count'|transchoice(groupMessageCount) }}</li>
                    <li>{{ 'news.brick.help_groups.file_count'|transchoice(groupMessageFileCount) }}</li>
                </ul>
            </a>

            <a href="{{ path('hopitalnumerique_communautepratique_user_list') }}" class="block">
                <h2 class="block-title">{{ 'news.brick.community.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.community.member_count'|transchoice(cdpUserCount) }}</li>
                    <li>{{ 'news.brick.community.organization_count'|transchoice(cdpOrganizationCount) }}</li>
                </ul>
            </a>

            {% if not app.user %}
                {% set groupLink = path('account_login') %}
                <a href="{{ groupLink }}" class="block">
            {% elseif not app.user.inscritCommunautePratique %}
                {% set groupLink = path('hopital_numerique_publication_publication_article', {id: cdpArticle.id, categorie: 'article', alias: cdpArticle.alias}) %}
                <a href="{{ groupLink }}" class="block">
            {% else %}
                <div class="block">
            {% endif %}

                {% if app.user is null %}
                    {{ 'news.brick.my_groups.not_logged'|trans|nl2br }}
                {% elseif app.user.inscritCommunautePratique == false %}
                    {{ 'news.brick.my_groups.not_member'|trans|nl2br }}
                {% else %}
                    <h2 class="block-title">{{ 'news.brick.my_groups.title'|trans|nl2br }}</h2>

                    {% if userRecentGroups|length > 0 %}
                        <ul>
                            {% for group in userRecentGroups %}
                                <li>
                                    <a href="{{ path('hopitalnumerique_communautepratique_groupe_view', {groupe: group.id}) }}">
                                        {{ group.titre }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ 'news.brick.my_groups.list.empty'|trans }}

                        <hr>

                        <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}" class="btn btn-primary btn-sm btn-block" title="{{ 'news.brick.my_groups.list.link.title'|trans|e }}">
                            {{ 'news.brick.my_groups.list.link.text'|trans }}
                        </a>
                    {% endif %}

                {% endif %}
            </{{ groupLink is defined ? 'a' : 'div' }}>
        </div>
    </div>

    <div class="news-wall">

        {% for item in wallItems %}
            {{ include('@HopitalNumeriqueCommunautePratique/Actualite/item/'~item.type~'.html.twig') }}
        {% endfor %}

    </div>

{% endblock body_communaute_pratique %}

