{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% trans_default_domain 'cdpNews' %}

{% block title_communaute_pratique %}Actualités{% endblock %}

{% block communaute_pratique_actions %}
    <select name="" id="">
        {% for domain in availableDomains if domain.communautePratiqueGroupes.count > 0 %}
            <option value="{{ domain.id }}">{{ domain.nom }}</option>
        {% endfor %}
    </select>

    {{ parent() }}
{% endblock %}

{% block body_communaute_pratique %}
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h2>{{ 'news.brick.chat_room.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.chat_room.topic_count'|transchoice(0) }}</li>
                    <li>{{ 'news.brick.chat_room.message_count'|transchoice(0) }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h2>{{ 'news.brick.help_groups.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.help_groups.group_count'|transchoice(0) }}</li>
                    <li>{{ 'news.brick.help_groups.contributor_count'|transchoice(0) }}</li>
                    <li>{{ 'news.brick.help_groups.message_count'|transchoice(0) }}</li>
                    <li>{{ 'news.brick.help_groups.file_count'|transchoice(0) }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h2>{{ 'news.brick.community.title'|trans }}</h2>
                <ul>
                    <li>{{ 'news.brick.community.member_count'|transchoice(cdpUserCount) }}</li>
                    <li>{{ 'news.brick.community.organization_count'|transchoice(cdpOrganizationCount) }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                {% if app.user is null %}
                    {{ 'news.brick.my_groups.not_logged'|trans|nl2br }}
                {% elseif app.user.inscritCommunautePratique == false %}
                    {{ 'news.brick.my_groups.not_member'|trans|nl2br }}
                {% else %}
                    <h2>{{ 'news.brick.my_groups.title'|trans|nl2br }}</h2>
                    {% for toto in [] %}
                    {% else %}
                        {{ 'news.brick.my_groups.list.empty'|trans }}

                        <hr>

                        <a href="#" class="btn btn-primary btn-sm btn-block" title="{{ 'news.brick.my_groups.list.link.title'|trans|e }}">
                            {{ 'news.brick.my_groups.list.link.text'|trans }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="well">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aspernatur ex illo molestiae numquam quas tempore totam unde voluptas voluptatibus? Adipisci delectus, fugit iste nam perferendis repudiandae velit vero voluptates.
    </div>

{% endblock body_communaute_pratique %}

