{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Actualités {{ categorie.libelle }}{% endblock %}

{% block communaute_pratique_breadcrumbs_parent %}
    {%- if categorie.parent is not null -%}
        <li><a href="{{ path('hopitalnumerique_communautepratique_actualite_list') }}">Actualités</a></li>
    {%- endif -%}
{% endblock %}

{% block body_communaute_pratique %}

    {% import "HopitalNumeriqueCommunautePratiqueBundle:include:blocks.html.twig" as communaute_pratique %}

    <div class="row">
        <div class="col-md-3">
            <div class="communaute-de-pratiques-menu-actualites">
                <ul>
                    <li><a href="{{ path('hopitalnumerique_communautepratique_actualite_list') }}">Actualités</a></li>
                    {%- for sousCategorie in categorieActualites.childs -%}
                        <li><a href="{{ path('hopitalnumerique_communautepratique_actualite_listbycategorie', { categorie:sousCategorie.id }) }}">{{ sousCategorie.libelle }}</a></li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            {%- for article in actualites -%}
                {{ communaute_pratique.display_article(article) }}
            {%- endfor -%}
        </div>
    </div>

{% endblock body_communaute_pratique %}
