{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Utilisateurs{% endblock %}

{% block h1Title %}
    Domaines maîtrisés
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-ambassadeur-domaines.js"
        'bundles/hopitalnumeriqueuser/js/Ambassadeur/domaines.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_user_homepage')}}" class="btn btn-default" title="Retour à la liste des utilisateurs"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div id="form_edit_user" class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="{{path('hopital_numerique_user_edit', {'id':user.id})}}">Caractérisation</a>
                        </li>
                        {% if user.id is not null and (options.expert or options.ambassadeur)  %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_contractualisation', {'id':user.id})}}">Contractualisation</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.expert or options.expert_form) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_expert_edit', {'id':user.id})}}">Candidature expert</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.ambassadeur or options.ambassadeur_form) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_edit', {'id':user.id})}}">Candidature ambassadeur</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.ambassadeur or options.expert) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_objets', {'id':user.id})}}">Productions maîtrisées</a>
                            </li>
                            {% if user.id is not null and options.ambassadeur %}
	                            <li>
	                                <a href="{{path('hopitalnumerique_user_ambassadeur_domainesFonctionnels', {'id':user.id})}}">Connaissances métiers</a>
	                            </li>
	                            <li class="active" >
	                                <a href="{{path('hopitalnumerique_user_ambassadeur_connaissancesSI', {'id':user.id})}}">Connaissances SI</a>
	                            </li>
                            {% endif %}
                        {% endif %}
                        {% if user.id is not null %}
                            <li>
                                <a href="{{path('hopital_numerique_user_resultats', {'id':user.id})}}">Autodiagnostic</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel-body" >
                <div class="sous_options pull-right">
                    <div class="btn-toolbar">
                        {% if app.user|checkAuthorization( path('hopitalnumerique_user_ambassadeur_saveConnaissancesSI') ) %}
                            <div onclick="saveDomaines();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
                        {% endif %}
                    </div>
                </div>
                <table class="table" id="domaines" >
                    <thead>
                        <tr>
                            <th>Connaissances SI</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for domaineParent in affichageDomaines %}
                            {% if domaineParent['libelle'] != '' %}
                                <tr>
                                    <td colspan="2" style="font-weight:bold; background-color:#F7F8FA;">{{domaineParent['libelle']}}</td>
                                </tr>
                            {% endif %}
                            {% for domaine in domaineParent['fils'] %}
                                <tr>
                                    <td style="width:50%">{% if domaineParent['libelle'] != '' %}<i class="fa fa-share fa-flip-vertical"></i> {% endif %}<label for="domaine_{{domaine.id}}">{{domaine.libelle}}</label></td>
                                    <td>
                                        <select class="form-control" data-id="{{domaine.id}}" id="domaine_{{domaine.id}}">
                                            <option {% if connaissanceAmbassadeurs[domaine.id] is not defined or connaissanceAmbassadeurs[domaine.id].connaissance is null %}selected="selected"{% endif %}>-</option>
                                            {% for connaissanceReferentiel in connaissanceReferentiels %}
                                                <option value="{{connaissanceReferentiel.id}}" {% if connaissanceAmbassadeurs[domaine.id] is defined and connaissanceAmbassadeurs[domaine.id].connaissance is not null and connaissanceAmbassadeurs[domaine.id].connaissance.id == connaissanceReferentiel.id %}selected="selected"{% endif %}>{{connaissanceReferentiel.libelle}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>           
        </div>

        <input type="hidden" id="domaines-save-url" value="{{path('hopitalnumerique_user_ambassadeur_saveConnaissancesSI')}}" />
        <input type="hidden" id="user_id" value="{{user.id}}" />
    </div>
{% endblock %}