{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Utilisateurs{% endblock %}

{% block h1Title %}
    Editer un utilisateur
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-ambassadeur-edit.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueuser/css/specificationUser.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-ambassadeur-edit.js"
        'bundles/hopitalnumeriqueuser/js/Ambassadeur/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_user_homepage')}}" class="btn btn-default" title="Retour à la liste des utilisateurs"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div id="form_edit_user" class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="{{path('hopital_numerique_user_edit', {'id':user.id})}}">Caractérisation</a>
                        </li>
                        {% if user.id is not null and (options.expert or options.ambassadeur)  %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_contractualisation', {'id':user.id})}}">Contractualisation</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.expert or options.expert_form) %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_expert_edit', {'id':user.id})}}">Candidature expert</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and (options.ambassadeur or options.ambassadeur_form) %}
                            <li class="active">
                                <a href="{{path('hopitalnumerique_user_ambassadeur_edit', {'id':user.id})}}">Candidature ambassadeur</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null and options.ambassadeur %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_objets', {'id':user.id})}}">Productions maîtrisées</a>
                            </li>
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_domainesFonctionnels', {'id':user.id})}}">Connaissances métiers</a>
                            </li>
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_connaissancesSI', {'id':user.id})}}">Connaissances SI</a>
                            </li>
                        {% endif %}
                        {% if user.id is not null %}
                            <li>
                                <a href="{{path('hopital_numerique_user_resultats', {'id':user.id})}}">Autodiagnostic</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel-body" >
                <div class="sous_options">
                    <div class="btn-toolbar">
                        {% if user.id is not null and options.ambassadeur_form and not options.ambassadeur %}
                            <div onclick='validerCandidature("{{path('hopitalnumerique_user_ambassadeur_validationCandidature', {'user':user.id})}}" );' class="btn btn-default" title="Validation de la candidature"><i class="fa fa-check-circle"></i></div>
                            <a class="btn btn-default fancybox.ajax" href="{{path('hopitalnumerique_user_ambassadeur_messageRefusCandidature')}}" title="Refus de la candidature" id="refusCandidature" ><i class="fa fa-minus-circle"></i></a>
                        {% endif %}
                        <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
                        <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
                        <div onclick='deleteAllReponses("{{path('hopitalnumerique_reponse_deleteAll', {'user':user.id, 'questionnaire':questionnaire.id})}}" );' class="btn btn-default" title="Suppression des réponses de ce questionnaire"><i class="fa fa-trash-o"></i></div>

                        <input id="questionnaire_route_redirection" type="hidden" value='{{ optionRenderForm.routeRedirect|raw }}'>
                        <input id="refus-candidature-url" type="hidden" value='{{path('hopitalnumerique_user_ambassadeur_refusCandidature', {'user':user.id})}}'>
                    </div>
                </div>
                {# Include des Contractualisation #}
                {{ render(controller("HopitalNumeriqueQuestionnaireBundle:Questionnaire:edit", {'user':user , 'questionnaire':questionnaire, 'optionRenderForm' : optionRenderForm} )) }}
            </div>           
        </div>
    </div>
{% endblock %}