{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{% block title %}{{parent()}} - {{ 'account.title'|trans }}{% endblock %}
{% block metadesc %}{{ 'account.meta_description'|trans({'%domainName%': domaineCurrent.nom}) }}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-layout.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueaccount/css/layout.css'
        'bundles/newaccount/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-account.js"
        'bundles/newaccount/js/account.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="my-account">

        <ul class="account-links nav nav-tabs">
            <li>
                <a class="btn-menu" href="{{ path('account_profile') }}" id="profile-page">
                    <i class="picto fa fa-user"></i>
                    {{ 'account.profile.title'|trans }}
                </a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('account_service') }}" id="service-page">
                    <i class="picto fa fa-briefcase"></i>
                    {{ 'account.service.title'|trans }}
                </a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('account_cart') }}" id="cart-page">
                    <i class="picto fa fa-shopping-basket"></i>
                    {{ 'account.cart.title'|trans }}
                </a>
            </li>
            <li>
                <a class="btn-menu" href="{{ path('account_parameter') }}" id="parameter-page">
                    <i class="picto fa fa-cogs"></i>
                    {{ 'account.parameters.title'|trans }}
                </a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                {% block content %}

                {% endblock %}
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}
