{% extends 'HopitalNumeriqueAutodiagBundle::popin.html.twig' %}

{% block popinTitle %}Editer le chapitre{% endblock %}

{% block popinContent %}
    {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
    {{ form_start(form) }}
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.title) }}
                <div class="col-md-10">
                    {{ form_widget(form.title) }}
                </div>
                <div class="col-md-12 col-md-offset-1">
                    <div class="help-block">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4" >
            <div class="form-group" >
                {{ form_label(form.code) }}
                <div class="col-md-3">
                    {{ form_widget(form.code) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.code) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="form-group" style="{% if chapitre.parent is not null %}display:none{% endif %}">
                {{ form_label(form.noteOptimale) }}
                <div class="col-md-3">
                    {{ form_widget(form.noteOptimale) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.noteOptimale) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="form-group">
                {{ form_label(form.noteMinimale) }}
                <div class="col-md-3">
                    {{ form_widget(form.noteMinimale) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.noteMinimale) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="form-group">
                {{ form_label(form.affichageRestitutionBarre) }}
                <div class="col-md-3">
                    {{ form_widget(form.affichageRestitutionBarre) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.affichageRestitutionBarre) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="form-group">
                {{ form_label(form.affichageRestitutionRadar) }}
                <div class="col-md-3">
                    {{ form_widget(form.affichageRestitutionRadar) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.affichageRestitutionRadar) }}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-md-4" >
            <div class="form-group">
                {{ form_label(form.affichageRestitutionTableau) }}
                <div class="col-md-3">
                    {{ form_widget(form.affichageRestitutionTableau) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.affichageRestitutionTableau) }}
                    </div>
                </div>
            </div>
        </div>#}

        <div class="clearfix"></div>

        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.descriptionLien) }}
                <div class="col-md-8">
                    {{ form_widget(form.descriptionLien) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.descriptionLien) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.lien) }}
                <div class="col-md-11">
                    {{ form_widget(form.lien) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.lien) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.synthese) }}
                <div class="col-md-10">
                    {{ form_widget(form.synthese) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.synthese) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.intro) }}
                <div class="col-md-10">
                    {{ form_widget(form.intro) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.intro) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.desc) }}
                <div class="col-md-10">
                    {{ form_widget(form.desc) }}
                </div>
                <div class="col-md-12">
                    <div class="help-block">
                        {{ form_errors(form.desc) }}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    <style type="text/css">
        .panel-body{overflow: scroll;overflow-x: hidden;height: 450px;}
    </style>
{% endblock %}

{% block popinActions %}
    <div onclick="$.fancybox.close(true);" class="btn-danger btn">Fermer</div>
    <div onclick="saveChapitre( '{{path('hopitalnumerique_autodiag_chapitre_save',{'id':chapitre.id})}}' );" class="btn-primary btn">Enregistrer</div>
{% endblock %}

{% block popinJavascript %}
    $('#fancybox form.toValidate').validationEngine();
    $(document).ready(function() {
        tinymce.PluginManager.load('table', '/bundles/nodevotools/js/tinymce/plugins/table/plugin.min.js');
        tinymce.PluginManager.load('code', '/bundles/nodevotools/js/tinymce/plugins/code/plugin.min.js');
        tinymce.PluginManager.load('pagebreak', '/bundles/nodevotools/js/tinymce/plugins/pagebreak/plugin.min.js');
        tinymce.PluginManager.load('importcss', '/bundles/nodevotools/js/tinymce/plugins/importcss/plugin.min.js');
        tinymce.PluginManager.load('image', '/bundles/nodevotools/js/tinymce/plugins/image/plugin.min.js');
        tinymce.PluginManager.load('link', '/bundles/nodevotools/js/tinymce/plugins/link/plugin.min.js');
        tinymce.PluginManager.load('media', '/bundles/nodevotools/js/tinymce/plugins/media/plugin.min.js');
        tinymce.PluginManager.load('textcolor', '/bundles/nodevotools/js/plugins/text-color/plugin.min.js');
        NodevoGestionnaireMediaBundle_MoxieManager.initTinyMce();
        
        tinyMCE.init({
            entity_encoding : "raw",
            selector     : "textarea.tinyMce",
            theme        : "modern",
            theme_url    : '/bundles/nodevotools/js/tinymce/themes/modern/theme.min.js',
            skin_url     : '/bundles/nodevotools/js/tinymce/skins/lightgray',
            plugins      : 'moxiemanager image table code textcolor pagebreak importcss link media',
            height       : 110,
            menubar      : false,
            content_css  : '/bundles/nodevotools/css/wysiwyg.css',
            toolbar1     : "code | undo redo cut copy paste | pagebreak | link | insertfile image media ",
            toolbar2     : "styleselect | bold italic underline strikethrough subscript superscript blockquote | forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table ",
            style_formats: [
                {title: 'Titres', items: [
                    {title: 'Titre 2', block: 'h2'},
                    {title: 'Titre 3', block: 'h3'},
                    {title: 'Titre 4', block: 'h4'},
                    {title: 'Titre 5', block: 'h5'},
                    {title: 'Titre 6', block: 'h6'}
                ]},
                {title: 'Blocs', items: [
                    {title: 'Paragraphe', block: 'p'}
                ]},
                {title: 'Tableaux', items: [
                    {title: 'Tableau simple', selector: 'table', classes: 'table table-striped table-bordered table-hover'}
                ]}
            ],
            importcss_append: true,
            importcss_groups: [
                {title: 'Styles personnalisés'}
            ],
            relative_urls:false
        });
    });
{% endblock %}