{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-categorie-index.css" filter="cssrewrite, ?yui_css" 
        "@fancybox_css"
        'bundles/nodevoadmin/css/jquery.nestable.css'
        'bundles/hopitalnumeriqueautodiag/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-objet-objet-edit.js" 
        "@fancybox_js" 
        "@nestable_js"
        'bundles/hopitalnumeriqueautodiag/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block h1Title %}
    Editer un outil d'autodiagnostic : Gestion des chapitres / questions
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_outil') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    {# Include external file for tabs : avoid duplicate code #}
                    {% include 'HopitalNumeriqueAutodiagBundle::admin-tabs.html.twig' with { 'outil' : outil, 'route': app.request.attributes.get('_route') } %}
                </div>
            </div>

            <div class="panel-body">
                <div class="sous_options">
                    <div class="btn-toolbar">
                        <div class="btn btn-default addChapitre">Ajouter un chapitre</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="dd" id="chapitres">
                        <ol class="dd-list">
                            {% for chapitre in chapitres %}
                                {{ _self.buildTree(chapitre) }}
                            {% endfor %}
                        </ol>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="well well-lg">
                        <span class="selectChapitre">Vous devez sélectionner un chapitre avant de visualiser les questions</span>    
                    </div>
                </div>


                <input type="hidden" id="add-chapitre-url" value="{{path('hopitalnumerique_autodiag_chapitre_add',{'id':outil.id})}}" />
                <input type="hidden" id="outil-id" value="{{outil.id}}" />
            </div>
        </div>
    </div>
{% endblock %}

{% macro buildTree(chapitre) %}
    <li class="dd-item dd3-item" data-id="{{chapitre.id}}" id="chapitre-{{chapitre.id}}" >
        <div class="dd-handle dd3-handle"></div>
        <div class="dd3-content">
            <a href="#" class="fancybox.ajax" >{{chapitre.title}}</a>
            <p class="text-muted pull-right"><span>XX</span> éléments référencés</p>
        </div>
        <div class="dd3-actions dd4">
            <div onclick="deleteChapitre( {{chapitre.id}}, '#' );" class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>
            <a href="#" class="pull-right dd3-cog manageReferences fancybox.ajax"><i class="fa fa-cog"></i></a>
        </div>
        
        {% if chapitre.childs %}
            <ol class="dd-list">
                {% for child in chapitre.childs %}
                    {{ _self.buildTree(child) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endmacro %}