{% set visible = false %}

{% if container.actionPlan is not null %}
    {% set visible = true %}
{% endif %}

{% for attribute in container.attributes if attribute.actionPlan is not null %}
    {% set visible = true %}
{% endfor  %}

{% for child in container.childrens %}
    {% if child.actionPlan is not null %}
        {% set visible = true %}
    {% endif %}

    {% for attribute in child.attributes if attribute.actionPlan is not null %}
        {% set visible = true %}
    {% endfor  %}

{% endfor  %}

{% if visible %}
    <tr class="root autodiag-container {% if isChild is defined %}children{% endif %}">
        <td class="container-label">{{ container.label }}</td>
        <td class="empty-cell"></td>
        {% if container.actionPlan is not null and container.actionPlan.visible %}
            <td>{{ container.actionPlan.description }}</td>
            <td>
                <a target="_blank" href="{{ container.actionPlan.link }}">{{ container.actionPlan.linkDescription }}</a>
            </td>
        {% else %}
            <td class="empty-cell"></td>
            <td class="empty-cell"></td>
        {% endif %}
    </tr>

    {% for attribute in container.attributes if attribute.actionPlan is not null and attribute.actionPlan.visible %}
        <tr class="attribute {% if isChild is defined %}children{% endif %}">
            <td>{{ attribute.label }}</td>
            <td>{{ attribute.responseText }}</td>
                <td>{{ attribute.actionPlan.description }}</td>
                <td>
                    <a target="_blank" href="{{ attribute.actionPlan.link }}">{{ attribute.actionPlan.linkDescription }}</a>
                </td>
        </tr>
    {% endfor %}

    {% for children in container.childrens %}
        {% include "@HopitalNumeriqueAutodiag/Restitution/item/planAction/_container.html.twig" with {"container": children, "isChild": true } %}
    {% endfor %}
{% endif %}
