{#{% extends 'NodevoAdminBundle::admin.html.twig' %}#}

{#{% block edit_content %}#}


    {#{% form_theme form 'NodevoAdminBundle::form.html.twig' %}#}
    {#{{ form_start(form) }}#}

    {#<div>#}
        {#<h2>{{ "ad.autodiag.edit.generique"|trans }}</h2>#}
        {#<h2>TATA</h2>#}
        {#<div>#}
            {#{{ form_row(form.autodiag.title) }}#}
            {#{{ form_row(form.autodiag.domains, {"attr": {"class": "select2"}}) }}#}
            {#{{ form_row(form.autodiag.state) }}#}
            {#{{ form_row(form.autodiag.instructions, {"attr": {"class": "tinyMceBasic"}}) }}#}
            {#{{ form_row(form.autodiag.partialResultsAuthorized) }}#}
        {#</div>#}
    {#</div>#}

    {#{% for preset in form.presets %}#}
        {#<div class="preset">#}
            {#<div class="preset-title">#}
                {#<h2>{{ ("ad.autodiag.preset_value." ~ preset.vars.data.type)|trans }}</h2>#}
                {#<h2>TOTO</h2>#}
            {#</div>#}

            {#<div class="preset-childs">#}
                {#{{ form_errors(preset) }}#}
                {#{% for child in preset %}#}
                    {#{{ form_widget(child) }}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#{% endfor %}#}

    {#<div>#}
        {#<h2>{{ "ad.autodiag.edit.multiple_result_treatment"|trans }}</h2>#}
        {#<div>#}
            {#{{ form_row(form.autodiag.synthesisAuthorized) }}#}
        {#</div>#}
    {#</div>#}

    {#{{ form_row(form._token) }}#}
    {#{{ form_end(form) }}#}

{#{% endblock %}#}

{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Suggestion{% endblock %}

{% block h1Title %}
        Editer une suggestion
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-objet-objet-edit.css" filter="cssrewrite, ?yui_css"
    'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
    'bundles/hopitalnumeriqueuser/js/nSelect/style.css'
    'bundles/nodevoadmin/css/jquery.nestable.css'
    'bundles/hopitalnumeriqueobjet/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-objet-objet-edit.js"
    "@nestable_js"
    "@json_js"
    'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
    'bundles/hopitalnumeriqueuser/js/nSelect/nSelect.min.js'
    'bundles/hopitalnumeriqueobjet/js/script.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
        <a class="btn btn-default" href="{{ path('hopitalnumerique_suggestion_back_index', { 'filtre': 'publication' }) }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>

    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
        {#<div onclick='deleteWithConfirm("{{ path('hopitalnumerique_objet_objet_delete', { 'id': objet.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>#}
        <div onclick='deleteWithConfirm("#");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            {#<div class="panel-heading">#}
                {#<h4>Informations</h4>#}
                {#<div class="options">#}
                    {#<ul class="nav nav-tabs">#}
                        {#<li {% if not infra %}class="active"{% endif %}><a href="#objet" data-toggle="tab">Publication</a></li>#}
                        {#{% if objet.id and not objet.isArticle() %}#}
                            {#<li class="{% if infra %}active{% endif %}"><a href="#infra" data-toggle="tab">Infra-documentaire</a></li>#}
                            {#<li><a href="#productions" data-toggle="tab">Productions liées</a></li>#}
                        {#{% endif %}#}
                        {#{%- if objet.id is not null and not objet.isArticle and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMINISTRATEUR_DE_DOMAINE_106' or is_granted('ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107'))) -%}#}
                            {#<li><a href="{{ path('hopitalnumerique_objet_administration_fichierModifiable', {'id': objet.id}) }}">Administration</a></li>#}
                        {#{%- endif -%}#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}

                <div>
                    {#<h2>{{ "ad.autodiag.edit.generique"|trans }}</h2>#}
                    <div>
                        {{ form_row(form.title) }}
                        {{ form_row(form.domains, {"attr": {"class": "select2"}}) }}
                        {{ form_row(form.state) }}
                        {#{{ form_row(form.autodiag.instructions, {"attr": {"class": "tinyMceBasic"}}) }}#}
                        {#{{ form_row(form.autodiag.partialResultsAuthorized) }}#}
                    </div>
                </div>

                {#{% for preset in form.presets %}#}
                    {#<div class="preset">#}
                        {#<div class="preset-title">#}
                            {#<h2>{{ ("ad.autodiag.preset_value." ~ preset.vars.data.type)|trans }}</h2>#}
                            {#<h2>TOTO</h2>#}
                        {#</div>#}

                        {#<div class="preset-childs">#}
                            {#{{ form_errors(preset) }}#}
                            {#{% for child in preset %}#}
                                {#{{ form_widget(child) }}#}
                            {#{% endfor %}#}
                        {#</div>#}
                    {#</div>#}
                {#{% endfor %}#}

                {#<div>#}
                {#<h2>{{ "ad.autodiag.edit.multiple_result_treatment"|trans }}</h2>#}
                {#<div>#}
                {#{{ form_row(form.autodiag.synthesisAuthorized) }}#}
                {#</div>#}
                {#</div>#}

                {{ form_row(form._token) }}
                {{ form_end(form) }}
            </div>

            {#{% if objet.id %}#}
                {#<input type="hidden" id="add-contenu-url" value="{{path('hopitalnumerique_objet_contenu_add', {'id':objet.id})}}" />#}
                {#<input type="hidden" id="reorder-objet-url" value="{{path('hopitalnumerique_objet_contenu_reorder')}}" />#}
                {#<input type="hidden" id="reorder-prods-url" value="{{path('hopitalnumerique_objet_objet_reorder', {'id':objet.id})}}" />#}
                {#<input type="hidden" id="objet-id" value="{{objet.id}}" />#}
                {#<input type="hidden" id="parse-upload-url" value="{{path('hopitalnumerique_objet_contenu_uploadparse',{'id':objet.id})}}" />#}
            {#{% endif %}#}
            {#<input type="hidden" id="toRef" value="{{toRef}}" />#}
            {#<input type="hidden" id="getObjets" value="{{path('hopitalnumerique_objet_objet_getObjets')}}" />#}
            {#<input type="hidden" id="getOutils" value="{{path('hopitalnumerique_autodiag_get_outils')}}" />#}
            {#<input type="hidden" id="getQuestionnaires" value="{{path('hopitalnumerique_questionnaire_get_questionnaires')}}" />#}
            {#<input type="hidden" id="getRechercheAidee" value="{{path('hopitalnumerique_recherche_admin_aide-expression-besoin_gestion_get_recherche_aidee')}}" />#}
            {#<input type="hidden" id="objet-file-url" value="{{path('hopitalnumerique_objet_objet_isFileExist')}}" />#}
            {#<input type="hidden" id="objet-addobjet-url" value="{{path('hopitalnumerique_objet_objet_add')}}" />#}
            {#<input type="hidden" id="objet-addarticle-url" value="{{path('hopitalnumerique_objet_objet_add', {'type':2})}}" />#}
        </div>
    </div>
{% endblock %}

{#{% macro buildTree(contenu) %}#}
    {#<li class="dd-item dd3-item" data-id="{{contenu.id}}" id="contenu-{{contenu.id}}" >#}
        {#<div class="dd-handle dd3-handle"></div>#}
        {#<div class="dd3-content">#}
            {#<a data-url="{{path('hopitalnumerique_objet_contenu_form', {'id':contenu.id})}}" href="javascript:selectChapitre({{contenu.id}}, '{{path('hopitalnumerique_objet_contenu_form', {'id':contenu.id})}}')" title="{{contenu.titre}}">{{contenu.order ~ ' ' ~ contenu.titre|truncate(50)}}</a>#}
            {#<p class="text-muted pull-right">{{contenu.nbVue}} vues - <span title="{% for domaineCommunWithUser in domaines_communs_with_user(contenu.entity, app.user) %} {{ domaineCommunWithUser }} : {{ referencement_note(contenu.entity, domaineCommunWithUser) }} {% endfor %}">Survoler pour afficher les scores</span></p>#}
        {#</div>#}
        {#<div class="dd3-actions">#}
            {#<div onclick="deleteContenu( {{contenu.id}}, '{{path('hopitalnumerique_objet_contenu_delete', {'id':contenu.id})}}' );" class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>#}
            {#<a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':2, 'entityId':contenu.id })}}" class="pull-right dd3-cog open-popin-referencement fancybox.ajax"><i class="fa fa-cog"></i></a>#}
        {#</div>#}

        {#{% if contenu.childs %}#}
            {#<ol class="dd-list">#}
                {#{% import _self as mySelf %}#}
                {#{% for child in contenu.childs %}#}
                    {#{{ mySelf.buildTree(child) }}#}
                {#{% endfor %}#}
            {#</ol>#}
        {#{% endif %}#}
    {#</li>#}
{#{% endmacro %}#}

{#{% macro buildProductionListe(production, objetId) %}#}
    {#<li class="dd-item dd3-item" data-id="{{production.brut}}" id="prod-{{production.id}}" >#}
        {#<div class="dd-handle dd3-handle"></div>#}
        {#<div class="dd3-content">#}
            {#{{production.titre}}#}
        {#</div>#}
        {#<div class="dd3-actions">#}
            {#<div onclick='deleteWithConfirm("{{ path('hopitalnumerique_objet_objet_deleteLink', { 'pointDur':objetId, 'id': production.id, 'obj': production.isObjet }) }}");' class="pull-right dd3-trash"><i class="fa fa-trash-o"></i></div>#}
        {#</div>#}
    {#</li>#}
{#{% endmacro %}#}



