{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    {% if session.id %}
        Editer un Session
    {% else %}
        Ajouter un Session
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-module-session-edit.css" filter="cssrewrite"
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2.css'
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2-bootstrap.css'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/css/validationEngine.jquery.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/hopitalnumeriquemodule/css/session/edit.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-module-session-edit.js"
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2.min.js'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/jquery.validationEngine.js'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/languages/jquery.validationEngine-fr.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/hopitalnumeriquemodule/js/session/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_module_module_session') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if session.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_module_module_session_delete', { 'id': session.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
	            <div id="form-session">
	                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
	                {# Application des librairies JS sur le form : #}
	                {{ form_javascript(form) }}
			        <div class="form-group">
			        <div class="titre row">
			            <div class="col-md-3 text-right">
	                        <label class="control-label">Module concerné</label>
	                    </div>
			            <div class="col-md-6">
	                        <strong>{{ session.module.titre }}</strong>
	                    </div>
	                </div>
	                </div>
		            <div class="clearfix"></div>
	                {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
