{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche Session
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_module_module_session', {'id' : session.module.id}) }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if session.id %}
        <a href="{{ path('hopitalnumerique_module_module_session_edit', { 'id': session.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                {% if session.module %}
	                <p>
	                    <strong>Module concerné : </strong>
	                    {{ session.module.titre }}
	                </p>
                {% endif %}
                {% if session.Datesession %}
	                <p>
	                    <strong>Date de la session: </strong>
	                    {{ session.dateSession|date('m/d/Y') }}
	                </p>
                {% endif %}
                {% if session.Dateouvertureinscription %}
	                <p>
	                    <strong>Date d'ouverture des inscriptions: </strong>
	                    {{ session.Dateouvertureinscription|date('m/d/Y') }}
	                </p>
                {% endif %}
                {% if session.Datefermetureinscription %}
	                <p>
	                    <strong>Date de clôture des inscriptions: </strong>
	                    {{ session.Datefermetureinscription|date('m/d/Y') }}
	                </p>
                {% endif %}
                {% if session.duree is not empty and session.duree is not null %}
	                <p>
	                    <strong>Durée : </strong>
	                    {{ session.duree.libelle }}
	                </p>
                {% endif %}
                {% if session.horaires %}
	                <p>
	                    <strong>Horaires : </strong>
	                    {{ session.horaires}}
	                </p>
                {% endif %}
                {% if session.lieu %}
	                <p>
	                    <strong>Lieu : </strong>
	                    {{ session.lieu}}
	                </p>
                {% endif %}
                {% if session.description %}
	                <p>
	                    <strong>Description : </strong>
	                    {{ session.description}}
	                </p>
                {% endif %}
                {% if session.Nombreplacedisponible %}
	                <p>
	                    <strong>Nombre de places disponibles : </strong>
	                    {{ session.Nombreplacedisponible}}
	                </p>
                {% endif %}
                {% if session.restrictionAcces %}
	                <p>
	                    <strong>Groupes en restrictions d'accès : </strong>
	                    <ul>
							{% for key,role in session.restrictionAcces %}
							    <li>{{ role.name }}</li>
							{% endfor %}
						</ul>
	                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
