{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mon compte{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-layout.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueaccount/css/layout.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="tableau-de-bord">
        <div class="col-md-12">
            <h3 class="violet">Tableau de bord</h3>
        </div>
        
        {% set mainBlockClass = "col-md-9 col-sm-12" %}

        <div class="col-md-3 col-sm-12">
            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {#{% set currentPath = path(app.request.attributes.get('_route')) %}#}
            {% set root = knp_menu_get('menu-main-front') %}
            {% set parent = null %}

            {% for item in root %}
                {% if currentPath == item.uri %}
                    {% set parent = item.name %}
                {% endif %}

                {% for child in item.children %}
                    {% if currentPath == child.uri %}
                        {% set parent = item.name %}
                    {% endif %}

                    {% for babyChild in child.children %}
                        {% if currentPath == babyChild.uri %}
                            {% set parent = item.name %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            {% if parent is not null %}
                {% set menu = root[parent] %}
                {{ knp_menu_render(menu, {'currentClass': 'active','breadcrumb' : 'no', 'ancestorClass':'active','template':'HopitalNumeriqueCoreBundle::menu.html.twig'}) }}
            {% else %}
                {% set mainBlockClass = "col-md-12 col-sm-12" %}
            {% endif %}
        </div>
        
        <div class="content {{mainBlockClass}}">
            {% block header %}
                <div class="header-account">
                    <h1 class="violet">{% block headerTitle %}{% endblock %}</h1>
                    <div class="description">{% block headerDesc %}{% endblock %}</div>
                </div>
            {% endblock %}
            
            {% if block('barreActions') is not empty %}
                <div class="actions">
                    {% block barreActions %}{% endblock %}
                </div>
            {% endif %}
                
            <div class="panel">
                {% block content %}{% endblock %}
            </div>
            
            {% block footerDesc %}{% endblock %}

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}