{% import _self as mySelf %}
{% if objet.isInfraDoc %}
    <div id="sommaire">
        <div class="content">
            {% if objet.synthese is not null %}
                <a class="resume downloadLink synthese fancybox.iframe" style="width:90px;text-align:left" href="{{path('hopital_numerique_publication_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
            {% endif %}
            <h3 class="violet">Sommaire</h3>
            <ul>
                {% for one in contenus %}
                    {{ mySelf.buildTree(one, objet) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% macro buildTree(contenu, objet, chapter) %}
    {% import _self as mySelf %}
    <li data-has-children="{{ contenu.childs ? '1' : '0' }}" data-content="{{ contenu.id }}">
        {% if contenu.childs %}
            <a class="toggle-children" data-contenu="{{ contenu.id }}"><em class="fa fa-plus-circle"></em></a>
        {% endif %}
        {% set name = chapter ~ contenu.order ~ '. ' ~ contenu.titre %}
        {% set name = '<span title="' ~ name ~ '">' ~ name|truncate(30) ~ '</span>' %}

        <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':objet.id,'alias':objet.alias,'idc':contenu.id,'aliasc':contenu.alias})}}" >
            {{ name|raw }}
        </a>

        {% if contenu.childs %}
            <ul data-contenu="{{ contenu.id }}">
                {% for child in contenu.childs %}
                    {{ mySelf.buildTree(child, objet, chapter ~ contenu.order ~ '.') }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
