{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche EvenementExpert
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_expert_evenementexpert') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if evenementexpert.id %}
        <a href="{{ path('hopitalnumerique_expert_evenementexpert_edit', { 'id': evenementexpert.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Id : </strong>
                    {{ evenementexpert.id }}
                </p>
                <p>
                    <strong>Date : </strong>
                    {{ evenementexpert.date }}
                </p>
                <p>
                    <strong>Nbvacation : </strong>
                    {{ evenementexpert.nbVacation }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
