{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.board.user.show.layout_template %}

{%- block title -%}
    {{- 'title.board.show' | trans({'%board_name%': board.name}, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

    <div class="row clearfix">
        {# Nom du board #}
        <div class="col-md-8">
            <span class="lead" title="{{- board.name -}}">{{- board.name -}}</span>
        </div>

        {# Bouton création topic #}
        <div class="col-md-4">
            <a class="btn btn-success pull-right" rel="nofollow" href="{{- path('ccdn_forum_user_topic_create', {'forumName': forumName, 'boardId': board.getId }) -}}">
                {{- 'link.topic.create' | trans({}, ForumBundle.translation ) -}}
            </a>
        </div>
    </div>

    <header class="row clearfix">
        <div id="information-board">
            <div class="col-md-12">
                <span class="label label-default pull-right" title="{{- board.cachedTopicCount -}}">
                    {{- 'board.topic-count-label' |trans({}, ForumBundle.translation ) -}}
                    {{- board.cachedTopicCount -}}
                </span>
                &nbsp;
                <span class="label label-default pull-right" title="{{- board.cachedPostCount -}}">
                    {{- 'board.post-count-label' |trans({}, ForumBundle.translation ) -}}
                    {{- board.cachedPostCount -}}
                </span>
            </div>
        </div>
    </header>

    {{- knp_pagination_render(pager) -}}

    <section class="clearfix">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="center" style="text-align: center;width: 18px;"></th>
                    <th class="center" style="text-align: center;width: 18px;"></th>
                    <th class="center" style="text-align: center;">{{- 'board.topic-th' | trans({}, ForumBundle.translation ) -}}</th>
                    <th class="center" style="text-align: center;width: 80px;">{{- 'board.reply-count-th' | trans({}, ForumBundle.translation ) -}}</th>
                    <th class="center" style="text-align: center;width: 80px;">{{- 'board.view-count-th' | trans({}, ForumBundle.translation ) -}}</th>
                    <th class="center" style="text-align: center;width: 170px;">{{- 'board.last-post-th' | trans({}, ForumBundle.translation ) -}}</th>
                </tr>
            </thead>
            <tbody>
                {%- if sticky_topics is not empty -%}
                    <tr>
                        <td colspan="6" class="row-group-heading">
                            {{- 'board.announcements-th' | trans({}, ForumBundle.translation ) -}}
                        </td>
                    </tr>

                    {%- for row, topic in sticky_topics -%}
                        {%- if not topic.isDeleted or is_granted('ROLE_ADMINISTRATEUR_1') -%}
                            {%- include 'CCDNForumForumBundle:User:Board/Partial/item_topic_list.html.twig' -%}
                        {%- endif -%}
                    {%- endfor -%}

                    <tr>
                        <td colspan="6" class="row-group-heading">
                            {{- 'board.topics-th' | trans({}, ForumBundle.translation ) -}}
                        </td>
                    </tr>
                {%- endif -%}

                {%- for row, topic in pager.getItems() -%}
                    {%- if not topic.isDeleted or is_granted('ROLE_ADMINISTRATEUR_1') -%}
                        {# Affichage uniquement si l'utilisateur a le droit de visioner #}
                        {% if (app.user is not null and app.user.getRole() in topic.getBoard.readAuthorisedRoles)
                            or (app.user is null and 'ROLE_ANONYME_10' in topic.getBoard.readAuthorisedRoles)  %}
                            {%- include 'CCDNForumForumBundle:User:Board/Partial/item_topic_list.html.twig' -%}
                        {% endif %}
                    {%- endif -%}
                {%- else -%}
                    <tr>
                        <td class="center" colspan="6">
                            {{- 'board.no-topics' | trans({}, ForumBundle.translation ) -}}
                        </td>
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </section>

    {{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock body_content -%}
