<div class="panel" style="margin:0; width:800px;" >
    <div class="panel-heading">
        <h4 class="violet" style="margin-bottom:0" >Informations de la session</h4>
    </div>

    <div class="panel-body" style="padding-top:0" >
        <div class="col-md-12 fancybox-popin">
            <ul class="list-unstyled">
                {# Date de la session #}
                <li style="margin: 0 0 10px;"><strong>Date de la session :</strong>
                    {% if session.dateSession is not null and session.dateSession is not empty %}
                        {{ session.dateSession|date('d/m/Y') }}
                    {% else %}
                        - Aucune date n'est renseignée pour cette session -
                    {% endif %}
                </li>
                {# Durée #}
                <li style="margin: 0 0 10px;"><strong>Durée :</strong>
                    {% if session.duree is not null and session.duree is not empty %}
                        {{ session.duree.libelle }}
                    {% else %}
                        - Aucune durée pour cette session -
                    {% endif %}
                </li>
                {# Lieu #}
                <li style="margin: 0 0 10px;"><strong>Lieu :</strong>
                    {% if session.lieu is not null and session.lieu is not empty %}
                        {{ session.lieu }}
                    {% else %}
                        - Aucune lieu pour cette session -
                    {% endif %}
                </li>
                {# Horaires #}
                <li><strong>Horaires :</strong>
                    {% if session.horaires is not null and session.horaires is not empty %}
                        {{ session.horaires }}
                    {% else %}
                        - Aucune durée pour cette session -
                    {% endif %}
                </li>
                <br />
                {# Formateur #}
                <li style="margin: 0 0 10px;"><strong>Formateur :</strong>
                    {% if session.formateur is not null and session.formateur is not empty %}
                        {{ session.formateur.getAppellation() }}
                    {% else %}
                        - Aucun formateur pour cette session -
                    {% endif %}
                </li>
                <br />
                {# Productions concernées #}
                <li><strong>Production(s) concernée(s) : </strong>
                    <ul>
                        {% for production in session.module.productions %}
                            <li>{{ production.titre }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <br />
                {# Description #}
                <li style="margin: 0 0 10px;"><strong>Description :</strong>
                    {% if session.description is not null and session.description is not empty %}
                        {{ session.description }}
                    {% else %}
                        - Aucune description pour cette session -
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>