<div class="panel" style="margin:0; width:800px;" >
    <div class="panel-heading">
        <h4 class="violet" style="margin-bottom:0" >Informations de la session - {{session.getModule().getTitre()}}</h4>
    </div>

    <div class="panel-body" style="padding-top:0" >
        <div class="col-md-12 fancybox-popin">
            <ul class="list-unstyled">
                {# Début de la session #}
                <li style="margin: 0 0 10px;"><div class="col-md-4"><strong>Début de la session :</strong></div>
                    <div class="col-md-8">
                        {% if session.dateSession is not null and session.dateSession is not empty %}
                            {{ session.dateSession|date('d/m/Y') }}
                        {% else %}
                            - Aucune date n'est renseignée pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Durée #}
                <li style="margin: 0 0 10px;"><div class="col-md-4"><strong>Durée :</strong></div>
                    <div class="col-md-8">
                        {% if session.duree is not null and session.duree is not empty %}
                            {{ session.duree.libelle }}
                        {% else %}
                            - Aucune durée pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Lieu #}
                <li style="margin: 0 0 10px;"><div class="col-md-4"><strong>Lieu :</strong></div>
                    <div class="col-md-8">
                        {% if session.lieu is not null and session.lieu is not empty %}
                            {{ session.lieu }}
                        {% else %}
                            - Aucune lieu pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Horaires #}
                <li><div class="col-md-4"><strong>Horaires :</strong></div>
                    <div class="col-md-8">
                        {% if session.horaires is not null and session.horaires is not empty %}
                            {{ session.horaires }}
                        {% else %}
                            - Aucune durée pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Formateur #}
                <li style="margin: 0 0 10px;"><div class="col-md-4"><strong>Pièce-jointe :</strong></div>
                    <div class="col-md-8">
                        {% if session.module.path is not null and session.module.path is not empty %}
                            <a class="uploadedFile" href="{{path('hopitalnumerique_module_module_dowload_front', {'id': session.module.id })}}">Téléchargez la pièce-jointe</a>
                        {% else %}
                            - Aucune pièce-jointe pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Pièce jointe #}
                <li><div class="col-md-4" style="margin: 0 0 10px;"><strong>Formateur :</strong></div>
                    <div class="col-md-8">
                        {% if session.formateur is not null and session.formateur is not empty %}
                            {{ session.formateur.getAppellation() }}
                        {% else %}
                            - Aucun formateur pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Description #}
                <li>
                    <div class="col-md-12" style="margin: 0 0 10px; padding-top:10px; border-top: 1px solid #D5D5D5;">
                        <strong>Description :</strong><br />
                        {% if session.description is not null and session.description is not empty %}
                            {{ session.description }}
                        {% else %}
                            - Aucune description pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Prérequis #}
                <li>
                    <div class="col-md-12">
                        <strong>Prérequis :</strong><br />
                        {% if session.module.prerequis is not null and session.module.prerequis is not empty %}
                            {{ session.module.prerequis }}
                        {% else %}
                            - Aucun(s) prérequis pour cette session -
                        {% endif %}
                    </div>
                </li>
                {# Productions concernées #}
                {% if session.module.productions is not null and session.module.productions|length > 0 %}
                    <li>
                        <div class="col-md-12" style="margin: 0 0 10px; padding-top: 10px;">
                            <strong>Production(s) concernée(s) : </strong>
                            <ul>
                                {% for production in session.module.productions %}
                                    <li><a target="_blank" href="{{path('hopital_numerique_publication_publication_objet',{'id':production.id,'alias':production.alias})}}">{{production.titre}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {# Connaissances concernées #}
                {% if session.getConnaissancesByParent() is not null and session.getConnaissancesByParent()|length > 0 %} 
                    <li>
                        <div class="col-md-12" style="margin: 0 0 10px; padding-top: 10px;">
                            <strong>Connaissances(s) concernée(s) : </strong>
                            <ul>
                                {% for connaissanceParent in session.getConnaissancesByParent() %}
                                    <li>{{ connaissanceParent[0].firstParent.libelle }}</li>
                                    <ul>
                                        {% for connaissance in connaissanceParent %}
                                            <li>
                                                {{connaissance.libelle}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    - Aucune(s) connaissance(s) pour cette session -
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
