{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mon compte{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "{{domaineCurrent.nom}}" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-forum-layout.css" filter="cssrewrite, ?yui_css"
        "@select2_css" 
        "@fancybox_css"
        "@jquery_toggles_css"
        "@validationEngine_css"
        "@bbcode_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueobjet/css/style.css'
        'bundles/nodevoadmin/css/toggles.css'
        'bundles/hopitalnumeriqueforum/css/forum.css'
        'bundles/hopitalnumeriquereference/css/referencement-popin.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-forum-layout.js"
        "@fancybox_js"
        "@jquery_toggles_js"
        "@validationEngine_js"
        "@bbcode_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueforum/js/script.js'
        'bundles/hopitalnumeriqueforum/js/Forum/script.js'
        'bundles/hopitalnumeriqueforum/js/Category/script.js'
        'bundles/hopitalnumeriqueforum/js/Board/script.js'
        '%kernel.root_dir%/Resources/lib/nodevo/Web.js'
        '%kernel.root_dir%/Resources/lib/nodevo/Form/Box.js'
        'bundles/hopitalnumeriquereference/js/Referencement/Popin.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block prebody %}
    <div id="sidebar">
        {%- block sidebar -%}
        {%- endblock sidebar -%}
    </div>
{% endblock prebody %}

{% block block_du_body %}

    {% block information_page %}

        <div class="col-md-12">
            <h3 class="violet">Forum
                {% if is_granted("ROLE_ADMINISTRATEUR_1") or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107") %}<a href="{{path('ccdn_forum_admin_index')}}" target="_blank" class="pull-right lienAdmin"><i style="margin:0 5px 0 0;" class="fa fa-cog"></i>Accès à l'administration</a> {% endif %}
            </h3>
        </div>

        <div id="breadcrumbs-forum" class="col-md-12">
            {%- block crumb_trail -%}
                {%- if crumbs is defined -%}
                        {%- include 'CCDNForumForumBundle:Common:Layout/crumbs.html.twig' with {'crumbs': crumbs } -%}
                {%- endif -%}
            {%- endblock crumb_trail -%}
        </div>
    {% endblock information_page %}

    <div style="margin-top:30px;">
        <div class="col-md-3 page-sidebar-left">
            {{ block('prebody') }}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 page-body-right">
            {% block body %}{% endblock body %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}