{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mon compte{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-forum-layout.css" filter="cssrewrite, ?yui_css"
        "@select2_css" 
        "@fancybox_css"
        "@jquery_toggles_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueobjet/css/style.css'
        'bundles/nodevoadmin/css/toggles.css'
        'bundles/hopitalnumeriqueforum/css/forum.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-forum-layout.js"
        "@fancybox_js"
        "@jquery_toggles_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueforum/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block prebody %}
    <div id="sidebar">
        {%- block sidebar -%}
        {%- endblock sidebar -%}
    </div>
{% endblock prebody %}

{% block block_du_body %}
    <div style="margin-top:20px;">
        <div class="col-md-2 page-sidebar-left">
            {{ block('prebody') }}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-10 page-body-right">
            {% block body %}{% endblock body %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}