{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Mon compte{% endblock %}
{% block metadesc %}Connectez-vous à votre compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-forum-layout.css" filter="cssrewrite, ?yui_css"
        "@select2_css" 
        "@fancybox_css"
        "@jquery_toggles_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueobjet/css/style.css'
        'bundles/nodevoadmin/css/toggles.css'
        'bundles/hopitalnumeriqueforum/css/forum.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

<style type="text/css">
    .lienAdmin {font-size: 13px;cursor: pointer;}
</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-forum-layout.js"
        "@fancybox_js"
        "@jquery_toggles_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueforum/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block prebody %}
    <div id="sidebar">
        {%- block sidebar -%}
        {%- endblock sidebar -%}
    </div>
{% endblock prebody %}

{% block block_du_body %}

    {% block information_page %}
        <div class="col-md-12">
            <h3 class="violet">Forum {% if is_granted("ROLE_ADMINISTRATEUR_1") %}<a href="{{path('ccdn_forum_admin_index')}}" target="_blank" class="pull-right lienAdmin"><i style="margin:0 5px 0 0;" class="fa fa-cog"></i>Accès à l'administration</a> {% endif %} </h3>
        </div>
    {% endblock information_page %}

    <div style="margin-top:20px;">
        <div class="col-md-3 page-sidebar-left">
            {{ block('prebody') }}
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 page-body-right">
            {% block body %}{% endblock body %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}