<div id="pointsdurs" class="col-md-12">
    <div class="recherche-referencement">
        {% for group, entitiesProperties in entitiesPropertiesKeyedByGroup if entitiesProperties|length > 0 %}
            <h4>
                {% if 'points-durs' == group %}
                    Point-dur(s)
                {% else %}
                    Production(s)
                {% endif %}
                ( {{ entitiesProperties|length }} résultat{{ entitiesProperties|length > 1 ? 's' : '' }} )
            </h4>
            <div class="wrapper-results results-bloc">
                <div class="background-violet"></div>
                {% for entityProperties in entitiesProperties %}

                    <div style="margin:10px 0;">
                        <div class="row">
                            <div class="col-md-8">
                                {% include 'HopitalNumeriqueRechercheBundle:Referencement:view_entity.html.twig' with entityProperties %}
                            </div>
                            <div class="col-md-4 notation" id="notation-{{entityProperties.entityId}}">
                                {% if entityProperties.entityType == 1 %}
                                    <div class="nonConcerne" id="nonConcerne-{{entityProperties.entityId}}">
                                        <form>
                                            <input type="checkbox" class="checkbox pull-left" data-id="{{entityProperties.entityId}}" id="checkbox-{{entityProperties.entityId}}"{% if notes[entityProperties.entityId] is defined and notes[entityProperties.entityId].nonConcerne %} checked="checked"{% endif %}>
                                            <div class="labelCheckbox pull-left">Non concerné par ce point dur</div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="note" id="note-{{entityProperties.entityId}}" data-id="{{entityProperties.entityId}}">
                                        <div class="volet" id="volet-{{entityProperties.entityId}}"></div>
                                        <p>
                                            {# Choix de la couleur à appliquer #}
                                            {% set couleurEtape = 'red' %}
                                            {% if notesMoyenneParEtape is not null and notesMoyenneParEtape is not empty and etapesSelected.id in notesMoyenneParEtape|keys %}
                                                {% if notesMoyenneParEtape[etapesSelected.id] < 33 %}
                                                    {% set couleurEtape = 'red' %}
                                                {% elseif notesMoyenneParEtape[etapesSelected.id] < 67 %}
                                                    {% set couleurEtape = 'yellow' %}
                                                {% else %}
                                                    {% set couleurEtape = 'green' %}
                                                {% endif %}
                                            {% endif %}
                                            <label for="pourcentage-{{entityProperties.entityId}}">Taux de maîtrise % :</label>
                                            <input type="text" class="pourcentage {{couleurEtape}}" value="{% if entityProperties.entityId in notes|keys %}{{notes[entityProperties.entityId].pourcentageMaitrise}}{% else %}0{% endif %}" id="pourcentage-{{entityProperties.entityId}}" readonly  data-id="{{entityProperties.entityId}}">
                                        </p>
                                        <div id="slider-range-min-{{entityProperties.entityId}}" class="slider-range-min"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        {% else %}
            <p> - Aucun point dur trouvé - </p>
        {% endfor %}
    </div>
</div>
