<div class="chemin-de-fer">
    <ul>
        {% set lastEtapeSelected = false %}

        {% for key,recherchesParcoursDetail in rechercheParcours.recherchesParcoursDetails %}
            <li>

                {% set link = path("hopital_numerique_guided_search_step" , {'guidedSearch': guidedSearch.id, 'guidedSearchReference': rechercheParcours.id, 'guidedSearchReferenceAlias': rechercheParcours.reference.libelle|minifieMoi(),'parentReference': recherchesParcoursDetail.id, 'alias': recherchesParcoursDetail.reference.libelle|minifieMoi()}) %}

                {% if recherchesParcoursDetail.id == selectedStep %}
                    {# Vérifie si on est sur le dernier élément pour savoir quelle icone mettre à la fin #}
                    {% if loop.last %}
                        {% set lastEtapeSelected = true %}
                    {% endif %}
                    <div class="bloc-etape-selected" data-showchildren="{{ recherchesParcoursDetail.showChildren ? 'true' : 'false' }}">
                        <a class="tooltip-etape" href="{{ link }}">
                            {{recherchesParcoursDetail.reference.libelle}}
                        </a>
                        <div class="icone-basse"> </div>
                        {% if not loop.last %}
                            <div class="icone"></div>
                            <div class="marge-grise"></div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="bloc-etape">
                        <a class="tooltip-etape" href="{{ link }}">
                            {{recherchesParcoursDetail.reference.libelle}}
                        </a>
                        {% if not loop.last %}
                            <div class="icone"></div>
                            {% if rechercheParcours.recherchesParcoursDetails[key + 1].id == selectedStep %}
                                <div class="marge-violette"></div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        {# Choix de l'icone à appliquer à la fin + modification du fond du chemin de fer si jamais le dernier élément est sélectionné #}
        {% if lastEtapeSelected %}
            <div class="icone-selected"></div>
            <style type="text/css">
                #recherche-par-parcours-details .en-tete .en-tete-scroll .chemin-de-fer {background-color: #712F98;}
            </style>
        {% else %}
            <div class="icone"></div>
        {% endif %}
        <div class="marge-blanche"></div>
    </ul>
</div>
