<div style="margin:10px 0;">
    <div class="row">
        <div class="col-md-8">
            {# Inclu la vue de l'affichage des points dur #}
            {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/details-points-durs.html.twig' with {'objet': objet } %}
        </div>
        <div class="col-md-4">
            <div class="note" id="note-{{objet['id']}}" data-id="{{objet['id']}}">
                <p>
                    {# Choix de la couleur à appliquer #}
                    {% set couleurEtape = 'red' %}
                    {% if notesMoyenneParEtape is not null and notesMoyenneParEtape is not empty and etapesSelected.id in notesMoyenneParEtape|keys %}
                        {% if notesMoyenneParEtape[etapesSelected.id] < 33 %}
                            {% set couleurEtape = 'red' %}
                        {% elseif notesMoyenneParEtape[etapesSelected.id] < 67 %}
                            {% set couleurEtape = 'yellow' %}
                        {% else %}
                            {% set couleurEtape = 'green' %}
                        {% endif %}
                    {% endif %}
                    <label for="pourcentage-{{objet['id']}}">Taux de maîtrise % :</label>
                    <input type="text" class="pourcentage {{couleurEtape}}" value="{{notes[objet['id']].pourcentageMaitrise}}" id="pourcentage-{{objet['id']}}" readonly >
                </p>
                <div id="slider-range-min-{{objet['id']}}" class="slider-range-min"></div>
            </div>
        </div>
    </div>
</div>