<div style="margin:10px 0;">
    <div class="row">
        <div class="col-md-8">
            {# Inclu la vue de l'affichage des points dur #}
            {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/details-points-durs.html.twig' with {'objet': objet } %}
        </div>
        <div class="col-md-4 notation" id="notation-{{objet['id']}}">
            <div class="nonConcerne" id="nonConcerne-{{objet['id']}}">
                <form>
                    <input type="checkbox" class="checkbox pull-left" data-id="{{objet['id']}}" id="checkbox-{{objet['id']}}"{% if notes[objet['id']].nonConcerne %} checked="checked"{% endif %} />
                    <div class="labelCheckbox pull-left">Non concerné par ce point dur</div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="note" id="note-{{objet['id']}}" data-id="{{objet['id']}}">
                <div class="volet" id="volet-{{objet['id']}}"></div>
                <p>
                    {# Choix de la couleur à appliquer #}
                    {% set couleurEtape = 'red' %}
                    {% if notesMoyenneParEtape is not null and notesMoyenneParEtape is not empty and etapesSelected.id in notesMoyenneParEtape|keys %}
                        {% if notesMoyenneParEtape[etapesSelected.id] < 33 %}
                            {% set couleurEtape = 'red' %}
                        {% elseif notesMoyenneParEtape[etapesSelected.id] < 67 %}
                            {% set couleurEtape = 'yellow' %}
                        {% else %}
                            {% set couleurEtape = 'green' %}
                        {% endif %}
                    {% endif %}
                    <label for="pourcentage-{{objet['id']}}">Taux de maîtrise % :</label>
                    <input type="text" class="pourcentage {{couleurEtape}}" value="{% if objet['id'] in notes|keys %}{{notes[objet['id']].pourcentageMaitrise}}{% else %}0{% endif %}" id="pourcentage-{{objet['id']}}" readonly  data-id="{{objet['id']}}">
                </p>
                <div id="slider-range-min-{{objet['id']}}" class="slider-range-min"></div>
            </div>
        </div>
    </div>
</div>