{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.post.user.delete.layout_template %}

{%- block title -%}
    {{- 'title.post.delete' |trans({'%post_id%': post.id}, ForumBundle.translation) -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

    <section class="clearfix">
        {%- form_theme form ccdn_forum_forum.post.user.delete.form_theme -%}
        <form action="{{- path('ccdn_forum_user_post_delete_process', {'forumName': forumName, 'postId': post.id } ) -}}"
         method="post" {{ form_enctype(form) }} class="form-horizontal toValidate" novalidate>
            <fieldset>

                <div class="form-group">
                    <div id="titre-creation">
                        <h4>
                            {{- 'title.post.delete' |trans({'%post_id%': post.id}, ForumBundle.translation) -}}
                        </h4>
                    </div>
                </div>

                {{- form_errors(form) -}}

                {{- form_rest(form) -}}

                <div class="row">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success col-lg-offset-2 col-lg-3" value="
                            {{- 'form.button.post.delete' | trans({}, ForumBundle.translation ) -}}
                        " name="submit[post]" id="submit[post]">

                        <a class="btn btn-default col-lg-offset-1 col-lg-2" href="{{- path('ccdn_forum_user_topic_show', {'forumName': forumName, 'topicId': post.getTopic.getId}) -}}">
                            {{- 'form.button.cancel' |trans({}, ForumBundle.translation ) -}}
                        </a>
                    </div>
                </div>

            </fieldset>
        </form>
    </section>

    {%- endspaceless -%}
{%- endblock body_content -%}
