{% trans_default_domain 'guided_search' %}


<div class="panel panel-default">
    <div class="panel-heading custom-panel-heading">
        <div class="panel-title">
            {{ 'step.synthesis.global.title'|trans }}
        </div>
    </div>
    <div class="panel-body">
        <span class="spaced"><b>{{ 'step.synthesis.initial_skills_rate'|trans }}</b> {{ riskSynthesis.global.initialSkillsRate|round }}%</span>
        <span class="spaced"><b>{{ 'step.synthesis.current_skills_rate'|trans }}</b> {{ riskSynthesis.global.currentSkillsRate|round }}%</span>
        <span class="spaced"><b>{{ 'step.synthesis.uncontrolled_critical_risks'|trans }}</b> {{ riskSynthesis.global.uncontrolledCriticalRisks }}</span>
        <span class="spaced"><b>{{ 'step.synthesis.controlled_critical_risks'|trans }}</b> {{ riskSynthesis.global.controlledCriticalRisks }}</span>
        <span class="spaced"><b>{{ 'step.synthesis.highest_critical_risks.label'|trans }}</b></span>
        <ul>
            {% for riskAnalysis in riskSynthesis.global.highestCriticalRisksAnalysis %}
                <li>
                <span class="spaced">
                    {{ riskAnalysis.risk.nature.libelle }} - {{ riskAnalysis.risk.label }} : {{ riskAnalysis.skillsRate|default(0) }}%
                    {% if riskSynthesis.global.riskRelatedObjects[riskAnalysis.risk.id] is defined and riskSynthesis.global.riskRelatedObjects[riskAnalysis.risk.id]|length %}
                        {{ 'step.synthesis.highest_critical_risks.related'|transchoice(riskSynthesis.global.riskRelatedObjects[riskAnalysis.risk.id]|length) }}

                        {% set types = [] %}
                        {% for label, count in riskSynthesis.global.riskRelatedObjects[riskAnalysis.risk.id] %}
                            {% set types = types|merge([count~' '~label]) %}
                        {% endfor %}

                        ({{ types|join(', ') }})

                    {% endif %}
                </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
