{% form_theme form 'HopitalNumeriqueAccountBundle:Formulaire:theme.default.html.twig' %}
{{ form_start(form) }}

    {{ form.lastname is defined ? form_row(form.lastname) : '' }}
    {{ form.firstname is defined ? form_row(form.firstname) : '' }}
    {{ form.phoneNumber is defined ? form_row(form.phoneNumber) : '' }}
    {{ form.profileType is defined ? form_row(form.profileType) : '' }}
    {{ form.jobType is defined ? form_row(form.jobType) : '' }}
    {{ form.jobLabel is defined ? form_row(form.jobLabel) : '' }}

    {% if form.organization is defined or form.activities is defined %}
        <h3>Votre structure</h3>
        {{ form.organization is defined ? form_row(form.organization, {'attr': {'data-url': path('hopitalnumerique_etablissement_ajax_load'), 'class': 'ajax-list-select2 etablissement_sante'}}) : '' }}
        {{ form.activities is defined ? form_row(form.activities) : '' }}
    {% endif %}

    {% if form.organizationType is defined or form.organizationLabel is defined or form.region is defined or form.county is defined %}
        <h3>Votre structure n'est pas dans la liste précédente</h3>
        {{ form.organizationType is defined ? form_row(form.organizationType) : '' }}
        {{ form.organizationLabel is defined ? form_row(form.organizationLabel) : '' }}
        {{ form.region is defined ? form_row(form.region, {'attr': {'data-county-url': path('hopital_numerique_user_counties')}}) : '' }}
        {{ form.county is defined ? form_row(form.county) : '' }}
    {% endif %}

    {{ form_rest(form) }}

    <div class="text-right">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">{{ form.informationsType.vars.value == 1 ? "Rejoindre la communauté" : "Enregistrer" }}</button>
            </div>
        </div>
    </div>

{{ form_end(form) }}

<script type="text/javascript">
    Hn_AccountBundle_InformationsManquantes.init();
    new AjaxList($('#nodevouser_user_informationsmanquantes_organization'));
    new CountyList($('#nodevouser_user_informationsmanquantes_region'), $('#nodevouser_user_informationsmanquantes_county'))
</script>
