{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}
	Hôpital Numérique - Modules
{% endblock %}

{% block h1Title %}
    {% if session.id %}
        Editer une session
    {% else %}
        Ajouter une session
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-module-session-edit.css" filter="cssrewrite, ?yui_css"
        '@select2_css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/hopitalnumeriquemodule/css/session/edit.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-module-session-edit.js"
        '@select2_js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/hopitalnumeriquemodule/js/session/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_module_module_session', {'id' : session.module.id}) }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if session.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_module_module_session_delete', { 'id': session.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
	            <div id="form-session">
	                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
	                {# Application des librairies JS sur le form : #}
	                {{ form_javascript(form) }}
	                {{ form_start(form) }}
	                    {# Application des librairies JS sur le form : #}
	                    {{ form_javascript(form) }}
	                    
				        <div class="form-group">
					        <div class="titre row">
					            <div class="col-md-3 text-right">
			                        <label class="control-label">Module concerné</label>
			                    </div>
					            <div class="col-md-6">
			                        <strong>{{ session.module.titre }}</strong>
			                    </div>
			                </div>
		                </div>
			            <div class="clearfix"></div>
	                    {# Formulaire : #}
	                    {{ form_row(form.dateSession) }}
	                    {{ form_row(form.dateOuvertureInscription) }}
	                    {{ form_row(form.dateFermetureInscription) }}
	                    {{ form_row(form.duree) }}
	                    {{ form_row(form.horaires) }}
	                    {{ form_row(form.lieu) }}
	                    {{ form_row(form.description) }}
	                    {{ form_row(form.nombrePlaceDisponible) }}
                        {{ form_row(form.formateur) }}
                        {{ form_row(form.textMailRappel) }}
                        {{ form_row(form.restrictionAcces) }}
	                    {{ form_row(form.connaissances) }}
	                    {# Gestion de l'upload #}
	                    <div class="form-group">
	                        {{ form_label(form.file) }}
	                        <div class="col-md-6">
	                            {% if session.getAbsolutePath() is not null %}
	                                {% set visibility = 'none' %}
	                            {% else %}
	                                {% set visibility = 'block' %}
	                            {% endif %}
	                            <div class="inputUpload" style="display:{{visibility}}">
	                                {{ form_widget(form.file) }}
	                            </div>
	
	                            {% if session.getAbsolutePath() is not null %}
	                                <a class="uploadedFile" href="{{path('hopitalnumerique_module_module_session_dowload', {'id': session.id })}}">{{session.path}}</a>
	                                <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" ><i class="fa fa-trash-o"></i></div>
	                            {% endif %}
	                        </div>
	                        <div class="col-md-3">
	                            <div class="help-block error_file">
	                                {{ form_errors(form.file) }}
	                            </div>
	                        </div>
	                    </div>
	                    {{ form_row(form.etat) }}
                        {{ form_row(form.archiver) }}
	                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
