{%- spaceless -%}

    {% if is_granted("ROLE_ADMINISTRATEUR_1") %}
        <div class="col-md-12 btn-toolbar">
            <input type="hidden" id="save-references-topic-url" value="{{path('hopitalnumerique_forum_reference_topic_save',{'id':topic.id})}}" />
            <input type="hidden" id="save-references-contenu-url" value="{{path('hopitalnumerique_forum_reference_contenu')}}" />
            <a href="{{path('hopitalnumerique_forum_reference_topic_own', {'id':topic.id})}}" class="manageReferences btn btn-xs btn-primary fancybox.ajax pull-right"><i class="fa fa-eye"></i></a>
            <a href="{{path('hopitalnumerique_forum_reference_topic', {'id':topic.id})}}" class="manageReferences edit btn btn-xs btn-primary fancybox.ajax pull-right"><i class="fa fa-cog"></i></a>
            <p class="text-muted text-right pull-right"><span class="nbRefs">{% if not topic.id %}0{% else %}{{topic.references|length}}{% endif %}</span> éléments référencés</p>
        </div>
    {% endif %}
    <header class="row clearfix">
        <div class="col-md-6">
            <span class="lead" title="{{- topic.getTitle -}}">{{- topic.getTitle |capitalize -}}</span>
        </div>
        <div class="col-md-6 text-right">
            <span class="label label-default" title="{{- topic.cachedReplyCount -}}">
                {{- 'topic.reply-count-label' |trans({}, ForumBundle.translation ) -}}
                {{- topic.cachedReplyCount -}}
            </span>

            &nbsp;

            <span class="label label-default" title="{{- topic.cachedViewCount -}}">
                {{- 'topic.view-count-label' |trans({}, ForumBundle.translation ) -}}
                {{- topic.cachedViewCount -}}
            </span>

            {%- if subscription_count is defined -%}
                &nbsp;
                <span class="label label-default" title="{{- subscription_count -}}">
                    {{- 'topic.subscription-count-label' |trans({}, ForumBundle.translation ) -}}
                    {{- subscription_count -}}
                </span>
            {%- endif -%}
        </div>
    </header>

{%- endspaceless -%}
