{%- spaceless -%}
    
    <div class="row">
        <span class="lead" title="{{- topic.getTitle -}}">{{- topic.getTitle -}}</span>
    </div>

    {%- if topic is defined -%}
        
        <section class="clearfix btn-toolbar">

            {%- if board is not defined -%}
                {%- set board = topic.getBoard -%}
            {%- endif -%}

            <a class="btn btn-danger pull-right" rel="nofollow" href="{{- path('ccdn_forum_user_topic_reply', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                {{- 'link.topic.reply' | trans({}, ForumBundle.translation ) -}}
            </a>

            {% if isSubscriptionBoard is not defined or isSubscriptionBoard == false %}
                {%- if canSubscribeToTopic(topic, forum, (subscription is defined ? subscription : null)) -%}
                    <a class="btn btn-success pull-right" href="{{- path('ccdn_forum_user_subscription_subscribe', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                        {{- 'link.topic.subscribe' | trans({}, ForumBundle.translation ) -}}
                    </a>
                {%- endif -%}
    
                {%- if canUnsubscribeFromTopic(topic, forum, (subscription is defined ? subscription : null)) -%}
                    <a class="btn btn-success pull-right" href="{{- path('ccdn_forum_user_subscription_unsubscribe', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                        {{- 'link.topic.unsubscribe' | trans({}, ForumBundle.translation ) -}}
                    </a>
                {%- endif -%}
            {%- endif -%}


            {%- if is_granted('ROLE_ADMINISTRATEUR_1') or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107") -%}
                <div class="btn-group">
                    <ul class="dropdown-menu">

                        {%- if canStickyTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_sticky', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.sticky' |trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canUnstickyTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_unsticky', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.unsticky' |trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canCloseTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_close', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.close' | trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canReopenTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_reopen', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.reopen' | trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canRestoreTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_restore', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.restore' |trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canDeleteTopic(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_delete', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.delete' |trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                        {%- if canTopicChangeBoard(topic, forum) -%}
                            <li>
                                <a class="pull-right" href="{{- path('ccdn_forum_moderator_topic_change_board', {'forumName': forumName, 'topicId': topic.getId }) -}}">
                                    {{- 'link.topic.change_board' | trans({}, ForumBundle.translation ) -}}
                                </a>
                            </li>
                        {%- endif -%}

                    </ul>
                </div>

            {%- endif -%}

        </section>

    {%- endif -%}

    <header class="row clearfix">
        <div class="col-md-12 text-right row">
            <div id="informations-topic">
                <span class="label label-default pull-left" title="{{- topic.cachedReplyCount -}}">
                    {{- 'topic.reply-count-label' |trans({}, ForumBundle.translation ) -}}
                    {{- topic.cachedReplyCount -}}
                </span>

                &nbsp;

                <span class="label label-default pull-left" title="{{- topic.cachedViewCount -}}">
                    {{- 'topic.view-count-label' |trans({}, ForumBundle.translation ) -}}
                    {{- topic.cachedViewCount -}}
                </span>

                {%- if subscription_count is defined -%}
                    &nbsp;
                    <span class="label label-default pull-left" title="{{- subscription_count -}}">
                        {{- 'topic.subscription-count-label' |trans({}, ForumBundle.translation ) -}}
                        {{- subscription_count -}}
                    </span>
                {%- endif -%}
                {% if is_granted("ROLE_ADMINISTRATEUR_1") or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107") %}
                    <span class="pull-left">|</span>
                    <input type="hidden" id="save-references-topic-url" value="{{path('hopitalnumerique_forum_reference_topic_save',{'id':topic.id})}}" />
                    <input type="hidden" id="save-references-contenu-url" value="{{path('hopitalnumerique_forum_reference_contenu')}}" />
                    <a href="{{path('hopitalnumerique_forum_reference_topic_own', {'id':topic.id})}}" class="manageReferences btn btn-xs btn-success fancybox.ajax pull-left"><i class="fa fa-eye"></i></a>
                    <a href="{{path('hopitalnumerique_forum_reference_topic', {'id':topic.id})}}" class="manageReferences edit btn btn-xs btn-success fancybox.ajax pull-left"><i class="fa fa-tags"></i></a>
                    <p class="text-muted text-right pull-left">Note référencement : <span class="nbRefs">{{note|number_format(2, ',')}}</span> / 400</p>
                {% endif %}
            </div>
        </div>

        {%- if is_granted('ROLE_ADMINISTRATEUR_1') or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107") -%}
            <div class="col-md-12" id="transfertDuTopic">

                <div class="row" style="margin-top:15px;margin-bottom:15px;">
                    
                    <div class="col-md-2">
                        <label for="transfert-topic" class="control-label" style="padding-top:5px">Transférer vers :</label>
                    </div>
                    <div class="col-md-8">
                        <select name="transfert-topic" id="transfert-topic" class="form-control">
                            
                            {%- for forumCaracteritics in boards -%}
                                {%- for categoryCaracteritics in forumCaracteritics.categories -%}
                                    <optgroup label="{{ forumCaracteritics.forum }} - {{ categoryCaracteritics.category }}">
                                        {%- for board in categoryCaracteritics.boards -%}
                                            <option value="{{ board.id }}">{{ board }}</option>
                                        {%- endfor -%}
                                    </optgroup>
                                {%- endfor -%}
                            {%- endfor -%}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <div onclick='transfertPost("{{path('hopitalnumerique_forum_post_move', {'topicId' : topic.id})}}")' class="btn btn-success btn-block" title="">Transfert</div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        {% endif %}
    </header>

{%- endspaceless -%}
