{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{# Template Stuff #}

{% block title %}{{parent()}} - Groupes{% endblock %}

{% block h1Title %}
    Liste des groupes
{% endblock %}

{% block toolbarButton %}
    {% if app.user|checkAuthorization( path('nodevo_role_add') ) %}
        <a href="{{path('nodevo_role_add')}}" class="btn btn-default" title="Ajouter un groupe"><i class="fa fa-plus"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}