{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche du groupe {{role.name}}
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('nodevo_role_role')}}" class="btn btn-default" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if app.user|checkAuthorization( path('nodevo_role_edit', {'id':role.id}) ) %}
        <a href="{{path('nodevo_role_edit', {'id':role.id})}}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                 <p>
                    <strong>Nom du groupe : </strong>
                    {{ role.name }}
                </p>

                <p>
                    <strong>Groupe Initial : </strong>
                    {% if role.initial %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </p>

                <p>
                    <strong>Etat : </strong>
                    {{ role.etat.libelle }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}