<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block metadesc %}{{domaineCurrent.nom}}{% endblock %}">
        <meta name="keywords" content="{% block metakeywords %}{% endblock %}">
        <meta name="author" content="NODEVO">

        <title>{{domaineCurrent.nom}} - Recherche aidée</title>

        <link href='http://fonts.googleapis.com/css?family=Viga|Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{% if domaineCurrent.id != 1 %}{{ asset('favicon_anap.ico') }}{% else %}{{ asset('favicon_anap.ico') }}{% endif %}" />
        {% block stylesheets %}
            {% if templateCurrentId == 1 %}
                    {% stylesheets output="compiled/hopitalnumerique-recherche-expBesoin-fancy-1.css" filter="cssrewrite, ?yui_css" 
                        "@bootstrap_css"
                        "@fancybox_css"
                        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
                        'bundles/hopitalnumeriquecore/css/Templates/1/layout.css'
                    %}
                        <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}
                {% elseif templateCurrentId == 2 %}
                    {% stylesheets output="compiled/hopitalnumerique-recherche-expBesoin-fancy-2.css" filter="cssrewrite, ?yui_css" 
                        "@bootstrap_css"
                        "@fancybox_css"
                        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
                        'bundles/hopitalnumeriquecore/css/Templates/2/layout.css'
                    %}
                        <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}
                {% else %}
                    {% stylesheets output="compiled/hopitalnumerique-recherche-expBesoin-fancy-default.css" filter="cssrewrite, ?yui_css" 
                        "@bootstrap_css"
                        "@fancybox_css"
                        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
                        'bundles/hopitalnumeriquecore/css/Templates/1/layout.css'
                    %}
                        <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts output="compiled/hopitalnumerique-recherche-expBesoin-fancy.js" 
                "@jquery_js" 
                "@jquery_ui_js"
                "@bootstrap_js"
                "@fancybox_js" 
                'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
                'bundles/hopitalnumeriquecore/js/recherche.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-49829801-1', 'monhopitalnumerique.fr');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div class="panel panel-midnightblue" style="margin:0" >
            <div class="panel-heading" style="height:5px"></div>
            <div class="clearfix"></div>
            <div id="panel-recherche">
                <div class="tableContent" id="expression-du-besoin">
                    {% for expBesoin in expBesoins %}
                        <div id="expBesoin-{{expBesoin.id}}" class="expression-du-besoin-form" data-id="{{expBesoin.id}}">
                            {% include "HopitalNumeriqueRechercheBundle:ExpBesoin:Fancy/Partial/expbesoin_formulaire.html.twig" with { 'expBesoin':expBesoin } %}
                        </div>
                        <div class="clearfix"></div>
                    {% endfor %}

                    <input type="hidden" id="expBesoin-actif-id" value="" />
                    <input type="hidden" id="reponses-json" value="{{ reponses }}" />

                </div>
                <div class="clearfix"></div>

                <input type="hidden" id="url-modification-session-recherche" value="{{ path("hopital_numerique_expbesoin_modification_session_recherche") }}" />
                <input type="hidden" id="url-recherche" value="{{ path("hopital_numerique_recherche_homepage") }}" />
                <input type="hidden" id="url-sauvegarde-clic-stat" value="{{ path("hopital_numerique_expbesoin_stat_add") }}" />

            </div>
            <div class="clearfix"></div>

            {# Sauvegarde des différents clics des réponses #}
            <input type="hidden" id="order-clic" value="[]" />
        </div>
    </body>
</html>
<script type="text/javascript" >
    $(document).ready(function() {
        //Cache le bloc de références
        $('#redirection-references').hide();
        //Cache toutes les questions
        $('#expression-du-besoin .expression-du-besoin-form').each(function(){
            $(this).hide();
        });

        $('#question-precedente').hide();

        //Ré-Affiche la première question (l'ordre le plus bas)
        $('#expression-du-besoin .expression-du-besoin-form').first().show();
    });

    function retourDerniereQuestion(idQuestion)
    {
        //Création du loader
        var loader = $('#expression-du-besoin').nodevoLoader().start();

        var arrayClics = $.parseJSON($("#order-clic").val());
        $('#expression-du-besoin').find('#expBesoin-' + arrayClics[0]).show();
        $('#expression-du-besoin').find('#expBesoin-' + idQuestion).hide();
        
        arrayClics.shift();

        if(arrayClics.length === 0)
            $('#question-precedente').hide();

        //Mise à jour de l'input hidden
        $("#order-clic").val(JSON.stringify(arrayClics));
        loader.finished();
    }

    function clickReponse( idReponse, idQuestion )
    {
        var loader = $('#expression-du-besoin').nodevoLoader().start();

        //Sauvegarde du clic sur la réponse en base
        sauvegardeClicStat(idReponse);

        //Récupération des réponses
        var reponses = $.parseJSON($('#reponses-json').val());

        //Récupération de la réponse courante
        var reponsesCourante = reponses[idReponse];

        //Cache la question courante
        //$(this).parents('.expression-du-besoin-form').hide();
        $('#expression-du-besoin').find('#expBesoin-' + idQuestion).hide();

        //Vérifie si on pointe sur une nouvelle question ou si on doit rediriger vers la recherche
        if(reponsesCourante['autreQuestion'])
        {
            //Affiche celle sur laquelle la réponse pointe
            $('#expression-du-besoin').find('#expBesoin-' + reponsesCourante['idQuestion']).show();

            var arrayClics = $.parseJSON($("#order-clic").val());
            arrayClics.unshift(idQuestion);
            //Mise à jour de l'input hidden
            $("#order-clic").val(JSON.stringify(arrayClics));
            $('#question-precedente').show();

            loader.finished();
        }
        else
        {
            var path   = $('#url-modification-session-recherche').val();

            //Génération du cookie JS pour la recherche
            $.ajax({
                url      : path,
                data : {
                    id : idReponse
                },
                type     : 'POST',
                dataType : 'json',
                success : function( data ){
                    if( data.success )
                    {
                        parent.location = $("#url-recherche").val();                    
                    }
                    else
                    {
                        apprise('Une erreur est survenue lors du chargement du calcul de votre recherche, merci de réessayer.');
                        loader.finished();
                    }
                }
            });
        }
    }

    function sauvegardeClicStat( idReponse )
    {
        var path   = $('#url-sauvegarde-clic-stat').val();

        $.ajax({
            url      : path,
            data : {
                id : idReponse
            },
            type     : 'POST',
            dataType : 'json',
            success : function( data ){
            }
        });
    }
</script>
