<meta charset="utf-8">
<style type="text/css">
    @page{
        margin: 1cm 0.5cm;
        size: A4 landscape ;
    }
    li{font-size: 12px;margin:0; padding-top: 0;}
    ul{margin-top: 0;padding-top: 0;margin-bottom: 0;padding-bottom: 0;}
</style>
<table width="1100px" style="margin:0 auto; border:1px solid #e3e3e3; padding-bottom:15px;" >
    {# Titre #}
    <tr align="center" style="font-size:14px;border:1px solid #e3e3e3;">
        <td style="width:100px;">
            <img src="{{app.request.getSchemeAndHttpHost()}}{{asset('bundles/hopitalnumeriquecore/img/anap.jpg')}}" alt="ANAP" id="logoAnap" class="pull-left" />
        </td>
        <td style="width:1000px;">
            <strong>FEUILLE D'EMARGEMENT</strong>
        </td>
    </tr>
    {# Libelle #}
    <tr align="center" style="font-size:14px;border:1px solid #e3e3e3;height:50px">
        <td colspan="2">
            <strong>Accompagnement Hôpital Numérique - {{evenementExpert.activite.titre}}</strong>
        </td>
    </tr>
    {# Ligne du module #}
    <tr style="border:1px solid #e3e3e3;">
        <td colspan="2">
            <strong>
                {{ evenementExpert.nom.libelle }} - {{ evenementExpert.date|date('d/m/Y') }}<br />
                Anapiens : 
                <ul>
                    {% for anap in evenementExpert.activite.anapiens %}
                        <li>
                            {{anap.getAppellation()}}
                        </li>
                    {% endfor %}
                </ul>
            </strong>
        </td>
    </tr>
</table>
{# Ligne de séparation #}
<div style="background: #5d5d5d;height:20px; width:1100px"></div>
<table width="1100px" style="margin:0 auto; border-collapse:collapse;">
    <thead>
        <tr class="grid-row-titles">
            <th style="font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="25px"><strong>REGION</strong></th>
            <th style="font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="25px"><strong>ETABLISSEMENT</strong></th>
            <th style="width:72px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="25px"><strong>PRENOM</strong></th>
            <th style="width:70px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="25px"><strong>NOM</strong></th>
            <th style="width:300px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;margin: 0; padding: 0;" height="25px"><strong>SIGNATURE</strong></th>
            <th style="width:300px;font-size:12px;vertical-align:middle;border:1px solid #e3e3e3;"><strong>OBSERVATIONS</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for expert in evenementExpert.experts %}
            <tr>
                <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;" height="50px">
                    {% if expert.expertConcerne.region is not null and expert.expertConcerne.region is not empty %}
                        {{ expert.expertConcerne.region.libelle }}
                    {% else %}
                        - Région renseignée -
                    {% endif %}
                </td>
                <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;">
                    {% if expert.expertConcerne.etablissementRattachementSante is not null %}
                        {{ expert.expertConcerne.etablissementRattachementSante.nom }}
                    {% else %}
                        {{ expert.expertConcerne.autreStructureRattachementSante }}
                    {% endif %}
                </td>
                <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;">
                    {{ expert.expertConcerne.prenom }}
                </td>
                <td style="border:1px solid #e3e3e3;font-size:11px;text-align:center;">
                    {{ expert.expertConcerne.nom }}
                </td>
                <td style="border:1px solid #e3e3e3;font-size:11px;">
                    
                </td>
                <td style="border:1px solid #e3e3e3;font-size:11px;">
                    
                </td>
            </tr>
        {% endfor %}  
    </tbody>
</table>