{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-requete-index.css" filter="cssrewrite, ?yui_css"
        "@jquery_toggles_css"
        'bundles/hopitalnumeriquerecherche/css/requete.css'
        'bundles/nodevoadmin/css/toggles.css'
        'bundles/hopitalnumeriquerecherche/css/Requete/popin-detail.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-recherche-requete-index.js"
        "@jquery_toggles_js"
        'bundles/hopitalnumeriquerecherche/js/requete.js'
        'bundles/hopitalnumeriquerecherche/js/Requete/PopinDetail.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}recherches{% endblock %}
{% block headerDesc %} 
    <p>
        A partir des menus déroulants situés à gauche de l'écran, vous pourrez :
	    <ul>
		    <li>choisir d'être prévenu de la mise à jour des documents</li>
		    <li>consulter les critères d'une requête</li>
		    <li>supprimer une requête ou la renommer</li>
		    <li>supprimer un document déjà consulté</li>
	    </ul>
    </p>
    
{% endblock %}

{% block content %}
    <h2 class="requeteTitle" >Gérer mes recherches</h2>
    <div class="requetes">
        {% for requete in requetes %}
            <div class="ligne requete-{{requete.id}}" data-target="{{path('hopital_numerique_recherche_homepage_requete',{ id : requete.id } ) }}">
                <div {% if not requete.isDefault %}title="Mettre par défaut"{% endif %} class="default {% if requete.isDefault %}active{% endif %}" data-link="{{path('hopital_numerique_requete_toggle',{'id':requete.id})}}" >
                    <i class="fa {% if requete.isDefault %}fa-star{% endif %}"></i>
                </div>

                <p {% if requete.isDefault %}class="violet"{% endif %} >
                    {{requete.nom|capitalize}}
                    {% if requete.isNew %}
                        <span class="label label-danger">Nouveau</span>
                    {% endif %}
                    {% if requete.isUpdated %}
                        <span class="label label-success">MaJ</span>
                    {% endif %}
                </p>

                <div class="actions pull-right">
                    <div class="fa fa-envelope btn-pas-mobile hide {% if requete.isUserNotified %}active{% else %}inactive{% endif %}" title="Notifications" onclick="showDetails('{{path('hopital_numerique_requete_mail',{'id':requete.id})}}')"></div>
                    <div class="fa fa-eye btn-pas-mobile" title="Voir le détail" onclick="showDetails('{{path('hopitalnumerique_recherche_referencement_requete_popindetail',{'requete':requete.id})}}')"></div>
                    <div class="fa fa-edit btn-pas-mobile" title="Editer" onclick="editRequete('{{path('hopital_numerique_requete_edit',{'id':requete.id})}}')"></div>
                    <div class="fa fa-times-circle" title="Supprimer" onclick="deleteWithConfirm('{{path('hopital_numerique_requete_delete',{'id':requete.id})}}')"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        {% else %}
            <div class="ligne">
                <p> - Aucune Ma recherche enregistrée - </p>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
    
<style type="text/css">
    .toggleType .toggle-slide .toggle-inner .toggle-off{background: #d9534f}
    .toggleType .toggle-slide .toggle-inner .toggle-on{background: #85c744}
</style>
<script type="text/javascript">
$(document).ready(function() {
    var type = $('#user-notification-publication').val() == 'true';
    var url  = $("#url-notification-publication").val();
    $('.toggleType').toggles( { on : type, width:50, text : { on : 'Oui', off : 'Non' } } ).on('toggle', function (e, active) {
        $.ajax({
            url  : url,
            data : {
                notifier : active
            },
            type     : 'POST',
            dataType : 'json',
            success  : function( data ){
               //reorder done with success
            }
        });  
    });
});
</script>

    <h2 class="requeteTitle" >Mes publications consultées</h2>
    <div class="notif-requete col-md-12 row" style="margin: 12px 0 0;">
        <div class="col-md-10 text-muted">
            Je souhaite recevoir les notifications des mises à jour des publications suivantes :
        </div>
        <div class="col-md-2 no-padding">
            <div class="pull-right">
                <div class="toggleType toggle-success"></div>
                <input type="hidden" id="user-notification-publication" value="{% if app.user.notficationRequete %}true{% else %}false{% endif %}" />
                <input type="hidden" id="url-notification-publication" value="{{path('hopital_numerique_user_toggle_notification_requete')}}" />
            </div>
        </div> 
    </div>
    <div class="clearfix"></div>
    <div class="requetes">
        {% for consultation in consultations %}
            <div class="ligne consultation-{{consultation.id}}" >
                {% if not consultation.contenu %}
                    <a href="{{path('hopital_numerique_publication_publication_objet', {'id':consultation.objet.id, 'alias':consultation.objet.alias})}}" title="{{consultation.objet.titre|capitalize}}">
                        {% if consultation.objet.getDateModification() > consultation.getDateLastConsulted() %}<i class="fa fa-refresh"></i>{% endif %}{{consultation.objet.titre|capitalize|truncate(120)}}
                    </a>
                {% else %}
                    <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':consultation.objet.id, 'alias':consultation.objet.alias,'idc':consultation.contenu.id, 'aliasc':consultation.contenu.alias})}}" title="{consultation.contenu.titre|capitalize}}">
                        {% if consultation.contenu.getDateModification() > consultation.getDateLastConsulted() %}<i class="fa fa-refresh"></i>{% endif %}{{consultation.contenu.titre|capitalize|truncate(120)}}
                    </a>
                {% endif %}
                
                <div class="actions">
                    <div class="fa fa-times-circle" title="Supprimer" onclick="deleteWithConfirm('{{path('hopital_numerique_requete_consultation_delete', {'id':consultation.id})}}')"></div>
                </div>
            </div>
        {% else %}
            <div class="ligne">
                <p> - Aucune publication consultée - </p>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
