{% block stylesheets %}
    {% stylesheets output="compiled/hopitalnumerique-intervention-evaluation-formEdit.css" filter="cssrewrite"
        'bundles/hopitalnumeriquequestionnaire/css/questionnaire.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

<div id="form_questionnaire_front">

    <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>
    
    <form id="form_intervention_evaluation" method="post" action="{{ path('hopital_numerique_intervention_evaluation_form', { interventionDemande:interventionDemande.id }) }}" class="form-horizontal toValidate" novalidate="novalidate" {{ form_enctype(form) }}>
        {% form_theme form 'HopitalNumeriqueQuestionnaireBundle:Questionnaire/Theme:theme.horizontal.html.twig' %}
        {{ form_javascript(form) }}
        {{ form_widget(form) }}
        {% if readOnly != true %}<div class="boutons">
            <input type="submit" class="btn btn-success" value="Enregistrer">
        </div>{% endif %}
    </form>
</div>