{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Tableau de bord{% endblock %}

{% block communaute_pratique_sommaire %}{% endblock %}

{% block body_communaute_pratique %}

    <div class="communaute-de-pratiques-tableau-de-bord">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <h2><em class="icon icon-download105"></em> Tableau de bord</h2>
                    </div>
                    <div class="panel-body">



                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <h2><em class="icon icon-news"></em> Actualités de la communauté</h2>
                    </div>
                    <div class="panel-body">

                        {% if derniereActualite is not null %}
                            <div class="communaute-de-pratiques-actualite">
                                <h3>{{ derniereActualite.titre }}</h3>
                                <div class="date">Édito du {{ derniereActualite.dateCreation|date('d/m/Y') }}</div>
                                <div class="body">{{ derniereActualite.resume|unescape }}</div>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel panel-communaute-de-pratiques communaute-de-pratiques-bloc-membres">
                    <div class="panel-heading">
                        <h2><em class="icon icon-social20"></em> Membres de la communauté</h2>
                    </div>
                    <div class="panel-body">

                        <div class="total">{{ totalMembres }} membres</div>

                        <div class="row">

                            {%- for membre in membres -%}
                                <div class="col-xs-4">
                                    <div class="membre">
                                        <div class="communaute-de-pratiques-avatar" style="background-image: url('{{ asset(membre.avatarWebPath) }}');"></div>
                                        {{ membre.prenomNom }}
                                    </div>
                                </div>
                            {%- endfor -%}

                        </div>

                        <nav class="lien">
                            <a href="{{ path('hopitalnumerique_communautepratique_user_list') }}"><em class="fa fa-angle-double-right"></em> &nbsp; Voir tous les membres</a>
                        </nav>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <h2><em class="icon icon-social20"></em> Groupes de travail</h2>
                    </div>
                    <div class="panel-body">

                        {% for groupe in groupesEnVedette %}
                            {{ communaute_pratique.display_groupe(groupe) }}
                        {% endfor %}

                        <nav class="lien">
                            <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}"><em class="fa fa-angle-double-right"></em> &nbsp; Voir tous les groupes de travail</a>
                        </nav>

                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <h2><em class="icon icon-social20"></em> Mes groupes de travail</h2>
                    </div>
                    <div class="panel-body">

                        <ul class="communaute-de-pratiques-mes-groupes">
                            {% for groupe in userGroupesEnCours %}
                                <li>
                                    <a href="{{ path('hopitalnumerique_communautepratique_groupe_view', { 'groupe':groupe.id }) }}">{{ groupe }}</a>
                                </li>
                            {% else %}
                                <li>Aucun groupe en cours</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

                <div class="communaute-de-pratiques-bloc-publications">
                    <a href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em class="icon-documents7"></em> Publications issues des groupes</a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <h2><em class="icon icon-chat27"></em> Échanger avec toute la communauté</h2>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            {%- for topic in forumLastTopics -%}
                                <div class="col-md-4">
                                    <div class="forum">
                                        <h3><a href="{{ path('ccdn_forum_user_topic_show', { forumName:topic.board.category.forum.name, topicId:topic.lastPost.topic.id }) }}"><strong>{{ topic.lastPost.topic.title }}</strong></a></h3>
                                        {{ topic.lastPost.body|truncate(240) }} <a href="{{ path('ccdn_forum_user_topic_show', { forumName:topic.board.category.forum.name, topicId:topic.lastPost.topic.id }) }}">En savoir plus</a>
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>

                        <nav class="lien">
                            <a href="{{ path('ccdn_forum_user_category_index', { forumName:forum.name }) }}"><em class="fa fa-angle-double-right"></em> &nbsp; Accéder au forum</a>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
