{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Recherche{% endblock %}
{% block metadesc %}Recherche{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-search-index.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        "@bootstrap_multiselect_css"
        'bundles/hopitalnumeriquerecherche/css/style.css'
        'bundles/hopitalnumeriquerecherche/css/synthese.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-recherche-search-index.js"
        "@fancybox_js" 
        "@jquery_cookie_js"
        "@bootstrap_multiselect_js"
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquerecherche/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            resetRequete();
        });
    </script>
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    <div id="recherche">
        <div class="col-md-4">
            <div id="origin">
                <ol>
                    {{ mySelf.buildTree(elements, 0, 'cliquable') }}
                </ol>
            </div>
            {% if app.user %}
                <div class="btn btn-block background-violet text-left" id="smallMesRequetes" onclick="$('#mesrequetes').click();"><i class="fa fa-list"></i> Mes recherches</div>
            {% endif %}

        </div>

        <div class="col-md-8">
            <div class="requete">
                <h2 class="violet {% if refs != '[]' %}ropen{% endif %}">Ma recherche</h2>
                <div id="blocRequeteRecherche">
    
                    <div class="placeholder" {% if refs != '[]' %}style="display:none"{% endif %}>
                        <p class="text-muted">{{'Module_recherche_introduction'|nodevoTexteDynamique(domaineCurrent.id)|raw|nl2br}}</p>
                    </div>

                    <div id="dest" {% if refs == '[]' %}class="hide"{% endif %} >
                        <div class="requeteNom pull-right text-muted" {% if requete %}data-id="{{requete.id}}"{% else %}style="display:none" data-id=""{% endif %} >
                            {% if requete %}{{requete.nom}}{% endif %}
                        </div>

                        {% if refs != '[]' %}
                            <script type="text/javascript">showPlaceholder = false;</script>
                        {% endif %}

                        {% if not app.user or app.user|checkAuthorization( path('hopital_numerique_requete_homepage') ) %}
                            <div class="btn btn-xs btn-success" onclick="saveRequest( '{{ app.user }}' );" >Enregistrer</div>
                        {% endif %}
                            <div class="btn btn-xs btn-danger" onclick="cleanRequest();" >Réinitialiser</div>
                        <hr />

                        <ol class="arbo-requete">
                            {{ mySelf.buildTreeDest(elements, 0, 'hide') }}
                        </ol>

                        {# GME 05/01/15 : Les résultats du filtre ET la recherche textuelle doivent être cachés #}
                        <div class="hide">

                        <hr />

                        <span><strong>Ma recherche textuelle</strong></span><br />
                        <span id="arbo-recherche-textuelle">
                        </span>
                            <hr />

                            <ol id="arbo-type-prod">
                            </ol>
                            <div class="clearfix"></div>
                        </div>    
                    </div> 

                    <hr />
                        
                    <div class="row">
                            <div id="bloc_exalead" class="col-md-6" {% if not activationExalead %}style="display:none"{% endif %}>
                                <div id="recherche_textuelle_group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" name="recherche_textuelle" id="recherche_textuelle" class="form-control col-md-12" value="{{rechercheTextuelle}}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button" onclick="RechercheExalead();"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary" type="button" title="Recherche avancée" onclick="toggleRechercheAvancee();"><i class="fa fa-cog"></i></button>
                                        </span>
                                        <input type="hidden" id="recherche_textuelle_minifie" value="{{categoriesProductionActif}}" />
                                    </div>
                                    <div class="recherche_textuelle_avancee">
                                        <a class="close" onclick="toggleRechercheAvancee();">Fermer</i></a>
                                        <div class="title">Que cherchez vous ?</div>
                                        <ul>
                                            <li><a onclick="rechercheAvancee('&quot;Entrez votre formulation ici&quot;', 1, -1);">Formulation exacte</a></li>
                                            <li><a onclick="rechercheAvancee('-Entrez le terme ici', 1, 0);">Termes exclus</a></li>
                                            <li><a onclick="rechercheAvancee('OPT (Entrez le terme ici)', 5, -1);">Termes optionnels</a></li>
                                            <li><a onclick="rechercheAvancee('NEAR Entrez le terme ici', 5, 0);">Recherche de proximité</a></li>
                                            <li><a onclick="rechercheAvancee('Entrez le terme ici*', 0, -1);">Termes commençant par</a></li>
                                        </ul>
                                        
                                        {#<div class="title">Avez-vous besoin de la recherche approximative ?</div>
                                        <ul>
                                            <li><a onclick="rechercheAvancee('Entrez le terme ici*', 0, -1);">Termes commençant par</a></li>
                                        </ul>#}
                                        
                                        <div class="title">Où voulez-vous chercher ?</div>
                                        <ul>
                                            <li><a onclick="rechercheAvancee('title:(Entrez le terme ici)', 7, -1);">Recherche par titre</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        <div id="bloc_filtres" class="col-md-6" style="padding-left:15px;">

                            <select multiple="multiple" class="form-control" placeholder="Sélectionnez un filtre pour un point dur" name="categ_production_select" id="categ_production_select" style="height:200px;">
                                {% for categorieProduction in categoriesProduction %}
                                    <option value="{{categorieProduction.id}}" >{{categorieProduction.libelle}}</option>
                                {% endfor %}

                                <option value="forum">Fil de forum</option>
                            </select>
                            <input type="hidden" id="categ_production_select_vals" value="{{categoriesProductionActif}}" />
                            <input type="hidden" id="categ_production_select_vals_chargement" value="{{categoriesProductionActifJSON}}" />
                        </div>

                        <div class="col-md-12 alertExalead" style="display:none">
                            <span class="label label-danger">Merci de préciser votre recherche (2 caractères minimum)</span>
                        </div>
                        <div class="col-md-12 alertExaleadEtoile" style="display:none">
                            <span class="label label-danger">Merci de préciser votre recherche (3 caractères minimum)</span>
                        </div>
                    </div> 
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div id="resultats"></div>
        </div>

        <input type="hidden" id="search-homepage-url" value="{{path('hopital_numerique_recherche_homepage_requete')}}" />
        <input type="hidden" id="resultats-url" value="{{path('hopital_numerique_recherche_getresults')}}" />
        <input type="hidden" id="resultats-type-production" value="{{path('hopital_numerique_recherche_gettypeproduction')}}" />
        <input type="hidden" id="requete-save-url" value="{{path('hopital_numerique_requete_save')}}" />
        <input type="hidden" id="requete-refs" value="{{refs}}" />

        <div class="clearfix"></div>
    </div>
{% endblock %}

{# Construit le système de parents > enfants des catégories #}
{% macro buildTree(elements, level, class) %}
    {% if level == 0 and class == 'cliquable' %}
        {% set liClass = '' %}
    {% else %}
        {% set liClass = class %}
    {% endif %}

    {% import _self as mySelf %}
    {% for element in elements  %}
        
        {% if element.childs %}
            <li class="{{liClass}} childs level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
        {% else %}
            <li class="{{liClass}} level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
        {% endif %}
            {% if level != 0 and class == 'cliquable' %}
                <i class="fa fa-plus-circle pull-left"></i>
            {% endif %}
            <span>
                {{element.libelle}}
            </span>
            {% if element.childs %}
                {% if level == 2 and class == 'cliquable' %}
                    <i class="fa fa-chevron-right pull-right"></i>
                {% endif %}
                <ol>
                    {% for child in element.childs %}
                        {{ mySelf.buildTree(child, level+1, class ) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# Construit le système de parents > enfants des catégories #}
{% macro buildTreeDest(elements, level, class) %}
    {% if level == 0 and class == 'cliquable' %}
        {% set liClass = '' %}
    {% else %}
        {% set liClass = class %}
    {% endif %}

    {% import _self as mySelf %}
    {% for element in elements  %}
        
        {% if element.childs %}
            <li class="{{liClass}} childs level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
        {% else %}
            <li class="{{liClass}} level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
                <span>
                    {{element.libelle}}
                </span>
        {% endif %}
            {% if element.childs %}
                {% if level == 2 and class == 'cliquable' %}
                    <i class="fa fa-chevron-right pull-right"></i>
                {% endif %}
                <ol>
                    {% for child in element.childs %}
                        {{ mySelf.buildTreeDest(child, level+1, class ) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
