{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Recherche{% endblock %}
{% block metadesc %}Recherche{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-search-index.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css" 
        "@bootstrap_multiselect_css"
        'bundles/hopitalnumeriquerecherche/css/style.css'
        'bundles/hopitalnumeriquerecherche/css/synthese.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-recherche-search-index.js"
        "@fancybox_js" 
        "@jquery_cookie_js"
        "@bootstrap_multiselect_js"
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquerecherche/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        {% if refs == '[]' %} hasResultat = true;{% else %} hasResultat = false;{% endif %};

        $(document).ready(function() {
            if( $(".arbo-requete").find('li:not(.hide)').length == 0 
                && ($("#recherche_textuelle").val() == '') ) 
            {
                var loader = $('#resultats').nodevoLoader().start();
                
                if(ajaxRequeteResultat != null )
                {
                    ajaxRequeteResultat.abort();
                }   

                //AJAX call for results
                ajaxRequeteResultat = $.ajax({
                    url  : $('#resultats-url').val(),
                    data : {
                        references         : getReferences(),
                        cleanSession       : true,
                        categPointDur      : $("#categ_production_select_vals").val(),
                        rechercheTextuelle : $("#recherche_textuelle").val()
                    },
                    type    : 'POST',
                    success : function( data ){
                        $('.requete h2').html( 'Requête de recherche' );
                        $('#resultats').html('');

                        hasResultat = false;

                        affichagePlaceholder();
                        
                        loader.finished();
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    <div id="recherche">
        <div class="col-md-4">
            <div id="origin">
                <ol>
                    {{ mySelf.buildTree(elements, 0, 'cliquable') }}
                </ol>
            </div>
            {% if app.user %}
                <div class="btn btn-block background-violet text-left" id="smallMesRequetes" onclick="$('#mesrequetes').click();"><i class="fa fa-list"></i> Mes requêtes</div>
            {% endif %}

        </div>

        <div class="col-md-8">
            <div class="requete">
                <h2 class="violet {% if refs != '[]' %}ropen{% endif %}">Requête de recherche</h2>
                <div id="blocRequeteRecherche">
    
                    <div class="placeholder" {% if refs != '[]' %}style="display:none"{% endif %}>
                        <p class="text-muted">Ici seront placés les critères de recherche que vous aurez choisis dans le référentiel à gauche. Pour voir le détail d'un critère, cliquer sur le texte ou le chevron. Pour choisir un critère, cliquer sur le signe + ou double cliquer sur le texte.</p>
                        <p class="text-muted">Les résultats correspondant aux critères sont répartis en 4 catégories : les points durs (les questions communes aux établissements de santé), les productions ANAP, les productions externes à l'ANAP, et les fils de discussion au forum.</p>
                    </div>

                    <div id="dest" {% if refs == '[]' %}class="hide"{% endif %} >
                        <div class="requeteNom pull-right text-muted" {% if requete %}data-id="{{requete.id}}"{% else %}style="display:none" data-id=""{% endif %} >
                            {% if requete %}{{requete.nom}}{% endif %}
                        </div>

                        {% if refs != '[]' %}
                            <script type="text/javascript">showPlaceholder = false;</script>
                        {% endif %}

                        {% if not app.user or app.user|checkAuthorization( path('hopital_numerique_requete_homepage') ) %}
                            <div class="btn btn-xs btn-success" onclick="saveRequest( '{{ app.user }}' );" >Enregistrer ma requête</div>
                        {% endif %}
                            <div class="btn btn-xs btn-danger" onclick="cleanRequest();" >Réinitialiser ma requête</div>
                        <hr />

                        <span><strong>Mes critères de recherche</strong></span>
                        <ol class="arbo-requete">
                            {{ mySelf.buildTree(elements, 0, 'hide') }}
                        </ol>

                        {# GME 05/01/15 : Les résultats du filtre ET la recherche textuelle doivent être cachés #}
                        <div class="hide">

                        <hr />

                        <span><strong>Ma recherche textuelle</strong></span><br />
                        <span id="arbo-recherche-textuelle">
                        </span>
                            <hr />

                            <ol id="arbo-type-prod">
                            </ol>
                        </div>    
                    </div> 

                    <hr />

                    <div {% if not activationExalead %}style="display:none"{% endif %}>
                        <div id="recherche_textuelle_group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" name="recherche_textuelle" id="recherche_textuelle" class="form-control col-md-12" value="{{rechercheTextuelle}}" />
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button"><i class="fa fa-check"></i></button>
                                  </span>
                                <input type="hidden" id="recherche_textuelle_minifie" value="{{categoriesProductionActif}}" />
                            </div>
                        </div>
                    </div>

                    <div id="bloc_filtres">
                    
                        <hr />

                        <select multiple="multiple" class="form-control" placeholder="Sélectionnez un filtre pour un point dur" name="categ_production_select" id="categ_production_select" style="height:200px;">
                            {% for categorieProduction in categoriesProduction %}
                                <option value="{{categorieProduction.id}}" >{{categorieProduction.libelle}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="categ_production_select_vals" value="{{categoriesProductionActif}}" />
                        <input type="hidden" id="categ_production_select_vals_chargement" value="{{categoriesProductionActifJSON}}" />
                    </div>
                </div>
            </div>
            
            <div id="resultats"></div>
        </div>

        <input type="hidden" id="search-homepage-url" value="{{path('hopital_numerique_recherche_homepage_requete')}}" />
        <input type="hidden" id="resultats-url" value="{{path('hopital_numerique_recherche_getresults')}}" />
        <input type="hidden" id="resultats-type-production" value="{{path('hopital_numerique_recherche_gettypeproduction')}}" />
        <input type="hidden" id="requete-save-url" value="{{path('hopital_numerique_requete_save')}}" />
        <input type="hidden" id="requete-refs" value="{{refs}}" />

        <div class="clearfix"></div>
    </div>
{% endblock %}

{# Construit le système de parents > enfants des catégories #}
{% macro buildTree(elements, level, class) %}
    {% if level == 0 and class == 'cliquable' %}
        {% set liClass = '' %}
    {% else %}
        {% set liClass = class %}
    {% endif %}

    {% import _self as mySelf %}
    {% for element in elements  %}
        
        {% if level == 1 and element.childs %}
            <li class="{{liClass}} childs level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
        {% else %}
            <li class="{{liClass}} level{{level}} element-{{element.id}}" data-id="{{element.id}}" >
        {% endif %}
            {% if level != 0 and class == 'cliquable' %}
                <i class="fa fa-plus-circle pull-left"></i>
            {% endif %}
            <span>
                {{element.libelle}}
            </span>
            {% if element.childs %}
                {% if level == 2 and class == 'cliquable' %}
                    <i class="fa fa-chevron-right pull-right"></i>
                {% endif %}
                <ol>
                    {% for child in element.childs %}
                        {{ mySelf.buildTree(child, level+1, class ) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
