<div class="row" {% if count > 2 %}style="display:none"{% endif %} >
    <div class="col-md-10">
        {% if objet['objet'] is not null %}
            {# Contenu #}
            <h4><a href="{{path('hopital_numerique_recherche_publication_contenu', {'id':objet['objet'],'alias':objet['aliasO'],'idc':objet['id'],'aliasc':objet['aliasC']})}}" >{{objet['titre']}}</a></h4>
        {% else %}
            {# Objet #}
            <h4><a href="{{path('hopital_numerique_recherche_publication_objet', {'id':objet['id'],'alias':objet['alias']})}}" >{{objet['titre']}}</a></h4>
        {% endif %}
    </div>
    
    <div class="col-md-2">
        {% if objet['objet'] is not null %}
            <a class="synthese fancybox.iframe" href="{{path('hopital_numerique_recherche_synthese',{'id':objet['objet']})}}">synthèse</a>
        {% endif %}
    </div>
    <div class="col-md-12">
        <p>{{ objet['resume'] }}</p>
    </div>
</div>