<div class="row" {% if showMoreProductions is defined and count >= showMoreProductions %}style="display:none"{% endif %} >
    <div class="col-md-10">
        <h5>{{objet['type']}}{% if objet['source'] is defined and objet['source'] != '' %} <span class="text-muted">({{objet['source']}})</span>{% endif %}</h5>
    </div>
    <div class="col-md-2">
        {% if objet['synthese'] is not null %}
            <a class="synthese fancybox.iframe" href="{{path('hopital_numerique_publication_synthese',{'id':objet['synthese']})}}">synthèse</a>
        {% endif %}
    </div>
    <div class="col-md-12">
        <h4>
            {% if objet['updated'] %}
                <span class="label label-success">MaJ</span>
            {% elseif objet['new'] %}
                <span class="label label-danger">Nouveau</span>
            {% endif %}

            {% if not onlyText %}
                {% if objet['primary'] >= 1 %}
                    <img class="niveau" src="{{asset('bundles/hopitalnumeriquerecherche/img/niv-1-prod.png')}}" alt="Niveau 1" title="Contenus les plus pertinents" />
                {% elseif objet['countRef'] <= 200 %}
                    <img class="niveau" src="{{asset('bundles/hopitalnumeriquerecherche/img/niv-2-prod.png')}}" alt="Niveau 2" title="Contenus pertinents" />
                {% elseif objet['countRef'] > 200 %}
                    <img class="niveau" src="{{asset('bundles/hopitalnumeriquerecherche/img/niv-3-prod.png')}}" alt="Niveau 3" title="Contenus potentiellement pertinents" />
                {% endif %}
            {% endif %}
            
            {% if objet['objet'] is not null %}
                <a href="{{path('hopital_numerique_publication_publication_contenu', {'id':objet['objet'],'alias':objet['aliasO'],'idc':objet['id'],'aliasc':objet['aliasC']})}}" >
            {% else %}
                <a href="{{path('hopital_numerique_publication_publication_objet', {'id':objet['id'],'alias':objet['alias']})}}" >
            {% endif %}
            {% set objetIdInfradoc = - objet['id'] %}
            {% if objetsOrder[objetIdInfradoc]['parent'] is defined and objetsOrder[objetIdInfradoc]['parent'] is not null  and objet['objet'] is not null %}
                {{objetsOrder[objetIdInfradoc]['parent'].getTitre()}}<br />
                <i style="font-size:15px;" class="fa fa-share fa-flip-vertical"></i><span class="gris" style="font-size:16px;"> {{objetsOrder[objetIdInfradoc]['prefixe']}} {{objet['titre']}}</span>
            {% else %}
                {{objet['titre']}}
            {% endif %}
            </a>
        </h4>
    </div>
    <div class="col-md-12">
        {% if objet['hasPageBreak']%}
            <p>{{ objet['resume']|trim }}</p>
        {% else %}
            <p>{{ objet['resume']|trim|truncate(400) }}</p>
        {% endif %}
    </div>
</div>