{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block grid_column_boolean_cell %}
    <span class="grid_boolean_{{ row.getField(column.id)|default('0') }}" >{{ ('list.archived.value.'~row.getField(column.id)|default('0'))|trans({}, 'risk') }}</span>
{% endblock grid_column_boolean_cell %}

{% block title %}{{ parent() }} - Riques{% endblock %}

{% block h1Title %}
    Gestion des risques
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_objet_risk_add') }}" title="Ajouter un risque"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}

