{% extends 'HopitalNumeriqueCommunautePratiqueBundle:Admin:layout.html.twig' %}

{% block title %}{{ block('h1Title') }} - {{ parent() }}{% endblock %}
{% block h1Title %}{{ groupe.id is not null ? 'Éditer' : 'Ajouter' }} un groupe{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_communautepratique_admin_groupe_list') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('#do').val('save');$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    {% if groupe.domaine is not null %}
        <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% if groupe.id is not null -%}
                    <p class="text-right">
                        <strong>Note référencement :</strong> {{ referencement_note(groupe, groupe.domaine) }}
                        &nbsp; <a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':'commpratique', 'entityId':groupe.id })}}" class="open-popin-referencement edit btn btn-xs btn-primary fancybox.ajax"><i class="fa fa-cog"></i></a>
                    </p>
                {%- endif -%}

                {% form_theme groupeForm 'HopitalNumeriqueAccountBundle:Formulaire:theme.default.html.twig' %}
                {{ form_start(groupeForm, { attr:{ class:'form-horizontal toValidate', novalidate:'novalidate' }}) }}
                    
                    {{ form_row(groupeForm.domaine) }}
                    
                    {% if groupe.domaine is not null %}
                        {{ form_row(groupeForm.titre) }}
                        {{ form_row(groupeForm.descriptionCourte) }}
                        {{ form_row(groupeForm.descriptionHtml) }}
                        {{ form_row(groupeForm.nombreParticipantsMaximum) }}
                        {{ form_row(groupeForm.dateInscriptionOuverture) }}
                        {{ form_row(groupeForm.dateDemarrage) }}
                        {{ form_row(groupeForm.dateFin) }}
                        {{ form_row(groupeForm.questionnaire) }}
                        {{ form_row(groupeForm.animateurs) }}

                        <div class="form-group">
                            {{ form_label(groupeForm.vedette) }}
                            <div class="col-md-5">
                                {{ form_widget(groupeForm.vedette) }}
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <div class="help-block">
                                    {{ form_errors(groupeForm.vedette) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(groupeForm.actif) }}
                            <div class="col-md-5">
                                {{ form_widget(groupeForm.actif) }}
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <div class="help-block">
                                    {{ form_errors(groupeForm.actif) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_javascript(groupeForm) }}

                {{ form_end(groupeForm) }}
            </div>
        </div>
    </div>

{% endblock %}
