{% extends 'HopitalNumeriqueCommunautePratiqueBundle:Admin:layout.html.twig' %}

{% block title %}{{ block('h1Title') }} - {{ parent() }}{% endblock %}
{% block h1Title %}{{ groupe.id is not null ? 'Éditer' : 'Ajouter' }} un groupe{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_communautepratique_admin_groupe_list') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('#do').val('save');$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    {% if groupe.domains.count > 0 %}
        <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(window).load(function() {
            Hn_Reference_Referencement_Popin.preparePopin();
            if ($('#toRef').val() == 1) {
                Hn_Reference_Referencement_Popin.open($('.open-popin-referencement').attr('href'));
            }

            $('form.group-form select.group-domains').on('change', function () {
                $.ajax({
                    url: $('.form.group-form').attr('action'),
                    type: 'POST',
                    data: $(this).serialize()
                }).done(function (response) {
                    $('form.group-form .survey').replaceWith($(response).find('.survey'));
                });
            })
        });
    </script>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% if groupe.id is not null -%}
                    <p class="text-right">
                        <strong>Note référencement :</strong>
                        {% set notes = [] %}
                        {% for userDomain in app.user.domaines %}
                            {% if groupe.domains.contains(userDomain) %}
                                {% set notes = notes|merge([userDomain.nom~" : "~referencement_note(groupe, userDomain)]) %}
                            {% endif %}
                        {% endfor %}

                        {% if notes|length > 0 %}
                            {{ notes|join(', ') }}
                        {% endif %}
                        <a href="{{path('hopitalnumerique_reference_referencement_popin', { 'entityType':6, 'entityId':groupe.id })}}" class="open-popin-referencement edit btn btn-xs btn-primary"><i class="fa fa-cog"></i></a>
                    </p>
                {%- endif -%}

                {% form_theme groupeForm 'HopitalNumeriqueAccountBundle:Formulaire:theme.default.html.twig' %}
                {{ form_start(groupeForm, { attr:{ class:'group-form form-horizontal toValidate', novalidate:'novalidate' }}) }}
                    
                    {{ form_row(groupeForm.domains, {'attr': {'class': 'group-domains select2'}}) }}
                    {{ form_row(groupeForm.questionnaire) }}

                    {% if groupe.domains.count > 0 %}
                        {{ form_row(groupeForm.titre) }}
                        {{ form_row(groupeForm.descriptionCourte) }}
                        {{ form_row(groupeForm.descriptionHtml) }}
                        {{ form_row(groupeForm.nombreParticipantsMaximum) }}
                        {{ form_row(groupeForm.dateInscriptionOuverture) }}
                        {{ form_row(groupeForm.dateDemarrage) }}
                        {{ form_row(groupeForm.dateFin) }}
                        {{ form_row(groupeForm.animateurs) }}
                        {{ form_row(groupeForm.requiredRoles, {'attr': {'class': 'select2'}}) }}

                        <div class="form-group">
                            {{ form_label(groupeForm.vedette) }}
                            <div class="col-md-5">
                                {{ form_widget(groupeForm.vedette) }}
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <div class="help-block">
                                    {{ form_errors(groupeForm.vedette) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(groupeForm.actif) }}
                            <div class="col-md-5">
                                {{ form_widget(groupeForm.actif) }}
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <div class="help-block">
                                    {{ form_errors(groupeForm.actif) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_javascript(groupeForm) }}

                {{ form_end(groupeForm) }}
            </div>
        </div>
    </div>

    <input type="hidden" id="toRef" value="{{ toRef }}" />
{% endblock %}
