{% extends 'NewAccountBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-account-dashboard.js"
        '@jquery_gridster_js'
        "bundles/newaccount/js/dashboard.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-account-dashboard.css" filter="cssrewrite, ?yui_css"
        '@jquery_gridster_css'
        'bundles/newaccount/css/dashboard.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% set hasStickedWidget = false %}
    {% for k, widget in widgets if widget.sticked %}
        {% set hasStickedWidget = true %}
    {% endfor %}

    <div id="account-dashboard">
        {% if hasStickedWidget %}
            <ul class="list-unstyled sticked-brick" data-reorder-uri="{{ path('account_dashboard_reorder') }}">
                {% set k = 0 %}
                {% for widget in widgets if widget.sticked %}
                    {{ block('brick') }}
                    {% set k = k + 1 %}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="gridster">
            <ul class="list-unstyled" data-reorder-uri="{{ path('account_dashboard_reorder') }}">
                {% set k = 0 %}
                {% for widget in widgets if not widget.sticked %}
                    {{ block('brick') }}
                    {% set k = k + 1 %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block brick %}
    <li data-col="{{ k%2+1 }}" data-row="{{ ((k+2)/2)|round(0, 'floor') }}" data-sizex="{{ widget.isSticked ? 2 : 1 }}" data-sizey="1" data-id="{{ widget.name }}">
        <div class="panel panel-default dashboard-brick">
            <div class="panel-heading custom-panel-heading">
                <div class="options pull-right">

                    {% for extension in widget.extensions %}
                        {{ extension.content|raw }}
                    {% endfor %}


                    {% if not widget.sticked %}
                        <i class="fa fa-arrows draggable"></i>
                    {% endif %}
                </div>
                <div class="panel-title">
                    <i class="icon {{ widget.name }}"></i>

                    {{ widget.title }}
                </div>
            </div>
            <div class="panel-body">
                {{ widget.content|raw }}
            </div>
        </div>
    </li>
{% endblock %}
