{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-autodiag.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueautodiag/css/account.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-autodiag.js"
        "bundles/hopitalnumeriqueautodiag/js/account.js"
        "bundles/hopitalnumeriqueautodiag/js/scorePolling.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}{{ 'ad.account.title'|trans }}{% endblock %}

{% block content %}

    <div class="domain-choice">
        <div class="row-account">
            <p>{{ 'ad.account.domain_selection'|trans }}</p>
        </div>
        <div class="row-account">
            <select id="domain-choice">
                <option data-url="{{ path('hopitalnumerique_autodiag_account_index') }}">{{ 'ad.account.domain_all'|trans }}</option>
                {% for domaine in domainesUser %}
                    <option data-url="{{ path('hopitalnumerique_autodiag_account_index_domain', {'domain': domaine.id}) }}"{% if currentDomain is not null and currentDomain.id == domaine.id %} selected{% endif %}>{{ domaine.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="syntheses-content">
        {% include '@HopitalNumeriqueAutodiag/Account/partials/autodiag_list.html.twig' with {'datasForSyntheses': datasForSyntheses, 'user': user} %}
    </div>

    <script>
        $('[data-toggle="tooltip"]').tooltip();

        $(function(){
            $('#domain-choice').change(function(){
                var $synthesesContent = $('#syntheses-content');

                var loader = $synthesesContent.nodevoLoader().start();

                $.get($(this).find('option:selected').data('url'), null, function(data) {
                        loader.finished();
                        $synthesesContent.html(data);
                    }
                );
            });
        })
    </script>

{% endblock %}

