{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.board.admin.delete.layout_template %}

{%- block title -%}
    {{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{% block information_page %}
    <div class="col-md-12">
        <h3 class="violet">Forum - Administration </h3>
    </div>
{% endblock information_page %}

{%- block body_content -%}
    {%- spaceless -%}

    <section class="clearfix">
        {%- form_theme form ccdn_forum_forum.board.admin.delete.form_theme -%}
        <form action="{{- path('ccdn_forum_admin_board_delete_process', {'boardId': board.id, 'forum_filter': forum_filter, 'category_filter': category_filter}) -}}"
         method="post" {{ form_enctype(form) }} class="form-horizontal toValidate" novalidate>
            <fieldset>

                <div class="form-group">
                    <div id="titre-creation">
                        <h4>
                            {{- 'title.admin.manage-boards.delete' |trans({'%board_name%': board.name}, 'CCDNForumForumBundle') -}}
                        </h4>
                    </div>
                </div>

                {{- form_errors(form) -}}

                {{- form_rest(form) -}}

                <div class="row">
                    <input type="submit" class="btn btn-danger col-lg-offset-2 col-lg-3" value="
                        {{- 'form.button.confirm-delete' |trans({}, ForumBundle.translation ) -}}
                    " name="submit[post]" id="submit[post]">

                    <a class="btn btn-default col-lg-offset-1 col-lg-2" href="{{- path('ccdn_forum_admin_board_list', {'forum_filter': forum_filter, 'category_filter': category_filter}) -}}">
                        {{- 'form.button.cancel' |trans({}, ForumBundle.translation ) -}}
                    </a>
                </div>

            </fieldset>
        </form>
    </section>

    {%- endspaceless -%}
{%- endblock body_content -%}
