{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-import-edit.css" filter="cssrewrite, ?yui_css" 
        "@validationEngine_css"
        'bundles/hopitalnumeriqueautodiag/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-autodiag-import-edit.js" 
        "@validationEngine_js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        //bind de Validation Engine
        if( $('form.toValidate').length > 0 )
            $('form.toValidate').validationEngine();
    </script>
{% endblock %}

{% block h1Title %}
    Editer un outil d'autodiagnostic : Importer les données
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_outil') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    {% include 'HopitalNumeriqueAutodiagBundle::admin-tabs.html.twig' with { 'outil' : outil, 'route': app.request.attributes.get('_route') } %}
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="download-zone col-md-1 col-md-offset-4">
                        <a class="btn btn-link btn-xs" title="Télécharger le gabarit de l'import des autodiags" href="{{path('hopitalnumerique_import_download_gabarit')}}">Téléchargement du gabarit de l'import des autodiags<i style="margin-left:5px" class="fa fa-cloud-download"></i></a>
                    </div>
                </div>
                <div class="row">
                    <form action="{{ path("hopitalnumerique_import_read_save", {'id' : outil.id }) }}" class="form-horizontal toValidate" method="post" enctype="multipart/form-data" novalidate="novalidate">
                        <div class="background-violet"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="username">Fichier upload</label>
                            <div class="col-md-4">
                                <input type="file" class="validate[required] form-control" required="required" name="fichier_import_autodiag" id="fichier_import_autodiag">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div onclick="if($('form').validationEngine('validate')){ $('form').submit(); }" class="btn btn-success pull-right" title="Mettre à jour">Mettre à jour</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
