<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hopital Numérique">
        <meta name="author" content="NODEVO">

        <title>{% block title %}Hopital Numérique{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Viga|Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets output="compiled/main-front.css" filter="cssrewrite"
                'bundles/hopitalnumeriquecore/css/bootstrap.min.css'
                'bundles/hopitalnumeriquecore/css/bootstrap-theme.min.css'
                'bundles/hopitalnumeriquecore/css/layout.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts output="compiled/main-front.js"
                'bundles/hopitalnumeriquecore/js/jquery-1.11.0.min.js'
                'bundles/hopitalnumeriquecore/js/bootstrap.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>

    <body>
        <div id="body">
            <div id="header">
                <img src="{{asset('bundles/hopitalnumeriquecore/img/anap.jpg')}}" alt="ANAP" id="logoAnap" class="pull-left" />
                <div id="titre" class="pull-left">
                    <h1><span class="violet">Mon</span> Hôpital <span class="gris">Numérique</span></h1>
                    <h2 class="gris">Accompagnement pour l’atteinte des cibles d’usage</h2>    
                </div>
                
                <div class="loggedUser pull-right">
                    {#<a class="user" href="#"><i class="common-sprite common-sprite-user-red"></i>Nom Utilisateur</a>
                    <a class="infos rose" href="#">Informations</a>
                    <a class="infos rose" href="#">utilisateur</a>#}
                </div>
                
                <img src="{{asset('bundles/hopitalnumeriquecore/img/hn.jpg')}}" alt="HOPITAL NUMERIQUE" id="logoHn" class="pull-right" />

                <p class="violet pull-right align-right">
                    Ce projet s’inscrit dans le cadre du programme
                </p>
                <div class="connexion">
                    <a href="#" class="login"><i class="common-sprite common-sprite-user" ></i>Identification</a>
                </div>

                <div class="common-sprite common-sprite-header"></div>
            </div>
            <div id="content">
                {% block body %}{% endblock %}
                <div class="clearfix"></div>
            </div>
            <div id="footer">
                {{ knp_menu_render('menu-footer-front', {'currentClass': 'active', 'ancestorClass':'active','template':'HopitalNumeriqueCoreBundle::menu.html.twig'}) }}
            </div>
        </div>
    </body>
</html>

{% block flashBags %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-block alert-{{type}}" onclick="$(this).slideUp();">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}