{% extends 'knp_menu.html.twig' %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% import _self as knp_menu %}
    <select id="menu-select" class="form-control">
        <option value="" >Choissisez un lien de menu</option>
        {{ block('children') }}
    </select>
{% endif %}
{% endblock %}

{% block item %}
{% if item.displayed %}
    {%- set selected = '' %}
    {%- if matcher.isCurrent(item) %}
        {%- set selected = 'selected="selected"' %}
    {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
        {%- set selected = 'selected="selected"' %}
    {%- endif %}
    
    {# displaying the item #}
    {% import _self as knp_menu %}
    <option value="{{ item.uri }}" {{selected}}>
        {{ _self.afficheItemTabulation(item.parent) }}
        {{ block('spanElement') }}
        {% if item.children|length > 0 and item.displayChildren %}
            {{ block('children') }}
        {% endif %}
    </option>
{% endif %}
{% endblock %}

{% macro afficheItemTabulation(item) %}
    {% if item.parent is not null %}
        &nbsp; &nbsp; {{ _self.afficheItemTabulation(item.parent) }}
    {% endif %}
{% endmacro %}