{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{% trans_default_domain 'guided_search' %}

{% block title %}{{parent()}} - {{ 'title'|trans }}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-parcours-front-synthesis.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquerechercheparcours/css/front/style.css'
        'bundles/hopitalnumeriquerechercheparcours/css/front/risk.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle-tooltip]').tooltip();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="col-md-12 guided-search-synthesis" id="recherche-par-parcours-details">

        <h3>{{ guidedSearch.guidedSearchReference.reference.libelle }}</h3>

        <div class="text-right">
            <a href="{{ guidedSearchLink }}" class="btn btn-default">
                <i class="fa fa-arrow-circle-left"></i>
            </a>
            {% spaceless %}
                <a
                    href="#"
                    data-toggle="modal"
                    data-toggle-tooltip
                    data-target="#send-mail-modal"
                    class="btn btn-default"
                    title="{{ 'step.synthesis.actions.mail.title'|trans }}"
                >
                    <i class="fa fa-envelope"></i>
                </a>
            {% endspaceless %}
            {% spaceless %}
                <a
                    href="{{ path('hopital_numerique_guided_search_risk_synthesis_pdf_export', {'guidedSearch': guidedSearch.id}) }}"
                    target="_blank"
                    class="btn btn-default"
                >
                    {{ 'step.synthesis.actions.pdf.title'|trans }}
                </a>
            {% endspaceless %}
            {% spaceless %}
                <a
                    href="{{ path('hopital_numerique_guided_search_risk_synthesis_export', {'guidedSearch': guidedSearch.id, 'type': 'csv'}) }}"
                    target="_blank"
                    class="btn btn-default"
                >
                    {{ 'step.synthesis.actions.csv.title'|trans }}
                </a>
            {% endspaceless %}
            {% spaceless %}
                <a
                    href="{{ path('hopital_numerique_guided_search_risk_synthesis_export', {'guidedSearch': guidedSearch.id, 'type': 'xlsx'}) }}"
                    target="_blank"
                    class="btn btn-default"
                >
                    {{ 'step.synthesis.actions.xlsx.title'|trans }}
                </a>
            {% endspaceless %}
        </div>

        {{ include('HopitalNumeriqueRechercheParcoursBundle:RechercheParcours:front/synthesis/synthesis.html.twig') }}

    </div>

    <div class="modal fade" id="send-mail-modal" tabindex="-1" role="dialog" aria-labelledby="send-mail-modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'step.synthesis.actions.mail.title'|trans }}</h4>
                </div>
                {{ form_start(sendSynthesisForm) }}
                    <div class="modal-body">
                        {{ form_row(sendSynthesisForm.recipient) }}
                        {{ form_row(sendSynthesisForm.sender) }}
                        {{ form_row(sendSynthesisForm.subject) }}
                        {{ form_row(sendSynthesisForm.content) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ 'step.synthesis.actions.mail.save.text'|trans }}</button>
                    </div>
                {{ form_end(sendSynthesisForm) }}
            </div>
        </div>
    </div>
{% endblock %}
