{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Experts{% endblock %}
{% block metadesc %}Les experts{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-les-experts-index.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css"
        'bundles/hopitalnumeriqueexpert/css/expert.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-les-experts-index.js"
        "@fancybox_js"
        "@jquery_mosaicflow_js"
        'bundles/hopitalnumeriqueexpert/js/expert.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="experts">
        {# En-tête #}
        <div class="col-md-12">
            
            <img src="{{asset('bundles/hopitalnumeriquecore/img/bandeau-expert.jpg')}}" alt="Les experts" id="logoExpert" width="100%" />

            <h3 class="violet">Les experts</h3>
             <div class="text-muted">
                <p>Le collège des experts est constituée de 15 professionnels de terrain (directeurs, médecins, soignants et DSIO) dont les sujets de prédilection sont représentatifs des domaines fonctionnels du Programme Hôpital Numérique.<br />
Leur mission consiste à traiter au niveau national et avec l’aide de l’ANAP, à partir des retours d’expérience des établissements les plus avancés, les principales difficultés rencontrées dans le déploiement des projets de SIH, les « points durs » en :
<ul>
    <li>Réalisant des productions pratiques et pédagogiques,</li>
    <li>Apportant des réponses sous la forme d’avis d’experts,</li>
    <li>Participant aux échanges du Forum.</li>
</ul>
Le collège des experts se réunit tous les 2 mois pour identifier les difficultés/points durs prioritaires nécessitant des réponses.</p>
            </div>
        </div> 

        <div id="mosaique-experts" class="col-md-12">
            <div class="clearfix mosaicflow" data-item-selector=".mosaicflow__item" data-min-item-width="250">
                {% for idUser,mosaique in mosaiques %}
                    <div class="mosaicflow__item" style="position:relative;">
                        <img width="400px" src="{{mosaique}}" title="{{experts[idUser]}}" alt="Photo de {{experts[idUser]}}" />
                        <p class="description-mosaique">{{experts[idUser]}} <br /><a class="fancy fancybox.ajax" href="{{path('hopitalnumerique_expert_front_expert_biographie', {'id': idUser})}}" id="parametrageVacation" style="margin-right: 30px;" >En savoir plus</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock body %}
