{% extends 'HopitalNumeriqueInterventionBundle::layout.html.twig' %}

{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block pageTitre %}Les interventions{% endblock %}

{% block chapoDescription %}Devoir la vie à un malfaiteur, accepter cette dette et la rembourser, être, en dépit de soi-même, de plain-pied avec un repris de justice, et lui payer un service avec un autre service ; se laisser dire : Va-t'en, et lui dire à son tour : Sois libre ; sacrifier à des motifs personnels le devoir, cette obligation générale, et sentir dans ces motifs personnels quelque chose de général aussi, et de supérieur peut-être ; trahir la société pour rester fidèle à sa conscience ; que toutes ces absurdités se réalisassent et qu'elles vinssent s'accumuler sur lui-même, c'est ce dont il était atterré.{% endblock %}


{% block contenu %}

    <ul class="nav nav-tabs">
       <li class="active"><a href="#demandesNouvelles" data-toggle="tab">Liste des nouvelles demandes</a></li>
       <li><a href="#demandesTraitees" data-toggle="tab">Liste des demandes traitées</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade in active" id="demandesNouvelles">{{ render(path("hopital_numerique_intervention_demandes_nouvelles")) }}</div>
        <div class="tab-pane fade" id="demandesTraitees">{{ render(path("hopital_numerique_intervention_demandes_traitees")) }}</div>
    </div>

{% endblock %}
