{% extends 'HopitalNumeriqueInterventionBundle:Form:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-intervention-demande-nouveau.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-intervention-demande-nouveau.js"
        'bundles/hopitalnumeriqueintervention/js/InterventionDemande/Formulaire.js'
        'bundles/hopitalnumeriqueintervention/js/InterventionDemande/FormulaireEvenement.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        {% if interventionDemande.etablissements|length > 0 %}{% spaceless %}
            {% for etablissement in interventionDemande.etablissements %}
                HopitalNumeriqueInterventionBundle_InterventionDemande_Formulaire.AUTRES_ETABLISSEMENTS_INITIAUX_IDS.push({{ etablissement.id }});
            {% endfor %}
        {% endspaceless %}{% endif %}
    </script>
{% endblock %}

{% block pageTitre %}Nouvelle intervention{% endblock %}

{% block chapoDescription %}
    <p>Tu vois, là-bas, les champs de blé ? Je ne mange pas de pain. Le blé pour moi est inutile. Les champs de blé ne me rappellent rien. Et ça, c'est triste ! Mais tu as des cheveux couleur d'or. Alors ce sera merveilleux quand tu m'auras apprivoisé ! Le blé, qui est doré, me fera souvenir de toi. Et j'aimerai le bruit du vent dans le blé...</p>
{% endblock %}

{% block contenu %}
    <div class="panel panel_form">


        {% set informationsManquantes = app.user|informationsManquantes %}

        {% if app.user.hasRoleCmsi == false and (not informationsManquantes.ok) %}
            <div class="informations_manquantes col-md-12">
                {% for key,informationManquante in informationsManquantes %}
                    {# Affichage de la 'légende' #}         
                    {% if 'ok' == key %}
                        <span class="legende rose">
                            <strong>Certaines données sont nécessaires pour la création d'une demande d'intervention, veuillez renseigner les <a href="{{path('hopital_numerique_user_informations_personnelles')}}">données personnelles</a> suivantes :</strong>
                        </span>
                    {% endif %}
                    {% if informationManquante is not empty %}
                        <ul class="rose">
                            {% if informationManquante is not null %}
                                <li><span class="champ_manquant"><strong>{{ informationManquante.label }}</strong></span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>      
            <div class="col-md-12 text-right button_donnees_personnelles">
               <a href="{{path('hopital_numerique_user_informations_personnelles')}}" class="btn btn-success" title="Données personnelles">{{ 'données personnelles'|upper }}</i></a>
            </div>
            <div class="clearfix"></div>
        {% endif %} 
    
        {% if (informationsManquantes.ok or app.user.hasRoleCmsi) %}

            <form method="post" id="form_intervention_demande_nouveau" class="form-horizontal toValidate" novalidate="novalidate" {{ form_enctype(interventionDemandeFormulaireNouveau) }}>
                <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>
                {% form_theme interventionDemandeFormulaireNouveau 'HopitalNumeriqueInterventionBundle:Form:defaut.html.twig' %}
                
                <!-- <div class="form-group">
                    <label class="col-md-4 control-label">Ambassadeur</label>
                    <div class="col-md-8"><input class="form-control" type="text" value="{{ ambassadeur.appellation }}" readonly="readonly"></div>
                </div> -->
                
                {{ form_javascript(interventionDemandeFormulaireNouveau) }}
    
                {{ form_widget(interventionDemandeFormulaireNouveau) }}
                
                <div class="boutons">
                    <input type="submit" class="btn btn-success submit" value="Valider ma demande">
                </div>
            </form>

        {% endif %}


    </div>
{% endblock %}