{% set displayTitle = false %}

{% extends 'HopitalNumeriqueInterventionBundle:Form:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-intervention-demande-nouveau.js"
        'bundles/hopitalnumeriqueintervention/js/InterventionDemande/Formulaire.js'
        'bundles/hopitalnumeriqueintervention/js/InterventionDemande/FormulaireEvenement.js'
        'bundles/hopitalnumeriquequestionnaire/js/Front/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        {% if interventionDemande.etablissements|length > 0 %}{% spaceless %}
            {% for etablissement in interventionDemande.etablissements %}
                HopitalNumeriqueInterventionBundle_InterventionDemande_Formulaire.AUTRES_ETABLISSEMENTS_INITIAUX_IDS.push({{ etablissement.id }});
            {% endfor %}
        {% endspaceless %}{% endif %}
    </script>
{% endblock %}

{% block headerTitle %}Nouvelle intervention{% endblock %}

{% block headerDesc %}
    {% if app.user.hasRoleCmsi %}
        {{ 'Module_intervention_nouveau_description_cmsi'|nodevoTexteDynamique(domaineCurrent.id)|raw }}
    {% else %}
        {{ 'Module_intervention_nouveau_description'|nodevoTexteDynamique(domaineCurrent.id)|raw }}
    {% endif %}
{% endblock %}

{% block barreActions %}{% endblock %}

{% block content %}

    <div class="panel_form" id="intervention_demande_panel">

        {{ form_start(form, {"attr": {"id": "form_intervention_demande_nouveau", "class": "form-horizontal toValidate", "novalidate": "novalidate"}}) }}

            <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>

            <div class="form-group">
                <label class="col-md-4 label-custom"> Professionnel sollicité </label>
                <div class="col-md-8">{{ ambassadeur.prenomNom }}</div>
            </div>

            {% form_theme form 'HopitalNumeriqueInterventionBundle:Form:defaut.html.twig' %}

            {{ form_javascript(form) }}
            {{ form_row(form.interventionType) }}
            <div class="form-group">
                <label class="col-md-4 control-label">Lieu souhaité de l'intervention</label>
                <div class="col-md-8">
                    <div class ="form_vertical_row">
                        {{ form_row(form.desiredLocationAddress) }}
                        {{ form_row(form.desiredLocationZipCode) }}
                        {{ form_row(form.desiredLocationCity) }}
                    </div>
                </div>
            </div>
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.motivationContext) }}
            {{ form_row(form.requestTopics) }}
            {{ form_row(form.etablissements) }}
            {{ form_row(form.requestNeeds) }}
            {{ form_row(form.rdvInformations) }}

            <div class="boutons">
                <input type="submit" class="btn btn-success submit" value="Valider ma demande">
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
