{% trans_default_domain 'survey' %}

<h1>{{ survey.nom }}</h1>

{% if form.occurrence is defined %}
    <b>{{ 'survey.occurence'|trans }}</b><br />{{ form.occurrence.vars.data }}<br /><br />
{% endif %}
{% for item in form.vars.order %}

    <b>{{ form[item].vars.label }}</b><br/>


    {% if form[item].vars.data.lib is defined %}
        <a href="{{ path('hopitalnumerique_reponse_download', {reponse: form[item].vars.data.id}) }}" target="_blank">{{ form[item].vars.data.lib }}</a>
    {% elseif form[item].vars.data is iterable %}
        <ul>
            {% for response in form[item].vars.data %}
                <li>{{ response.libelle is defined ? response.libelle : response.appellation is defined ? response.appellation : response }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {% if 'wysiwyg_' in item %}
            {{ form[item].vars.data|raw }}
        {% else %}
            {{ form[item].vars.data|nl2br }}
        {% endif %}
        <br/>
    {% endif %}
    <br />

{% endfor %}
