{% trans_default_domain 'widget' %}

<ol>
    <li>{{ 'request.open'|trans }} {{ stats.open }}</li>
    <li>{{ 'request.accepted'|trans }} {{ stats.accepted }}</li>
    <li>{{ 'request.ambassadorsCount'|trans }} {{ stats.ambassadorsCount }}</li>
</ol>
