{% trans_default_domain 'widget' %}

<ol>
    <li>{{ 'request.open'|trans }} {{ stats.open }}</li>
    <li>{{ 'request.initial'|trans }} {{ stats.initial }}</li>
    <li>{{ 'request.accepted'|trans }} {{ stats.accepted }}</li>
</ol>
