{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block headerTitle %}Autodiagnostics{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-front-autodiag.css" filter="cssrewrite, ?yui_css"
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/hopitalnumeriqueautodiag/css/front.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-autodiag-front-autodiag.js" 
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/hopitalnumeriqueautodiag/js/compte-hn.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h2>Mes formulaires d'autodiagnostics en cours</h2>
    <div class="col-md-12">
        <table class="table autodiagTable">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date début remplissage</th>
                    <th>Date dernier enregistrement</th>
                    <th>Pourcentage remplissage</th>
                    <th width="100px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats if resultat.dateValidation is null and not resultat.synthese %}
                    <tr>
                        <td>{{resultat.outil.title}}</td>
                        <td>{{resultat.dateCreation|date('d/m/Y')}}</td>
                        <td>{{resultat.dateLastSave|date('d/m/Y')}}</td>
                        <td>{{resultat.tauxRemplissage}}%</td>
                        <td>
                            <div class="btn-group" >
                                <a href="{{path('hopitalnumerique_autodiag_front_outil', { 'alias':resultat.outil.alias, 'id':resultat.outil.id })}}" class="btn btn-success" title="Continuer le questionnaire"><i class="fa fa-external-link"></i></a>
                                <div class="btn btn-danger" onclick='deleteWithConfirm("{{ path('hopitalnumerique_autodiag_front_comptehn_delete', { 'id': resultat.id }) }}");' title="Vider mon questionnaire"><i class="fa fa-trash-o"></i></div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center"> - Aucun formulaire d'autodiagnostic en cours - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    <h2 class="pull-left">Historique de mes autodiagnostics</h2>
    <div class="btn btn-default pull-right create">Créer une synthèse des autodiags selectionnés</div>
    
    <div class="col-md-12">
        <table class="table autodiagTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Titre</th>
                    <th>Date validation</th>
                    <th width="140px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats if resultat.dateValidation is not null and not resultat.synthese %}
                    <tr>
                        <td align="center"><input type="checkbox" class="checkbox" value="{{resultat.id}}" data-outil="{{resultat.outil.id}}" /></td>
                        <td>{{resultat.name}}</td>
                        <td>{{resultat.outil.title}}</td>
                        <td>{{resultat.dateValidation|date('d/m/Y')}}</td>
                        
                        <td>
                            <div class="btn-group" >
                                <a href="{{path('hopitalnumerique_autodiag_front_resultat_pdf', {'id':resultat.id})}}" class="btn btn-success" title="Télécharger le PDF du résultat"><i class="fa fa-download"></i></a>
                                <a href="{{path('hopitalnumerique_autodiag_front_resultat', {'id':resultat.id, 'back': 1})}}" class="btn btn-warning" title="Voir les résultats"><i class="fa fa-eye"></i></a>
                                <div class="btn btn-danger" onclick='deleteWithConfirm("{{ path('hopitalnumerique_autodiag_front_comptehn_delete', { 'id': resultat.id }) }}");' title="Supprimer mes réponses"><i class="fa fa-trash-o"></i></div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center"> - Aucun formulaire d'autodiagnostic validé - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="hidden" id="generate-synthese-url" value="{{path('hopitalnumerique_autodiag_front_comptehn_generate_synthese')}}" />
    </div>

    <div class="clearfix"></div>

    <h2>Mes synthèses d'autodiagnostics</h2>
    <div class="col-md-12">
        <table class="table autodiagTable">
            <thead>
                <tr>
                    <th width="250px">Nom</th>
                    <th>Autodiagnostics liés</th>
                    <th width="140px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats if resultat.synthese %}
                    <tr>
                        <td>{{resultat.name}}</td>
                        <td>
                            <ul>
                                {% for one in resultat.resultats %}
                                    <li><a href="{{path('hopitalnumerique_autodiag_front_resultat', {'id':one.id})}}">{{one.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td>
                            <div class="btn-group" >
                                <a href="{{path('hopitalnumerique_autodiag_front_resultat_pdf', {'id':resultat.id})}}" class="btn btn-success" title="Télécharger le PDF de la synthèse"><i class="fa fa-download"></i></a>
                                <a href="{{path('hopitalnumerique_autodiag_front_resultat', {'id':resultat.id, 'back': 1})}}" class="btn btn-warning" title="Voir la synthèse"><i class="fa fa-eye"></i></a>
                                <div class="btn btn-danger" onclick='deleteWithConfirm("{{ path('hopitalnumerique_autodiag_front_comptehn_delete', { 'id': resultat.id }) }}");' title="Supprimer la synthèse"><i class="fa fa-trash-o"></i></div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" align="center"> - Aucune synthèse d'autodiagnostic - </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
{% endblock %}