{% extends sansGabarit ? "HopitalNumeriqueCoreBundle::layout_sans_gabarit.html.twig" : "HopitalNumeriqueCoreBundle::layout.html.twig" %}

{# Référencement #}
{% block title %}{{parent()}} - Autodiagnostic{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-autodiag-front-outil.js" 
        '@jquery_stepy_js'
        '@jquery_qtip2_js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
        'bundles/hopitalnumeriqueautodiag/js/front.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-front-outil.css" filter="cssrewrite, ?yui_css" 
        "@jquery_qtip2_css"
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
        'bundles/hopitalnumeriqueautodiag/css/front.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="autodiag">
        <input type="hidden" name="outil" id="outil-reponses-obligatoire" value="{{outil.centPourcentReponseObligatoire}}" />
        <div class="col-md-3 col-sm-12 blockLeft">
            <p class="titre">Les chapitres</p>
            <div id="chapitres"></div>
            <div class="avancement-global">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
                <p>
                    <span class="text-muted pull-left" >0%</span>
                    <span class="text-muted pull-right" >100%</span>
                </p>
            </div>

            <div class="clearfix"></div>
            <a class="btn btn-primary fancybox.iframe col-md-12" id="instructions" href="{{path('hopitalnumerique_autodiag_front_instructions', {'id':outil.id})}}" title="Instructions"><i style="margin-right:10px" class="fa fa-list-alt"></i>Instructions</a>
        </div>
        <div class="col-md-9 col-sm-12" >
            <h1>{{outil.title}}</h1>

            <div class="options">
                <div class="btn-toolbar">
                    <div onclick="saveQuestionnaire('valid', {% if app.user %}true{% else %}false{% endif %} );" class="finish btn btn-success" title="Résultats" ><i class="fa fa-bar-chart-o"></i></div>
                    {% if app.user %}
                        <div onclick="saveQuestionnaire('save');" class="finish btn btn-primary save" title="Enregistrer"><i class="fa fa-save"></i></div>
                    {% endif %}
                    {% if reponses %}
                        <div onclick="emptyAutodiag();" class="emptyAutodiag btn btn-danger" title="Vider le questionnaire"><i class="fa fa-trash-o"></i></div>
                    {% endif %}
                </div>
            </div>

            {% if reponses %}
                <div class="clearfix"></div>
    
                <div class="col-md-12">
                    <p class="text-muted">
                        Votre questionnaire à été pré-rempli avec vos réponses précédentes, si vous souhaitez vider ces réponses, cliquez sur la corbeille au niveau du titre pour vider la totalité des réponses, ou au niveau du chapitre pour vider les réponses d'un seul chapitre.
                    </p>
                </div>

                <div class="clearfix"></div>
            {% endif %}

            <div class="col-md-12 content">
                {% set formName = outil.alias %}
                {% import _self as mySelf %}
                <form action="{{path('hopitalnumerique_autodiag_front_save', {'id':outil.id})}}" id="wizard" class="form-horizontal" method="POST">
                    <textarea name="remarque" id="remarque" rows="5" placeholder="Commentaires (nom des participants, etc.)" >{{remarque}}</textarea>
                    {% for chapitre in chapitres %}
                        {% set parent = chapitre['parent'] %}
                        {# Build step #}
                        <fieldset title="<p>{% if parent.code != '' %}{{parent.code ~ '. '}}{% endif %}{{parent.title}}</p>" >
                            {% if reponses %}
                                <div onclick="emptyChapter(this);" class="emptyChapter btn btn-default btn-sm pull-right" title="Vider le chapitre"><i class="fa fa-trash-o"></i></div>
                            {% endif %}
                            <div onclick="chapterNonConcerne(this);" class="chapitreNonConcerne btn btn-default btn-sm pull-right" title="Mettre le chapitre en non concerné"><i class="fa fa-ban"></i></div>
                            <h2 class="prev">{{parent.intro}}</h2>
                            <h2>{% if parent.code != '' %}{{parent.code ~ '. '}}{% endif %}{{parent.title}}</h2>
                            <p class="level1">{{parent.desc|raw}}</p>

                            <hr>

                            {% if parent.questions|length > 0 %}
                                {% for question in parent.questions %}
                                    {% if reponses[question.id] is defined %}
                                        {% set reponse = reponses[question.id] %}
                                    {% else %}
                                        {% set reponse = {'value': null} %}
                                    {% endif %}
                                    {{ mySelf.buildQuestion(question, reponse, formName) }}
                                {% endfor %}
                            {% endif %}
                            
                            {% if chapitre['childs']|length > 0 %}
                                <div class="sous-chapitre">
                                    {% for child in chapitre['childs'] %}
                                        <h3 class="prev">{{child.intro}}</h3>
                                        <h3>{% if child.code != '' %}{{child.code ~ '. '}}{% endif %}{{child.title}} - <span onclick="chapterNonConcerne(this, true);" class="chapitreNonConcerne" title="Mettre le chapitre en non concerné"><i class="fa fa-ban"></i></span></h3>
                                        <p class="text-muted level2">{{child.desc|raw}}</p>

                                        <hr>
                                        
                                        <div class="childs">
                                            {% for question in child.questions %}
                                                {% if reponses[question.id] is defined %}
                                                    {% set reponse = reponses[question.id] %}
                                                {% else %}
                                                    {% set reponse = {'value' : null} %}
                                                {% endif %}
                                                {{ mySelf.buildQuestion(question, reponse, formName) }}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </fieldset>
                    {% endfor %}
                    <input type="hidden" name="action" id="action" value="" />
                    <input type="hidden" name="remplissage" id="remplissage" value="0" />
                    <input type="hidden" name="name-resultat" id="name-resultat" value="" />
                    <input type="hidden" name="sansGabarit" id="sansGabarit" value="{{sansGabarit}}" />
                </form>

                <div class="saveBtns">
                    <div onclick="saveQuestionnaire('valid', {% if app.user %}true{% else %}false{% endif %} );" class="finish btn btn-success btn-sm" ><i style="margin-right:5px" class="fa fa-bar-chart-o"></i> Résultats</div>
                    {% if app.user %}
                        <div onclick="saveQuestionnaire('save');" class="finish btn btn-primary btn-sm save" ><i style="margin-right:5px" class="fa fa-save"></i> Enregistrer</div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% macro buildQuestion(question, reponse, formName) %}
    {# Build vars to make it cleaner #}
    {% set questionName = formName ~ '[' ~ question.chapitre.id ~ ']' ~ '[' ~ question.id ~ ']' %}
    {% set questionId   = formName ~ '_' ~ question.chapitre.id ~ '_' ~ question.id %}

    {# Build form group #}
    <div class="form-group">
        <div class="col-md-12">
            <p class="text-muted">{{question.intro}}</p>
        </div>
        <label for="{{questionName}}" class="col-md-7 col-sm-12">
            {% if question.code != '' %}{{question.code ~ '. '}}{% endif %}{{question.texte}}
            {% if question.infoBulle %}<span class="badge badge-primary" title="{{question.infoBulle}}" >?</span>{% endif %}
        </label>
        <div class="col-md-4 col-sm-11">
            {# SELECT #}
            {% if question.type.id == '415' %}
                {% set options = question.options|nl2br|split('<br />') %}

                <select name="{{questionName}}" id="{{questionId}}" class="form-control {% if question.colored %}colored{% endif %}" >
                    <option value=""> - </option>
                    <option value="-1" {% if reponse['value'] == -1 %}selected="selected"{% endif %} >Non concerné</option>
                    {% for option in options %}
                        {% set datas = option|split(';', 2) %}
                        <option value="{{datas[0]}}" {% if reponse['value'] == datas[0] %}selected="selected"{% endif %} >{{ datas[1]|capitalize|raw }}</option>
                    {% endfor %}
                </select>
            {# RADIO #}
            {% elseif question.type.id == '416' %}
                {% set options = question.options|nl2br|split('<br />') %}
                <div class="radios {% if question.colored %}colored{% endif %}">
                    {% set isChecked = false %}
                    <div class="radio block"><label><input type="radio" value="-1" name="{{questionName}}" id="{{questionId}}" {% if reponse['value'] != '' and reponse['value'] == -1 %}{% set isChecked = true %}checked="checked"{% endif %} />Non concerné</label></div>
                    {% for option in options %}
                        {% set datas = option|split(';', 2) %}
                        <div class="radio block"><label><input type="radio" value="{{datas[0]}}" name="{{questionName}}" id="{{questionId}}" {% if reponse['value'] == datas[0] %}{% set isChecked = true %}checked="checked"{% endif %} />{{ datas[1]|capitalize|raw }}</label></div>
                    {% endfor %}
                    <div class="hide">
                        <div class="radio block"><input type="radio" value="" class="hiddenRadio" name="{{questionName}}" id="{{questionId}}" {% if isChecked == false %}checked="checked"{% endif %} /></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {# TEXT #}
            {% else %}
                <input type="integer" class="form-control input-sm question" name="{{questionName}}" id="{{questionId}}" value="{% if reponse['value'] != -1 %}{{reponse['value']}}{% endif %}" />
            {% endif %}

            <input type="text" class="form-control input-sm remarque" name="remarques-{{questionName}}" id="{{questionId}}_remarque" style="{% if reponse['remarque'] is not defined or reponse['remarque'] == '' %}display:none{% endif %}" placeholder="Remarques" value="{% if reponse['remarque'] is defined and reponse['remarque'] != '' %}{{reponse['remarque']}}{% endif %}" />
        </div>
        <div class="col-md-1 col-sm-1 qOptions">
            <div class="icon pull-left"><i class="fa"></i></div>
            <div class="remarques-toggle pull-right" data-target="{{questionId}}_remarque" ><i title="Ajouter un commentaire" class="fa fa-comment"></i></div>
        </div>
    </div>
{% endmacro %}
