{% import _self as mySelf %}

<div id="resultats">
    <div class="col-md-12">
        <a href="{{path('hopitalnumerique_autodiag_front_resultat_pdf', {'id':resultat.id})}}" class="print btn btn-default pull-right" title="Télacharger les résultats en PDF"><i class="fa fa-save"></i></a>
        <a href="{{path('hopitalnumerique_autodiag_front_outil', {'alias':resultat.outil.alias})}}" class="print btn btn-success pull-left" title="Retour au questionnaire"><i class="fa fa-reply"></i></a>

        {% if pdf %}
            <img src="{{app.request.getSchemeAndHttpHost() ~ asset('bundles/hopitalnumeriquecore/img/anap.jpg')}}" alt="Logo anap" class="pull-left" />
        {% endif %}

        <h1 class="text-center">{{resultat.outil.title}}</h1>

        <div class="clearfix"></div>

        <h2 class="violet open" data-toggle="graphiques" >Résultats de l'outil - Graphiques</h2>

        <div id="graphiques">
            <p class="text-justify">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repudiandae quibusdam voluptate nesciunt quaerat culpa ab at neque voluptatibus aut natus ipsam ut nisi eos adipisci temporibus omnis sunt consequatur.</span>
                <span>Quas, suscipit, dolor, maiores laudantium ullam esse at fugiat delectus voluptatem tempora ipsam facilis alias modi nulla quae perferendis iusto dignissimos dolorum reprehenderit ut recusandae soluta asperiores! Sit, repudiandae, nemo.</span>
            </p>

            {# Affichage du graphique barre #}
            {% if graphiques['barre'] is defined %}
                {% set chart = graphiques['barre'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <div class="row">
                    {% for panel in chart.panels %}
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{panel.title}}</h3>
                                    <div class="options">
                                        Mon résultat : {{panel.value|number_format(0)}}%

                                        {% set tauxChapitre = panel.taux|number_format(0) %}
                                        {% if tauxChapitre <= 33 %}
                                            <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-3.png')}}" alt="Taux Remplissage" title="Taux remplissage : {{tauxChapitre}}%" />
                                        {% elseif tauxChapitre <= 66 %}
                                            <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-2.png')}}" alt="Taux Remplissage" title="Taux remplissage : {{tauxChapitre}}%" />
                                        {% else %}
                                            <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-1.png')}}" alt="Taux Remplissage" title="Taux remplissage : {{tauxChapitre}}%" />
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="panel-body">
                                    <h3 class="toPrint">{{panel.title}}</h3>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" style="width: 33.3%">
                                            Faible
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 33.3%">
                                            Moyen
                                        </div>
                                        <div class="progress-bar progress-bar-success" style="width: 33.3%">
                                            Fort
                                        </div>
                                        <div class="cursor" {% if pdf %}style="left:{{panel.value|number_format(0)}}%"{% endif %} data-position="{{panel.value|number_format(0)}}%" title="<span>Mon résultat : {{panel.value|number_format(0)}}%</span>" ></div>
                                        {% if pdf %}
                                            <div class="cursor-value" style="left:{{panel.value|number_format(0)}}%">{{panel.value|number_format(0)}}%</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="page-break"></div>
            {% endif %}
            
            {# Affichage du graphique spider #}
            {% if graphiques['radar'] is defined %}
                {% set chart = graphiques['radar'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <div class="row">
                    <div id="radarChart"></div>
                    <input type="hidden" id="datas-radar" value="{{chart.datas|json_encode()}}">
                </div>
                <div class="page-break"></div>
            {% endif %}

            {# Affichage du graphique tableau #}
            {% if graphiques['table'] is defined %}
                {% set chart = graphiques['table'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <div class="row">
                    <div class="col-md-12 tableContainer">
                        <table class="table table-hover table-bordered" id="tableau_resultats" >
                            <thead>
                                <th colspan="2" class="text-center vertical-align">
                                    <div class="reverse" onclick="reverse_table(document.getElementById('tableau_resultats'));" ><i class="fa fa-refresh"></i></div>
                                </th>
                                {% for id, chapitre in chart.datas.chapitres %}
                                    <th class="active text-center chapitre-{{id}}">{{chapitre|capitalize}}</th>
                                {% endfor %}
                                <th class="active text-center title-total">Total</th>
                            </thead>
                            <tbody>
                                {% for id,categorie in chart.datas.categories %}
                                    {% set nbRepCateg = 0 %}
                                    {% set nbPointsCateg = 0 %}
                                    {% set maxCateg = 0 %}

                                    <tr>
                                        <td class="active text-center vertical-align categorie-{{id}}" rowspan="3"><b>{{categorie.title|capitalize}}</b></td>
                                        <td class="text-center">Nombre de réponses</td>
                                        {% for datas in categorie['chapitres'] %}
                                            <td class="text-center">
                                                {{datas['nbRep']}}
                                            </td>
                                            {% set nbRepCateg = nbRepCateg + datas['nbRep'] %}
                                        {% endfor %}
                                        <td class="text-center">
                                            {{nbRepCateg}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Nombre de points</td>
                                        {% for datas in categorie['chapitres'] %}
                                            <td class="text-center">
                                                {{datas['nbPoints']}} sur {{datas['max']}}
                                            </td>
                                            {% set nbPointsCateg = nbPointsCateg + datas['nbPoints'] %}
                                            {% set maxCateg = maxCateg + datas['max'] %}
                                        {% endfor %}
                                        <td class="text-center">
                                            {{nbPointsCateg}} sur {{maxCateg}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Score</td>
                                        {% for datas in categorie['chapitres'] %}
                                            {% if datas['max'] != 0 %}
                                                {% set note = (datas['nbPoints'] * 100) / datas['max'] %}
                                            {% else %}
                                                {% set note = 0 %}
                                            {% endif %}
                                            <td class="text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                                {{ note|number_format(0) }}%
                                            </td>
                                        {% endfor %}
                                        {% if maxCateg != 0 %}
                                            {% set note = (nbPointsCateg * 100) / maxCateg %}
                                        {% else %}
                                            {% set note = 0 %}
                                        {% endif %}
                                        <td data-categorie="{{id}}" class="total-categorie text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                            {{ note|number_format(0) }}%
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% if chart.datas.categories|length > 1 %}
                                    <tr>
                                        <td class="text-center title-total vertical-align" rowspan="3"><b>Total</b></td>
                                        <td class="text-center">Nombre de réponses</td>
                                        {% set nbRepTotal = 0 %}
                                        {% for datas in chart.datas.totauxChapitres %}
                                            <td class="text-center">
                                                {{datas['nbRep']}}
                                            </td>
                                            {% set nbRepTotal = nbRepTotal + datas['nbRep'] %}
                                        {% endfor %}
                                        <td class="text-center">
                                            {{nbRepTotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Nombre de points</td>
                                        {% set nbPointsTotal = 0 %}
                                        {% set maxTotal = 0 %}
                                        {% for datas in chart.datas.totauxChapitres %}
                                            <td class="text-center">
                                                {{datas['nbPoints']}} sur {{datas['max']}}
                                            </td>
                                            {% set nbPointsTotal = nbPointsTotal + datas['nbPoints'] %}
                                            {% set maxTotal = maxTotal + datas['max'] %}
                                        {% endfor %}
                                        <td class="text-center">
                                            {{nbPointsTotal}} sur {{maxTotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Score</td>
                                        {% for idChapitre,datas in chart.datas.totauxChapitres %}
                                            {% if datas['max'] != 0 %}
                                                {% set note = (datas['nbPoints'] * 100) / datas['max'] %}
                                            {% else %}
                                                {% set note = 0 %}
                                            {% endif %}
                                            <td data-chapitre="{{idChapitre}}" class="total-chapitre text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                                {{ note|number_format(0) }}%
                                            </td>
                                        {% endfor %}
                                        {% if maxTotal != 0 %}
                                            {% set note = (nbPointsTotal * 100) / maxTotal %}
                                        {% else %}
                                            {% set note = 0 %}
                                        {% endif %}
                                        <td class="last-note text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                            {{ note|number_format(0) }}%
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="clearfix"></div>
        </div>
        
        <div class="page-break"></div>

        <h2 class="violet closed" data-toggle="chapitres" >Résultats de l'outil - Publications</h2>

        <div id="chapitres" style="display:none">
            <p class="text-justify">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repudiandae quibusdam voluptate nesciunt quaerat culpa ab at neque voluptatibus aut natus ipsam ut nisi eos adipisci temporibus omnis sunt consequatur.</span>
                <span>Quas, suscipit, dolor, maiores laudantium ullam esse at fugiat delectus voluptatem tempora ipsam facilis alias modi nulla quae perferendis iusto dignissimos dolorum reprehenderit ut recusandae soluta asperiores! Sit, repudiandae, nemo.</span>
            </p>

            {# Affichage des publications #}
            {% set chaptersToHide = [] %}
            {% for chapitre in chapitres %}
                {% set doTheChapterHavePublications = false %}
                <div class="chapter chapitre-{{chapitre.id}}" style="{% if chapitre.questions|length == 0 and chapitre.childs|length == 0 %}display:none{% endif %}" >
                    <h3 class="violet">{{chapitre.title}}</h3>
                    <hr>

                    {% if chapitre.synthese %}
                        <p class="violet synthese">{{chapitre.synthese|nl2br}}</p>
                    {% endif %}

                    {# Résultats liés au chapitre #}
                    {{ mySelf.calcNote(chapitre, pdf) }}

                    {# Résultats liés aux questions #}
                    {% for question in chapitre.questions %}
                        {% set publications = question.id|getPublicationsForQuestion(pdf) %}
                        {% if publications %}
                            {{ mySelf.buildQuestion(question, publications) }}
                            {% set doTheChapterHavePublications = true %}
                        {% endif %}
                    {% endfor %}
                    
                    {# Sous Chapitres #}
                    {% if chapitre.childs|length > 0 %}
                        <div class="row sous-chapitre">
                            <div class="col-md-12">
                                {% for child in chapitre.childs %}
                                    <div style="{% if child.questions|length == 0 %}display:none{% endif %}">
                                        <h4 class="violet">{{child.title}}</h4>

                                        {% if child.synthese %}
                                            <p class="violet synthese">{{child.synthese}}</p>
                                        {% endif %}
                                        
                                        {# Résultats liés au chapitre #}
                                        {{ mySelf.calcNote(child, pdf) }}

                                        {# Résultats liés aux questions #}
                                        {% for question in child.questions %}
                                            {% set publications = question.id|getPublicationsForQuestion(pdf) %}
                                            {% if publications %}
                                                {{ mySelf.buildQuestion(question, publications) }}
                                                {% set doTheChapterHavePublications = true %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if not doTheChapterHavePublications %}
                        {% set chaptersToHide = chaptersToHide|merge([chapitre.id]) %}
                    {% endif %}
                </div>
            {% endfor %}

            <p class="text-center" style="{% if chapitres|length > 0 %}display:none{% endif %}" >
                - Aucune recommandation de l'ANAP nécessaire -
                <input type="hidden" id="chaptersToHide" value="{{chaptersToHide|json_encode}}" />
            </p>
        </div>
    </div>
</div>

<script>
    
</script>

{# Construit les lignes associées aux résultats #}
{% macro buildQuestion(question, publications) %}
    <div class="row">
        <div class="col-md-12">
            <p class="question">{{question.question}}</p>
            <p class="violet synthese">{{question.synthese}}</p>
            {{publications|raw}}
        </div>
    </div>
{% endmacro %}

{# Calcul de la note du chapitre #}
{% macro calcNote(chapitre, pdf) %}
    {% if chapitre.noteMin and chapitre.noteChapitre <= chapitre.noteMin %}
        {% set publications = chapitre.id|getPublicationsForChapitre(pdf) %}
        {% if publications %}
            <div class="row">
                <div class="col-md-12">
                    {{publications|raw}}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
