{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Autodiagnostic - Résultats{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-front-resultat.css" filter="cssrewrite, ?yui_css" 
        'bundles/hopitalnumeriqueautodiag/css/front.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% import _self as mySelf %}

    <div id="resultats">
        <div class="col-md-12">
            <h1 class="violet">Résultats de l'outil {{resultat.outil.title}}</h1>

            {% for chapitre in chapitres %}
                <div class="chapitre-{{chapitre.id}}">
                    <h2 class="violet">{{chapitre.title}}</h2>
                    <hr>

                    {% if chapitre.synthese %}
                        <p class="violet synthese">{{chapitre.synthese}}</p>
                    {% endif %}

                    {# Résultats liés au chapitre #}
                    {{ mySelf.calcNote(chapitre) }}

                    {# Résultats liés aux questions #}
                    {% if chapitre.questions|length > 0 %}
                        {{ mySelf.buildQuestion(chapitre) }}
                    {% endif %}
                    
                    {# Sous Chapitres #}
                    {% if chapitre.childs|length > 0 %}
                        <div class="row sous-chapitre">
                            <div class="col-md-12">
                                {% for child in chapitre.childs %}
                                    <h3 class="violet">{{child.title}}</h3>

                                    {% if child.synthese %}
                                        <p class="violet synthese">{{child.synthese}}</p>
                                    {% endif %}
                                    
                                    {# Résultats liés au chapitre #}
                                    {{ mySelf.calcNote(child) }}

                                    {# Résultats liés aux questions #}
                                    {{ mySelf.buildQuestion(child) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <hr>
            
            <a href="#" class="btn btn-primary pull-right">Télécharger les résultats</a>
        </div>
    </div>
{% endblock %}

{% macro buildQuestion(chapitre) %}
    {% for question in chapitre.questions %}
        {# Affiche les résultats pour les réponses valides (!non concerné et !vide) #}
        {% if ((question.type == '415' and question.value != 0) or (question.type == '416' and question.value != 0 ) or (question.type == '417' and question.value != '') ) and (question.value < question.noteMinimale) %}
            {% set publications = question.id|getPublications %}
            {% if publications %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="question">{{question.question}}</p>
                        <p class="violet synthese">{{question.synthese}}</p>
                        {{publications|raw}}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro calcNote(chapitre) %}
    {% set noteChapitre = 0 %}
    {% for question in chapitre.questions %}
        {# Calcul la note du chapitre pour les réponses valides (!non concerné et !vide) #}
        {% if ((question.type == '415' and question.value != 0) or (question.type == '416' and question.value != 0 ) or (question.type == '417' and question.value != '') ) and (question.value < question.noteMinimale) %}
            {% set noteChapitre = noteChapitre + question.value %}
        {% endif %}
    {% endfor %}
    
    {% if noteChapitre < chapitre.noteMinimale %}

    {% endif %}
{% endmacro %}