{% import _self as mySelf %}
<div id="resultats">
    <div class="col-md-12">
        <a href="{{path('hopitalnumerique_autodiag_front_resultat_pdf', {'id':resultat.id})}}" class="print btn btn-default pull-right" title="Télacharger les résultats en PDF"><i class="fa fa-download" style="margin-right:5px"></i>Télécharger</a>

        {% if back is defined and back %}
            <a href="{{path('hopitalnumerique_autodiag_front_comptehn')}}" class="print btn btn-success pull-left" title="Retour à mon compte"><i class="fa fa-reply"></i></a>
        {% else %}
            {% if sansGabarit %}
                <a href="{{path('hopitalnumerique_autodiag_front_outil_sans_gabarit', { 'alias':resultat.outil.alias, 'outil':resultat.outil.id, 'sansGabarit':sansGabarit })}}" class="print btn btn-success pull-left" title="Retour au questionnaire"><i class="fa fa-reply"></i></a>
            {% else %}
                <a href="{{path('hopitalnumerique_autodiag_front_outil_resultat', { 'alias':resultat.outil.alias, 'outil':resultat.outil.id, 'resultat':resultat.id })}}" class="print btn btn-success pull-left" title="Retour au questionnaire"><i class="fa fa-reply"></i></a>
            {% endif %}
        {% endif %}

        {% if pdf %}
            <img src="{{app.request.getSchemeAndHttpHost() ~ asset('bundles/hopitalnumeriquecore/img/anap.jpg')}}" alt="Logo anap" />
        {% endif %}

        <h1 class="text-center">{{resultat.outil.title}}</h1>
        {% if pdf %}<br />{% endif %}
        {% if resultat.name or resultat.dateLastSave %}
            <h3 class="text-center">
                {% if resultat.name %}{% if resultat.synthese %}Synthèse : {% endif %}{{resultat.name }}{% endif %}{% if pdf %}<br />{% endif %}
                {% if resultat.dateLastSave %}<small class="pull-right text-muted">le {{resultat.dateLastSave|date('d/m/Y')}}</small>{% endif %}
            </h3>
        {% endif %}

        <div id="commentaire-restitution">
            <p>
                {{resultat.outil.commentaireRestitution|raw}}
            </p>
        </div>

        <div class="clearfix"></div>

        {% if resultat.synthese %}
            <div class="autodiags">
                <h2 class="violet open" data-toggle="results" >Synthèse - {{resultat.name}}</h2>
                
                <div id="results">
                    <p>Autodiagnostics concernés par cette synthèse :</p>
                    <ul>
                        {% for result in resultat.resultats %}
                            <li><a href="{{path('hopitalnumerique_autodiag_front_resultat', {'id':result.id, 'back':1})}}" target="_blank">{{result.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="page-break"></div>
        {% endif %}

        <h2 class="violet open" data-toggle="graphiques" >Résultats de l'outil - Graphiques</h2>

        <div id="graphiques">
            {# Affichage du graphique barre #}
            {% if graphiques['barre'] is defined %}
                {% set chart = graphiques['barre'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <p>
                    {{resultat.outil.commentaireGraphBarre|raw}}
                </p>
                <div class="row" id="graphiques-barres" >
                    {% for panel in chart.panels %}
                        {% set tauxChapitre = panel.taux|number_format(0) %}
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" title="{{panel.title}}">{{panel.title|truncate(30,'...')}}</h3>
                                    <div class="options">
                                        {% if panel.value|checkNC %}
                                            {% if tauxChapitre == 0 %}
                                                Score : NC
                                            {% else %}
                                                Score : {{panel.value|number_format(0)}}%
                                            {% endif %}

                                            {% if tauxChapitre == 0 %}
                                                <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-4.png')}}" alt="Taux Remplissage" title="Taux de remplissage : {{tauxChapitre}}%" />
                                            {% elseif tauxChapitre <= 50 %}
                                                <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-3.png')}}" alt="Taux Remplissage" title="Taux de remplissage : {{tauxChapitre}}%" />
                                            {% elseif tauxChapitre <= 99 %}
                                                <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-2.png')}}" alt="Taux Remplissage" title="Taux de remplissage : {{tauxChapitre}}%" />
                                            {% elseif (resultat.outil.centPourcentReponseObligatoire == false) %}
                                                <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-1.png')}}" alt="Taux Remplissage" title="Taux de remplissage : {{tauxChapitre}}%" />
                                            {% endif %}
                                        {% else %}
                                            Score : NC

                                            <img src="{{asset('bundles/hopitalnumeriqueautodiag/img/niv-4.png')}}" alt="Taux Remplissage" title="Taux de remplissage : 0%" />
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="panel-body">
                                    <h3 class="toPrint">{{panel.title}}</h3> 
                                    {% if pdf %}<span class="text-muted taux-remplissage"> (Taux de remplissage : {{tauxChapitre}}%)</span>{% endif %}
                                    {% if panel.value|checkNC %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" style="width: 33.3%">
                                                Faible
                                            </div>
                                            <div class="progress-bar progress-bar-warning" style="width: 33.3%">
                                                Moyen
                                            </div>
                                            <div class="progress-bar progress-bar-success" style="width: 33.3%">
                                                Fort
                                            </div>

                                            {% if tauxChapitre != 0 %}
                                                {% set value = panel.value|number_format(0) ~ '%' %}
                                                <div class="cursor" {% if pdf %}style="left:{{value}}"{% endif %} data-position="{{value}}" title="" ></div>
                                                <div class="cursor-value" style="left:{{value}}">{{value}}</div>
                                            {% endif %}

                                            {% if panel.max is not null and tauxChapitre != 0 %}
                                                {% set max = panel.max|number_format(0) ~ '%' %}
                                                <div class="cursor cursor-max" {% if pdf %}style="left:{{max}}"{% endif %} data-position="{{max}}" title="<span>Score maximum : {{max}}</span>" ></div>
                                                {% if pdf %}
                                                    <div class="cursor-value" style="left:{{max}}">{{max}}</div>
                                                {% endif %}
                                            {% endif %}

                                            {% if panel.min is not null and tauxChapitre != 0 %}
                                                {% set min = panel.min|number_format(0) ~ '%' %}
                                                <div class="cursor cursor-min" {% if pdf %}style="left:{{min}}"{% endif %} data-position="{{min}}" title="<span>Score minimum : {{min}}</span>" ></div>
                                                {% if pdf %}
                                                    <div class="cursor-value" style="left:{{min}}">{{min}}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <p class="text-center">- Le chapitre n'a pas été diagnostiqué -</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="page-break"></div>
            {% endif %}
            
            {# Affichage de la restitution par processus #}
            {% if processusDonnees is defined and processusDonnees|length > 0 %}
                <div id="process_bloc">
                    <h3>{{ resultat.outil.processChartLabel }}</h3>
                    <p>
                        {{resultat.outil.commentaireGraphPrecessus|raw}}
                    </p>
                    {% for process in processusDonnees %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ process.libelle }}</h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    {% for chapitre in process.chapitres %}
                                        <div class="col-md-4">
                                            <h4 class="text-center">{{ chapitre.titre }}</h4>
                                            <div class="chapitres">
                                                {% for chapitreEnfant in chapitre.enfants %}
                                                    <div class="resultat{% if chapitreEnfant.nombreQuestionsRepondues > 0 %} {% if chapitreEnfant.moyenne > 66 %} resultat_fort{% elseif chapitreEnfant.moyenne > 33 %}resultat_moyen{% else %}resultat_faible{% endif %}{% endif %}"{% if chapitreEnfant.nombreQuestionsRepondues > 0 %} 
                                                    title="Score : {{ chapitreEnfant.moyenne }}% {% if resultat.synthese %}{# <br />Valeur minimale : {{chapitreEnfant.min}}%<br />Valeur maximale : {{chapitreEnfant.max}}% #}{% endif %}"{% endif %}>
                                                        {{ chapitreEnfant.titre }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    {% endfor %}
                </div>
                <div class="page-break"></div>
            {% endif %}
            
            {# Affichage du graphique spider #}
            {% if graphiques['radar'] is defined %}
                {% set chart = graphiques['radar'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <p>
                    {{resultat.outil.commentaireGraphRadar|raw}}
                </p>
                <div class="row">
                    <div id="radarChart"></div>
                    <input type="hidden" id="datas-radar" value="{{chart.datas|json_encode()}}">
                    <div class="col-md-12">
                        <p id="chaptersNonConcernes"></p>
                    </div>
                </div>
                <div class="page-break"></div>
            {% endif %}

            {# Affichage du graphique tableau #}
            {% if graphiques['table'] is defined %}
                {% set chart = graphiques['table'] %}
                <h3>{{chart.title|capitalize}}</h3>
                <div class="row">
                    <div class="col-md-12 tableContainer">
                        <table class="table table-hover table-bordered" id="tableau_resultats" >
                            <thead>
                                <th colspan="2" class="text-center vertical-align">
                                    <div class="reverse" onclick="reverse_table(document.getElementById('tableau_resultats'));" ><i class="fa fa-refresh"></i></div>
                                </th>
                                {% for id, chapitre in chart.datas.chapitres %}
                                    <th class="active text-center chapitre-{{id}}"{% if not chart.datas.totauxChapitres[id].isParent %} style="font-weight:normal;"{% endif %}>{{chapitre|capitalize}}</th>
                                {% endfor %}
                                {% if resultat.outil.tableChartAfficheTotal %}<th class="active text-center title-total">Total</th>{% endif %}
                            </thead>
                            <tbody>
                                {% for id,categorie in chart.datas.categories %}
                                    {% set nbRepCateg = 0 %}
                                    {% set nbQueCateg = 0 %}
                                    {% set nbPointsCateg = 0 %}
                                    {% set maxCateg = 0 %}
                                    {% set minimum = 100 %}
                                    {% set maximum = 0 %}

                                    <tr>
                                        <td class="active text-center vertical-align categorie-{{id}}" rowspan="2"><b>{{categorie.title|capitalize}}</b></td>
                                        <td class="text-center">Nombre de réponses</td>
                                        {% for datas in categorie['chapitres'] %}
                                            {% if not datas['nc'] %}
                                                <td class="text-center">
                                                    {{datas['nbRep']}} / {{datas['nbQue']}}
                                                </td>
                                                {% set nbRepCateg = nbRepCateg + datas['nbRep'] %}
                                                {% set nbQueCateg = nbQueCateg + datas['nbQue'] %}
                                            {% else %}
                                                <td class="text-center vertical-align">
                                                    - Non diagnostiqué -
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if resultat.outil.tableChartAfficheTotal %}
                                            <td class="text-center">
                                                {{nbRepCateg}} / {{nbQueCateg}}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="text-center">Score</td>
                                        {% for datas in categorie['chapitres'] %}
                                            {% if not datas['nc'] %}
                                                {% set nbPointsCateg = nbPointsCateg + datas['nbPointsPourc'] %}
                                                {% set maxCateg = maxCateg + datas['maxPourc'] %}
                                                
                                                {% if datas['max'] != 0 %}
                                                    {#% set note = (datas['nbPoints'] * 100) / datas['max'] %#}
                                                    {% set note = (datas['nbPointsPourc'] * 100) /  datas['maxPourc'] %}
                                                {% else %}
                                                    {% set note = 0 %}
                                                {% endif %}
                                                <td class="text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                                    {% if resultat.synthese %}
                                                    <span class="initialism minimum" title="<span>Score minimum</span>">{{ datas['minimum']|number_format(0) }}%</span> - 
                                                    {% endif %}
                                                    {{ note|number_format(0) }}%
                                                    {% if resultat.synthese %}
                                                    - <span class="initialism maximum" title="<span>Score maximum</span>">{{ datas['maximum']|number_format(0) }}%</span>
                                                {% endif %}
                                                </td>
                                            {% else %}
                                                <td class="text-center vertical-align" >
                                                    NC
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if resultat.outil.tableChartAfficheTotal %}
                                            {% if maxCateg != 0 %}
                                                {% set note = (nbPointsCateg * 100) / maxCateg %}
                                            {% else %}
                                                {% set note = 0 %}
                                            {% endif %}
                                            <td data-categorie="{{id}}" class="total-categorie text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                                {{ note|number_format(0) }}%
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                {% if chart.datas.categories|length > 1 and resultat.outil.tableChartAfficheTotal %}
                                    <tr>
                                        <td class="text-center title-total vertical-align" rowspan="2"><b>Total</b></td>
                                        <td class="text-center">Nombre de réponses</td>
                                        {% set nbRepTotal = 0 %}
                                        {% set nbQueTotal = 0 %}
                                        {% for datas in chart.datas.totauxChapitres %}
                                            {% if not datas['nc'] %}
                                                <td class="text-center">
                                                    {{datas['nbRep']}} / {{datas['nbQue']}}
                                                </td>
                                                {% set nbRepTotal = nbRepTotal + datas['nbRep'] %}
                                                {% set nbQueTotal = nbQueTotal + datas['nbQue'] %}
                                            {% else %}
                                                <td class="text-center vertical-align">
                                                    - Non diagnostiqué -
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        <td class="text-center">
                                            {{nbRepTotal}} / {{nbQueTotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Score</td>
                                        {% set nbPointsTotal = 0 %}
                                        {% set maxTotal = 0 %}
                                        {% for idChapitre,datas in chart.datas.totauxChapitres %}
                                            {% if not datas['nc'] %}
                                                {% set nbPointsTotal = nbPointsTotal + datas['nbPointsPourc'] %}
                                                {% set maxTotal = maxTotal + datas['maxPourc'] %}
                                                {% if datas['max'] != 0 %}
                                                    {#% set note = (datas['nbPoints'] * 100) / datas['max'] %#}
                                                    {% set note = (datas['nbPointsPourc'] * 100) /  datas['maxPourc'] %}
                                                {% else %}
                                                    {% set note = 0 %}
                                                {% endif %}
                                                <td data-chapitre="{{idChapitre}}" class="total-chapitre text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                                    {{ note|number_format(0) }}%
                                                </td>
                                            {% else %}
                                                <td class="text-center vertical-align">
                                                    NC
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if maxTotal != 0 %}
                                            {% set note = (nbPointsTotal * 100) / maxTotal %}
                                        {% else %}
                                            {% set note = 0 %}
                                        {% endif %}
                                        <td class="last-note text-center {% if note <= 33 %}danger{% elseif note <= 66 %}warning{% else %}success{% endif %}">
                                            {{ note|number_format(0) }}%
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        
        <div class="page-break"></div>

        {% if not resultat.outil.masquerAnalyse %}
            <h2 class="violet closed" data-toggle="chapitres" >Résultats de l'outil - Analyse</h2>

            <div id="chapitres" style="display:none">
                <p>
                    {{resultat.outil.commentaireAnalyseResultat|raw}}
                </p>
                <p class="text-justify">
                    <span>Compte tenu de vos réponses, l'Anap vous propose l'analyse suivante :</span>
                </p>

                <a class="btn btn-primary btn-sm col-sd-6" title="Liste des participants" href="{{path('hopitalnumerique_autodiag_resultat_export_chapitres_CSV_front',{'id':resultat.id, 'priorise':0})}}"><i class="fa fa-download" style="margin-right:5px;"></i>Plan d'actions (CSV)</a>
                {% if resultat.outil.planActionPriorise %}
                <a class="btn btn-primary btn-sm col-sd-6" title="Liste des participants" href="{{path('hopitalnumerique_autodiag_resultat_export_chapitres_CSV_front',{'id':resultat.id, 'priorise':1})}}"><i class="fa fa-download" style="margin-right:5px;"></i>Plan d'actions priorisé (CSV)</a>
                {% endif %}
                <a class="btn btn-success btn-sm col-sd-6" title="Liste des participants" href="{{path('hopitalnumerique_autodiag_resultat_export_chapitres_Excel_front',{'id':resultat.id, 'priorise':0})}}"><i class="fa fa-download" style="margin-right:5px;"></i>Plan d'actions (Excel)</a>
                {% if resultat.outil.planActionPriorise %}
                <a class="btn btn-success btn-sm col-sd-6" title="Liste des participants" href="{{path('hopitalnumerique_autodiag_resultat_export_chapitres_Excel_front',{'id':resultat.id, 'priorise':1})}}"><i class="fa fa-download" style="margin-right:5px;"></i>Plan d'actions priorisé (Excel)</a>
                {% endif %}
                
                {# Cherche si on doit afficher les colonnes Synthèse et Production #}
                {% set affichageSynthese = false %}
                {% set affichageProduction = false %}

                {# Chapitres #}
                {% for chapitre in chapitresForAnalyse %}
                    
                    {#  Synthese #}
                    {% if chapitre.synthese and not affichageSynthese %}
                        {% set affichageSynthese = true %}
                    {% endif %}
                    {#  Publications #}
                    {% if not affichageProduction %}
                        {% set affichageProduction = chapitre.id|getPublicationsForChapitre(pdf) %}
                        {% if chapitre.lien is not null and chapitre.lien is not empty %}
                            {% set affichageProduction = true %}
                        {% endif %}
                        {% set affichageProduction = false %}
                    {% endif %}

                    {# Questions du chapitre #}
                    {% for question in chapitre.questions %}
                        
                        {% if question.synthese %}
                            {% set affichageSynthese = true %}
                        {% endif %}
                        {# Publications #}
                        {% if not affichageProduction %}
                            {% set affichageProduction = question.id|getPublicationsForQuestion(pdf) %}
                            {% if question.lien is not null and question.lien is not empty %}
                                {% set affichageProduction = true %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}

                    {# Sous Chapitres #}
                    {% if chapitre.childs|length > 0 %}
                        {% for child in chapitre.childs %}
                                
                            {#  Synthese #}
                            {% if child.synthese and not affichageSynthese %}
                                {% set affichageSynthese = true %}
                            {% endif %}
                            {#  Publications #}
                            {% if not affichageProduction %}
                                {% set affichageProduction = child.id|getPublicationsForChapitre(pdf) %}
                                {% if child.lien is not null and child.lien is not empty %}
                                    {% set affichageProduction = true %}
                                {% endif %}
                            {% endif %}

                            {# Questions du chapitre #}
                            {% for questionChild in child.questions %}
                                
                                {% if questionChild.synthese %}
                                    {% set affichageSynthese = true %}
                                {% endif %}
                                {# Publications #}
                                {% if not affichageProduction %}
                                    {% set affichageProduction = questionChild.id|getPublicationsForQuestion(pdf) %}
                                    {% if questionChild.lien is not null and questionChild.lien is not empty %}
                                        {% set affichageProduction = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}

                {# Affichage des publications sous forme de tableau : GME 24/09/14 #}
                <table class="table table-striped" id="table-analyse">
                    <!-- En-tête du tableau -->
                    <thead>
                        <tr>
                            <th>Chap.</th>
                            <th>S.Chap.</th>
                            <th>Question</th>
                            <th>Réponse</th>
                            {% if affichageSynthese %}
                               <th>Synthèse</th>
                            {% endif %}
                            {% if affichageProduction %}
                                <th class="forAffichage">Production</th>
                            {% endif %}
                        </tr>
                    </thead>
                    
                    <!-- Corps du tableau -->
                    <tbody>
                        {# Chapitres #}
                        {% set chaptersToHide = [] %}
                        {% for chapitre in chapitresForAnalyse %}
                            {% set doTheChapterHavePublications = false %}
                            <tr>
                                <td class="note-{{chapitre.noteChapitre}}">{{chapitre.code}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                {% if affichageSynthese %}
                                    <td>
                                        {% if chapitre.noteMin and chapitre.noteChapitre <= chapitre.noteMin %}
                                            {% if chapitre.synthese %}
                                                {{chapitre.synthese|nl2br}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if affichageProduction %}
                                    <td class="forAffichage">
                                        {% if chapitre.noteMin and chapitre.noteChapitre <= chapitre.noteMin %}
                                            {# Affichage des liens de publications #}
                                            {% if chapitre.lien is not null and chapitre.lien is not empty %}
                                                {# Affichage du lien défini en back office #}
                                                <ul><li><a href="{{chapitre.lien}}" target="_blank">{{chapitre.descriptionLien}}</a></li></ul>
                                            {% endif %}
                                            {% set publications = chapitre.id|getPublicationsForChapitre(pdf) %}
                                            {% if publications %}
                                                {{publications|raw}}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                            
                            {# Questions du chapitre #}
                            {% for question in chapitre.questions %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>{{question.question}}</td>
                                    <td class="note-{{question.initialValue}}" {% if question.colored and question.initialValue != -1 and question.initialValue != '' %}
                                            {% if question.colored == "1" %}
                                                {% if question.min == question.initialValue %}
                                                    style="color:#c82f5b"
                                                {% elseif question.max == question.initialValue %}
                                                    style="color:#e88824"
                                                {% else %}
                                                    style="color:#e88824"
                                                {% endif %}
                                            {% else %}
                                                {% if question.min == question.initialValue %}
                                                    style="color:#e88824"
                                                {% elseif question.max == question.initialValue %}
                                                    style="color:#c82f5b"
                                                {% else %}
                                                    style="color:#e88824"
                                                {% endif %}
                                            {% endif %}{% endif %}>
                                        {% if question.initialValue == -1 %}
                                            Non concerné
                                        {% else %}
                                            {% for option in question.options %}
                                                {% set tab = option|split(';') %}
                                                {% if tab[0] == question.initialValue %}
                                                    {{tab[1]|trim}}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    {% if affichageSynthese %}
                                        <td>
                                            {# Affichage de la synthese #}
                                            {% if question.synthese %}
                                                {{question.synthese|nl2br}}</td>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    {% if affichageProduction %}
                                        <td class="forAffichage">
                                            {% if question.lien is not null and question.lien is not empty %}
                                                {# Affichage du lien défini en back office #}
                                                <ul><li><a href="{{question.lien}}" target="_blank">{{question.descriptionLien}}</a></li></ul>
                                            {% endif %}
                                            {# Affichage des liens de publications #}
                                            {% set publications = question.id|getPublicationsForQuestion(pdf) %}
                                            {% if publications %}
                                                {{publications|raw}}
                                                {% set doTheChapterHavePublications = true %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            {# Sous Chapitres #}
                            {% if chapitre.childs|length > 0 %}
                                {% for child in chapitre.childs %}
                                    <tr>
                                        <td></td>
                                        <td class="note-{{child.noteChapitre}}">{{child.code}}</td>
                                        <td></td>
                                        <td></td>
                                        {% if affichageSynthese %}
                                            <td>
                                                {% if child.noteMin and child.noteChapitre <= child.noteMin %}
                                                    {% if child.synthese %}
                                                        {{child.synthese|nl2br}}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        {% if affichageProduction %}
                                            <td class="forAffichage">
                                                {# Affichage des liens de publications #}
                                                {% if child.noteMin and child.noteChapitre <= child.noteMin %}
                                                    {% if child.lien is not null and child.lien is not empty %}
                                                        {# Affichage du lien défini en back office #}
                                                        <ul><li><a href="{{child.lien}}" target="_blank">{{child.descriptionLien}}</a></li></ul>
                                                    {% endif %}
                                                    {% set publications = child.id|getPublicationsForChapitre(pdf) %}
                                                    {% if publications %}
                                                        {{publications|raw}}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>

                                    {# Question du sous chapitre #}
                                    {% for questionChild in child.questions %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>{{questionChild.question}}</td>
                                            <td class="note-{{questionChild.initialValue}}" {% if questionChild.colored and questionChild.initialValue != -1 and questionChild.initialValue != '' %}
                                                    {% if questionChild.colored == "1" %}
                                                        {% if questionChild.min == questionChild.initialValue %}
                                                            style="color:#c82f5b"
                                                        {% elseif questionChild.max == questionChild.initialValue %}
                                                            style="color:#e88824"
                                                        {% else %}
                                                            style="color:#e88824"
                                                        {% endif %}
                                                    {% else %}
                                                        {% if questionChild.min == questionChild.initialValue %}
                                                            style="color:#e88824"
                                                        {% elseif questionChild.max == questionChild.initialValue %}
                                                            style="color:#c82f5b"
                                                        {% else %}
                                                            style="color:#e88824"
                                                        {% endif %}
                                                    {% endif %}{% endif %}>
                                                {% if questionChild.initialValue == -1 %}
                                                    Non concerné
                                                {% else %}
                                                    {% for option in questionChild.options %}
                                                        {% set tab = option|split(';') %}
                                                        {% if tab[0] == questionChild.initialValue %}
                                                            {{tab[1]|trim}}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            {% if affichageSynthese %}
                                                <td>
                                                    {% if questionChild.synthese %}
                                                        {{questionChild.synthese|nl2br}}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                            {% if affichageProduction %}
                                                <td class="forAffichage">
                                                    {% if questionChild.lien is not null and questionChild.lien is not empty %}
                                                        {# Affichage du lien défini en back office #}
                                                        <ul><li><a href="{{questionChild.lien}}" target="_blank">{{questionChild.descriptionLien}}</a></li></ul>
                                                    {% endif %}
                                                    {# Affichage des liens de publications #}
                                                    {% set publications = questionChild.id|getPublicationsForQuestion(pdf) %}
                                                    {% if publications %}
                                                        {{publications|raw}}
                                                        {% set doTheChapterHavePublications = true %}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            {% if affichageSynthese and affichageProduction %}
                                                <td colspan="4">Aucune recommandation spécifique.</td>
                                            {% elseif affichageSynthese or affichageProduction %}
                                                <td colspan="3">Aucune recommandation spécifique.</td>
                                            {% else %}
                                                <td colspan="2">Aucune recommandation spécifique.</td>
                                            {% endif %}
                                        </tr>
                                    
                                    {% endfor %}

                                {% endfor %}
                            {% elseif chapitre.questions|length == 0 %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    {% if affichageSynthese and affichageProduction %}
                                        <td colspan="4">Aucune recommandation spécifique.</td>
                                    {% elseif affichageSynthese or affichageProduction %}
                                        <td colspan="3">Aucune recommandation spécifique.</td>
                                    {% else %}
                                        <td colspan="2">Aucune recommandation spécifique.</td>
                                    {% endif %}
                                </tr>
                            {% endif %}

                            {% if not doTheChapterHavePublications %}
                                {% set chaptersToHide = chaptersToHide|merge([chapitre.id]) %}
                            {% endif %}

                        {% endfor %}
                    </tbody>
                </table>

                <p class="text-center {% if chapitres|length > 0 %}hide{% endif %}" >
                    - Aucune recommandation de l'ANAP nécessaire -
                    <input type="hidden" id="chaptersToHide" value="{{chaptersToHide|json_encode}}" />
                </p>
            </div>
        {% endif %}
        
        {% if not resultat.outil.masquerReponse %}
            {% if pdf or true %}
                <div class="page-break"></div>

                <h2 class="violet closed" data-toggle="reponses" >Résultats de l'outil - Vos réponses</h2>

                <div id="reponses" {% if not pdf %} style="display:none" {% endif %} >
                
                    <p>
                        {{resultat.outil.commentaireReponses|raw}}
                    </p>
                    
                    <p>Vos réponses apparaissent en gras parmi les réponses possibles à chaque question.</p>
                
                    {% if resultat.remarque is defined %}
                        <p class="text-muted"><em>{{ resultat.remarque|raw|nl2br }}</em></p>
                    {% endif %}
                    
                    {% if chapitresForReponse is defined %}
                        {% for idChapitre, chapitre in chapitresForReponse %}
                            {% if chapitre.nbQuestionsRemplies > 0 %}
                                <div class="chapitre-{{chapitre.id}}">
                                    <h3 class="prev">{{chapitre.intro}}</h3>
                                    <h3 class="violet">{{chapitre.title}}</h3>
                                    <p class="text-muted level1">{{chapitre.desc|raw}}</p>
                                    
                                    <hr>
            
                                    {% if chapitre.questionsBack|length > 0 %}
                                        {{ mySelf.buildQuestionReponse(chapitre.questionsBack, resultat, questionReponseSyntheseTableau, resultatsName) }}
                                    {% endif %}
                                    
                                    {% if chapitre.childs|length > 0 %}
                                        <div class="row sous-chapitre col-md-12">
                                            {% for child in chapitre.childs %}
                                                {% if child.nbQuestionsRemplies > 0 %}
                                                    <h4 class="prev">{{child.intro}}</h4>
                                                    <h4 class="violet">{{child.title}}</h4>
                                                    <p class="text-muted level1">{{child.desc|raw}}</p>
                                                    
                                                    {{ mySelf.buildQuestionReponse(child.questionsBack, resultat, questionReponseSyntheseTableau, resultatsName) }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% macro buildQuestionReponse(questions, resultat, questionReponseSynthesetableau, resultatsName) %}
                <div class="clearfix">
                    <table class="tableau-question-reponse">
                        {% if resultat.synthese %}
                        <thead>
                            <tr>
                                <td></td>
                            {% for id,res in questionReponseSynthesetableau %}
                                <td class="text-center"><span class="titre-autodiag" title="<span>{{resultatsName[id]}}</span>"><i class="fa fa-question-circle" style="margin-right:5px"></i></span></td>
                            {% endfor %}
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody>
    {% for question in questions %}
        {% if question.initialValue != '' and question.initialValue != -1 %}
            {% if question.intro != '' %}
                            <tr>
                                <td>{{question.intro}}</td>
                            </tr>
            {% endif %}
            {% set options = question.options %}
            {% if question.colored and question.initialValue != -1 and question.initialValue != '' %}
                {% if (question.colored == 1 and question.min == question.initialValue) or (question.colored == -1 and question.max == question.initialValue) %}
                    {% set color = "color:#c82f5b" %}
                {% elseif (question.colored == -1 and question.min == question.initialValue) or (question.colored == 1 and question.max == question.initialValue) %}
                    {% set color = "color:#ADD500" %}
                {% else %}
                    {% set color = "color:#e88824" %}
                {% endif %}
            {% else %}
                {% set color = "" %}
            {% endif %}
                            <tr>
                                <td>{{question.question}}</td>
                        {% if resultat.synthese %}
                            {% for res in questionReponseSynthesetableau %}
                                <td>
                                {% set hasvalue = false %}
                                {% for option in options %}
                                {% set tab = option|split(';') %}
                                    {% if tab[0] == res[question.id] %}
                                    {% set hasvalue = true %}
                                    <span style="{{color}}">{{tab[1]|trim}}</span><br />
                                    {% endif %}
                                {% endfor %}
                                {% if not hasvalue %}
                                    -
                                {% endif %}
                                </td>
                            {% endfor %}
                        {% else %}
                                <td>
                            {% if question.initialValue == -1 %}
                                    <span>Non concerné</span><br />
                            {% endif %}
                            {% for option in options %}
                                {% set tab = option|split(';') %}
                                {% if tab[0]|trim == question.initialValue %}
                                    <span style="{{color}}">{{tab[1]|trim}}</span> &nbsp; <em class="text-muted">{{question.remarque}}</em><br />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                                </td>
                            </tr>
        {% endif %}
    {% endfor %}
                        </tbody>
                    </table>
                </div>
{% endmacro %}