{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Annuaire des membres du groupe {{ groupe }}{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    <div class="lien">
        <a href="{{ path('hopital_numerique_user_informations_personnelles') }}">Mise à jour de mes données <em class="icon icon-settings48"></em></a>
    </div>
{% endblock %}

{% block body_communaute_pratique %}

    <div class="communaute-de-pratiques-annuaire">

        {% if ajoutMembreForm is not null %}
            <div class="row">
                {{ form_start(ajoutMembreForm) }}
                    <div class="col-md-5 text-right">
                        Ajouter un membre de la communauté au groupe de travail :
                    </div>
                    <div class="col-md-5">
                        {{ form_widget(ajoutMembreForm.user) }}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-sm btn-success">Ajouter l'utilisateur</button>
                    </div>
                {{ form_end(ajoutMembreForm) }}
            </div>
        {% endif %}

        <div class="communaute-de-pratiques-annuaire-users">
            <div class="row">

                {% for membre in pagerFantaMembres.currentPageResults %}
                    <div class="col-md-3 col-sm-6">
                        <div class="user">
                            <div class="identite">
                                <div class="illustration"><div class="communaute-de-pratiques-avatar" style="background-image: url('{{ asset(membre.avatarWebPath) }}');"></div></div>
                                <div class="nom">
                                    <a onclick="Contact_Popup.display({'{{ membre.email }}':'{{ membre.appellation }}'}, '{{ path(app.request.get('_route'), app.request.get('_route_params')) }}');"><em class="icon icon-email5"></em></a>
                                    {{ membre.prenomNom }}
                                </div>
                            </div>
                            <div class="type">
                                <em class="icon icon-hospital11"></em>
                                <div class="contenu">
                                    {{ membre.statutEtablissementSante is not null ? membre.statutEtablissementSante.libelle~' ' : '' }}
                                    {%- if membre.typeActivite|length > 0 -%}
                                        <br>({% for activite in membre.typeActivite -%}
                                            {{ (loop.first ? '' : ', ')~(activite.libelle) }}
                                        {%- endfor %})
                                    {%- endif -%}
                                </div>
                            </div>
                            <div class="fonction">
                                <em class="icon icon-users149"></em>
                                <div class="contenu">
                                    {{ membre.fonctionDansEtablissementSante }}
                                </div>
                            </div>
                            <div class="liens">
                                <div class="groupe">
                                    {% if membre.communautePratiqueGroupes|length > 0 %}
                                        <a class="fancybox fancybox.ajax" href="{{ path('hopitalnumerique_communautepratique_groupe_panelusergroupes', { user:membre.id }) }}">Participations aux groupes</a>
                                    {% else %}
                                        <span>Participations aux groupes</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            {% if pagerFantaMembres.nbPages > 1 %}
                <div class="text-center">{{ pagerfanta(pagerFantaMembres, 'hopitalnumerique_communautepratique') }}</div>
            {% endif %}

        </div>

    </div>

{% endblock body_communaute_pratique %}
