{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-user-listbygroupe.js"
        'bundles/hopitalnumeriquecommunautepratique/js/User.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title_communaute_pratique %}Annuaire des membres du groupe {{ groupe }}{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    <div class="lien">
        <a href="{{ path('hopital_numerique_user_informations_personnelles') }}">Mise à jour de mes données <em class="icon icon-settings48"></em></a>
    </div>
{% endblock %}

{% block communaute_pratique_breadcrumbs_parent %}<li><a href="{{ path('hopitalnumerique_communautepratique_groupe_view', { groupe:groupe.id }) }}">Groupe {{ groupe }}</a></li>{% endblock %}

{% block communaute_pratique_sommaire %}{% endblock %}

{% block body_communaute_pratique %}

    {{ communaute_pratique.display_groupe_sommaire(groupe) }}

    {% if ajoutMembreForm is not null %}
        <div class="communaute-de-pratiques-user-add">
            <div class="row">
                {{ form_start(ajoutMembreForm) }}
                    <div class="column col-md-4 text-xs-center text-md-right">
                        Ajouter un membre : &nbsp;
                    </div>
                    <div class="column col-md-4">
                        {{ form_widget(ajoutMembreForm.user) }}
                    </div>
                    <div class="column col-md-4 text-xs-center text-md-left">
                        &nbsp; <button type="submit" class="btn btn-sm btn-success">Ajouter l'utilisateur</button>
                    </div>
                {{ form_end(ajoutMembreForm) }}
            </div>
        </div>
    {% endif %}

    <div class="communaute-de-pratiques-annuaire">

        <div class="row">
            {% for membre in pagerFantaMembres.currentPageResults %}
                <div class="col-md-3 col-sm-6">
                    {{ communaute_pratique.display_bloc_membre(membre, groupe, canDeleteMembre) }}
                </div>
            {% endfor %}
        </div>

        {% if pagerFantaMembres.nbPages > 1 %}
            <div class="text-center">{{ pagerfanta(pagerFantaMembres, 'hopitalnumerique_communautepratique') }}</div>
        {% endif %}

    </div>

{% endblock body_communaute_pratique %}
