{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% trans_default_domain "cdp_user" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-user-list.js"
        'bundles/hopitalnumeriquecommunautepratique/js/User/Recherche.js'
        'bundles/hopitalnumeriquecommunautepratique/js/Directory.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            new Directory();
        });
    </script>
{% endblock %}

{% block title_communaute_pratique %}{{ 'directory.public.title'|trans }}{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    {{ communaute_pratique.display_action_contact_invitation() }}
    {{ selectedDomainSelector() }}
{% endblock %}

{% block body_communaute_pratique %}

    <div class="communaute-de-pratiques-annuaire">

        <div class="communaute-de-pratiques-annuaire-filtres">
            {{ form_start(rechercheForm) }}
                <div class="row">
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.nom) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.profileType) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.region) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.organizationType) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.activities) }}
                    </div>
                    <div class="col-md-2 col-sm-3 filtre">
                        <input name="rechercher" type="submit" class="btn btn-success" value='Rechercher'/>
                    </div>
                    <div class="col-md-2 col-sm-3 filtre">
                        <input name="resetFiltres" type="submit" class="btn btn-danger" value="Réinitialiser"/>
                    </div>
                </div>
            {{ form_end(rechercheForm) }}
        </div>

        <div class="communaute-de-pratiques-annuaire-users cdp-directory">

            <div class="user-details modal fade" id="directory-user-details-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

            <div class="directory">
                {% for user in pagerFantaMembres.currentPageResults %}
                    {{ include('@HopitalNumeriqueCommunautePratique/User/member_line.html.twig') }}
                {% endfor %}
            </div>

            {% if pagerFantaMembres.nbPages > 1 %}
                <div class="text-center">
                    {{ pagerfanta(pagerFantaMembres, 'hopitalnumerique_communautepratique') }}

                    <span class="resultats-nombre">
                        {{ 'directory.count.member'|transchoice(pagerFantaMembres.count) }}<br />
                        {{ 'directory.count.new_member'|transchoice(pagerFantaMembres.count - membersViewed|length) }}
                    </span>
                    <div class="clearfix"></div>
                </div>
            {% endif %}

        </div>

    </div>

{% endblock body_communaute_pratique %}
