{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-user-list.js"
        'bundles/hopitalnumeriquecommunautepratique/js/User/Recherche.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title_communaute_pratique %}Annuaire des membres{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    <div class="lien">
        <a target="_blank" href="{{ path('hopital_numerique_user_informations_personnelles') }}">Mise à jour de mes informations personnelles <em class="icon icon-settings48"></em></a>
    </div>
{% endblock %}

{% block body_communaute_pratique %}

    <div class="communaute-de-pratiques-annuaire">

        <div class="communaute-de-pratiques-annuaire-filtres">
            {{ form_start(rechercheForm) }}
                <div class="row">
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.nom) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.profilEtablissementSante) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.region) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.statutEtablissementSante) }}
                    </div>
                    <div class="col-md-4 col-sm-6 filtre">
                        {{ form_widget(rechercheForm.typeActivite) }}
                    </div>
                    <div class="col-md-2 col-sm-3 filtre">
                        <input name="rechercher" type="submit" class="btn btn-success" value='Rechercher'/>
                    </div>
                    <div class="col-md-2 col-sm-3 filtre">
                        <input name="resetFiltres" type="submit" class="btn btn-danger" value="Réinitialiser"/>
                    </div>
                </div>
            {{ form_end(rechercheForm) }}
        </div>

        <div class="communaute-de-pratiques-annuaire-users">
            <div class="row">

                {% for membre in pagerFantaMembres.currentPageResults %}
                    <div class="col-md-3 col-sm-6">
                        {{ communaute_pratique.display_bloc_membre(membre, null, false, groupesTermines, groupesNonDemarres, groupesEnCours) }}
                    </div>
                {% endfor %}

            </div>

            {% if pagerFantaMembres.nbPages > 1 %}
                <div class="text-center">{{ pagerfanta(pagerFantaMembres, 'hopitalnumerique_communautepratique') }}<span class="resultats-nombre"> {{ pagerFantaMembres.count }} menbres</span></div>
            {% endif %}

        </div>

    </div>

{% endblock body_communaute_pratique %}

{% block communaute_pratique_sommaire %}
<div class="communaute-de-pratiques-sommaire">
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_accueil_index') }}"><em class="icon icon-download105"></em> Tableau de bord</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_groupe_list') }}"><em class="icon-social20"></em> Groupes de travail</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em class="icon-documents7"></em> Publications issues des groupes</a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('ccdn_forum_user_category_index') }}"><em class="icon-chat27"></em> Forum de la communauté de pratiques</a>
        </div>
    </div>
</div>
{% endblock %}