{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-user-listbygroupe.js"
        'bundles/hopitalnumeriquecommunautepratique/js/User.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title_communaute_pratique %}Annuaire des membres du groupe {{ groupe }}{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    <div class="lien">
        <a href="{{ path('hopital_numerique_user_informations_personnelles') }}">Mise à jour de mes données <em class="icon icon-settings48"></em></a>
    </div>
{% endblock %}

{% block body_communaute_pratique %}

    <div class="communaute-de-pratiques-annuaire">

        {% if ajoutMembreForm is not null %}
            <div class="communaute-de-pratiques-user-add">
                <div class="row">
                    {{ form_start(ajoutMembreForm) }}
                        <div class="col-md-5 text-right">
                            Ajouter un membre de la communauté au groupe de travail :
                        </div>
                        <div class="col-md-5">
                            {{ form_widget(ajoutMembreForm.user) }}
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-sm btn-success">Ajouter l'utilisateur</button>
                        </div>
                    {{ form_end(ajoutMembreForm) }}
                </div>
            </div>
        {% endif %}

        <div class="communaute-de-pratiques-annuaire-users">
            <div class="row">

                {% for membre in pagerFantaMembres.currentPageResults %}
                    <div class="col-md-3 col-sm-6">
                        {{ communaute_pratique.display_bloc_membre(membre, groupe, canDeleteMembre) }}
                    </div>
                {% endfor %}

            </div>

            {% if pagerFantaMembres.nbPages > 1 %}
                <div class="text-center">{{ pagerfanta(pagerFantaMembres, 'hopitalnumerique_communautepratique') }}</div>
            {% endif %}

        </div>

    </div>

{% endblock body_communaute_pratique %}
