{% trans_default_domain 'cdp_user' %}

<a href="{{ path('hopitalnumerique_communautepratique_user_details', {user: user.id, group: groupe is defined ? groupe.id : null}) }}" class="directory-user{{ app.user and app.user.communautePratiqueEnrollmentDate < user.communautePratiqueEnrollmentDate and membersViewed[user.id] is not defined ? ' directory-user--new' }}">

    <span class="avatar" style="background-image: url('{{ asset(user.avatarWebPath) }}');"></span>
    <span class="directory-user-username">
        {{ user.prenomNom }}
    </span>

    {% if user.county %}
        <span class="county">
           &nbsp;- {{ user.county.libelle }}
        </span>
    {% endif %}

    {% if not user.isActifInGroupe(groupe) %}
        <div class="to-validate-flag">{{ 'directory.member.to_validate'|trans }}</div>
    {% endif %}


    <div class="new-flag">{{ 'directory.member.is_new'|trans }}</div>
</a>
