{% if in_progress is not defined %}
    {% set in_progress = true %}
{% endif %}

{% set noLayout = noLayout|default(false) %}

{% set routes = {
    "edit": noLayout ? "hopitalnumerique_autodiag_entry_edit_no_layout" : "hopitalnumerique_autodiag_entry_edit",
    "restitution": noLayout ? "hopitalnumerique_autodiag_restitution_index_no_layout" : "hopitalnumerique_autodiag_restitution_index",
    "share": noLayout ? "hopitalnumerique_autodiag_share_index_no_layout" : "hopitalnumerique_autodiag_share_index"
} %}

<div class="container-fluid">

    {% if in_progress %}
        <h2>{{ 'ad.account.in_progress'|trans }}</h2>
        <div class="row-fluid">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'ad.account.table.name'|trans }}</th>
                        <th>{{ 'ad.account.table.last_save_date'|trans }}</th>
                        <th>{{ 'ad.account.table.filling'|trans }}</th>
                        <th class="actions-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if datasForSyntheses.currentSyntheses is empty %}
                        <tr><td colspan="4" class="autodiag-title">{{ 'ad.account.table.none'|trans }}</td></tr>
                    {% else %}
                        {% for autodiag in datasForSyntheses.currentSyntheses %}
                            <tr><td colspan="4" class="autodiag-title">{{ autodiag.name }}{% if autodiag.updated %} <i class="attribute-tooltip maj" data-toggle="tooltip" title="{{ 'ad.account.autodiag.updated'|trans }}"></i>{% endif %}</td></tr>
                            {% for synthesis in autodiag.syntheses %}
                                <tr>
                                    <td>{{ synthesis.name }}</td>
                                    <td>{{ synthesis.updated_at|date('d/m/Y') }}</td>
                                    <td>
                                        {{ synthesis.completion ~ "%" }}
                                    </td>
                                    <td>
                                        <div {% if synthesis.computing %}data-score-polling="{{ synthesis.id }}"{% endif %} class="btn-group">
                                            {% if synthesis.entryId is not null %}
                                                <a href="{{ path(routes.edit, {'entry': synthesis.entryId}) }}" class="btn btn-success" title="{{ 'ad.account.action.continue'|trans }}"><i class="fa fa-arrow-right"></i></a>
                                            {% endif %}

                                            {% if is_granted('validate', synthesis.synth) and synthesis.synth.canValidate %}
                                                <a href="{{ path('hopitalnumerique_autodiag_validate', {'synthesis': synthesis.id, "referer": true, "noLayout": noLayout}) }}"
                                                    class="btn btn-warning"
                                                    title="{{ 'ad.account.action.validate'|trans }}"
                                                >
                                                    <i class="fa fa fa-arrow-down"></i>
                                                </a>
                                            {% endif %}

                                            <a href="{{ path('hopitalnumerique_autodiag_account_delete_synthesis', {'synthesis': synthesis.id}) }}" class="btn btn-danger delete-synthesis" title="{{ 'ad.account.action.delete'|trans }}"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <form action="{{ path('hopitalnumerique_autodiag_account_generate_synthesis') }}" method="post" id="syntheses-form">
        {% if in_progress %}
            <h2>{{ 'ad.account.valid'|trans }}</h2>
        {% endif %}
        <div class="row-fluid">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'ad.account.table.name'|trans }}</th>
                        <th>{{ 'ad.account.table.validation_date'|trans }}</th>
                        <th>{{ 'ad.account.table.share'|trans }}</th>
                        <th class="actions-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if datasForSyntheses.validSyntheses is empty %}
                        <tr><td colspan="5" class="autodiag-title">{{ 'ad.account.table.none'|trans }}</td></tr>
                    {% else %}
                        {% for autodiag in datasForSyntheses.validSyntheses %}
                            <tr><td colspan="5" class="autodiag-title">{{ autodiag.name }}{% if autodiag.updated %} <i class="attribute-tooltip maj" data-toggle="tooltip" title="{{ 'ad.account.autodiag.updated'|trans }}"></i>{% endif %}</td></tr>
                            {% for synthesis in autodiag.syntheses %}
                                <tr>
                                    <td>
                                        {% if autodiag.synthesisAllowed == true %}
                                            <input name="synthesis-choice[{{ autodiag.id }}][]" type="checkbox" value="{{ synthesis.id }}">
                                        {% endif %}
                                    </td>
                                    {% if synthesis.entries|length > 1 %}
                                        <td>{{ 'ad.account.synthesis.name'|trans }} : {{ synthesis.name }}</td>
                                    {% else %}
                                        <td>{{ synthesis.name }}</td>
                                    {% endif %}
                                    <td>{{ synthesis.validated_at|date('d/m/Y') }}</td>
                                    <td>
                                        {% if synthesis.user != user and synthesis.share is not empty %}
                                            {{ 'ad.account.synthesis.shared_by'|trans }} : {{ synthesis.user.prenom ~ ' ' ~ synthesis.user.nom }}
                                        {% elseif synthesis.share is not empty %}
                                            {{ 'ad.account.synthesis.shared_with'|trans }} : {{ synthesis.share|join(', ') }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td width="30%">
                                        <div {% if synthesis.computing %}data-score-polling="{{ synthesis.id }}"{% endif %} class="btn-group btn-sm">
                                            {% if synthesis.user == user and synthesis.entries|length <= 1 %}
                                                <a href="{{ path('hopitalnumerique_autodiag_unvalidate', {'synthesis': synthesis.id, "referer": true, "noLayout": noLayout}) }}" class="btn btn-warning" title="{{ 'ad.account.action.reopen'|trans }}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path(routes.share, {'synthesis': synthesis.id}) }}" class="btn btn-info" title="{{ 'ad.account.action.share'|trans }}">
                                                <i class="fa fa-exchange"></i>
                                            </a>
                                            <a href="{{ path('hopitalnumerique_autodiag_restitution_pdf', {'synthesis': synthesis.id}) }}" target="_blank" class="btn btn-success" title="{{ 'ad.account.action.pdf'|trans }}">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <a href="{{ path(routes.restitution, {'synthesis': synthesis.id}) }}" class="btn btn-warning" title="{{ 'ad.account.action.results'|trans }}">
                                                <i class="fa fa-bar-chart-o"></i>
                                            </a>
                                            {% if currentSynthesisId is defined %}
                                                <a href="{{ path('hopitalnumerique_autodiag_account_delete_synthesis_share', {'synthesis': synthesis.id, 'currentSynthesisId': currentSynthesisId}) }}" class="btn btn-danger delete-synthesis" title="{{ 'ad.account.action.delete'|trans }}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('hopitalnumerique_autodiag_account_delete_synthesis', {'synthesis': synthesis.id}) }}" class="btn btn-danger delete-synthesis" title="{{ 'ad.account.action.delete'|trans }}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if datasForSyntheses.validSyntheses is not empty %}
            <div class="col-md-12 synthesis-creation">
                <div class="row-account">
                    {{ 'ad.account.synthesis.create.label'|trans }}
                </div>
                <div class="row-account">
                    <input type="text" name="synthesis-name" class="form-control" required>
                </div>
                <div class="row-account">
                    <input id="create-synthesis-btn" type="submit" data-errormessage="{{ 'ad.synthesis.generator.error.at_least_2'|trans }}" class="btn btn-success" value="{{ 'ad.account.synthesis.create.button'|trans }}">
                </div>
            </div>
        {% endif %}

        <script>
            $(function(){
                var pollingUrl = "{{ path('hopitalnumerique_autodiag_synthesis_polling') }}";
                var polling = new ScorePolling({
                    url: pollingUrl
                });
            });
        </script>

    </form>
</div>
