{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Publications issues des groupes{% endblock %}

{% block body_communaute_pratique %}
    <div class="communaute-de-pratiques-publications">
        {%- for groupe in groupes -%}
            {%- if groupe.publications|length > 0 -%}
                <div class="panel panel-communaute-de-pratiques">
                    <div class="panel-heading">
                        <div class="pull-right">
                            {{ groupe.dateDemarrage|date('d/m/Y') }} au {{ groupe.dateFin|date('d/m/Y') }}
                        </div>
                        <h2><em class="icon icon-social20"></em> Groupe de travail {{ groupe }}</h2>
                    </div>
                    <div class="panel-body">

                        {%- if groupe.animateurs|length > 0 -%}
                            <p>
                                <strong>Animateur{{ groupe.animateurs|length > 1 ? 's' : '' }} du groupe</strong> :
                                {% for animateur in groupe.animateurs %}
                                    {{ animateur.prenom }} {{ animateur.nom }}{{ loop.last ? '' : ', ' }}
                                {% endfor -%}
                            </p>
                        {%- endif -%}
                        {{ groupe.descriptionHtml|unescape }}

                        <div class="row">
                            {%- for publication in groupe.publications -%}
                                <div class="col-md-6">
                                    <div class="publication">
                                        <div class="categorie">
                                            {% for categorie in publication.types %}
                                                {{ categorie.libelle }}{{ loop.last ? '' : ', ' }}
                                            {% endfor -%}
                                            {% if publication.source is not null %}
                                                <span class="text-muted">({{ publication.source }})</span>
                                            {% endif -%}
                                        </div>

                                        <h2><a href="{{ path('hopital_numerique_publication_publication_objet', { id:publication.id, alias:publication.alias }) }}" >{{ publication.titre }}</a></h2>

                                        {{ publication.resume|parsePublication|striptags|truncate(400) }}
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>

                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{% endblock body_communaute_pratique %}
