{% import _self as tools %}

<li>
    <span class="chapter-title">
        {{ resultItem.label }}
        <i>Nombre de réponses : {{ resultItem.numberOfAnswers }} / {{ resultItem.numberOfQuestions }}</i>
    </span>


    <table class="table table-bordered restitution-table">
        {% for attribute in resultItem.attributes %}
            <tr>
                <td>{{ attribute.label }}</td>
                <td>
                    {{ attribute.response.text }} {{ attribute.response.text is null ? '' : attribute.response.unit }}
                    {% if attribute.response.comment is not null and attribute.response.comment|length > 0 %}
                        - <i class="small">{{ attribute.response.comment }}</i>
                    {% endif %}
                </td>
                <td class="attribute">
                    {{ tools.mood(attribute, attribute.response) }}
                </td>
                {% if attribute.response.reference is defined %}
                    <td>
                        {{ attribute.response.reference.text }}
                        {% if attribute.response.reference.comment is not null and attribute.response.reference.comment|length > 0 %}
                            - <i class="small">{{ attribute.response.reference.comment }}</i>
                        {% endif %}
                    </td>

                    <td class="attribute">
                        {{ tools.mood(attribute, attribute.response.reference) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <ul>
        {% for child in resultItem.childrens %}
            {{ include('@HopitalNumeriqueAutodiag/Restitution/item/reponses/_chapter.html.twig', {"resultItem": child}) }}
        {% endfor %}
    </ul>
</li>


{% macro mood(attribute, response) %}
    {% spaceless %}
        {% if response.score is not null and response.text != '-' and attribute.colored != false and response.value != -1 %}
            <div class="attribute-mood">
                {% if attribute.colorationInversed %}
                    {% if response.score < 100/3 %}
                        <i class="fa fa-smile-o fa-2x"></i>
                    {% elseif response.score < 100/3*2 %}
                        <i class="fa fa-meh-o fa-2x"></i>
                    {% else %}
                        <i class="fa fa-frown-o fa-2x"></i>
                    {% endif %}
                {% else %}
                    {% if response.score < 100/3 %}
                        <i class="fa fa-frown-o fa-2x"></i>
                    {% elseif response.score < 100/3*2 %}
                        <i class="fa fa-meh-o fa-2x"></i>
                    {% else %}
                        <i class="fa fa-smile-o fa-2x"></i>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}
