<span class="chapter-title">
    {{ resultItem.label }}
    <i>Nombre de réponses : {{ resultItem.numberOfAnswers }} / {{ resultItem.numberOfQuestions }}</i>
</span>


<table class="table table-bordered">
    {% for attribute in resultItem.attributes %}
        <tr>
            <td>{{ attribute.label }}</td>
            <td>{{ attribute.responseText }}</td>
            <td class="mood">{{ attribute.responseValue }}</td>
        </tr>
    {% endfor %}
</table>

<ul>
    {% for child in resultItem.childrens %}
        <li>
            {{ include('@HopitalNumeriqueAutodiag/Restitution/item/reponses/_chapter.html.twig', {"resultItem": child}) }}
        </li>
    {% endfor %}
</ul>
