{# Surcharge de vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}
{% extends 'form_div_layout.html.twig' %}

{% block form_row %}{% spaceless %}
    
    {% if form.vars.block_prefixes.1 == 'checkbox' %}
        <div class="checkbox">
            {{ form_widget(form) }}
            {% if form_errors(form) %}<div class="alert alert-danger">{{ form_errors(form) }}</div>{% endif %}
            {{ form_label(form) }}
        </div>
    {% elseif form.vars.block_prefixes.1 == 'date' %}
        <div class="form-group">
            {{ form_label(form) }}
            {% if form_errors(form) %}<div class="alert alert-danger">{{ form_errors(form) }}</div>{% endif %}
            {{ form_widget(form) }}
        </div>
    {% else %}
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="control-label">{{ form_label(form) }}</div>
                </div>
                <div class="col-md-8">
                    {{ form_widget(form, { 'attr':{ 'class':'form-control' } }) }}
                    {% if form_errors(form) %}<div class="alert alert-danger">{{ form_errors(form) }}</div>{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}{% endblock form_row %}

{% block button_widget %}{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button class="btn btn-primary" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|lower|trans({}, translation_domain) }}</button>
{% endspaceless %}{% endblock button_widget %}
