{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Actualites{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-publication-actualite-index.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquepublication/css/actualite.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="actualites">
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% set root = knp_menu_get('menu-main-front') %}
        {% set parent = null %}

        {% for item in root %}
            {% if currentPath == item.uri %}
                {% set parent = item.name %}
            {% endif %}

            {% for child in item.children %}
                {% if currentPath == child.uri %}
                    {% set parent = item.name %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if parent is not null %}
            <div class="col-md-3">
                <p class="titre">Hôpital <br />Numérique</p>
                {% set menu = root[parent] %}
                {{ knp_menu_render(menu, {'currentClass': 'active','breadcrumb' : 'no', 'ancestorClass':'active','template':'HopitalNumeriqueCoreBundle::menu.html.twig'}) }}
                {{ render(controller("HopitalNumeriquePublicationBundle:Actualite:actualites")) }}
            </div>
        {% endif %}
        
        <div class="col-md-9" >
            <div class="col-md-12">
                {% for actu in actualites %}
                    <div class="actu">
                        {% if actu.image %}
                            <img src="{{actu.image}}" alt="vignette" class="pull-left actu-image" />
                        {% endif %}
                        <h4>{{actu.types}}</h4>
                        <h3>{{actu.titre}}</h3>
                        <p>
                            {{actu.resume|parsePublication|raw}}
                            <br />
                            <a class="readmore" href="{{path('hopital_numerique_publication_publication_article',{'id':actu.id, 'alias':actu.alias,'categorie':actu.categories})}}">
                                <i class="common-sprite common-sprite-arrow"></i> Lire la suite
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}