<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hopital Numérique">
        <meta name="author" content="Nodevo">

        <title>{% block title %}Hopital Numérique{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{% if domaineCurrent.id != 1 %}{{ asset('favicon_anap.ico') }}{% else %}{{ asset('favicon_anap.ico') }}{% endif %}" />
        {% block stylesheets %}
            {% stylesheets output="compiled/login.css" filter="cssrewrite, ?yui_css"
                'bundles/nodevoadmin/css/avant.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body class="focusedform">
        <div class="verticalcenter">
            <a href="{{path('hopital_numerique_homepage')}}">
                <img src="{{asset('bundles/nodevoadmin/img/logo-big.png')}}" alt="Logo" class="brand" />
            </a>
            <div class="panel panel-primary">
                {{ block('flashBags') }}
                {% if error is defined and error %}
                    <div class="alert alert-warning" onclick="$(this).slideUp();" >
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {% if invalid_username is defined %}
                    <div class="alert alert-warning" onclick="$(this).slideUp();" >
                        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                    </div>
                {% endif %}

                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% javascripts output="compiled/login.js"
                "@jquery_js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>

{% block flashBags %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-block alert-{{type}}">
                <button class="close" data-dismiss="alert" type="button">
                    <i class="icon-remove"></i>
                </button>
                
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}