{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{% block metadesc %}Page de recherche par parcours{% endblock %}
{% block metakeywords %}recherche par parcours{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-parcours-details-front-index.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css"
        'bundles/hopitalnumeriquerechercheparcours/css/front/style.css'
        'bundles/nodevoadmin/css/custom-jquery-ui.min.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output="compiled/hopitalnumerique-recherche-parcours-details-front-index.js" 
        "@jquery_js"
        "@jquery_ui_js"
        "@fancybox_js"
        "@enquire_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquerechercheparcours/js/recherche-parcours-details-index.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="col-md-12" id="recherche-par-parcours-details">
        
        <div class="row">
            <div class="col-md-11">
                <h3>{{rechercheParcours.reference.libelle}}</h3>
            </div>
            <div class="col-md-1 toolbar">
                <a class="btn btn-default" href="{{ path('hopital_numerique_recherche_parcours_homepage_front') }}" title="Retour à la recherche guidée"><i class="fa fa-reply"></i></a>
            </div>
        </div>
        
        <div class="en-tete">
            <div class="en-tete-scroll">
                {# Include du chemin de fer #}
                {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/chemin_de_fer.html.twig' with { 'rechercheParcours' : rechercheParcours, 'etapeSelected' : etapesSelected.id } %}
            </div>

            <div class="description">
                <div class="col-md-8 row">
                    <p>
                        {{etapesSelected.description}}
                    </p>
                </div>
                <div class="col-md-4">
                    {% if app.user %}
                        <div id="note-moyenne" class="note">
                            <span title="Taux de maîtrise de l'étape"></span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="resultats-points-durs">
            <input type="hidden" id="app-user" value="{% if app.user %}{{app.user.id}}{% else %}0{% endif %}" />
            <input type="hidden" id="etape-selected" value="{{etapesSelected.id}}" />
            <input type="hidden" id="sauvegarde-note-url" value="{{path("hopital_numerique_recherche_parcours_details_save_note_front")}}" />
            <input type="hidden" id="sauvegarde-nonconcerne-url" value="{{path("hopital_numerique_recherche_parcours_details_save_non_concerne_front")}}" />
            {% if app.user %}
                {# Include du body en mode connecté #}
                {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/body-online.html.twig' with { 'rechercheParcours' : rechercheParcours, 'etapeSelected' : etapesSelected.id } %}

                {# Input hidden permettant de stocker le tableau des notes triés par objet #}
                <input type="hidden" id="note-json" value="{{ notesJSON }}" />
            {% else %}
                {# Include du body en mode non connecté #}
                {% include 'HopitalNumeriqueRechercheParcoursBundle:RechercheParcoursDetails:Front/partials/body-offline.html.twig' with { 'rechercheParcours' : rechercheParcours, 'etapeSelected' : etapesSelected.id } %}
            {% endif %}
        </div>
        
    </div>
{% endblock %}