{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Registre{% endblock %}
{% block metadesc %}Registre des professionnels du réseau{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-registre-ambassadeur-index.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueregistre/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-registre-ambassadeur-index.js"
        "@json_js"
        'bundles/hopitalnumeriqueregistre/js/raphael.js'
        'bundles/hopitalnumeriqueregistre/js/carte_departement.js'
        'bundles/hopitalnumeriqueregistre/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="registre-ambassadeur">
        {# Critère de recherche #}
        <div class="col-md-3">
            <h4 class="violet">{{ 'search_criteria'|trans }}</h4>
            <div class="map">
                {# Carte de france #}
                <div id="canvas_france"></div>
                <span onclick="selectionnerToutesRegions();" class="link violet col-md-12" title="Sélectionner tout">
                    {{ 'select_all'|trans }}
                </span>
                <span onclick="deselectionnerToutesRegions();" class="link violet col-md-12" title="Désélectionner tout">
                    {{ 'unselect_all'|trans }}
                </span>
                <input type="hidden" id="selected-region" value='{{regions.regionsSelected|raw}}' />
                {#<div id="btn_appliquer_filtre" onclick='appliquerRegionsSelectionnees();' class="btn background-rose col-md-12" title="Appliquer le nouveau filtre">Activer la recherche</div>#}
                <input type="hidden" id="hopital_numerique_registre_edit_session" value='{{path('hopital_numerique_registre_edit_session')}}' />
				<div class="clearfix"></div>
            </div>
        </div>
        
        <div class="content col-md-9 no_padding">
			{% block content %}
			    <div class="annuaire_ambassadeur">

			        {% block chapo %}
		                <div class="col-md-12">
				            <div class="chapo">
				                <h1 class="violet">{{ 'directory_network_professionals'|trans }}</h1>
				                <div class="description">{{'Module_annuaire_ambassadeur'|nodevoTexteDynamique(domaineCurrent.id)|raw|nl2br}}</div>
				            </div>
			            </div>
                        <div class="clearfix"></div>
                    {% endblock %}
                    {% if is_granted('ROLE_AMBASSADEUR_7') or is_granted("ROLE_ADMINISTRATEUR_1") or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_HN_107") or is_granted("ROLE_ADMINISTRATEUR_DU_DOMAINE_106") %}
                        <a href="{{path('hopital_numerique_user_informations_ambassadeurs')}}" class="pull-right listesDesAmbassadeurs" style="margin-right:20px;" title="Obtenir la liste des ambassadeurs">Télécharger l'annuaire des professionnels du réseau <i class="fa fa-download purple-logo"></i></a>
                    {% endif %}
                    {% block contenu %}
                        {% if regions.regions %}
			                {% for region in regions.regions %}
			                    <div class="col-md-12">
                                    {# Ajout du nom de la région + nombre ambassadeur concerné sous la forme : "Nom région ( Nb ambassadeur(s) )" #}
                                    <h4 class="violet">
                                        {{ region.libelle }} ( {{ ambassadeurs[region.id]|length }}
                                        {% if ambassadeurs[region.id]|length > 1 %}
                                            {{ 'professionals'|trans }}
                                        {% else %}
                                            {{ 'professional'|trans }}
                                        {% endif %}
                                        {{ 'network'|trans }} )
                                    </h4>
				                </div>
				                {# Permet de vérifier si un ambassadeur est présent pour la région #}
				                {% set ambassadeurExisteRegion = false %}
				                {% for ambassadeur in ambassadeurs[region.id] %}
				                    {% if ambassadeur.region.id == region.id or ambassadeur.hasRattachementRegion(region) %}
				                        {% set ambassadeurExisteRegion = true %}
					                    <div class="fiche col-md-6">
					                        <div class="content">

                                                {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {objectType: 'person', objectId: ambassadeur.id, cssClass: 'btn-xs pull-right'}) }}

                                                <h5>{{ambassadeur.firstname|title ~ ' ' ~ ambassadeur.lastname|title}}</h5>

                                                <div class="col-md-3">
                                                    {% if ambassadeur.getPath() is not null and ambassadeur.getPath() is not empty %}
                                                        <img class="photo-silhouette" src="/{{ ambassadeur.getWebPath() }}" width="90px" height="130px">
                                                    {% else %}
                                                        <img class="photo-silhouette" src="/medias/Utilisateurs/silhouette-homme.png" width="90px" height="130px">
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="description">
    					                                {% if ambassadeur.organization %}
    					                                   <div class="etab">
    					                                       {{ambassadeur.organization.nom}}
    				                                       </div>
    					                                {% elseif ambassadeur.organizationLabel is not empty %}
    					                                   <div class="etab">
    					                                       {{ambassadeur.organizationLabel}}
    				                                       </div>
    					                                {% endif %}
                                                        <div class="etab">
                                                            {% if ambassadeur.organization %}
                                                                {% if ambassadeur.organization.ville is not null %}{{ ambassadeur.organization.ville }}{% if ambassadeur.organization.codepostal is not null %} - {{ ambassadeur.organization.codepostal }}{% endif %}{% endif %}
                                                            {% endif %}
                                                        </div>
                                                        {% if ambassadeur.jobLabel is not null %}
                                                            <div class="fonction" title="{{ambassadeur.jobLabel}}">
                                                                {{ambassadeur.jobLabel}}
                                                            </div>
                                                        {% endif %}
                                                    
                                                        <div class="col-md-12">
                                                            <a class="link violet fancybox.ajax domainesFonctionnels" href="{{path('hopital_numerique_registre_ambassadeur_domaines',{'id':ambassadeur.id})}}">> {{ 'business_knowledge'|trans }}</a>
                                                        </div>
                                                
                                                        <div class="col-md-12" style="margin-top: -5px;">
                                                            <a class="link violet fancybox.ajax domainesFonctionnels" href="{{path('hopital_numerique_registre_ambassadeur_connaissance_si',{'id':ambassadeur.id})}}">> {{ 'si_knowledge'|trans }}</a>
                                                        </div>
        					
        					                            <div class="col-md-12 sol-button">
                                                            {% if app.user and not app.user|checkAuthorization( path('hopital_numerique_intervention_demande_nouveau',{'ambassadeur':ambassadeur.id}) ) %}
                                                                <a class="btn background-violet disabled solicit" href="#">{{ 'solicit_professional'|trans }}</a>
                                                            {% else %}
                                                                <a class="btn background-violet solicit" href="{{path('hopital_numerique_intervention_demande_nouveau',{'ambassadeur':ambassadeur.id})}}">{{ 'solicit_professional'|trans }}</a>
                                                            {% endif %}
                                                        </div>
        					                            <div class="clearfix"></div>
                                                    </div>
                                                </div>
					                        </div>
					                    </div>
				                    {% endif %}
				                {% endfor %}
				                {# Affichage dans le cas où il n'y ait aucun ambassadeur pour cette région #}
				                {% if not ambassadeurExisteRegion %}
				                    <div class="aucune-fiche col-md-6">
				                        <div class="content">{{ 'no_network_professionals'|trans }}</div>
				                    </div>
				                {% endif %}
			                {% else %}
			                    <div class="col-md-12">
			                        {{ 'no_regions_selected'|trans }}
			                    </div>
			                {% endfor %}
			            {% else %}
			                <div class="col-md-12">
			                    <h4 class="violet">{{ 'no_region_selected_title'|trans }}</h4>
			                </div>
			                <div class="col-md-12">
			                    {{ 'select_region'|trans }}
			                </div>
			            {% endif %}
		                <div class="clearfix"></div>
                {% endblock contenu%}
			        
			    </div>
			{% endblock content %}

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock body %}
