{% extends 'HopitalNumeriqueAutodiagBundle::layout.html.twig' %}

{% block body %}
    <div id="restitution">

        {% include "@HopitalNumeriqueAutodiag/_navigation.html.twig" with {
            "step": "restitution",
            "autodiag": synthesis.autodiag,
            "entry" : synthesis.entries|length > 1 ? null : synthesis.entries.first
        } %}

        <div class="header">
            <div class="update-at">
                Le {{ synthesis.updatedAt|date('d/m/Y') }}
            </div>

            <div class="identity">
                <span class="title">{{ synthesis.autodiag.title }}</span>
                <span class="name">{{ synthesis.name }}</span>
            </div>
        </div>

        {% if synthesis.entries|length > 1 %}
            <div class="synthesis">
                <span>{{ "ad.restitution.synthesis"|trans }}</span>
                <ul>
                    {% for entry in synthesis.entries %}
                        <li>{{ entry.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="content">
            <ul class="nav nav-tabs" role="tablist">
            {% for category in restitution.categories %}
                <li role="presentation" class="{{ loop.first ? 'active' : '' }}">
                    <a href="#{{ category.id }}" aria-controls="home" role="tab" data-toggle="tab">
                        {{ category.label }}
                    </a>
                </li>
            {% endfor %}
            </ul>

            <div class="tab-content">
                {% for category in restitution.categories %}
                    <div role="tabpanel" class="tab-pane category {{ loop.first ? 'active' : '' }}" id="{{ category.id }}">
                        <p>
                            {{ category.description }}
                        </p>

                        <div class="items-wrapper">

                            <div class="item-row">
                            {% set currentRow = category.items.first.row %}
                            {% for item in category.items %}
                                {% if item.row != currentRow %}
                                {% set currentRow = item.row %}
                                    </div>
                                    <div class="item-row">
                                {% endif %}

                                <div class="item" data-row="{{ item.row }}" data-column="{{ item.column }}">
                                    {% include ("@HopitalNumeriqueAutodiag/Restitution/item/_" ~ item.type ~ ".html.twig") ignore missing with {
                                        'restitution': item,
                                        'result': result[item.id]
                                    } %}
                                </div>

                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $('.item-row').each(function() {
            var cols = $(this).find('[data-row][data-column]');
            cols.css('width', (100 / cols.length) + "%");
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function() {
            $(window).trigger('resize');
        });

        $(window).trigger('resize');
    </script>


    <script type="text/javascript">
        $(function() {
            $('.jauge-widget').each(function (j) {
                var el = $(this);
                setTimeout(function() {
                    $('[data-value]', el).each(function(i) {
                        var el = $(this);

                        el.tooltip({
                            title: (el.data('label') ? (el.data('label') + ' : ') : '') + el.data('value') + '%'
                        });

                        setTimeout(function() {
                            el.css('left', el.data('value') + '%');
                        }, i * 50);
                    });
                }, j * 50);
            });

            $('.plan_action').each(function() {
                console.log($(this).find('table tr').length);
                 if ($('table tr', this).length > 2) {
                     $('.empty-data', this).hide();
                 }
            });
        });
    </script>

{% endblock %}


