{% extends 'HopitalNumeriqueAutodiagBundle::layout.html.twig' %}

{% block body %}
    <div id="restitution">

        {% set entry = synthesis.entries|length > 1 ? null : synthesis.entries.first %}

        {% block navigation %}
            {% include "@HopitalNumeriqueAutodiag/_navigation.html.twig" with {
            "step": "restitution",
            "autodiag": synthesis.autodiag,
            "synthesis": synthesis,
            "entry" : entry
            } %}
        {% endblock %}

        <div class="restitution-header">
            <div class="update-at">
                Le {{ synthesis.updatedAt|date('d/m/Y') }}
            </div>

            <div class="identity">
                <div class="title">{{ synthesis.autodiag.title }}</div>
                <div class="name">
                    <span class="inplace-edit-text" data-url="{{path('hopitalnumerique_autodiag_synthesis_change_name', {'synthesis': synthesis.id})}}">{{ synthesis.name }}</span>
                </div>
            </div>

            {% if pdf is not defined %}
                {% set routes = {
                    "edit": noLayout ? "hopitalnumerique_autodiag_entry_edit_no_layout" : "hopitalnumerique_autodiag_entry_edit",
                    "add": noLayout ? "hopitalnumerique_autodiag_entry_add_no_layout" : "hopitalnumerique_autodiag_entry_add"
                } %}
                <div class="links pull-right">
                    <a class="btn btn-default" href="{{ path("hopitalnumerique_autodiag_restitution_pdf", {"synthesis": synthesis.id}) }}" target="_blank" title="{{ 'ad.restitution.export_pdf'|trans }}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-default fancybox fancybox.ajax" href="{{ path("hopitalnumerique_autodiag_restitution_send_result", {'synthesis': synthesis.id}) }}" target="_blank" title="{{ 'ad.restitution.send_email'|trans }}">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="links pull-left">
                    {% if entry is not null and entry.id is not null and entry.validatedAt is null %}
                        <a class="btn btn-default" href="{% if entry is not null and entry.id is not null %}{{ path(routes.edit, {"entry": entry.id}) }}{% else %}#{% endif %}" title="{{ 'ad.restitution.survey_back'|trans }}">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ path(routes.add, {"autodiag": synthesis.autodiag.id}) }}" title="{{ 'ad.restitution.start_new'|trans }}">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}

            <div class="clearfix"></div>


            <div class="pull-left">
                {% if not app.user %}
                    <div class="loggedout-warning">
                        <div>{{ "ad.restitution.loggedout-warning"|trans }}</div>
                        <a href="{{ path('hopitalnumerique_autodiag_restitution_signIn', {"synthesis": synthesis.id}) }}">Connexion</a>
                        ou
                        <a href="{{ path('hopitalnumerique_autodiag_restitution_signIn', {"synthesis": synthesis.id, "signUp": true}) }}">Créer un compte</a>
                    </div>
                {% endif %}

                {% if synthesis.entries|length > 1 %}
                    <div class="synthesis">
                        <span>{{ "ad.restitution.synthesis"|trans }} : </span>
                        <ul>
                            {% for entry in synthesis.entries %}
                                {% set fullname = entry.user is not null ? '(' ~ entry.user.firstname ~ ' ' ~ entry.user.lastname ~ ')' : '' %}
                                <li>{{ entry.name }} {{ fullname }} - {{ entry.validatedAt|date('d/m/Y') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="content">
            {% block restitution_content %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript">

        var restitution = new AutodiagRestitution($('#restitution'));
        restitution.addHandler('jauge', 'Jauge');
        restitution.initItems();


        $(function() {
            $('.plan_action').each(function() {
                if ($('table tr', this).length > 2) {
                    $('.empty-data', this).hide();
                }
            });
        });

        $('.inplace-edit-text').each(function() {
            new InplaceEditor($(this), $(this).data("url"), {title: '{{ 'Rename'|trans }}'});
        });
    </script>

{% endblock %}

{% block helpBlock %}
    {{ contextualNavigationHelpBlock(synthesis.autodiag) }}
{% endblock %}
