{% extends 'HopitalNumeriqueAutodiagBundle::layout.html.twig' %}

{% set templateCurrentId = 2 %}
{% set noLayout = true %}
{% set pdf = true %}


{% block body %}
    <div id="restitution" class="restitution-pdf">

        <div class="logo">
            <img src="{{ absolute_url(asset('bundles/hopitalnumeriquemodule/img/logo.jpg')) }}" alt="Logo" width="180px">
        </div>

        {% set entry = synthesis.entries|length > 1 ? null : synthesis.entries.first %}

        <div class="restitution-header">

            <div class="identity">
                <div class="title">{{ synthesis.autodiag.title }}</div>
                <div class="name">{{ synthesis.name }}</div>
            </div>

            <div class="pull-left">
                {% if synthesis.entries|length > 1 %}
                    <div class="synthesis">
                        <span>{{ "ad.restitution.synthesis"|trans }} : </span>
                        <ul>
                            {% for entry in synthesis.entries %}
                                <li>{{ entry.name }} ({{ entry.user.firstname }} {{ entry.user.lastname }}) - {{ entry.validatedAt|date('d/m/Y') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="content">
            {% for category in restitution.categories %}
                <div class="category" style="width: 1024px;">
                    <h3 class="violet">{{ category.label }}</h3>

                    <div>
                        <p class="category-description">
                            {{ category.description }}
                        </p>

                        <div class="items-wrapper">

                            <div class="item-row pdf">
                                {% set currentRow = category.items.first.row %}
                                {% for item in category.items %}
                                    {% if item.row != currentRow %}
                                        {% set currentRow = item.row %}
                                        </div>
                                        <div class="item-row pdf">
                                    {% endif %}

                                    <div data-item-type="{{ item.type }}">
                                        {% include ("@HopitalNumeriqueAutodiag/Restitution/item/_" ~ item.type ~ ".html.twig") ignore missing with {
                                        'restitution': item,
                                        'result': result[item.id]
                                        } %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if not loop.last %}
                    <div style="page-break-after: always;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

        var restitution = new AutodiagRestitution($('#restitution'));
        restitution.addHandler('jauge', 'Jauge', {
            delay: false
        });
        restitution.initItems();

        $(function() {
            $('.plan_action').each(function() {
                if ($('table tr', this).length > 2) {
                    $('.empty-data', this).hide();
                }
            });
        });
    </script>

{% endblock %}

