{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-intervention.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueintervention/css/intervention.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-intervention.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ parent() }} - {% block headerTitle %}{% endblock %} / Intervention{% endblock %}

{% block barreActions %}<a class="btn btn-default back" href="{{ path('hopital_numerique_intervention_demande_liste') }}"><span class="fa fa-reply"></span></a>{% endblock %}