{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-autodiag-model.js"
        '@HopitalNumeriqueAutodiagBundle/Resources/public/js/tinymce.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/admin-autodiag.css" filter="cssrewrite, ?yui_css"
        '@HopitalNumeriqueAutodiagBundle/Resources/public/css/back.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block h1Title %}
    {% if model.id %}
        Edition "{{ model.title }}"
    {% else %}
        Ajout autodiag
    {% endif %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_list') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    {#<div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>#}
    {#{% if expbesoingestion.id %}#}
        {#<div onclick='deleteWithConfirm("{{ path('hopitalnumerique_recherche_admin_aide-expression-besoin_gestion_delete', { 'id': expbesoingestion.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>#}
    {#{% endif %}#}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4></h4>
                <div class="options">
                    {% if model.id is not null %}
                        <ul class="nav nav-tabs">
                            {% set routes = {
                                'ad.autodiag.edit_menu.general': 'hopitalnumerique_autodiag_edit',
                                'ad.autodiag.edit_menu.survey': 'hopitalnumerique_autodiag_edit_survey',
                                'ad.autodiag.edit_menu.algorithm': 'hopitalnumerique_autodiag_edit_algorithm',
                                'ad.autodiag.edit_menu.resitution': 'hopitalnumerique_autodiag_edit_restitution',
                            } %}
                            {% for label, route in routes %}
                                <li class="{{ app.request.attributes.get('_route') == route ? 'active' : '' }}">
                                    <a href="{{ path(route, {'id': model.id}) }}">
                                        {{ label|trans }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="panel-body">
                {% block edit_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
