<div class="aide row">
    {# Bloc de présentation #}
    <div class="col-md-3 col-sm-0 aide-presentation no-padding">
        <div class="description">
            <p class="en-tete">
                <span style="color:#d60030">Je décris mon besoin</span>, <strong>{{domaineCurrent.nom}}</strong> propose la solution !
            </p>
        </div>
    </div>
    {# Bloc de la liste des étapes #}
    <div class="col-md-9 col-sm-12 aide-liens">
        <div class="col-md-4 col-sm-4 col-xm-4 no-padding question-description">
            {#<div id="question-precedente" onclick="retourDerniereQuestion({{expBesoin.id}});" class="btn btn-link" title="Question précédente" style="margin-right:5px;"><i class="fa fa-reply"></i></div> #}
            <label style="margin-top:5px;">
                {{expBesoin.libelle}}
            </label>
            <div class="description_perso">
                {{expBesoin.description|parsePublication|raw}}
            </div>
            <div class="btn_recherche_avancee">
                <a class="infos btn btn-orange" href="{{path('hopital_numerique_recherche_homepage')}}" id="search-avance-header-home">Recherche avancée</a>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xm-8 no-padding">
            {% for reponse in expBesoin.reponses %}
                {# Include vue de l'étape #}
                {% include 'HopitalNumeriqueRechercheBundle:ExpBesoin:Fancy/Partial/expbesoin_nopopin_formulaire_reponse.html.twig' with { 'reponse' : reponse, 'question' : expBesoin } %}
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>