<div class="col-md-6">
    <label class="col-md-3 control-label" for="dateDebut-{{option}}"> Date de début </label>
    <input type="date" class="form-control hasDatepicker" name="dateDebut-{{option}}" id="dateDebut-{{option}}">
</div>
<div class="col-md-6">
    <label class="col-md-3 control-label" for="dateFin-{{option}}"> Date de fin </label>
    <input type="date" class="form-control hasDatepicker" name="dateFin-{{option}}" id="dateFin-{{option}}">
</div>