{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Concept{% endblock %}

{% block h1Title %}
    {% if reference.id %}
        Editer le
    {% else %}
        Ajouter un
    {% endif %}
    concept
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-reference-reference-edit.js"
        'bundles/hopitalnumeriquereference/js/script.js'
        '%kernel.root_dir%/Resources/lib/nodevo/Form/Select.js'
        'bundles/hopitalnumeriquereference/js/Tree.js'
        'bundles/hopitalnumeriquereference/js/Form/Reference.js'
        'bundles/hopitalnumeriquereference/js/Form/Synonyme.js'
        'bundles/hopitalnumeriquereference/js/Form/ChampLexicalNom.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var referenceTree = new Hn_Reference_Tree('#reference-tree', '#hopitalnumerique_reference_reference_parents');
            referenceTree.display({{ referenceTreeOptions|raw }});
            referenceTree.container.on('ready.jstree', function () {
                referenceTree.select({{ reference.parentIds|json_encode }});
            });
        });
    </script>
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_reference_reference') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if reference.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_reference_reference_delete', { 'id': reference.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% form_theme form 'HopitalNumeriqueReferenceBundle:Form:form_div_layout.html.twig' %}
                {{ form_start(form, { 'attr':{'class':'toValidate'} }) }}

                    {% if form.domaines is defined %}
                        {{ form_row(form.domaines) }}
                    {% endif %}
                    {% if form.allDomaines is defined %}
                        {{ form_row(form.allDomaines) }}
                    {% endif %}

                    <h2>Paramètres du concept</h2>
                    {{ form_row(form.libelle) }}
                    <h3>Synonymes</h3>
                    <ul class="row list-unstyled" id="reference_synonymes_form" data-prototype="{{ form_widget(form.synonymes.vars.prototype)|e }}">
                        {% for synonyme in form.synonymes %}
                            <li class="col-lg-3 col-md-4">
                                <div class="hide">{{ form_widget(synonyme) }}</div>
                                <input type="text" class="form-control" value="{{ synonyme.vars.data.libelle }}" disabled>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ form_widget(form.synonymes) }}

                    <h3>Champ lexical</h3>
                    <ul class="row list-unstyled" id="reference_champlexicalnoms_form" data-prototype="{{ form_widget(form.champLexicalNoms.vars.prototype)|e }}">
                        {% for champLexicalNom in form.champLexicalNoms %}
                            <li class="col-lg-3 col-md-4">
                                <div class="hide">{{ form_widget(champLexicalNom) }}</div>
                                <input type="text" class="form-control" value="{{ champLexicalNom.vars.data.libelle }}" disabled>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ form_widget(form.champLexicalNoms) }}

                    <h3>{{ form_label(form.parents) }}</h3>
                    <div class="hide">{{ form_widget(form.parents) }}</div>
                    <div id="reference-tree"></div>

                    <br>{{ form_row(form.etat) }}

                    <h2>Paramètres de liste</h2>
                    {{ form_row(form.code) }}
                    {{ form_row(form.order) }}

                    <h2>Paramètres de la référence</h2>
                    {{ form_row(form.reference) }}
                    <div id="reference-in-recherche-container">
                        {{ form_row(form.inRecherche) }}
                    </div>
                    {{ form_row(form.referenceLibelle) }}

                    <h2>Paramètres du glossaire</h2>
                    {{ form_row(form.inGlossaire) }}
                    {{ form_row(form.sigle) }}
                    {{ form_row(form.glossaireLibelle) }}
                    {{ form_row(form.descriptionCourte) }}
                    {{ form_row(form.descriptionLongue) }}
                    {{ form_row(form.casseSensible) }}
                    
                    
                    
                    {{ form_row(form.dictionnaire) }}
                    {{ form_row(form.recherche) }}
                    
                    <div class="form-group">
                        {{ form_label(form.imageFile) }}
                        <div class="col-md-6">
                            <div class="input-group">
                                {{ form_widget(form.imageFile) }}
                                {%- if reference.hasImage -%}
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger" onclick="$('#hopitalnumerique_reference_reference_image').val('');$('#reference-image').remove();">Supprimer</button>
                                    </span>
                                {%- endif -%}
                            </div>
                            {%- if reference.hasImage -%}
                                <div id="reference-image">
                                    <img src="{{ reference.imageUrl }}">
                                </div>
                            {%- endif -%}
                        </div>
                        <div class="col-md-3">{{ form_errors(form.imageFile) }}</div>
                    </div>

                    {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}