{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block title %}{{parent()}} - Référentiel{% endblock %}

{% block h1Title %}
    Dictionnaire
{% endblock %}

{% block toolbarButton %}
    {% if app.user|checkAuthorization( path('hopitalnumerique_reference_reference_add') ) and app.user.hasRoleAdmin %}
        <a class="btn btn-default" href="{{ path('hopitalnumerique_reference_reference_add') }}" title="Ajouter un concept"><i class="fa fa-plus"></i></a>
    {% endif %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_reference_sitemap') }}" title="Arborescence"><i class="fa fa-sitemap"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
    {# Cache les lignes de filtres dans le grid #}
    {% block grid_filters %}{% endblock grid_filters%}
{% endblock %}