{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Référentiel{% endblock %}

{% block h1Title %}
    Fiche du référentiel {{reference.code}}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_reference_reference') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if reference.id and app.user|checkAuthorization( path('hopitalnumerique_reference_reference_add') ) %}
        <a href="{{ path('hopitalnumerique_reference_reference_edit', { 'id': reference.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-body">
                <p>
                    <strong>ID</strong> : {{ reference.id }}
                </p>
                <p>
                    <strong>Domaine(s)</strong> :
                    {% if reference.allDomaines -%}
                        <em>Tous</em>
                    {%- else -%}
                        {%- for domaine in reference.domaines -%}
                            {{ domaine }} &nbsp; 
                        {% endfor -%}
                    {%- endif -%}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Paramètres du concept</h4>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Libelle du concept</strong> : {{ reference.libelle }}
                </p>
                <p>
                    <strong>Synonymes</strong> :
                    {% for synonyme in reference.synonymes -%}
                        {{ synonyme }} &nbsp; 
                    {% endfor -%}
                </p>
                <p>
                    <strong>Champ lexical</strong> :
                    {% for champLexicalNom in reference.champLexicalNoms -%}
                        {{ champLexicalNom }} &nbsp; 
                    {% endfor -%}
                </p>
                <p>
                    <strong>Parents</strong> :
                    {% for parent in reference.parents -%}
                        {{ parent }} &nbsp; 
                    {% endfor -%}
                </p>
                <p>
                    <strong>Enfants</strong> :
                    {% for enfant in reference.enfants -%}
                        {{ enfant }} &nbsp; 
                    {% endfor -%}
                </p>
                <p>
                    <strong>État</strong> : {{ reference.etat }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Paramètres de liste</h4>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Code</strong> : {{ reference.code }}
                </p>
                <p>
                    <strong>Ordre</strong> : {{ reference.order }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Paramètres de la référence</h4>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Est une référence ?</strong> {{ reference.reference ? 'Oui' : 'Non' }}
                </p>
                <p>
                    <strong>Présente dans la recherche ?</strong> {{ reference.inRecherche ? 'Oui' : 'Non' }}
                </p>
                <p>
                    <strong>Libellé de la référence</strong> : {{ reference.referenceLibelle }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Paramètres du glossaire</h4>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Présente dans le glossaire ?</strong> {{ reference.inGlossaire ? 'Oui' : 'Non' }}
                </p>
                <p>
                    <strong>Sigle</strong> : {{ reference.sigle }}
                </p>
                <p>
                    <strong>Libellé dans le glossaire</strong> : {{ reference.glossaireLibelle }}
                </p>
                <p>
                    <strong>Description courte</strong> : {{ reference.descriptionCourte|nl2br }}
                </p>
                <p>
                    <strong>Description longue</strong> : {{ reference.descriptionLongue|raw }}
                </p>
                <p>
                    <strong>Sensible à la casse ?</strong> {{ reference.casseSensible ? 'Oui' : 'Non' }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
