{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Référentiel{% endblock %}

{% block h1Title %}
    Arborescence des concepts
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-reference-reference-sitemap.js"
        'bundles/hopitalnumeriquereference/js/sitemap.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-reference-reference-sitemap.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquereference/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block toolbarButton %}
    <a href="javascript:printRef();" class="btn btn-default" title="Imprimer"><i class="fa fa-print"></i></a>
    <a href="{{path('hopitalnumerique_reference_reference')}}" class="btn btn-default" title="Afficher la vue liste"><i class="fa fa-list"></i></a>
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    <div class="col-sm-12">
        <div id="references-list">
            <ul>
                {%- for referenceProperties in orderedReferences -%}
                    {{ mySelf.buildTreePart(referenceProperties) }}
                {%- endfor -%}
            </ul>
        </div>
    </div>
{% endblock %}

{% macro buildTreePart(referencesTreePart) -%}
    {% import _self as mySelf %}
    <li>
        {{- referencesTreePart.reference.id }} -
        {% if referencesTreePart.reference.reference %}<em class="fa fa-asterisk" title="Est une référence"></em> -{% endif %}
        {% if referencesTreePart.reference.inRecherche %}<em class="fa fa-search" title="Présent dans la recherche"></em> -{% endif %}
        <a href="{{ path('hopitalnumerique_reference_reference_edit', { 'id':referencesTreePart.reference.id }) }}">{{ referencesTreePart.reference.libelle }}</a> -

        {% if referencesTreePart.reference.allDomaines -%}
            <em>Tous</em>
        {%- else -%}
            {%- for domaine in referencesTreePart.reference.domaines -%}
                {{ domaine }} {{ loop.last == false ? ';' : '' }} 
            {% endfor -%}
        {%- endif -%}
        {%- if referencesTreePart.enfants|length > 0 -%}
            <ul>
                {%- for referenceEnfantTree in referencesTreePart.enfants -%}
                    {{ mySelf.buildTreePart(referenceEnfantTree) }}
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </li>
{%- endmacro %}
