{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Référentiel{% endblock %}

{% block h1Title %}
    Arborescence du référentiel générique
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-reference-reference-sitemap.js"
        'bundles/hopitalnumeriquereference/js/sitemap.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-reference-reference-sitemap.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriquereference/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block toolbarButton %}
    <a href="javascript:printRef();" class="btn btn-default" title="Imprimer"><i class="fa fa-print"></i></a>
    <a href="{{path('hopitalnumerique_reference_reference')}}" class="btn btn-default" title="Afficher la vue liste"><i class="fa fa-list"></i></a>
{% endblock %}

{% block body %}
    {% import _self as mySelf %}
    <div class="col-sm-12">
        <ul class="references">
            {% for code,reference in references %}
            <div class="panel panel-midnightblue">
                <div class="panel-heading panel-collapse">{{ code }}</div>
                <div class="panel-body">
                    {{ mySelf.buildTree(reference, domainesOrderedByReference) }}
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% macro buildTree(reference, domainesOrderedByReference, codeChild = false) %}
    {% import _self as mySelf %}
    {% for ref in reference  %}
        <li>
            {{ref.libelle}} {% if codeChild %} ({{ codeChild }}) {% endif %}
            {# Ajout du/des domaine(s) de la référence #}
            {% if ref.id in domainesOrderedByReference|keys %}
                <span class="text-muted pull-right">
                    {% for domaine in domainesOrderedByReference[ref.id] %}
                        {% if not loop.first %} - {% endif %}{{domaine.url}}
                    {% endfor %}
                </span>
            {% endif %}
     
            {% if ref.childs %}
                <ul>
                    {% for code, child in ref.childs %}
                        {{ mySelf.buildTree(child, code) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}