{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - {% if contenu is defined %}{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}{% else %}{{objet.titre}}{% endif %}{% endblock %}
{% block metadesc %}{{meta['desc']}}{% endblock %}
{% block metakeywords %}{{meta['keywords']|join(', ')}}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-publication-index.css" filter="cssrewrite"
        'bundles/hopitalnumeriquerecherche/css/publication.css'
        'bundles/nodevoadmin/plugins/fancybox/jquery.fancybox.css'
        'bundles/hopitalnumeriqueobjet/css/wysiwyg.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <link rel="stylesheet" href="{{ asset('bundles/hopitalnumeriquerecherche/css/publication-print.css') }}" type="text/css" media="print" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-recherche-publication-index.js"
        'bundles/nodevoadmin/plugins/fancybox/jquery.fancybox.pack.js'
        'bundles/hopitalnumeriquerecherche/js/publication.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% if objet.isInfraDoc %}
        <div id="sommaire" class="closed">
            <div class="content" style="display:none">
                <a class="resume" href="{{path('hopital_numerique_recherche_publication_objet', {'id':objet.id,'alias':objet.alias})}}">Resume</a>
                <h3 class="violet">Sommaire</h3>
                <ul>
                    {% for one in contenus %}
                        {{ _self.buildTree(one, objet) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="publication" class="with-sommaire">
    {% else %}
        <div id="publication">
    {% endif %}
        <a class="btn btn-success back" href="{{path('hopital_numerique_recherche_homepage')}}">Retour aux résultats de recherche</a>
        <div class="btn btn-default print" onclick="print();"><i class="fa fa-print"></i></div>
        <div class="col-md-12">
            <h4 class="violet" >{{types}}</h4>
        </div>
        {# Cas Contenu #}
        {% if contenu is defined %}
            <div class="col-md-12">
                <h3>{{objet.titre ~ ' - ' ~ prefix ~ ' ' ~ contenu.titre}}</h3>
            </div>
            
            <div class="col-md-12">
                {{contenu.contenu|parsePublication|raw}}
            </div>
        {# Cas Objet #}
        {% else %}
            <div class="col-md-12">
                <h3>{{objet.titre}} - Résumé</h3>
            </div>
            
            <div class="col-md-12">
                {{objet.resume|parsePublication|raw}}
            </div>
        {% endif %}

        {# Téléchargement fichier + synthèse #}
        {% if objet.getAbsolutePath(true) is not null or objet.getAbsolutePath(false) is not null or objet.synthese is not null %}
            <div class="col-md-4">
                <div class="wrapper">
                    {% if objet.getAbsolutePath(true) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(true)}}" target="_blank"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète</a><i class="pull-left fa fa-download violet"></i>
                    {% endif %}

                    <div class="clearfix"></div>
                    {% if objet.getAbsolutePath(false) is not null %}
                        <a class="pull-left downloadLink readmore" href="/{{objet.getWebPath(false)}}" target="_blank"><i class="common-sprite common-sprite-arrow"></i><span class="violet">Télécharger</span> la production complète</a><i class="pull-left fa fa-download violet"></i>
                    {% endif %}
                    
                    <div class="clearfix"></div>
                    {% if objet.synthese is not null %}
                        <a class="downloadLink readmore synthese fancybox.iframe" href="{{path('hopital_numerique_recherche_synthese',{'id':objet.id})}}" ><i class="common-sprite common-sprite-arrow"></i>Synthèse</a>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {# Prod utile ? #}
        {#<div class="col-md-4">
            <div class="wrapper" >
                
            </div>
        </div>#}

        {# Commentaires #}
        {#<div class="col-md-12 commentaires">
            <h5>3 commentaires</h5>
        </div>#}
        
        {# Autres résultats de recherche#}
        {#<div class="col-md-12 autresResultats">
            <h5>Autres résultats de votre requête de recherche</h5>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            </div>
        </div>#}

        <div class="clearfix"></div>
    </div>
{% endblock %}

{% macro buildTree(one, objet) %}
    <li>
        {% if one.hasContent %}
            <a href="{{path('hopital_numerique_recherche_publication_contenu', {'id':objet.id,'alias':objet.alias,'idc':one.id,'aliasc':one.alias})}}" >{{one.order ~ ' ' ~ one.titre}} <i class="fa fa-eye"></i></a>
        {% else %}
            <p>{{one.order ~ ' ' ~ one.titre}}</p>
        {% endif %}
        {% if one.childs %}
            <ul>
                {% for child in one.childs %}
                    {{ _self.buildTree(child, objet) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}