{% trans_default_domain 'cdpNews' %}

<div class="item">

    <div class="infos">
        <span class="title">
            {{ 'wall.item.discussion.title'|trans }}
        </span>
        <span class="author">
            {{ 'wall.item.discussion.authored'|trans({'%author%': item.author.prenomNom, '%discussion%': item.title, '%date%': item.date|date('d/m/Y')}) }}
        </span>
    </div>

    <div class="content">
        {{ item.content|parsePublication|striptags|unescape|truncate(200) }}
    </div>

    <a href="{{ path('hopitalnumerique_communautepratique_discussions_public_desfult_discussion', {discussion: item.discussion.id}) }}" class="link">
        {{ 'wall.item.discussion.link'|trans }}
    </a>

</div>
