{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-domaine-domaine-edit.js"
        "@tinymce_js"
        'bundles/nodevogestionnairemedia/js/moxiemanager/js/moxman.loader.min.js'
        'bundles/nodevogestionnairemedia/js/MoxieManager.js'
        "bundles/hopitalnumeriquedomaine/js/script.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        NodevoGestionnaireMediaBundle_MoxieManager.PARAMETRES_GLOBAUX_URL = '{{ url('nodevo_gestionnaire_media_moxiemanager_json_parametres') }}';
        NodevoGestionnaireMediaBundle_MoxieManager.initParametresGlobaux();
    </script>
{% endblock %}

{% block h1Title %}
    {% if domaine.id %}
        Editer un domaine
    {% else %}
        Ajouter un domaine
    {% endif %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_domaine_admin_domaine') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    
                    {# Formulaire : #}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.url) }}

                    {# Gestion de l'upload #}
                    <div class="form-group">
                        {{ form_label(form.file) }}
                        <div class="col-md-6">
                            {% if domaine.getAbsolutePath() is not null %}
                                {% set visibility = 'none' %}
                            {% else %}
                                {% set visibility = 'block' %}
                            {% endif %}
                            <div class="inputUpload" style="display:{{visibility}}">
                                {{ form_widget(form.file) }}
                            </div>

                            {% if domaine.getAbsolutePath() is not null %}
                                <img class="uploadedFile" src="/{{ domaine.getWebPath() }}" alt="Logo du domaine" height="77px">
                                <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" ><i class="fa fa-trash-o"></i></div>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <div class="help-block error_file">
                                {{ form_errors(form.file) }}
                            </div>
                        </div>
                    </div>

                    {{form_row(form.adresseMailContact)}}
                    {{form_row(form.template)}}
                    {{form_row(form.description)}}
                    <div class="tinyMCE-homepage">
                        {{form_row(form.homepage)}}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
        
        <input type="hidden" id="getObjets" value="{{path('hopitalnumerique_objet_objet_getObjets')}}" />
        <input type="hidden" id="getOutils" value="{{path('hopitalnumerique_autodiag_get_outils')}}" />
        <input type="hidden" id="getQuestionnaires" value="{{path('hopitalnumerique_questionnaire_get_questionnaires')}}" />
        <input type="hidden" id="getRechercheAidee" value="{{path('hopitalnumerique_recherche_admin_aide-expression-besoin_gestion_get_recherche_aidee')}}" />
        <input type="hidden" id="objet-file-url" value="{{path('hopitalnumerique_objet_objet_isFileExist')}}" />
        <input type="hidden" id="objet-addobjet-url" value="{{path('hopitalnumerique_objet_objet_add')}}" />
        <input type="hidden" id="objet-addarticle-url" value="{{path('hopitalnumerique_objet_objet_add', {'type':2})}}" />
    </div>
{% endblock %}
