{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche Domaine
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_domaine_admin_domaine') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if domaine.id %}
        <a href="{{ path('hopitalnumerique_domaine_admin_domaine_edit', { 'id': domaine.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Id : </strong>
                    {{ domaine.id }}
                </p>
                <p>
                    <strong>Url : </strong>
                    {{ domaine.nom }}
                </p>
                <p>
                    <strong>Adressemailcontact : </strong>
                    {{ domaine.adresseMailContact }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
