{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}{{parent()}} - Inscriptions{% endblock %}

{% block h1Title %}
    Liste des inscriptions
{% endblock %}


{% block toolbarButton %}
    <a href="javascript:history.back();" class="btn btn-default" title="Retour à la liste"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}
    <p>Ouverture du client de messagerie...</p>
    <p>Si votre client de messagerie ne s'ouvre pas, <a href="{{ mailto }}">cliquez ici</a>.</p>

    <h3>Liste des mails pour Outlook : </h3>
    <p class="well">
        {{ list|join('; ') }}
    </p>

    <h3>Liste des mails pour OSX mail : </h3>
    <p class="well">
        {{ list|join(', ') }}
    </p>
    <script type="text/javascript">
        window.document.location = '{{ mailto }}';
    </script>
{% endblock %}
