{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output="compiled/hopitalnumerique-user-contractualisation-index.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueuser/css/specificationUser.css'
        'bundles/hopitalnumeriqueuser/css/grid.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block title %}{{parent()}} - Contractualisation{% endblock %}

{% block h1Title %}
    Gestion des Contractualisation
{% endblock %}

{% block toolbarButton %}
    <a href="{{path('hopital_numerique_user_homepage')}}" class="btn btn-default" title="Retour à la liste des utilisateurs"><i class="fa fa-reply"></i></a>
{% endblock %}

{% block body %}    
    <div class="col-sm-12">
        <div id="form_edit_user" class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li>
						    <a href="{{path('hopital_numerique_user_edit', {'id':utilisateur.id})}}">Caractérisation</a>
						</li>
                        {% if utilisateur.id is not null and (options.expert or options.ambassadeur) %}
							<li class="active">
							    <a href="{{path('hopitalnumerique_user_contractualisation', {'id':utilisateur.id})}}">Contractualisation</a>
							</li>
						{% endif %}
                        {% if utilisateur.id is not null and (options.expert or options.expert_form) %}
							<li>
							    <a href="{{path('hopitalnumerique_user_expert_edit', {'id':utilisateur.id})}}">Candidature expert</a>
							</li>
						{% endif %}
                        {% if utilisateur.id is not null and (options.ambassadeur or options.ambassadeur_form) %}
							<li>
							    <a href="{{path('hopitalnumerique_user_ambassadeur_edit', {'id':utilisateur.id})}}">Candidature ambassadeur</a>
							</li>
						{% endif %}
                        {% if utilisateur.id is not null and options.ambassadeur %}
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_objets', {'id':utilisateur.id})}}">Productions maîtrisées</a>
                            </li>
                            <li>
                                <a href="{{path('hopitalnumerique_user_ambassadeur_domainesFonctionnels', {'id':utilisateur.id})}}">Domaines maîtrisés</a>
                            </li>
                        {% endif %}
                        {% if utilisateur.id is not null %}
                            <li>
                                <a href="{{path('hopital_numerique_user_resultats', {'id':utilisateur.id})}}">Autodiagnostic</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="panel-body" >
	            <div class="sous_options">
	                <div class="btn-toolbar">
	                    <a class="btn btn-default" href="{{path('hopitalnumerique_user_contractualisation_add', {'id':utilisateur.id})}}" title="Ajouter une Contractualisation"><i class="fa fa-plus"></i></a>
	                </div>
	            </div>
	            
                {{ grid(grid, _self) }}
	        </div>            
        </div>
    </div>
{% endblock %}