{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    Fiche du module
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_module_module') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    {% if module.id %}
        <a href="{{ path('hopitalnumerique_module_module_edit', { 'id': module.id }) }}" class="btn btn-default" title="Editer"><i class="fa fa-edit"></i></a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body" >
                <p>
                    <strong>Titre du module : </strong>
                    {{ module.titre }}
                </p>
                <p>
                    <strong>Productions concernées : </strong>
                    <ul>
						{% for key,production in module.productions %}
						    <li>{{ production.titre }}</li>
						{% endfor %}
					</ul>
                </p>
                {% if module.duree is not empty and module.duree is not null %}
	                <p>
	                    <strong>Durée : </strong>
	                    {{ module.duree.libelle }}
	                </p>
                {% endif %}
                {% if module.horairesType is not empty and module.horairesType is not null %}
	                <p>
	                    <strong>Horaires type : </strong>
	                    {{ module.horairesType }}
	                </p>
                {% endif %}
                {% if module.lieu is not empty and module.lieu is not null %}
		            <p>
	                    <strong>Lieu : </strong>
	                    {{ module.lieu }}
	                </p>
                {% endif %}
                {% if module.nombrePlaceDisponible is not empty and module.nombrePlaceDisponible is not null %}
	                <p>
	                    <strong>Nombre de places disponibles : </strong>
	                    {{ module.nombrePlaceDisponible }}
	                </p>
                {% endif %}
                {% if module.description is not empty and module.description is not null %}
	                <p>
	                    <strong>Description : </strong>
	                    {{ module.description }}
	                </p>
                {% endif %}
                {% if module.prerequis is not empty and module.prerequis is not null %}
	                <p>
	                    <strong>Prérequis : </strong>
	                    {{ module.prerequis }}
	                </p>
                {% endif %}
                {% if module.formateur is not empty and module.formateur is not null %}
	                <p>
	                    <strong>Formateur : </strong>
	                    {{ module.formateur.getAppellation() }}
	                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
