{% block javascripts %}
    {% javascripts output="compiled/hopitalnumerique-questionnaire-questionnaire-edit.js"
        'bundles/hopitalnumeriquequestionnaire/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="compiled/hopitalnumerique-questionnaire-questionnaire-edit.css" filter="cssrewrite"
        'bundles/hopitalnumeriquequestionnaire/css/questionnaire.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

<div id="form_questionnaire_back">
	{% form_theme form 'HopitalNumeriqueQuestionnaireBundle:Questionnaire/Theme:theme.' ~ theme ~ '.html.twig' %}
	{{ form_javascript(form) }}
	{{ form(form, { 'action': path('hopitalnumerique_questionnaire_edit', {'user' : user.id, 'questionnaire' :questionnaire.id }) } ) }}
    {# Route de la validation de la candidature #}
    <input type="hidden" id="questionnaire_validation_candidature" value="{{path('hopital_numerique_user_departements')}}" />
</div>