{% trans_default_domain 'selected_domain_selector' %}

{% if availableDomains|length > 1 %}
    <span class="domain_selector_wrapper">
        <span>{{ 'selector.title'|trans }}</span>
        <select id="cdpSelectedDomain" data-uri="{{ path('hopitalnumerique_communautepratique_selected_domain_set') }}">
            {% for domain in availableDomains %}
                <option value="{{ domain.id }}"{{ selectedDomain is not null and selectedDomain.id == domain.id ? " selected"}}>{{ domain.nom }}</option>
            {% endfor %}
            <option value="{{ constant('HopitalNumerique\\CommunautePratiqueBundle\\Service\\SelectedDomainStorage::ALL_DOMAINS_KEYWORD') }}"{{ selectedDomain is null ? " selected" }}>{{ 'selector.option.all'|trans }}</option>
        </select>
    </span>
{% endif %}
