{% trans_default_domain 'cart' %}

<h2>
    <small>{{ 'item.object_type.forum_topic'|trans }}</small>
    {{ item.title }}

    <span class="date">
        {{ 'generator.forumTopic.firstPostDate'|trans }} {{ item.firstPostPublicationDate|date('d/m/Y H\\hi') }}<br />
        {{ 'generator.forumTopic.lastPostDate'|trans }} {{ item.lastPostPublicationDate|date('d/m/Y H\\hi') }}<br />
    </span>
</h2>

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns %}
    <fieldset>
        <legend>
            {{ item.firstPost.createdBy.pseudonym ?: item.firstPost.createdBy.username }}
        </legend>
        <p>
            {{ item.firstPost.body|raw|nl2br }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns %}
    {% for post in item.posts %}
        <fieldset>
            <legend>
                {{ post.createdBy.pseudonym ?: post.createdBy.username }} -
                <small>{{ post.createdDate|date('d/m/Y H\\hi') }}</small>
            </legend>
            <p>
                {{ post.body|raw|nl2br }}
            </p><br />
        </fieldset>
    {% endfor %}
{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}
