{% trans_default_domain 'cart' %}

<h2>
    <small>{{ 'item.object_type.forum_topic'|trans }}</small>
    {{ item.title }}
</h2>

<p>
    {{ 'generator.forumTopic.firstPostDate'|trans }} {{ item.firstPostPublicationDate|date('d/m/Y H\\hi') }}<br />
    {{ 'generator.forumTopic.lastPostDate'|trans }} {{ item.lastPostPublicationDate|date('d/m/Y H\\hi') }}<br />
</p>

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns %}
    <fieldset>
        <legend>
            {{ item.firstPost.createdBy.username }}
        </legend>
        {{ item.firstPost.body|raw|nl2br }}
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns %}
    {% for post in item.posts %}
        <fieldset>
            <legend>
                {{ post.createdBy.username }} -
                {{ post.createdDate|date('d/m/Y H\\hi') }}
            </legend>
            {{ post.body|raw|nl2br }}
        </fieldset>
    {% endfor %}
{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}
