{% trans_default_domain 'cart' %}

{% import _self as self %}

<h1>
    <small>{{ 'item.object_type.contenu'|trans }}</small>
    {{ item.parentsTitles|join(' > ') }} >
    <a href="{{ getBaseUrl(item.domains) }}{{ path('hopital_numerique_publication_publication_contenu_without_alias', {
        'id': item.objetId,
        'idc': item.id
    }) }}">
        {{ item.title }}
    </a>

    <span class="date">
        {% if item.lastUpdateDate %}
            {{ 'generator.infradoc.lastUpdateDate'|trans }} {{ item.lastUpdateDate|date('d/m/Y') }}
        {% else %}
            {{ 'generator.infradoc.creationDate'|trans }} {{ item.creationDate|date('d/m/Y') }}
        {% endif %}
    </span>
</h1>


{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns %}
    <fieldset>
        <h2>{{ 'generator.infradoc.short_resume'|trans }}</h2>
        <div class="truncate-height">
            <p>
                {{ item.shortContent|sliceTitle(2, 1, 4)|raw }}
            </p><br />
        </div>
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SUMMARY_COLUMN') in report.columns and item.children|length > 0%}
    <fieldset>
        <h2>{{ 'generator.infradoc.subChapters'|trans }}</h2>
        <p>
            {{ self.buildTree(item.children) }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns %}
    <fieldset>
        <h2>{{ 'generator.infradoc.resume'|trans }}</h2>
        <p>
            {{ item.content|sliceTitle(2, 1, 4)|raw }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::COMMENT_COLUMN') in report.columns and item.comments|length > 0 %}
    <fieldset>
        <h2>{{ 'generator.infradoc.comments'|trans }}</h2>
        {% for comment in item.comments %}
            <fieldset>
                <legend>
                    {{ comment.user.username }} - {{ comment.dateCreation|date('d/m/Y') }}
                </legend>
                {{ comment.texte|nl2br }}
            </fieldset>
        {% endfor %}
    </fieldset>
{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}


{% macro buildTree(contents, chapter) %}
    {% import _self as self %}
    <ul>
        {% for content in contents %}
            <li>
                {% set name = chapter ~ content.order ~ '. ' ~ content.titre %}
                {{ name|sliceTitle(2, 1, 4)|raw }}

                {% if content.children %}
                    <ul>
                        {{ self.buildTree(content.children, chapter ~ content.order ~ '.') }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
