{% trans_default_domain 'cart' %}

<h2>
    <small>{{ 'item.object_type.person'|trans }}</small>
    {{ item.fullname }}
</h2>

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns %}
    <fieldset>
        <legend>{{ 'generator.person.userInfos.title'|trans }}</legend>

        <table class="table person-info">
            <tr>
                <th>{{ 'generator.person.userInfos.phone'|trans }}</th>
                <td>{{ item.phone }}</td>
            </tr>
            <tr>
                <th>{{ 'generator.person.userInfos.email'|trans }}</th>
                <td>{{ item.email }}</td>
            </tr>
            <tr>
                <th>{{ 'generator.person.userInfos.county'|trans }}</th>
                <td>{{ item.county|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'generator.person.userInfos.system'|trans }}</th>
                <td>{{ item.systemJob }} - {{ item.system|default('-') }}</td>
            </tr>
        </table>
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SYNTHESIS_COLUMN') in report.columns and item.biography%}
    <fieldset>
        <legend>{{ 'generator.person.biography'|trans }}</legend>
        <p>
            {{ item.biography|nl2br }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns %}
    {% if item.skills|length > 0 %}
        <fieldset>
            <legend>{{ 'generator.person.skills'|trans }}</legend>
            <ul>
                {% for skill in item.skills if skill.connaissance is not null %}
                    <li>
                        {{ skill.domaine.libelle }}
                        <small>({{ skill.connaissance.libelle }})</small>
                    </li>
                {% endfor %}
            </ul><br />
        </fieldset>
    {% endif %}

    {% if item.hobbies|length > 0 %}
        <fieldset>
            <legend>{{ 'generator.person.hobbies'|trans }}</legend>
            <ul>
                {% for hobby in item.hobbies %}
                    <li>{{ hobby.label }}</li>
                {% endfor %}
            </ul><br />
        </fieldset>
    {% endif %}

    {% if item.computerSkills|length > 0 %}
        <fieldset>
            <legend>{{ 'generator.person.computerSkills'|trans }}</legend>
            <ul>
                {% for skill in item.computerSkills %}
                    <li>{{ skill.libelle }}</li>
                {% endfor %}
            </ul><br />
        </fieldset>
    {% endif %}

{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}
