{% trans_default_domain 'cart' %}

{% import _self as macro %}

<h1>
    <small>{{ ('item.object_type.'~item.type)|trans }}</small>
    <a href="{{ getBaseUrl(item.domains) }}{{ path('hopital_numerique_publication_synthese', {'id': item.id}) }}">
        {{ item.title }}
    </a>

    <span class="date">
        {{ 'generator.publication.publicationDate'|trans }} {{ item.publicationDate|date('d/m/Y') }}
        {% if item.lastUpdateDate %}
            <br />{{ 'generator.publication.lastUpdateDate'|trans }} {{ item.lastUpdateDate|date('d/m/Y') }}
        {% endif %}
    </span>
</h1>


{% if item.source %}
    {{ 'generator.publication.source'|trans }} {{ item.source }}
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns and item.shortResume %}
    <fieldset>
        <h2>{{ 'generator.publication.shortResume'|trans }}</h2>
        <div class="truncate-height">
            <p>
                {{ item.resume|sliceTitle(2, 1, 4)|raw }}
            </p><br />
        </div>
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SYNTHESIS_COLUMN') in report.columns and item.synthesis %}
    <fieldset>
        <h2>{{ 'generator.publication.synthesis'|trans }}</h2>
        <p>
            {{ item.synthesis|sliceTitle(2, 1, 4)|raw }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SUMMARY_COLUMN') in report.columns and item.contents|length > 0%}
    <fieldset>
        <h2>{{ 'generator.publication.summary'|trans }}</h2>
        <ul>
            {% for content in item.contents %}
                {{ macro.buildTree(content) }}
            {% endfor %}
        </ul><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns and item.resume %}
    <fieldset>
        <h2>{{ 'generator.publication.resume'|trans }}</h2>
        <p>
            {{ item.resume|sliceTitle(2, 1, 4)|raw }}
        </p><br />
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::COMMENT_COLUMN') in report.columns and item.comments|length > 0 %}
    <fieldset class="comments">
        <h2>{{ 'generator.publication.comments'|trans }}</h2>
        {% for comment in item.comments %}
            <div class="comment">
                <span class="info">{{ comment.user.username }} - <small>{{ comment.dateCreation|date('d/m/Y') }}</small></span>
                <div class="comment-content">
                    {{ comment.texte|nl2br }}
                </div>
            </div>
        {% endfor %}
    </fieldset>
{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}


{% macro buildTree(contenu, parentOrder) %}
    <li>
        {{ (parentOrder ? parentOrder~'.')~contenu.order~'.' }}
        {{ contenu.titre }}

        {% if contenu.childs %}
            <ul>
                {% import _self as mySelf %}
                {% for child in contenu.childs %}
                    {{ mySelf.buildTree(child, (parentOrder ? parentOrder~'.')~contenu.order) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
