{% trans_default_domain 'cart' %}

<h2>
    <small>{{ 'item.object_type.objet'|trans }}</small>
    {{ item.title }}
</h2>

{{ 'generator.publication.publicationDate'|trans }} {{ item.publicationDate|date('d/m/Y') }}

{% if item.source %}
    {{ 'generator.publication.source'|trans }} {{ item.source }}
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::RESUME_COLUMN') in report.columns %}
    <fieldset>
        <legend>{{ 'generator.publication.shortResume'|trans }}</legend>
        {{ item.shortResume|default('-')|raw }}
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SYNTHESIS_COLUMN') in report.columns %}
    <fieldset>
        <legend>{{ 'generator.publication.synthesis'|trans }}</legend>
        {{ item.synthesis|default('-')|raw }}
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::SUMMARY_COLUMN') in report.columns and item.contents|length > 0%}
    <fieldset>
        <legend>{{ 'generator.publication.summary'|trans }}</legend>
        <ul>
            {% for content in item.contents %}
                <li>{{ content.titre }}</li>
            {% endfor %}
        </ul>
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::CONTENT_COLUMN') in report.columns %}
    <fieldset>
        <legend>{{ 'generator.publication.resume'|trans }}</legend>
        {{ item.resume|default('-')|raw }}
    </fieldset>
{% endif %}

{% if constant('HopitalNumerique\\CartBundle\\Enum\\ReportColumnsEnum::COMMENT_COLUMN') in report.columns %}
    <fieldset>
        <legend>{{ 'generator.publication.comments'|trans }}</legend>
        {% for comment in item.comments %}
            <fieldset>
                <legend>
                    {{ comment.user.username }} - {{ comment.dateCreation|date('d/m/Y H\\hi') }}
                </legend>
                {{ comment.texte|nl2br }}
            </fieldset>
        {% endfor %}
    </fieldset>
{% endif %}

{{ include('@HopitalNumeriqueCart/report/generator/item/partials/references.html.twig') }}
