{% extends 'HopitalNumeriqueAccountBundle::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-informations_personnelles-edit.css" filter="cssrewrite, ?yui_css" 
        "@select2_css" 
        "@validationEngine_css"
        'bundles/hopitalnumeriqueuser/css/specificationUser.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueuser/css/inscription.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-informations_personnelles-edit.js" 
        "@select2_js" 
        "@validationEngine_js"
        "@jquery_maskedinput_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueuser/js/User/script.js'
        'bundles/hopitalnumeriqueuser/js/User/inscription.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headerTitle %}Renseignez vos informations personnelles{% endblock %}

{% block headerDesc %}
    <p><strong>Attention :</strong> Si vous êtes expert ou ambassadeur, informez l'ANAP avant de modifier les données contractuelles (nom, prénom, établissement, etc).</p>
{% endblock %}

{% block content%}
	<div id="form_edit_user">
	    <div id="form_edit_informations_personnelles">
            {% form_theme form 'HopitalNumeriqueAccountBundle:Formulaire:theme.default.html.twig' %}
                {{ form_start(form) }}
                    {{ form_javascript(form) }}
                    <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>
                    <div class="background-violet"></div>

                    {# Input hidden permettant de stocker la route pour le refresh du département en ajax #}
                    <input type="hidden" id="departement-url" value="{{path('hopital_numerique_user_front_departements_informationsPersonelles')}}" />
                    <input type="hidden" id="etablissement-url" value="{{path('hopital_numerique_user_front_etablissements_informationsPersonelles')}}" />
                    
                    {# Formulaire : #}
		            <div class="form-group">
                        <label class="control-label col-md-4">Identifiant (login)</label>
                        <div class="username col-md-7">{{ user.username }}</div>
                    </div>
	                <div class="clearfix"></div>
                    {{ form_row(form.civilite) }}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.telephoneDirect) }}
                    {{ form_row(form.telephonePortable) }}
                    {{ form_row(form.contactAutre) }}
                    
                    {% if 'ROLE_ARS_CMSI_4' in user.getRoles() %}
			            <div class="form-group">
	                        <label class="control-label col-md-4">Région</label>
	                        <div class="username col-md-7">{{ user.region.libelle }}</div>
	                    </div>
		                <div class="clearfix"></div>
			            {% if user.departement.libelle is defined %}
    			            <div class="form-group">
    	                        <label class="control-label col-md-4">Département</label>
    	                        <div class="username col-md-7">{{ user.departement.libelle }}</div>
    	                    </div>
    		                <div class="clearfix"></div>
		                {% endif %}
	                {% else %}
	                    {{ form_row(form.region) }}
	                    {{ form_row(form.departement) }}
	                {% endif %}
                    
                    <div class="hide">
                        {{ form_row(form.etat) }}  
                    </div>
                    
                    {# Le role ARS CMSI ne voit ces informations ci-dessous #}
	                {% if 'ROLE_ARS_CMSI_4' in user.getRoles() %}
                        <div class="hide">		                
	                {% endif %}
                    <div id="etablissement_sante">
	                    <h4 class="violet">Vous êtes un établissement de santé</h4>
	                    {{ form_row(form.statutEtablissementSante) }}
	                    {{ form_row(form.etablissementRattachementSante) }}
	                    {{ form_row(form.autreStructureRattachementSante) }}
	                    {{ form_row(form.profilEtablissementSante) }}
	                    {{ form_row(form.fonctionDansEtablissementSante) }}
	                    {{ form_row(form.raisonInscriptionSante) }}
                    </div>

                    <div id="autre_etablissement_sante">
	                    <h4 class="violet">Vous êtes une structure autre qu'un établissement de santé</h4>
	                    {{ form_row(form.nomStructure) }}
	                    {{ form_row(form.fonctionStructure) }}
	                    {{ form_row(form.raisonInscriptionStructure) }}
                    </div>
                    
	                {% if 'ROLE_ARS_CMSI_4' in user.getRoles() %}
                        </div>		                
	                {% endif %}		                
                {# Permet de mettre à la ligne le submit #}
	                <div class="clearfix"></div>
                    <div class="form-group">
	                    <div class="col-md-10 col-md-offset-2">
		                   <input onclick="$('#do').val('information-personnelles');sauvegardeFormulaire();" class="btn btn-success pull-right submit" value="ENREGISTRER MES MODIFICATIONS" type="button" />
	                </div>
                </div>
                    
                    <div class="hide">
                        {{ form_row(form.username) }}  
                    </div>
                    
                    <div class="hide">
                        {{ form_row(form.roles) }}  
                    </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block footerDesc %}
	   <div id ="footerDesc">
			<p>
				Dans une logique de respect de la vie privée de ses utilisateurs, L'ANAP s'engage à ce que la collecte et le traitement d'informations personnelles, réalisés au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ».
			</p>
			<p>
				Conformément à l'article 34 de la loi « Informatique et Libertés », l'ANAP garantit à l'utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. L'utilisateur a la possibilité d'exercer ce droit en contactant l'équipe accompagnement de l'ANAP.
			</p>
		</div>
{% endblock %}