{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Inscription{% endblock %}
{% block metadesc %}Créez-vous à un compte "{{domaineCurrent.nom}}" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-user-inscription.css" filter="cssrewrite, ?yui_css"
        'bundles/hopitalnumeriqueuser/css/inscription.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-user-registration.js"
        'bundles/hopitalnumeriqueuser/js/User/registration.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="registration">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <p>Certains serveurs de messagerie peuvent bloquer la bonne réception des emails émis par le Centre de ressources de l'ANAP. Merci de vérifier auprès de votre service de informatique que les adresses <strong>@anap.fr</strong> ne sont pas considérées comme du spam et qu\'elles font bien parties des adresses autorisées sur le serveur mail de votre établissement.</p>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading custom-panel-heading">
                Inscription
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.lastname, {'attr': {'class': 'validate[required,maxSize[50]]'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'attr': {'class': 'validate[required,maxSize[50]]'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.email, {'attr': {'class': 'validate[required,custom[email]]'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.profileType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 password-information">
                        <p>
                            Le mot de passe doit comporter au moins 6 caractères et être composé d'au moins une lettre minuscule, d'une lettre majuscule et d'un chiffre.
                        </p>
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword.first, {'attr': {'class': 'validate[required,minSize[6]]'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword.second, {'attr': {'class': 'validate[required,equals[nodevo_user_registration_plainPassword_first],minSize[6]]'}}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading custom-panel-heading">
                Votre structure
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.organization, { 'attr': {'data-url': path('hopitalnumerique_etablissement_ajax_load'), 'class': 'ajax-list-select2' }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.activities, { 'attr': {'class': 'select2' }}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading custom-panel-heading">
                Votre structure n'est pas dans la liste précédente
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.organizationType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.organizationLabel, {'attr': {'class': 'validate[maxSize[255]]'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.region, { 'attr': {'data-county-url': path('hopital_numerique_user_counties') }}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.county) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_vertical_row">
                            <div class="col-md-12">
                                {{form_widget(form.termsAccepted, {'attr': {'class': 'tou-checkbox validate[required]'}}) }}
                                <div class="tou-label">
                                    {{form_label(form.termsAccepted)}}
                                    <br />
                                    <a target="_blank" href="{{path('hopital_numerique_publication_publication_article',{'id':twigOptions.conditionsGenerales.conditionsGenerales.id, 'alias':twigOptions.conditionsGenerales.conditionsGenerales.alias,'categorie':twigOptions.conditionsGenerales.categorie.libelle|lower})}}">Lien vers les CGU.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn btn-success pull-right" value="INSCRIPTION">
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="hide">
            {{ form_row(form.etat) }}
            {{ form_row(form.inscritCommunautePratique) }}
        </div>

        {{ form_end(form) }}

        <div class="clearfix"></div>
    </div>
{% endblock %}
