{% extends 'HopitalNumeriqueCoreBundle:Templates:' ~ templateCurrentId ~ '/layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Inscription{% endblock %}
{% block metadesc %}Créez-vous à un compte "{{domaineCurrent.nom}}" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-user-inscription.css" filter="cssrewrite, ?yui_css"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueuser/css/inscription.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-user-inscription.js"
        "@jquery_maskedinput_js"
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriqueuser/js/User/script.js'
        'bundles/hopitalnumeriqueuser/js/User/inscription.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="col-md-10 col-md-offset-1" id="inscription">
        
	   <div id ="headerDesc">
			<p>
				Certains serveurs de messagerie peuvent bloquer la bonne réception des emails émis par la plateforme Hôpital Numérique. Merci de vérifier auprès de votre service de informatique que les adresses <strong>accompagnement-hn@anap.fr</strong> et <strong>communication@anap.fr</strong> ne sont pas considérées comme du spam et qu'elles font bien parties des adresses autorisées sur le serveur mail de votre établissement.
			</p>
		</div>
		<div class="clearfix"></div>
    
        <h3>Inscription</h3>
            <div id="form_edit_user">
	            {% form_theme form 'HopitalNumeriqueUserBundle:User/Theme:theme.inscription.html.twig' %}
	                {{ form_start(form) }}
	                    {{ form_javascript(form) }}
	                    <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>
	                    <div class="background-violet"></div>
	
	                    {# Input hidden permettant de stocker la route pour le refresh du département en ajax #}
	                    <input type="hidden" id="departement-url" value="{{path('hopital_numerique_user_front_departements')}}" />
	                    <input type="hidden" id="etablissement-url" value="{{path('hopital_numerique_user_front_etablissements')}}" />
	                    
	                    {# Formulaire : #}
	                    {{ form_row(form.civilite) }}
	                    {{ form_row(form.titre) }}
	                    {{ form_row(form.nom) }}
	                    {{ form_row(form.prenom) }}
	                    {{ form_row(form.email) }}
	                    {{ form_row(form.username) }}
                        {{ form_row(form.pseudonymeForum) }}
	                    {{ form_row(form.plainPassword) }}
	                    {{ form_row(form.telephoneDirect) }}
	                    {{ form_row(form.telephonePortable) }}
	                    {{ form_row(form.contactAutre) }}
	                    {{ form_row(form.region) }}
	                    {{ form_row(form.departement) }} 
	                    {{ form_row(form.profilEtablissementSante) }}
                             
	                    <div class="hide">
	                        {{ form_row(form.etat) }}  
	                        {{ form_row(form.inscritCommunautePratique) }}
	                    </div>
	
	                    <div id="etablissement_sante">
                            <div class="panel panel-default">
                                <div class="panel-heading closed">Vous êtes un établissement de santé</div>
                                <div class="panel-body" style="display:none;">
                                    {{ form_row(form.statutEtablissementSante) }}
                                    {{ form_row(form.etablissementRattachementSante) }}
                                    {{ form_row(form.autreStructureRattachementSante) }}
                                    {{ form_row(form.typeActivite) }}
                                    {{ form_row(form.fonctionDansEtablissementSanteReferencement) }}
                                    {{ form_row(form.fonctionDansEtablissementSante) }}
                                </div>
                            </div>
                        </div>
                            
                        <div id="autre_etablissement_sante">
                            <div class="panel panel-default">
                                <div class="panel-heading closed">Vous êtes une structure autre qu'un établissement de santé</div>
                                <div class="panel-body" style="display:none;">
                                    {{ form_row(form.nomStructure) }}
                                    {{ form_row(form.fonctionStructure) }}
                                </div>
                            </div>
                        </div>
                        
				        <div class="form-group">
				            <div class="col-md-1 col-md-offset-3 col-sm-1">
				                {{ form_widget(form.termsAccepted) }}
				            </div>
				            <div class="col-md-8 col-sm-11">
				                {{ form_label(form.termsAccepted) }}<br />
				                <a target="_blank" href="{{path('hopital_numerique_publication_publication_article',{'id':twigOptions.conditionsGenerales.conditionsGenerales.id, 'alias':twigOptions.conditionsGenerales.conditionsGenerales.alias,'categorie':twigOptions.conditionsGenerales.categorie.libelle|lower})}}">Lien vers les CGU.</a>
			                </div>
				            <div class="col-md-8 col-md-offset-4">
				                <div class="help-block">
				                    {{ form_errors(form.termsAccepted) }}
				                </div>
				            </div>
				        </div>
	                {# Permet de mettre à la ligne le submit #}
	                <div class="clearfix"></div>
                    <div class="form-group">
	                    <div class="col-md-10 col-md-offset-2">
		                   <input onclick="$('#do').val('inscription');sauvegardeFormulaire();" class="btn btn-success pull-right submit" value="INSCRIPTION" type="button" />
		                </div>
	                </div>
	            {{ form_end(form) }}
            </div>
    
	   <div id ="footerDesc">
			<p>
				Dans une logique de respect de la vie privée de ses utilisateurs, L'ANAP s'engage à ce que la collecte et le traitement d'informations personnelles, réalisés au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ».
			</p>
			<p>
				Conformément à l'article 34 de la loi « Informatique et Libertés », l'ANAP garantit à l'utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. L'utilisateur a la possibilité d'exercer ce droit en contactant l'équipe accompagnement de l'ANAP.
			</p>
		</div>
		<div class="clearfix"></div>
    </div>
{% endblock %}
