{% extends 'HopitalNumeriqueCoreBundle::layout.html.twig' %}

{# Référencement #}
{% block title %}{{parent()}} - Inscription{% endblock %}
{% block metadesc %}Créez-vous à un compte "Mon Hôpital Numérique" pour accéder aux outils proposés par l'ANAP{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-user-user-inscription.css" filter="cssrewrite"
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2.css'
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2-bootstrap.css'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/css/validationEngine.jquery.css'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.css'
        'bundles/hopitalnumeriqueuser/css/inscription.css'
        'bundles/nodevoadmin/plugins/apprise/apprise.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-user-user-inscription.js"
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/jquery.validationEngine.js'
        'bundles/nodevoadmin/plugins/jQueryValidationEngine/js/languages/jquery.validationEngine-fr.js'
        'bundles/hopitalnumeriqueuser/js/select2-3.4.5/select2.min.js'
        'bundles/nodevoadmin/plugins/nodevoLoader/nodevoLoader.js'
        'bundles/hopitalnumeriquecore/js/jquery.maskedinput.min.js'
        'bundles/hopitalnumeriqueuser/js/User/script.js'
        'bundles/hopitalnumeriqueuser/js/User/inscription.js'
        'bundles/nodevoadmin/plugins/apprise/apprise.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="col-md-10 col-md-offset-1" id="inscription">
        <h3>Inscription</h3>
            <div id="form_edit_user">
{# 	            {% form_theme form 'HopitalNumeriqueAccountBundle:Formulaire:theme.default.html.twig' %}#}
	            {% form_theme form 'HopitalNumeriqueUserBundle:User/Theme:theme.inscription.html.twig' %}
	                {{ form_start(form) }}
	                    {{ form_javascript(form) }}
	                    <div class="champ-obligatoire"><span class="etoile">*</span> champ(s) obligatoire(s)</div>
	                    <div class="background-violet"></div>
	
	                    {# Input hidden permettant de stocker la route pour le refresh du département en ajax #}
	                    <input type="hidden" id="departement-url" value="{{path('hopital_numerique_user_front_departements')}}" />
	                    <input type="hidden" id="etablissement-url" value="{{path('hopital_numerique_user_front_etablissements')}}" />
	                    
	                    {# Formulaire : #}
	                    {{ form_row(form.civilite) }}
	                    {{ form_row(form.titre) }}
	                    {{ form_row(form.nom) }}
	                    {{ form_row(form.prenom) }}
	                    {{ form_row(form.email) }}
	                    {{ form_row(form.username) }}
	                    {{ form_row(form.plainPassword) }}
	                    {{ form_row(form.telephoneDirect) }}
	                    {{ form_row(form.telephonePortable) }}
	                    {{ form_row(form.contactAutre) }}
	                    {{ form_row(form.region) }}
	                    {{ form_row(form.departement) }} 
	                    
	                    <div class="hide">
	                        {{ form_row(form.etat) }}  
	                    </div>
	
	                    <div id="etablissement_sante">
		                    <h4 class="violet">Vous êtes un établissement de santé</h4>
		                    {{ form_row(form.statutEtablissementSante) }}
		                    {{ form_row(form.etablissementRattachementSante) }}
		                    {{ form_row(form.autreStructureRattachementSante) }}
		                    {{ form_row(form.profilEtablissementSante) }}
		                    {{ form_row(form.fonctionDansEtablissementSante) }}
		                    {{ form_row(form.raisonInscriptionSante) }}
	                    </div>
	
	                    <div id="autre_etablissement_sante">
		                    <h4 class="violet">Vous êtes une structure autre qu'un établissement de santé</h4>
		                    {{ form_row(form.nomStructure) }}
		                    {{ form_row(form.fonctionStructure) }}
		                    {{ form_row(form.raisonInscriptionStructure) }}
	                    </div>
                        
				        <div class="form-group">
				            <div class="col-md-3"></div>
				            <div class="col-md-1">
				                {{ form_widget(form.termsAccepted) }}
				            </div>
				            <div class="col-md-8">
				                <div class="col-md-12">{{ form_label(form.termsAccepted) }}</div>
				                <div class="col-md-12"><a target="_blank" href="{{path('hopital_numerique_publication_publication_article',{'id':twigOptions.conditionsGenerales.conditionsGenerales.id, 'alias':twigOptions.conditionsGenerales.conditionsGenerales.alias,'categorie':twigOptions.conditionsGenerales.categorie.libelle|lower})}}">Lien vers les CGU.</a></div>
			                </div>
				            <div class="col-md-4">
				                <div class="help-block">
				                    {{ form_errors(form.termsAccepted) }}
				                </div>
				            </div>
				        </div>
	                {# Permet de mettre à la ligne le submit #}
	                <div class="clearfix"></div>
                    <div class="form-group">
	                    <div class="col-md-10 col-md-offset-2">
		                   <input onclick="$('#do').val('inscription');sauvegardeFormulaire();" class="btn btn-success pull-right submit" value="INSCRIPTION" type="button" />
		                </div>
	                </div>
	            {{ form_end(form) }}
            </div>
    
	   <div id ="footerDesc">
			<p>
				Dans une logique de respect de la vie privée de ses utilisateurs, L'ANAP s'engage à ce que la collecte et le traitement d'informations personnelles, réalisés au sein du présent site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ».
			</p>
			<p>
				Conformément à l'article 34 de la loi « Informatique et Libertés », l'ANAP garantit à l'utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. L'utilisateur a la possibilité d'exercer ce droit en contactant l'équipe accompagnement de l'ANAP.
			</p>
		</div>
		<div class="clearfix"></div>
    </div>
{% endblock %}
