{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.reply.layout_template %}

{%- block title -%}
    {{- 'title.topic.reply' | trans({'%topic_title%': topic.getTitle }, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}

    <section class="clearfix">
        {%- form_theme form ccdn_forum_forum.topic.user.reply.form_theme -%}
        <form action="{{- path('ccdn_forum_user_topic_reply_process', {'forumName': forumName, 'topicId': topic.id } ) -}}"
         method="post" {{ form_enctype(form) }} class="form-horizontal" role="form" novalidate>
            <fieldset>

                <div class="form-group">
                    <div id="titre-creation">
                        <h4>
                            {{- 'title.topic.reply' | trans({}, ForumBundle.translation ) -}}
                        </h4>
                        <h5>
                            {{- topic.getTitle -}}
                        </h5>
                    </div>
                </div>

                {{- form_errors(form) -}}

                {{- form_widget(form) -}}

                <div class="row form-buttons">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-success" value="
                                {{- 'form.button.topic.reply' | trans({}, ForumBundle.translation ) -}}
                            " name="submit[post]" id="submit[post]">

                        {#
                            <input type="submit" class="btn" value="
                                {{- 'form.button.preview' | trans({}, ForumBundle.translation ) -}}
                            " name="submit[preview]">
                        #}

                            <a class="btn btn-default" href="{{- path('ccdn_forum_user_topic_show', {'forumName': forumName, 'topicId': topic.id}) -}}">
                                {{- 'form.button.cancel' |trans({}, ForumBundle.translation ) -}}
                            </a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </section>

    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "CCDNForumForumBundle:User:Post/Partial/post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}

    {%- include 'CCDNForumForumBundle:User:Topic/Partial/transcript.html.twig' with {'topic': topic } -%}

    {%- endspaceless -%}
{%- endblock body_content -%}
