{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Inscription au groupe - {{ groupe }}{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    {{ communaute_pratique.display_action_contact_animateur(groupe) }}
{% endblock %}

{% block body_communaute_pratique %}

    {{ groupe.descriptionHtml|raw }}
    <br><br>
    
    {{ render(controller('HopitalNumeriqueQuestionnaireBundle:Questionnaire:editFront', { 'user':app.user , 'questionnaire':groupe.questionnaire, 'optionRenderForm' :questionnaireOptions  } )) }}
    
    <div class="text-right">
        <button type="button" onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-success">Rejoindre le groupe</button>
    </div>

{% endblock %}
