{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-groups.js"
        'bundles/hopitalnumeriquecommunautepratique/js/TableauDeBord.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title_communaute_pratique %}Groupes d'entre-aide{% endblock %}

{% block communaute_pratique_actions %}
    {{ parent() }}
    {{ selectedDomainSelector() }}
    {{ communaute_pratique.display_action_contact_invitation() }}
{% endblock %}

{% block body_communaute_pratique %}

    {% import "HopitalNumeriqueCommunautePratiqueBundle:include:blocks.html.twig" as communaute_pratique %}

    <div class="row" id="communaute-pratiques-groupes">
        <div class="col-md-9">

            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"{{ groupesNonDemarres|length > 0 or groupesEnCours|length == 0 ? ' class="active"' : '' }}><a href="#a-venir" aria-controls="a-venir" role="tab" data-toggle="tab"><em class="icon-social20"></em> &nbsp; Groupes à venir</a></li>
                    <li role="presentation"{{ groupesNonDemarres|length == 0 and groupesEnCours|length > 0 ? ' class="active"' : '' }}><a href="#en-cours" aria-controls="en-cours" role="tab" data-toggle="tab"><em class="icon-social20"></em> &nbsp; Groupes en cours</a></li>
                    <li role="presentation"{{ groupesNonDemarres|length == 0 and groupesEnCours|length > 0 ? ' class="active"' : '' }}><a href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em class="icon-social20"></em> &nbsp; Groupes terminés</a></li>
                    {% if groupes|length %}
                        <li role="presentation"><a href="#dashboard" role="tab" data-toggle="tab"><em class="icon-download105"></em> &nbsp; Tableau de bord</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane{{ groupesNonDemarres|length > 0 or groupesEnCours|length == 0 ? ' active' : '' }}" id="a-venir">

                        {% for groupeNonDemarre in groupesNonDemarres %}
                            {{ communaute_pratique.display_groupe(groupeNonDemarre) }}
                        {% else %}
                            <p class="text-center">&nbsp;<br>Aucun groupe thématique à venir<br>&nbsp;</p>
                        {% endfor %}

                    </div>
                    <div role="tabpanel" class="tab-pane{{ groupesNonDemarres|length == 0 and groupesEnCours|length > 0 ? ' active' : '' }}" id="en-cours">

                        {% for groupeEnCours in groupesEnCours %}
                            {{ communaute_pratique.display_groupe(groupeEnCours) }}
                        {% else %}
                            <p class="text-center">&nbsp;<br>Aucun groupe thématique en cours<br>&nbsp;</p>
                        {% endfor %}

                    </div>

                    {% if groupes|length %}
                        <div id="dashboard" class="tab-pane">
                            {{ include('@HopitalNumeriqueCommunautePratique/Groupe/dashboard.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-md-3">

            {{ communaute_pratique.display_bloc_mes_groupes(userGroupesEnCours) }}

            <div class="communaute-de-pratiques-bloc-publications">
                <a href="{{ path('hopitalnumerique_communautepratique_publication_list') }}"><em class="icon-documents7"></em> Publications issues des groupes</a>
            </div>

        </div>
    </div>

{% endblock body_communaute_pratique %}
