{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% trans_default_domain 'cdp_group' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-groupe-user.js"
        'bundles/hopitalnumeriquecommunautepratique/js/TableauDeBord.js'
        'bundles/hopitalnumeriquecommunautepratique/js/Group.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            new Group();
        });
    </script>
{% endblock %}

{% block title_communaute_pratique %}Groupe thématique {{ groupe }}{% endblock %}

{% block communaute_pratique_actions_before %}
    <div class="clearfix"></div>
    {{ include('@HopitalNumeriqueCart/cart/addBtn.html.twig', {objectType: 'cdp_group', objectId: groupe.id, cssClass: 'pull-left'}) }}
{% endblock %}

{% block communaute_pratique_actions %}
    <div style= "float:right">
        {{ parent() }}
        {{ communaute_pratique.display_action_contact_animateur(groupe) }}
        {{ communaute_pratique.display_action_contact_invitation(groupe.id) }}
    </div>
{% endblock %}

{% block communaute_pratique_sommaire %}{% endblock %}

{% block body_communaute_pratique %}

    <div class="group">
        <div class="tabs">

            <a href="#description" class="tab active">
                <span class="tab-title">{{ 'group.tabs.description.title'|trans }}</span>
                {{ groupe.descriptionCourte }}
            </a>

            <a href="#discussion" class="tab">
                <span class="tab-title">{{ 'group.tabs.discussion.title'|trans }}</span>

                <ul>
                    <li>{{ 'group.tabs.discussion.new_comments'|transchoice(1, {'%countTxt%': '<b>'~1~'</b>'})|raw }}</li>
                    <li>{{ 'group.tabs.discussion.new_documents'|transchoice(1, {'%countTxt%': '<b>'~1~'</b>'})|raw }}</li>
                    <li>{{ 'group.tabs.discussion.new_discussions'|transchoice(1, {'%countTxt%': '<b>'~1~'</b>'})|raw }}</li>
                </ul>
            </a>

            <a href="#members" class="tab">
                <span class="tab-title">{{ 'group.tabs.members.title'|trans }}</span>

                <ul>
                    <li>{{ 'group.tabs.members.members_count'|transchoice(groupe.activeRegistrationCount, {'%countTxt%': '<b>'~groupe.activeRegistrationCount~'</b>'})|raw }}</li>
                    <li>{{ 'group.tabs.members.animators_count'|transchoice(groupe.animateurs|length, {'%countTxt%': '<b>'~groupe.animateurs|length~'</b>'})|raw }}</li>
                </ul>
            </a>

        </div>

        <div class="tab-container">
            <div id="description" class="tab-content active">
                <h2>{{ 'group.tabs.description.long_title'|trans }}</h2>

                {% if groupe.animateurs|length > 0 %}
                    <div class="animators">
                        <b>{{ 'group.tabs.description.animators'|transchoice(groupe.animateurs|length) }}</b>
                        {% for animateur in groupe.animateurs %}
                            {{ animateur.prenomNom }}{{ loop.last ? '' : ', ' }}
                        {% endfor -%}
                    </div>
                {% endif %}

                {{ groupe.descriptionHtml|raw }}
            </div>

            <div id="discussion">
                {{ render(controller('HopitalNumeriqueCommunautePratiqueBundle:Front/Discussion:public', {'group': groupe})) }}
            </div>

            <div id="members" class="tab-content">
                <h2>{{ 'group.tabs.members.title'|trans }}</h2>
            </div>
        </div>
    </div>
{% endblock body_communaute_pratique %}

{% block helpBlock %}
    {{ contextualNavigationHelpBlock(groupe) }}
{% endblock %}
