{% extends 'HopitalNumeriqueModuleBundle:Front:layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-module-front-evaluation-form.css" filter="cssrewrite, ?yui_css"
        '@validationEngine_css'
        'bundles/hopitalnumeriquemodule/css/Front/evaluation/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-module-front-evaluation-form.js"
        "@validationEngine_js"
        'bundles/hopitalnumeriquemodule/js/Front/evaluation.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block menu_modules %}
    <div id="module-menu">
        {# Render de la vue de récupérations des différentes modules #}
        {{ render(controller("HopitalNumeriqueModuleBundle:Front/ModuleFront:menuModules", {'module' : moduleSelectionne} )) }}
    </div>
{% endblock menu_modules %}

{% block chapo_titre %}Evaluation{% endblock chapo_titre %}

{% block chapo_description %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur leo in quam elementum dictum. Donec congue velit sit amet feugiat aliquam. Donec sagittis facilisis libero, sit amet dignissim mi vestibulum vehicula. Nulla nunc elit, congue non consequat vitae, accumsan eget enim.
{% endblock chapo_description %}

{% block contenu %}
    <div class="col-md-12">
        {% form_theme form 'HopitalNumeriqueQuestionnaireBundle:Questionnaire/Theme:theme.vertical.html.twig' %}
        {{ form_javascript(form) }}
        {{ form(form) }}
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-2">
            <input onclick="$('form').submit();" class="btn btn-success col-md-3 pull-right submit questionnaire_submit" value="EVALUER" type="button"/>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock contenu %}
