{% extends 'HopitalNumeriqueAutodiagBundle::layout.html.twig' %}

{% block body %}
    <div id="validation">

        {% include "@HopitalNumeriqueAutodiag/_navigation.html.twig" with {
            "step": "validation",
            "autodiag": synthesis.autodiag,
            "synthesis": synthesis,
            "entry" : synthesis.entries|length > 1 ? null : synthesis.entries.first
        } %}

        <div class="validation-header">
            <div class="identity">
                <div class="title">{{ synthesis.autodiag.title }}</div>
                <div class="name">
                    <span class="inplace-edit-text" data-url="{{path('hopitalnumerique_autodiag_synthesis_change_name', {'synthesis': synthesis.id})}}">{{ synthesis.name }}</span>
                </div>
            </div>
        </div>

        <div class="content">
            <p>
                {{'Module_autodiagnostic_validation'|nodevoTexteDynamique(domaineCurrent.id)|raw|nl2br}}
            </p>

            <div class="buttons">
                {% if not app.user %}
                    <div class="loggedout-warning">
                        <div>{{ "ad.restitution.loggedout-warning"|trans }}</div>
                        <div>
                            {{ "ad.restitution.loggedout-warning-validate"|trans }}
                        </div>
                    </div>
                    {% include '@HopitalNumeriqueAutodiag/Validation/partials/_quick_login.html.twig' %}
                {% else %}
                    {% if synthesis.validatedAt is not null %}
                        <a href="{{ path('hopitalnumerique_autodiag_unvalidate', {"synthesis": synthesis.id, "noLayout": noLayout}) }}" class="btn btn-success">{{ "ad.validation.unvalidate"|trans }}</a>
                    {% else %}
                        <a href="{{ path('hopitalnumerique_autodiag_validate', {"synthesis": synthesis.id, "noLayout": noLayout}) }}" class="btn btn-success">{{ "ad.validation.validate"|trans }}</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

    <script>
        $('.inplace-edit-text').each(function() {
            new InplaceEditor($(this), $(this).data("url"));
        });
    </script>

{% endblock %}
