{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-autodiag-outil-edit.css" filter="cssrewrite, ?yui_css"
        "@fancybox_css"
        "@jquery_toggles_css"
        'bundles/nodevoadmin/css/jquery.nestable.css'
        "@select2_css"
        "@validationEngine_css"
        'bundles/hopitalnumeriqueautodiag/css/form.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-autodiag-outil-edit.js"
        "@fancybox_js"
        "@validationEngine_js"
        "@tinymce_js"
        'bundles/nodevogestionnairemedia/js/moxiemanager/js/moxman.loader.min.js'
        'bundles/nodevogestionnairemedia/js/MoxieManager.js'
        'bundles/hopitalnumeriqueautodiag/js/script.js'
        'bundles/hopitalnumeriqueautodiag/js/outil/ProcessFormulaire.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts output="compiled/hopitalnumerique-autodiag-outil-edit-libjs.js"
        '@nestable_js'
        "@jquery_toggles_js"
        "@select2_js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if (form.process|length > 0) %}
        <script type="text/javascript"><!--
            $(document).ready(function() {
                {% for process in outil.process %}
                    HopitalNumeriqueAutodiagBundle_OutilProcessFormulaire.addProcessChamp({{ process.id }});
                {% endfor %}
            });
            NodevoGestionnaireMediaBundle_MoxieManager.PARAMETRES_GLOBAUX_URL = '{{ url('nodevo_gestionnaire_media_moxiemanager_json_parametres') }}';
            NodevoGestionnaireMediaBundle_MoxieManager.initParametresGlobaux();
        </script>
    {% endif %}
{% endblock %}

{% block h1Title %}
    {% if outil.id %}
        Editer un outil d'autodiagnostic
    {% else %}
        Ajouter un outil d'autodiagnostic
    {% endif %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_outil') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    {% if outil.id %}
        <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_front_outil', { 'outil': outil.id, 'alias' : outil.alias }) }}" title="Visualiser" target="_blank"><i class="fa fa-eye"></i></a>
        <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_autodiag_outil_delete', { 'id': outil.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <div class="options">
                    {# Include external file for tabs : avoid duplicate code #}
                    {% include 'HopitalNumeriqueAutodiagBundle::admin-tabs.html.twig' with { 'outil' : outil, 'route': app.request.attributes.get('_route') } %}
                </div>
            </div>

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}

                    
                    <div class="row">
                        <div class="panel panel-default gray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#general" class="collapsed" id="general_collapse">
                                <div class="panel-heading"><h4>Général</h4></div>
                            </a>
                            <div id="general" class="collapse" style="height: 0px;">
                                {{ form_row(form.title) }}
                                {{ form_row(form.alias) }}
                                {{ form_row(form.statut) }}
                                {{ form_row(form.instruction) }}
                                {{ form_row(form.commentaireRestitution) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel panel-default gray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#resultat_graphique" class="collapsed" id="resultat_graphique_collapse">
                                <div class="panel-heading"><h4>Résultats graphiques</h4></div>
                            </a>
                            <div id="resultat_graphique" class="collapse" style="height: 0px;">

                                <div class="panel-heading"><h5>Restitution en barres</h5></div>
                                {{ form_row(form.columnChart) }}
                                <div class="columnChart" {% if not outil.columnChart %}style="display:none"{% endif %}>
                                    {{ form_row(form.columnChartLabel) }}
                                    {{ form_row(form.columnChartAxe) }}
                                </div>
                                {{ form_row(form.commentaireGraphBarre) }}

                                <div class="panel-heading"><h5>Processus</h5></div>
                                {{ form_row(form.processChart) }}
                                <div class="processChart" {% if not outil.processChart %}style="display:none"{% endif %}>
                                   {{ form_row(form.processChartLabel) }}
                                   <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <div class="well outil_process_conteneur">
                                                <div class="pull-right">
                                                    <div class="btn-toolbar">
                                                        <a class="btn btn-success" id="outil_process_ajout"><span class="glyphicon glyphicon-plus"></span></a>
                                                    </div>
                                                </div>
                                                <h3>Éléments de restitution pas processus</h3>
                                                <div class="dd" id="outil_process_conteneur">
                                                    <ol class="dd-list" id="outil_process" data-prototype="{{ form_widget(form.process.vars.prototype)|e }}"></ol>
                                                    <!-- On n'affiche pas les formulaires par défaut des process {{ form_row(form.process) }} -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                {{ form_row(form.commentaireGraphPrecessus) }}

                                <div class="panel-heading"><h5>Radar</h5></div>
                                {{ form_row(form.radarChart) }}
                                <div class="radarChart" {% if not outil.radarChart %}style="display:none"{% endif %}>
                                    {{ form_row(form.radarChartLabel) }}
                                    {{ form_row(form.radarChartAxe) }}
                                </div>
                                {{ form_row(form.commentaireGraphRadar) }}
                                {{ form_row(form.radarChartAfficheBenchmark) }}
                                <div class="radarChart_afficheBenchmark" {% if not outil.radarChartAfficheBenchmark %}style="display:none"{% endif %}>
                                    {{ form_row(form.radarChartBenchmarkAfficheDecile2) }}
                                    <div class="radarChart_benchmarkDecile2" {% if not outil.radarChartBenchmarkAfficheDecile2 %}style="display:none"{% endif %}>
                                        {{ form_row(form.radarChartBenchmarkCouleurDecile2) }}
                                    </div>
                                    {{ form_row(form.radarChartBenchmarkAfficheMoyenne) }}
                                    {{ form_row(form.radarChartBenchmarkAfficheDecile8) }}
                                    <div class="radarChart_benchmarkDecile8" {% if not outil.radarChartBenchmarkAfficheDecile8 %}style="display:none"{% endif %}>
                                        {{ form_row(form.radarChartBenchmarkCouleurDecile8) }}
                                    </div>
                                </div>

                                <div class="panel-heading"><h5>Tableau</h5></div>
                                {{ form_row(form.tableChart) }}
                                <div class="tableChart"{% if not outil.tableChart %} style="display:none"{% endif %}>
                                    {{ form_row(form.tableChartAfficheTotal) }}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel panel-default gray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#analyse_resultats" class="collapsed" id="analyse_resultats_collapse">
                                <div class="panel-heading"><h4>Analyse des résultats</h4></div>
                            </a>
                            <div id="analyse_resultats" class="collapse" style="height: 0px;">

                                {{ form_row(form.masquerAnalyse) }}
                                {{ form_row(form.commentaireAnalyseResultat) }}
                                <div class="panel-heading"><h5>Plan d'action</h5></div>
                                {{ form_row(form.planActionPriorise) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel panel-default gray">
                            <a data-toggle="collapse" data-parent="#accordion" href="#reponses" class="collapsed" id="reponses_collapse">
                                <div class="panel-heading"><h4>Réponses</h4></div>
                            </a>
                            <div id="reponses" class="collapse" style="height: 0px;">

                                {{ form_row(form.centPourcentReponseObligatoire) }}
                                {{ form_row(form.masquerReponse) }}
                                {{ form_row(form.commentaireReponses) }}
                            </div>
                        </div>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
<script type="text/javascript">
    tinymce.PluginManager.load('table', '/bundles/nodevotools/js/tinymce/plugins/table/plugin.min.js');
    tinymce.PluginManager.load('code', '/bundles/nodevotools/js/tinymce/plugins/code/plugin.min.js');
    tinymce.PluginManager.load('pagebreak', '/bundles/nodevotools/js/tinymce/plugins/pagebreak/plugin.min.js');
    tinymce.PluginManager.load('importcss', '/bundles/nodevotools/js/tinymce/plugins/importcss/plugin.min.js');
    tinymce.PluginManager.load('image', '/bundles/nodevotools/js/tinymce/plugins/image/plugin.min.js');
    tinymce.PluginManager.load('link', '/bundles/nodevotools/js/tinymce/plugins/link/plugin.min.js');
    tinymce.PluginManager.load('media', '/bundles/nodevotools/js/tinymce/plugins/media/plugin.min.js');
    tinymce.PluginManager.load('textcolor', '/bundles/nodevotools/js/plugins/text-color/plugin.min.js');
    NodevoGestionnaireMediaBundle_MoxieManager.initTinyMce();
    
    tinyMCE.init({
        entity_encoding : "raw",
        selector        : "textarea.tinyMce",
        theme           : "modern",
        theme_url       : '/bundles/nodevotools/js/tinymce/themes/modern/theme.min.js',
        skin_url        : '/bundles/nodevotools/js/tinymce/skins/lightgray',
        plugins         : 'moxiemanager image table code textcolor pagebreak importcss link',
        height          : 210,
        menubar         : false,
        content_css     : '/bundles/nodevotools/css/wysiwyg.css',
        toolbar1        : "code | undo redo cut copy paste | pagebreak | link | insertfile image ",
        toolbar2        : "styleselect | bold italic underline strikethrough subscript superscript blockquote | forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table ",
        style_formats: [
            {title: 'Titres', items: [
                {title: 'Titre 2', block: 'h2'},
                {title: 'Titre 3', block: 'h3'},
                {title: 'Titre 4', block: 'h4'},
                {title: 'Titre 5', block: 'h5'},
                {title: 'Titre 6', block: 'h6'}
            ]},
            {title: 'Blocs', items: [
                {title: 'Paragraphe', block: 'p'}
            ]},
            {title: 'Tableaux', items: [
                {title: 'Tableau simple', selector: 'table', classes: 'table table-striped table-bordered table-hover'}
            ]}
        ],
        importcss_append: true,
        importcss_groups: [
            {title: 'Styles personnalisés'}
        ],
        relative_urls:false
    });
</script>
{% endblock %}
