{% extends 'NodevoAdminBundle::admin.html.twig' %}

{# Grid mandatory Stuff #}
{% use 'NodevoGridBundle::grid.config.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('grid_stylesheets')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('grid_javascripts')}}
{% endblock %}

{% block h1Title %}
    Gestion des outils
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_autodiag_outil_add') }}" title="Ajouter un outil"><i class="fa fa-plus"></i></a>
{% endblock %}

{% block body %}
    {{ grid(grid, _self) }}
{% endblock %}

