<div id="contact-popup">

    <h4 class="violet" id="contact-popup-label">Inviter des utilisateurs à la communauté de pratique</h4>

    {{ form_start(inviteForm, { 'action':path('hopitalnumerique_contact_popup_invite_submit'), 'attr':{ 'novalidate':'novalidate' } }) }}

        <div class="form_vertical_row">
            <div class="clearfix"></div>
        </div>

        {{ form_row(inviteForm.destinataires) }}

        <div class="form_vertical_row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success"><em class="fa fa-envelope"></em> &nbsp; Envoyer</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {{ form_end(inviteForm) }}


    {% if ajoutMembreForm is not null %}

        <h4 class="violet" id="contact-popup-label">Ajouter un membre au groupe</h4>

        {{ form_start(ajoutMembreForm) }}

            {{ form_row(ajoutMembreForm.user, {label: 'Ajouter un membre :', 'attr': {'class': 'select2'}}) }}

            <div class="form_vertical_row">

                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Ajouter l'utilisateur</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        {{ form_end(ajoutMembreForm) }}

        <script type="text/javascript">
            $(document).ready(function() {
                $('#contact-popup .select2').select2({ width: '100%' });
            });
        </script>

    {% endif %}

</div>
