{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block h1Title %}
    {% if rechercheparcoursgestion.id %}
        Editer un RechercheParcoursGestion
    {% else %}
        Ajouter un RechercheParcoursGestion
    {% endif %}
{% endblock %}


{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-recherche-parcours-gestion-edit.css" filter="cssrewrite, ?yui_css"
        '@validationEngine_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-recherche-parcours-gestion-edit.js"
        '@validationEngine_js'
        'bundles/hopitalnumeriquerechercheparcours/js/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_rechercheparcours_admin_recherche-par-parcours_gestion') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if rechercheparcoursgestion.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_rechercheparcours_admin_recherche-par-parcours_gestion_delete', { 'id': rechercheparcoursgestion.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
