{% extends 'HopitalNumeriqueModuleBundle:Front:layout.html.twig' %}

{% block menu_modules %}
    {# Render de la vue de récupérations des différentes modules #}
    {{ render(controller("HopitalNumeriqueModuleBundle:Front/ModuleFront:menuModules", {'module' : moduleSelectionne} )) }}
{% endblock menu_modules %}

{% block chapo_description %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur leo in quam elementum dictum. Donec congue velit sit amet feugiat aliquam. Donec sagittis facilisis libero, sit amet dignissim mi vestibulum vehicula. Nulla nunc elit, congue non consequat vitae, accumsan eget enim.
{% endblock chapo_description %}

{% block contenu %}
    <div class="col-md-12">
        {% for key,module in modules %}
            <div class="panel">
                <div class="col-md-12 table-responsive table-module">
                    <h4 class="violet titre">{{module.titre}}</h4>
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <thead>
                            <tr class="grid-row-titles">
                                <th>Productions concernées</th>
                                <th style="width:100px;">Date</th>
                                <th style="width:65px;">Places</th>
                                <th style="width:65px;">Inscrit</th>
                                <th style="width:75px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,session in module.sessions %}
                                <tr>
                                    <td>
                                        {% for key,production in module.productions %}
                                            {{ production.titre }}
                                        {% endfor %}
                                    </td>
                                    <td class=
                                        {% if date(session.dateSession) < date() %}
                                            "danger" title="Session dépassée">
                                        {% elseif date(session.dateSession) < date('+2days') %}
                                            "warning" title="Session prévue dans moins de 2 jours">
                                        {% elseif date(session.dateSession) < date('+1month') %}
                                            "info" title="Session prévue dans moins d'un mois">
                                        {% else %}
                                            "success" title="Session prévue dans plus d'un mois">
                                        {% endif %}
                                        {{session.dateSession|date("d/m/Y")}}
                                    </td>
                                    <td class={% if (session.nombrePlaceDisponible - session.getInscriptionsAccepte()|length) > (session.nombrePlaceDisponible / 10) %}"success"{% elseif (session.nombrePlaceDisponible - session.getInscriptionsAccepte()|length) > 0 %}"warning"{% else %}"danger"{% endif %}
                                    {% if (session.nombrePlaceDisponible - session.getInscriptionsAccepte()|length) > (session.nombrePlaceDisponible / 10) %}
                                        title="Places restantes suffisantes"
                                    {% elseif (session.nombrePlaceDisponible - session.getInscriptionsAccepte()|length) > 0 %}
                                        title="Places restantes bientôt écoulées"
                                    {% else %}
                                        title="Plus de places restantes"
                                    {% endif %}
                                    >
                                        {{session.nombrePlaceDisponible - session.getInscriptionsAccepte()|length}}/{{session.nombrePlaceDisponible}}
                                    </td>
                                    <td>
                                        {% set userInscrit = false %}
                                        {% for key,inscription in session.getInscriptionsAccepte() %}
                                            {% if app.user is not null and app.user.id == inscription.user.id %}
                                                {% set userInscrit = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if userInscrit %}
                                            <span class="inscrit">{{session.etat.libelle}}</span>
                                        {% endif %}
                                    </td>
                                    <td style="min-width:74px;">
                                        <div class="btn-group">
                                            <a class="btn btn-info link fancybox.ajax" href="{{path('hopitalnumerique_module_session_description_front',{'id':session.id})}}">?</a>
                                            <a class="btn btn-info link fancybox.ajax" href="{{path('hopitalnumerique_module_session_description_front',{'id':session.id})}}">?</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}   
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
{% endblock contenu %}
