{% extends 'NodevoAdminBundle::admin.html.twig' %}

{% block title %}
    Hôpital Numérique - Modules
{% endblock %}

{% block h1Title %}
    {% if module.id %}
        Editer un module
    {% else %}
        Ajouter un module
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets output="compiled/hopitalnumerique-module-edit.css" filter="cssrewrite, ?yui_css"
        '@select2_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts output="compiled/hopitalnumerique-module-edit.js"
        '@validationEngine_js'
        'bundles/hopitalnumeriquemodule/js/module/script.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block toolbarButton %}
    <a class="btn btn-default" href="{{ path('hopitalnumerique_module_module') }}" title="Retour à la liste"><i class="fa fa-reply"></i></a>
    <div onclick="$('form').submit();" class="btn btn-default" title="Enregistrer"><i class="fa fa-check"></i></div>
    <div onclick="$('#do').val('save-close');$('form').submit();" class="btn btn-default" title="Enregistrer et Fermer"><i class="fa fa-save"></i></div>
    {% if module.id %}
        <div onclick='deleteWithConfirm("{{ path('hopitalnumerique_module_module_delete', { 'id': module.id }) }}");' class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4>Informations</h4>
            </div>

            <div class="panel-body">
                {% form_theme form 'NodevoAdminBundle::form.html.twig' %}
                {{ form_start(form) }}
                    {# Application des librairies JS sur le form : #}
                    {{ form_javascript(form) }}
                    
                    {# Formulaire : #}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.domaines) }}
                    {{ form_row(form.productions) }}
                    {{ form_row(form.connaissances) }}
                    {{ form_row(form.duree) }}
                    {{ form_row(form.horairesType) }}
                    {{ form_row(form.lieu) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.nombrePlaceDisponible) }}
                    {{ form_row(form.prerequis) }}
                    {{ form_row(form.formateur) }}
                    {{ form_row(form.mailAccuseInscription) }}
                    {{ form_row(form.mailConfirmationInscription) }}
                    {{ form_row(form.mailRefusInscription) }}
                    {{ form_row(form.mailRappelEvalution) }}
                    {{ form_row(form.mailAlerteEvaluation) }}
                    {{ form_row(form.textMailRappel) }}
                    {# Gestion de l'upload #}
                    <div class="form-group">
                        {{ form_label(form.file) }}
                        <div class="col-md-6">
                            {% if module.getAbsolutePath() is not null %}
                                {% set visibility = 'none' %}
                            {% else %}
                                {% set visibility = 'block' %}
                            {% endif %}
                            <div class="inputUpload" style="display:{{visibility}}">
                                {{ form_widget(form.file) }}
                            </div>

                            {% if module.getAbsolutePath() is not null %}
                                <a class="uploadedFile" href="{{path('hopitalnumerique_module_module_dowload', {'id': module.id })}}">{{module.path}}</a>
                                <div class="deleteUploadedFile btn btn-danger btn-xs pull-right" ><i class="fa fa-trash-o"></i></div>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <div class="help-block error_file">
                                {{ form_errors(form.file) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.statut) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
