{% extends 'HopitalNumeriqueCommunautePratiqueBundle::layout.html.twig' %}

{% block title_communaute_pratique %}Groupe de travail <span class="subtitle">{{ fiche.groupe }} - {{ fiche }}</span>{% endblock %}

{% block communaute_pratique_actions %}
    {% if canClose %}
        <button class="btn btn-sm btn-success" onclick="CommunautePratique_Fiche.close({{ fiche.id }});">Problématique résolue</button>
    {% elseif canOpen %}
        <button class="btn btn-sm btn-success" onclick="CommunautePratique_Fiche.open({{ fiche.id }});">Réouvrir la fiche</button>
    {% endif %}
    {{ parent() }}
    {{ communaute_pratique.display_action_contact_animateur(fiche.groupe) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output="compiled/hopitalnumerique-communautepratique-fiche-view.js"
        'bundles/hopitalnumeriquecommunautepratique/js/Fiche.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            CommunautePratique_Commentaire.initTinyMce({{ fiche.groupe.id }});
        });
    </script>
{% endblock %}

{% block communaute_pratique_sommaire %}{% endblock %}

{% block body_communaute_pratique %}

    {{ communaute_pratique.display_groupe_sommaire(fiche.groupe) }}

    <div class="communaute-pratique-bandeau-membre">
        <div class="row">
            <div class="col-md-4">
                <div class="illustration">
                    <div class="communaute-de-pratiques-avatar" style="background-image: url('{{ asset(fiche.user.avatarWebPath) }}');"></div>
                </div>
                <div class="nom">
                    <a onclick="Contact_Popup.display({'{{ fiche.user.email }}':'{{ fiche.user.appellation }}'}, '{{ path(app.request.get('_route'), app.request.get('_route_params')) }}');"><em class="icon icon-email5"></em></a>
                    {{ fiche.user.prenomNom }}
                </div>
                {% if fiche.groupe.hasAnimateur(fiche.user) %}
                    <div class="animateur">
                        <em class="icon icon-speaker15"></em>
                        Animateur du groupe
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="type">
                    <em class="icon icon-hospital11"></em>
                    <div class="contenu">
                        {{ fiche.user.statutEtablissementSante is not null ? fiche.user.statutEtablissementSante.libelle~' ' : '' }}
                        {%- if fiche.user.typeActivite|length > 0 -%}
                            &nbsp;({% for activite in fiche.user.typeActivite -%}
                                {{ (loop.first ? '' : ', ')~(activite.libelle) }}
                            {%- endfor %})
                        {%- endif -%}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fonction">
                    <em class="icon icon-users149"></em>
                    <div class="contenu">
                        {{ fiche.user.fonctionDansEtablissementSante }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-communaute-de-pratiques communaute-de-pratiques-fiche">
        <div class="panel-heading">
            <h2><em class="icon icon-stats2"></em>Fiche de problématique</h2>
        </div>
        <div class="panel-body">

            <p>
                <strong class="violet">Question posée :</strong><br>{{ fiche.questionPosee }}
            </p>
            <p>
                <strong class="violet">Éléments de contexte à prendre en compte :</strong><br>{{ fiche.contexte }}
            </p>
            <p>
                <strong class="violet">Description complète du problème :</strong><br>{{ fiche.description }}
            </p>
            <p>
                <strong class="violet">Aide attendue :</strong><br>{{ fiche.aideAttendue }}
            </p>
            <p>
                <strong class="violet">En résumé...</strong><br>{{ fiche.resume }}
            </p>

        </div>
    </div>

    <div class="row">
        {% for document in fiche.documents %}
            <div class="col-md-3">
                {{ communaute_pratique.display_bloc_document(document) }}
            </div>
        {% endfor %}
    </div>

    <div class="communaute-de-pratiques-commentaires">
        <div class="panel-header"></div>
        <div class="panel panel-communaute-de-pratiques">
            <div class="panel-heading">
                <h2>Commentaires</h2>
            </div>
            <div class="panel-body">

                {% if fiche.resolu == false %}
                    <div class="commentaire">
                        <p>Écrire un commentaire :</p>
                        <div class="illustration">
                            <div class="communaute-de-pratiques-avatar" style="background-image: url('{{ asset(app.user.avatarWebPath) }}');"></div>
                        </div>
                        <div class="contenu">
                            <div class="nom"><strong>{{ app.user.prenomNom }}</strong></div>

                            <div class="message">
                                {{ render(controller('HopitalNumeriqueCommunautePratiqueBundle:Commentaire/FicheCommentaire:add', { fiche:fiche.id })) }}
                            </div>

                        </div>
                        <div class="clearfix"></div><br>
                        {% if fiche.commentaires|length > 0 %}
                            <p><strong>Commentaires des membres du groupe</strong></p>
                        {% endif %}
                    </div>
                {% endif %}

                {% if fiche.commentaires|length > 0 %}
                    {% for commentaire in fiche.commentaires %}
                        {{ communaute_pratique.display_commentaire(commentaire) }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock body_communaute_pratique %}
