{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.category.admin.list.layout_template %}

{%- block title -%}
    {{- 'title.admin.manage-categories.index' |trans({}, ForumBundle.translation ) -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
    {{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/admin_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{% block information_page %}
    <div class="col-md-12">
        <h3 class="violet">Forum - Administration </h3>
    </div>
{% endblock information_page %}

{%- block body_content -%}
    {%- spaceless -%}
        <section class="row btn-toolbar clearfix toolbar-backoffice">
            <a class="btn btn-success pull-right col-md-4" href="{{- path('ccdn_forum_admin_category_create', {'forum_filter': forum_filter}) -}}">
                {{- 'link.category.create' |trans({}, ForumBundle.translation ) -}}
            </a>
        </section>

        <section class="col-md-12 row clearfix">
            <div id="choix-forum">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                {{- 'filter.forums' |trans({}, ForumBundle.translation ) -}}
                            </div>
                            <div class="list-group">
                                <a href="{{- path('ccdn_forum_admin_category_list') -}}"
                                 class="list-group-item ellipsis {%- if forum_filter is null or forum_filter == '' %} active {%- endif -%}">
                                    <i style="margin:0 5px 0 0" class="glyphicon glyphicon-exclamation-sign"></i>
                                    {{- 'link.unassigned' |trans({}, ForumBundle.translation ) -}}
                                </a>
                                {%- for forum in forums -%}
                                    <a href="{{- path('ccdn_forum_admin_category_list', {'forum_filter': forum.id}) -}}" title="{{- forum.name -}}"
                                     class="list-group-item ellipsis {%- if forum_filter == forum.id %} active {%- endif -%}">
                                        <span class="label pull-right">
                                            {{- forum.getCategories | length -}}
                                        </span>
                                        {{- forum.name -}}
                                    </a>
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="admin-categories-list">
                        <thead>
                            <tr>
                                <th>{{- 'category.id-th' |trans({}, ForumBundle.translation ) -}}</th>
                                <th>{{- 'category.name-th' |trans({}, ForumBundle.translation ) -}}</th>
                                <th>{{- 'category.board-count-th' |trans({}, ForumBundle.translation ) -}}</th>
                                <th style="width:173px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for category_index, category in categories -%}
                                <tr>
                                    <td>{{- category.id -}}</td>
                                    <td>{{- category.name -}}</td>
                                    <td>{{- category.boards |length -}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-info" href="{{- path('ccdn_forum_admin_category_edit', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
                                             id="update_category[{{- category.name -}}]">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            {%- if is_granted('ROLE_SUPER_ADMIN') -%}
                                                <a class="btn btn-danger" href="{{- path('ccdn_forum_admin_category_delete', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}"
                                                 id="delete_category[{{- category.name -}}]">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            {%- endif -%}

                                            {%- if forum_filter is not null and forum_filter != '' %}
                                                {% if loop.length > 1 %}
                                                    <div class="btn-group">
                                                        {%- if loop.first -%}
                                                            <a class="btn btn-warning" href="{{- path('ccdn_forum_admin_category_reorder_up', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}" id="reorder_up_category[{{- category.name -}}]">
                                                                <i class="glyphicon glyphicon-retweet"></i>
                                                        {%- else -%}
                                                            <a class="btn btn-success" href="{{- path('ccdn_forum_admin_category_reorder_up', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}" id="reorder_up_category[{{- category.name -}}]">
                                                                <i class="glyphicon glyphicon-chevron-up"></i>
                                                        {%- endif -%}
                                                        </a>

                                                            {%- if loop.last -%}
                                                                <a class="btn btn-warning" href="{{- path('ccdn_forum_admin_category_reorder_down', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}" id="reorder_down_category[{{- category.name -}}]">
                                                                    <i class="glyphicon glyphicon-retweet"></i>
                                                            {%- else -%}
                                                                <a class="btn btn-success" href="{{- path('ccdn_forum_admin_category_reorder_down', {'categoryId': category.id, 'forum_filter': forum_filter}) -}}" id="reorder_down_category[{{- category.name -}}]">
                                                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                                            {%- endif -%}
                                                        </a>
                                                    </div>
                                                {%- endif -%}
                                            {%- endif -%}
                                        </div>
                                    </td>
                                </tr>
                            {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    {%- endspaceless -%}
{%- endblock body_content -%}
